.box .heading .title  {
    margin-top: 0;
}
@media screen and (max-width: 1024px)
{
.heading .title {
    margin-top: 20px;
}  
.box .heading .title  {
    margin-top: 20px;
}
}
@media screen and (max-width: 768px)
{
	.gallery-item {
	    width: 50% !important;
	}
	.top-header{
		position: relative;
		text-align: left;
	}
}
@media (min-width: 768px){
	.navbar-nav{
	    display: inline-block;
	    padding-top: 0;
	    padding-bottom: 0;
	    float: none;
	    vertical-align: middle;
	}
	.navbar-collapse.collapse.desktop-nav{
		padding-top: 0;
		padding-bottom: 0;
	}
	/*HOVER DROPDOWN IN TABLET & DESKTOP*/
	li.dropdown:hover>a {
    	border-radius: 0 0;
	}
	li.dropdown:hover>.dropdown-menu {
	    display: block;
	    border-radius: 0;
	}
	#box-contact .form-contact {
	    border: 1px solid #fff;
	    padding: 30px;
	} 	
	.sp-arrow{   
        color: #fff;
        position: absolute;
        top: 50%;
        font-size: 32px;
        width: 52px;
        height: 52px;
        line-height: 48px;
        text-align: center;
        margin-top: -26px;
        border: 2px solid #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
    }


}
@media (min-width: 992px){	



}
@media screen and (max-width: 1024px)
{
.box,#box-testimonial.box {
    padding-top: 45px;
    padding-bottom: 5px;
}   

}
@media (min-width: 1200px){


}
@media (min-width: 1640px){

}