body {
    font-family: Raleway, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.84615;
    color: #3a3a3a;
}

a {
    color: #ef577a;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #e41645;
    text-decoration: underline;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.84615;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default,
a.btn {
    color: #ef577a;
    background-color: #fff;
    border-color: #ef577a;
}

.btn-default.active,
.btn-default:active,
.btn-default:hover,
.open>.dropdown-toggle.btn-default,
a.btn.active,
a.btn:active,
a.btn:hover {
    color: #ef577a;
    background-color: #e6e6e6;
    border-color: #ea1f4e;
}

.h2,
h2 {
    font-size: 24px;
}

.h4,
h4 {
    font-size: 15px;
}

hr {
    margin-top: 23px;
    margin-bottom: 23px;
    border: 0;
    border-top: 1px solid #dcdcdc;
}

#list-service>hr {
    border-width: 2px;
}

p {
    margin-bottom: 20px;
}

.dh-container1 img {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #515151;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.art-main {
    background: #ffffff;
    margin: 0 auto;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;
}

.art-header {
    position: relative;
    padding-bottom: 20px;
}

.main-container {
    padding-top: 20px;
}

.page-child .art-header {
    background: #312c2c url(../images/slide1.jpg) no-repeat scroll 55% 35%;
    height: 220px;
    position: relative;
}

.page-child .art-header:after {
    content: "";
    display: block;
    background: rgb(239, 87, 122);
    background: rgba(239, 87, 122, 0.7);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-child .art-header .top-header {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 111;
}

#home-slider .owl-prev,
#home-slider .owl-next,
#services-slider .owl-prev,
#services-slider .owl-next {
    color: #fff;
    position: absolute;
    top: 50%;
    font-size: 32px;
    width: 52px;
    height: 52px;
    line-height: 48px;
    text-align: center;
    margin-top: -26px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
}

#services-slider .owl-prev {
    left: 20px;
}

#services-slider .owl-next {
    right: 20px;
}

#list-service .service {
    padding-top: 20px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-block {
    float: none;
}

#list-service .service .heading {
    text-align: center;
    margin-bottom: 35px;
}

.service-pack {
    padding-left: 30px;
    padding-right: 30px;
}

.service-pack .name {
    line-height: 24px;
    display: table;
    width: 100%;
    font-weight: 700;
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 10px;
}

.service-pack .price {
    font-size: 24px;
    display: table-cell;
    text-align: right;
    color: #ef577a;
    line-height: 1;
    padding-left: 30px;
}

b,
optgroup,
strong {
    font-weight: 700;
}

.service-pack .list {
    list-style: none;
    padding: 0;
}

.service-pack .list li {
    position: relative;
    padding-left: 17px;
    margin-bottom: 5px;
}

.service-pack .list li:before {
    content: "\f047";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    top: 3px;
    left: 0px;
    font-size: 10px;
    color: #ef577a;
}

.box-about-up {
    margin-bottom: 50px;
}

.section {
    padding-bottom: 50px;
}

.heading .title {
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
}

#box-service .heading {
    float: none;
    text-align: center;
    margin-bottom: 25px;
}

#box-service {
    background: #faf9f9;
    padding-bottom: 35px;
}

#box-service .heading .title:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ef577a;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70px;
    margin-left: -35px;
}

#box-testimonial {
    padding-top: 30px;
    padding-bottom: 110px;
    position: relative;
    background: url(../images/bg-testimonial.jpg) no-repeat center;
    background-size: cover;
}

#box-testimonial .heading {
    text-align: center;
    margin-bottom: 60px;
}

.box .heading .title {
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
}

#box-testimonial .heading .title:after {
    border-color: #fff;
}

#carousel-testimonial .slide-name {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

#Captcha {
    color: #000;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#box-testimonial .center-block {
    float: none;
}

#box-testimonial .heading {
    text-align: center;
    margin-bottom: 60px;
}

#box-testimonial:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#carousel-testimonial .slide-excerpt {
    font-size: 15px;
    color: #fff;
}

#carousel-testimonial .owl-buttons {
    text-align: center;
}

#carousel-testimonial .owl-prev,
#carousel-testimonial .owl-next {
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#carousel-testimonial .owl-prev,
#carousel-testimonial .owl-next {
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#carousel-testimonial .slide {
    text-align: center;
    margin-bottom: 50px;
}

#carousel-testimonial .owl-prev:hover,
#carousel-testimonial .owl-next:hover {
    color: #ef577a;
    border-color: #ef577a;
}

#box-testimonial .center-block {
    float: none;
}

#box-contact {
    color: #fff;
    background: #ef577a;
    padding-bottom: 0px;
}

#box-contact .heading {
    text-align: center;
}

#box-contact .heading .title {
    color: #fff;
}

#box-contact .heading .title:after {
    border-color: #fff;
}

.box .heading .desc {
    font-size: 15px;
}

address {
    margin-bottom: 23px;
    font-style: normal;
    line-height: 1.84615;
}

.mobile_logo {
    align-items: center;
    display: block;
}

.mobile_logo img {
    max-height: 60px;
    /*margin-top: 10px;*/
}

.wpcf7-form-control {
    max-width: 100%;
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    border-color: #212739;
    background: #ffffff;
    margin-top: 74px;
}

.mean-container .mean-nav ul li a {
    color: #666666;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
    background: rgba(0, 0, 0, 0);
    color: #ef577a !important;
}

.mean-container .mean-nav ul li a.mean-expand {
    font-size: 18px;
    line-height: 1.5;
    height: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#box-contact .form-contact {
    border: none;
    padding: 30px 0;
}

.sp-arrow {
    color: #fff;
    position: absolute;
    top: 50%;
    font-size: 20px;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    margin-top: -10px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
}

#box-contact .form-contact .form-control::-webkit-input-placeholder {
    color: #fff;
}

#box-contact .form-contact .form-group-btn {
    padding-top: 25px;
    margin-bottom: 10px;
}

#box-contact .form-contact .btn-send {
    padding: 8px 40px;
}

#box-contact .form-contact .btn-send:hover {
    background: #4c4c4c;
    color: #fff;
    border-color: #4c4c4c;
}

.form-control {
    width: 100%;
    height: 37px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control {
    box-shadow: none;
    height: 50px;
    font-size: 15px;
}

#box-contact .form-contact .form-control {
    background: #ef577a;
    border-color: #fff;
    color: #fff;
    font-size: 15px;
}

.box {
    padding-top: 20px;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

#box-testimonial .heading .title {
    color: #fff;
}

.heading .title:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ef577a;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70px;
    margin-left: -35px;
}

.heading .title:after {
    left: 0;
    margin-left: 0;
}

.btn {
    padding: 8px 25px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.btn-default .badge,
.btn-primary {
    color: #fff;
    background-color: #ef577a;
}

.btn-primary {
    border-color: #ed4068;
    border-radius: 0;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #eb2855;
    border-color: #da1542;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #da1542;
    border-color: #9e0f30;
}

.btn-special {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px 0px 20px 0px;
}

.mean-container a.meanmenu-reveal {
    background: #fff;
    border-radius: 5px;
    top: 25px;
}

.mean-container a.meanmenu-reveal>span,
.mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    background: #ef577a;
}

.mean-container a.meanmenu-reveal:before {
    content: "";
    display: block;
}

.list-image {
    margin-bottom: 20px;
}

.btn-special .fa {
    margin-left: 10px;
    font-size: 18px;
}

#box-service .service {
    margin-bottom: 30px;
    text-align: center;
}

#box-service .service .wrap-img {
    display: block;
    height: 110px;
    line-height: 110px;
}

#box-service .service h2 {
    margin-top: 0px;
}

.desktop-logo {
    padding-top: 20px;
    padding-bottom: 10px;
}

.top-header {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

ul.art-hmenu>li>a {
    color: #fff;
    position: relative;
    padding-bottom: 10px;
}

ul.art-hmenu>li>a:before {
    content: "";
    display: block;
    height: 2px;
    width: 94%;
    position: absolute;
    bottom: 0;
    left: 3%;
    transition: all 0.4s ease 0s;
}

ul.art-hmenu>li>a:after {
    content: "";
    display: block;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: 2px;
    left: 50%;
    margin-left: -1.5px;
    transition: all 0.4s ease 0s;
}

ul.art-hmenu>li>a:hover:before,
ul.art-hmenu>li>a:focus:before,
ul.art-hmenu>li.active>a:before {
    background: #fff;
}

ul.art-hmenu>li>a:hover:after,
ul.art-hmenu>li>a:focus:after,
ul.art-hmenu>li.active>a:after {
    border-bottom-color: #fff;
}

ul.art-hmenu>li>a:focus,
ul.art-hmenu>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

ul.art-hmenu>li {
    margin-left: 60px;
}

ul.art-hmenu>li:first-child {
    margin-left: 0;
}

ul.art-hmenu>li>a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
    padding-left: 0;
    padding-right: 0;
}

.text-bold {
    font-weight: 700;
}

.alm-listing {
    margin: 0;
    padding: 0;
}

.alm-listing li {
    background: 0 0;
    margin: 0 0 30px;
    padding: 0 0 0 170px;
    overflow: hidden;
    position: relative;
    list-style: none;
}

.alm-listing li p {
    margin: 0;
}

.list-tes {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.list-tes .tes {
    padding: 40px 0px;
    border-bottom: 1px dotted #ef577a;
}

.list-tes .icon {
    display: block;
    float: left;
    width: 54px;
    height: 52px;
    margin-top: 15px;
    margin-right: 30px;
    background: transparent url(../images/welcome.png) no-repeat 50% 50%;
    background-size: cover;
}

.list-tes .name {
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.list-tes .group {
    overflow: hidden;
}

.list-tes .excerpt {
    font-size: 15px;
    margin-bottom: 10px;
}

#box-about .wrap-image {
    margin-bottom: 20px;
}

#page-contact h3 {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

#page-contact {
    margin-bottom: 60px;
}

#list-service {
    margin-bottom: 70px;
}

.fb-icon {
    width: 50px;
}

.line-height-15 {
    line-height: 1.5;
}

.MsoNormal-text {
    text-align: justify;
}

.about-span {
    padding-right: 20px;
}

.row.small-padding {
    margin-right: -2px;
    margin-left: -2px;
}

.row.small-padding .col-small-padding {
    padding-left: 2px;
    padding-right: 2px;
}

.page-about .page-header {
    margin-bottom: 40px;
}

.page-header .title:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ef577a;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
}

.page-header .breadcrumb {
    float: right;
    background: transparent;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.page-header {
    padding-bottom: 10.5px;
    margin: 46px 0 23px;
    border-bottom: 1px solid #fff;
}

.page-header {
    margin: 35px 0px 35px;
    padding: 0px;
}

.page-header .title {
    float: left;
    margin: 0px;
    padding-bottom: 20px;
    position: relative;
}

address.desc {
    font-weight: 700;
}

.font-sm {
    font-size: 13px;
}

.heading-center.heading .title:after {
    left: 50%;
    margin-left: -35px;
}

#footer {
    font-size: 15px;
    text-align: center;
    background: #ef577a;
    color: #fff;
    padding: 50px 0px 25px;
}

.gallery-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

dd,
dt {
    line-height: 1.84615;
}

dt,
kbd kbd,
label {
    font-weight: 700;
}

.gallery-item .landscape a {
    overflow: hidden;
    display: block;
}

.gallery-item .landscape a img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.gallery-item .landscape a img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#gallery-2 {
    margin: auto;
}

#gallery-2 .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 25%;
}

#gallery-2 img {
    border: 2px solid #cfcfcf;
}

#gallery-2 .gallery-caption {
    margin-left: 0;
}

#box-about {
    padding-bottom: 20px;
}

#footer a {
    color: #fff;
}

.gridder {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
}

.gridder-list {
    float: none;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    margin-bottom: 30px;
    position: relative;
}

.gridder-list .wrap-img {
    position: relative;
}

.wp-post-image {
    padding-bottom: 10px;
}

.gridder-list .overlay {
    position: absolute;
    top: -100%;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #757679;
    font-size: 16px;
    background: rgb(239, 87, 122);
    background: rgba(239, 87, 122, 0.6);
}

.gridder-show {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.gridder-content {
    display: none;
}

.gridder-show .gridder-close {
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 0px;
    font-size: 24px;
    color: #515151;
    line-height: 1;
}

.gridder-show h2 {
    margin-top: 0px;
    padding-right: 30px;
}

.slider {
    position: relative;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    /*max-height: 440px;*/
    overflow: hidden;
}

.slider-active .slider-handle {
    position: absolute;
    height: 100%;
    left: 50%;
    width: 4px;
    background: #fff;
    z-index: 3;
}

.slider-active .slider-handle:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    left: 0;
    border: 15px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.slider-active .slider-handle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    right: 0;
    border: 15px solid transparent;
    border-right: 20px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.slider-active .slider-a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.slider-active .slider-a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

.slider-a img,
.slider-b img {
    pointer-events: none;
    display: block;
    width: 100%;
}

.slider-active .slider-a img {
    visibility: hidden;
}

.alm-btn-wrap .alm-load-more-btn {
    font-size: 15px;
    font-weight: 600;
    width: auto;
    height: 42px;
    line-height: 42px;
    background: #ed7070;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 0 0 4px;
    padding: 0 20px;
    display: inline-block;
    position: relative;
    -webkit-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.alm-btn-wrap .alm-load-more-btn:hover {
    background-color: #e06464;
    color: #fff;
    text-decoration: none;
}

.alm-btn-wrap .alm-load-more-btn:active {
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.alm-btn-wrap .alm-load-more-btn:active,
.alm-btn-wrap .alm-load-more-btn:focus {
    outline: 0;
}

.alm-btn-wrap .alm-load-more-btn.loading {
    padding-left: 44px;
}

.alm-btn-wrap .alm-load-more-btn.done {
    cursor: default;
    opacity: 0.2;
    background-color: #ed7070;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.alm-btn-wrap .alm-load-more-btn.done:before,
.alm-btn-wrap .alm-load-more-btn:before {
    background: 0 0;
    width: 0;
}

.alm-btn-wrap .alm-load-more-btn.loading:before {
    background: #fff url(http://lovelandnailsandspa.com/wp-content/plugins/ajax-load-more/core/img/ajax-loader.gif) no-repeat center center;
    width: 30px;
    height: 30px;
    margin: 6px;
    border-radius: 2px;
    display: inline-block;
    z-index: 0;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.alm-btn-wrap,
.alm-masonry {
    display: block;
    overflow: hidden;
    clear: both;
}

.alm-btn-wrap {
    text-align: center;
    padding: 10px 0 25px;
}

.ajax-load-more-wrap.blue .alm-load-more-btn {
    background-color: #0081bf;
}

.ajax-load-more-wrap.blue .alm-load-more-btn.done,
.ajax-load-more-wrap.blue .alm-load-more-btn:hover {
    background-color: #0073aa;
}

.ajax-load-more-wrap.green .alm-load-more-btn {
    background-color: #6fca68;
}

.ajax-load-more-wrap.green .alm-load-more-btn.done,
.ajax-load-more-wrap.green .alm-load-more-btn:hover {
    background-color: #64b95e;
}

.ajax-load-more-wrap.red .alm-load-more-btn {
    background-color: #ca4b4b;
}

.ajax-load-more-wrap.red .alm-load-more-btn.done,
.ajax-load-more-wrap.red .alm-load-more-btn:hover {
    background-color: #b13b3b;
}

.ajax-load-more-wrap.purple .alm-load-more-btn {
    background-color: #a86bb9;
}

.ajax-load-more-wrap.purple .alm-load-more-btn.done,
.ajax-load-more-wrap.purple .alm-load-more-btn:hover {
    background-color: #9963a8;
}

.ajax-load-more-wrap.grey .alm-load-more-btn {
    background-color: #888;
}

.ajax-load-more-wrap.grey .alm-load-more-btn.done,
.ajax-load-more-wrap.grey .alm-load-more-btn:hover {
    background-color: #777;
}

.ajax-load-more-wrap.white .alm-load-more-btn {
    background-color: #fff;
    color: #666;
    border: 1px solid #efefef;
}

.ajax-load-more-wrap.white .alm-load-more-btn.done,
.ajax-load-more-wrap.white .alm-load-more-btn:hover {
    background-color: #efefef;
    color: #333;
}

.ajax-load-more-wrap.white .alm-load-more-btn.done {
    border-color: #fff;
}

.ajax-load-more-wrap.infinite .alm-load-more-btn {
    width: 100%;
    background-color: transparent !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(http://lovelandnailsandspa.com/wp-content/plugins/ajax-load-more/core/img/spinner.gif);
    border: none !important;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    overflow: hidden;
    text-indent: -9999px;
    cursor: default !important;
    outline: 0 !important;
}

.ajax-load-more-wrap.infinite .alm-load-more-btn:before {
    display: none !important;
}

.ajax-load-more-wrap.infinite .alm-load-more-btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ajax-load-more-wrap.infinite .alm-load-more-btn.done {
    opacity: 0;
}

.ajax-load-more-wrap.infinite .alm-load-more-btn.loading {
    opacity: 1;
}

.ajax-load-more-wrap.infinite.skype .alm-load-more-btn {
    background-image: url(http://lovelandnailsandspa.com/wp-content/plugins/ajax-load-more/core/img/spinner-skype.gif);
}

.ajax-load-more-wrap.infinite.ring .alm-load-more-btn {
    background-image: url(http://lovelandnailsandspa.com/wp-content/plugins/ajax-load-more/core/img/spinner-ring.gif);
}

.ajax-load-more-wrap.infinite.fading-blocks .alm-load-more-btn {
    background-image: url(http://lovelandnailsandspa.com/wp-content/plugins/ajax-load-more/core/img/loader-fading-blocks.gif);
}

.ajax-load-more-wrap.infinite.fading-circles .alm-load-more-btn {
    background-image: url(http://lovelandnailsandspa.com/wp-content/plugins/ajax-load-more/core/img/loader-fading-circles.gif);
}

.ajax-load-more-wrap.infinite.chasing-arrows .alm-load-more-btn {
    background-image: url(http://lovelandnailsandspa.com/wp-content/plugins/ajax-load-more/core/img/spinner-chasing-arrows.gif);
}

.alm-listing {
    margin: 0;
    padding: 0;
}

.alm-listing li {
    background: 0 0;
    margin: 0 0 30px;
    padding: 0 0 0 170px;
    overflow: hidden;
    position: relative;
    list-style: none;
}

.alm-listing li.no-img {
    padding: 0;
}

.alm-listing li p {
    margin: 0;
}

.alm-listing li h3 {
    margin: 0 0 10px;
}

.alm-listing li img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
}


/*//////////////////// HOVER DIRECTIONAL ////////////////////*/

.dh-container {
    position: relative;
    overflow: hidden;
}

.dh-overlay {
    position: absolute;
    top: -100%;
}

[class^="dh-container"] {
    overflow: hidden;
    margin-bottom: 4px;
    width: 100%;
    max-height: 184px;
    background: transparent;
    float: left;
}

[class^="dh-overlay"] {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
}


/*//////////////////// SLIDER PRO ////////////////////*/

.slider-pro img.sp-image {
    opacity: 0.3;
}

.sp-image-container {
    background-color: rgba(239, 87, 122, 1);
}

.sp-next-arrow:after,
.sp-next-arrow:before,
.sp-previous-arrow:after,
.sp-previous-arrow:before {
    display: none;
}

.sp-fade-arrows {
    opacity: 1;
}


/*//////////////////// MAIN SLIDER ////////////////////*/

.sp-slide-content {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sp-slide-text {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}

.sp-slide-title-text {
    position: relative;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.8;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    padding-left: 10%;
    padding-left: 10%;
    padding-bottom: 70px;
    text-shadow: 1px 1px 3px #000;
}

.sp-slide-description-text {
    margin-top: 0;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    opacity: 0.75;
}

.sp-buttons {
    margin-top: -60px;
    padding-bottom: 19px;
}

.sp-button {
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 2px #000;
}

.sp-selected-button {
    background-color: #ffffff;
}

.mb-50 {
    margin-bottom: 90px;
}

.sp-next-arrow:after,
.sp-next-arrow:before,
.sp-previous-arrow:after,
.sp-previous-arrow:before {
    background-color: #ffffff;
    width: 30%;
}

@media only screen and (max-width: 767px) {
    .sp-image-container {
        position: relative;
        overflow: hidden;
    }
    /*.sp-image{
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }                           */
    .sp-slide-title-text {
        font-size: 24px;
        padding-bottom: 40px;
        text-align: center;
        padding-left: 0;
    }
    .sp-buttons {
        margin-top: -40px;
        padding-bottom: 7px;
    }
    .mb-xs-30 {
        margin-bottom: 30px;
    }
    .mb-xs-20 {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 568px) and (min-width: 320px) {
    .sp-button {
        width: 15px;
        height: 15px;
    }
}


/*NAV*/

.navbar {
    border: none;
    margin-bottom: 0;
    min-height: unset;
}

.dropdown-submenu.pull-left {
    width: 100%;
    float: none !important;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-submenu.pull-left>.dropdown-menu,
.dropdown.pull-left .dropdown-menu>.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
}

.dropdown-submenu>.dropdown-menu {
    border-radius: 0;
}


/*CART*/

.table-mobile-collapse {
    display: table;
    border: 1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}

.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    display: none;
}

.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-row {
    border: inherit;
    vertical-align: inherit;
}

.table-head {
    padding: 15px;
    border: inherit;
    vertical-align: inherit;
}

.table-data {
    padding: 15px;
    padding-top: 0;
    vertical-align: inherit;
}

.table-responsive {
    /*border:1px solid #848484;*/
}

.cart-wrraper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 15px;
    padding-bottom: 16px;
    background-color: transparent;
    text-shadow: none;
}

.cart-product-image-cell {
    display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.table-cart {
    /*background-color:#000;
        color: #fff;*/
    border: none;
    margin-bottom: 0;
}

.table-cart .thead .table-head {
    background-color: #9db1ca;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.table-cart .tbody .table-data {
    display: block;
    vertical-align: top;
}

.table-cart .tbody .table-row:last-child .table-data {
    border-bottom: none;
}

.table-cart p {
    margin-bottom: 0;
}

.quantity-label {
    display: inline-block;
}

.table-cart .form-control {
    margin-top: 10px;
}

.cart-product-image-cell {
    vertical-align: top;
}

.table-cart .tbody .table-data.quantity-cell,
.table-cart .tbody .table-data.price-cell,
.table-cart .tbody .table-data.total-change-cell {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
}

.table-cart .tbody .table-data.total-change-cell {
    width: 100%;
}

.table-cart .tbody .table-data.price-cell {
    min-width: 273px;
}

.total-change-cell {
    padding-left: 15px;
}

.total-change-cell>p.total_change:before {
    display: inline-block;
    position: relative;
    content: "Total:";
    font-weight: normal;
    margin-right: 15px;
    color: #872163;
}

.cart-product-image {
    width: 72px;
    height: 72px;
    margin-right: 15px;
}

.cart-product-image>img {
    width: 100%;
    height: auto;
}

.cart-product-name {
    font-weight: bold;
}

.form-control.form-control-sm {
    width: 80px;
    display: inline-block;
}

.total_change {
    color: #ff0000;
    font-weight: bold;
    text-align: right;
}

.total-amount {
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
}

.total-amount-label {
    text-align: right;
    display: none;
}

.total-amount:before {
    display: inline-block;
    position: relative;
    content: "Amount:";
    font-weight: normal;
    margin-right: 15px;
    color: #872163;
    padding-top: 15px;
}

.total-amount-cell {
    padding: 0;
}

.table-row {
    border-bottom: 1px solid #848484;
}

.cart-product-image,
.cart-product-description {
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 585px) {
    .table-cart .tbody .table-data.total-change-cell {
        width: auto;
    }
}

@media (min-width: 768px) {
    .cart-product-description {
        max-width: 130px;
    }
    .table-row {
        border-bottom: none;
    }
    .total_change {
        text-align: left;
    }
    .thead {
        display: table-header-group;
    }
    .quantity-label {
        display: block;
    }
    .cart-product-image-cell {
        padding-bottom: 15px;
    }
    .total-change-cell>p.total_change:before {
        display: none;
    }
    .total-amount-label {
        display: block;
    }
    .total-amount-cell {
        padding: 15px;
    }
    .quantity-label {
        color: rgba(0, 0, 0, 0);
    }
    .table-row {
        display: table-row;
        border: inherit;
        vertical-align: inherit;
    }
    .table-head {
        display: table-cell;
        padding: 15px;
        border: inherit;
        vertical-align: inherit;
    }
    .table-data {
        display: table-cell;
        padding-top: 15px;
        border: inherit;
        vertical-align: inherit;
    }
    .table-cart .tbody .table-data,
    .table-cart .tbody .table-data.quantity-cell,
    .table-cart .tbody .table-data.price-cell,
    .table-cart .tbody .table-data.total-change-cell {
        border-bottom: 1px solid #848484;
        vertical-align: top;
        display: table-cell;
    }
    .table-cart .tbody .table-data.total-change-cell {
        vertical-align: bottom;
    }
    .quantity-cell,
    .price-cell {
        display: table-cell;
    }
    .total-amount {
        text-align: left;
        padding-top: 0;
    }
    .total-amount:before {
        display: none;
    }
}


/*CARD IMAGES*/

.cards-item {
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
}

.cards-item:hover .cards-item-image {
    transform: scale(1.05);
}

.fullWidth {
    height: auto;
}


/*////////////// GALLERY ///////////////*/

.row-gallery {
    padding-top: 10px;
    margin-right: -5px;
    margin-left: -5px;
}

.row-gallery .gallery-item-wrapper {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.gallery-item-1>span {
    background-image: url(../images/slider-1.jpg);
}

.gallery-item-2>span {
    background-image: url(../images/slider-2.jpg);
}

.gallery-item-3>span {
    background-image: url(../images/slider-3.jpg);
}

.gallery-item-4>span {
    background-image: url(../images/slider-4.jpg);
}

.gallery-item-5>span {
    background-image: url(../images/slider-1.jpg);
}

.gallery-item-6>span {
    background-image: url(../images/slider-2.jpg);
}

.gallery-item>span {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.25s ease;
}

.gallery-item:hover>span {
    transform: scale(1.1) rotate(-5deg);
}

.price-table-wrap {
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.price-table-bottom-img {
    width: 100%;
    text-align: right;
}

.pagination>ul>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    /*background-color: #c38211;*/
    color: #000;
    border-color: #c8a441;
}


/* TU VIET */

.box_book_price .pagination ul li {
    border-bottom: none;
}

.pagination {
    margin-top: 50px;
}

.pagination ul li {
    display: inline-block;
}

.pagination ul li+li {
    margin-left: 15px;
}

.pagination a:hover,
.pagination li.active a,
.pagination li a i:hover {
    background-color: #feca2f;
    border: 1px solid #feca2f;
    color: #ffffff;
}

.pagination a {
    border: 1px solid #c1c1c1;
    height: 40px;
    line-height: 37px;
    transition: all 0.3s ease 0s;
    width: 40px;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
}


/* TU VIET */

.pagination>ul>li.active>a.hover-main-color,
.pagination>li.active>span.hover-main-color,
.pagination>ul>li>a:hover.hover-main-color,
.pagination>li>span:hover.hover-main-color {
    background-color: #c8a441;
    cursor: pointer;
    color: #fff;
}


/*LOGIN*/

.btn_login_social {
    margin-top: 20px;
}

.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}

.btn_login_social span {
    font-family: "Lato", sans-serif;
    font-variant-ligatures: common-ligatures;
}

.btn_login_social .btn_facebook_v1 {
    background: #3b5998;
    padding: 7px 25px;
}

.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
    padding: 7px 35px;
}


/*PAYMENT*/

@media (max-width: 767px) {
    .form-group label {
        padding-top: 10px;
    }
}

label {
    min-height: 1em;
}

.time_show {
    margin-bottom: 15px;
    padding-top: 15px;
}

.info-danger {
    color: red;
    font-style: italic;
    margin: 10px 0;
    display: block;
}

.time_am_v1,
.time_pm_v1 {
    padding-top: 20px;
}

img.staff-avatar-img {
    max-width: 120px;
    width: 100%;
}

.addButton,
.removeButton {
    color: inherit;
}

.box_person {
    padding-top: 20px;
}

.staff_service_v1 {
    padding-top: 10px;
}

.cart .order .inner {
    padding: 15px 20px 0px 20px;
}

.cart .order .subtotal {
    padding: 0px 20px 15px 20px;
}

.cart .order .total span {
    color: #f00;
    font-size: 24px;
}

.cart .order .total {
    padding: 15px 20px;
}

.cart .order {
    /* background: #f9fdff; */
    border: 1px solid #9cb128;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.inner .price,
.subtotal span,
.total span {
    /* color: #000; */
    font-weight: bold;
}

.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block;
    max-width: 100%;
}

.cart .product-wr {
    display: flex;
}

.cart .name_product {
    -webkit-flex: 1;
    padding-right: 10px;
    padding-left: 10px;
}

.cart .frame_img {
    width: 60px;
}


/*SERVICES*/


/*.service-name{
        font-size: 30px;
        font-style: normal;
        line-height: 1;
        font-weight: bold;
        padding-left: 40px;
        background-position: 5px 2px;
        background-image: url('../images/sunflower.png');
        background-repeat: no-repeat;
        padding-bottom: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid #289e00;
        padding-right: 15px;
    }
    .price-item{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .price-item-number{
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight:bold;
    }
    .service-img-col{
        padding-top: 20px;padding-bottom: 20px
    }
    .circle-service-image{
        width: 180px;
        height: 180px;
        border-radius:125px; 
        background-image:url('../images/nailservice-picture-1.jpg');
        border: 3px solid #fec168;
        display: inline-block;
        margin-top: 20px;
    }
    .circle-service-image-1{
        background-image: url(../images/nailservice-picture-1.jpg);
    }
    .circle-service-image-2{
        background-image: url(../images/nailservice-picture-2.jpg);
    }
    .circle-service-image-3{
        background-image: url(../images/nailservice-picture-3.jpg);
    }
    .circle-service-image-4{
        background-image: url(../images/nailservice-picture-4.jpg);
    }
    .rouded-service-image{
        width: 180px;
        height: 180px;
        border-radius:5px; 
        background-image:url('../images/nailservice-picture-1.jpg');
        display: inline-block;
        margin-top: 20px;
    }
    .service-note{
        margin-top: 5;
    }
    .service-row{
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .service-row img.img-responsive{
        display: inline-block;
        margin: 0;
    }
    .top-right{
        text-align: left;
    }
    .detail-price-item{
        display: flex;
        width:100%;
        padding-top: 8px;
        padding-bottom: 5px;
    }
    .detail-price-dots{
        flex: 1;
        border-bottom: 2px dotted #808080;
    }
    .detail-price-number{
        padding-left: 5px;
        font-size: 18px;
        font-weight: bold;
    }
    .detail-price-name{
        padding-right: 5px;
        font-size: 18px;
    }
    @media (min-width: 768px){
        .top-right{
            text-align: right;
        }
        .col-price-item-right{
            padding-left: 0;
        }
        .col-price-item-left{
            padding-right: 0;
        }
    }
    @media (min-width: 992px){
    }
    @media (min-width: 1200px){
        .circle-service-image{
            width: 250px;
            height: 250px;
        }
        .rouded-service-image{
            width: 250px;
            height: 250px;
        }
    }*/