@font-face {
    font-family: 'PTSans';
    src: url(../fonts/ptsan/PTSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url(../fonts/ptsan/PTSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSlab';
    src: url(../fonts/fin/JosefinSlab-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'JosefinSlab';
    src: url(../fonts/fin/JosefinSlab-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'JosefinSlab';
    src: url(../fonts/fin/JosefinSlab-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}