/*===================================================================================*/
/*  STYLE
/*===================================================================================*/
.btn, .btn-main, .btn-short,
.header-main.sticky,
.header-page .header-main,
.menu_mobile_v1 {
    background: #a79b94;
}
.section-about .section-content {
    border-bottom: 3px solid #a79b94; ;
}
.btn,
.btn-main {
    box-shadow: 0 3px 0 #867c76;
}

.contact-hours,
.page-heading,
.footer-main {
    background:#31251c;
}
.section-count .item {
     background-color: #51433a;
}
.footer-main h3 {
    color: #c4beb8;
}
.breadcrumbs li a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a 
{
    color: #e2cec1;
}



/*===================================================================================*/
/*  END-STYLE
/*===================================================================================*/

body {
    margin: 0 auto;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #31251c;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'PTSans',cursive;
}

a {
    color: #000000;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f85c5c;
    text-decoration: none;
}

a.btn, .btn,
a.btn-main, .btn-main,
a.btn-short, .btn-short  {
    border-radius: 0px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    padding: 0 30px;
    transition: all 0.3s ease;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    position: relative;
    border: 0;
}
.btn-short:before  {
    position: relative;
    left: -10px;
    content: "\f04b";
    color: #fff;
    font-size: 12px;
    font-family: "FontAwesome";
    display: inline-block;
    border-right: 1px solid #fff;
    line-height: 1.2;
    padding-right: 10px;
}


.btn-link {
    border: 0;
    border-radius: 25px;
    height: 33px;
    line-height: 33px;
    font-size: 11px;
    padding: 0 20px;
    transition: all 0.3s ease;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}



a.btn:hover,
.btn:hover,
.btn-main:hover,
.btn-link:hover{
   opacity: 0.7;
}
p {
    margin:0 0 15px;
    line-height: 1.8;
}

h2, h3,h4, h5 {
    color: #333;
    margin: 0 0 20px;
}
h2 {
    font-size: 2.625em;
    line-height: 1.2;
}
h3 {
    font-size: 2em;
    line-height: 1.3em;
}
h4 {
    font-size: 1.5em;
    line-height: 1.4em;
}
h5 {
    font-size: 15px;
    line-height: 1.5em;
}

.form-control {
    padding: 0px 20px;
    height: 47px;
    width: 100%;
    font-size: 13px;
    margin: 0px 0;
    border: 1px solid #e4e0e0;
    color: #444;
    outline: none;
    font-weight: 500;
    box-shadow: none;
    border-radius: 0px;
}



.animated-arrow { display: none; }
.animated-arrow span, 
.animated-arrow span:before, 
.animated-arrow span:after {
    cursor: pointer;
    height: 2px;
    width: 25px;
    background: #56b367;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
}
.animated-arrow span:before {top: -7px;}
.animated-arrow span:after {bottom: -7px;}

.navopener .animated-arrow span:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 0px;
}
.navopener .animated-arrow span:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.navopener .animated-arrow span {background-color: transparent;}
.navopener .animated-arrow span:before {top: 0;}
.navopener .animated-arrow span:after {bottom: 0px;}


/*//////////////////// NAVIGATION BAR ////////////////////*/
.mean-container .mean-nav ul li a { 
    padding:14px 5%; 
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 600;
    color: #504e50;
    font-size: 12px;
}

.mean-container .btn-main{
    border-radius: 0;
    display: block;
    font-size: 11px;
    text-align: center;
}

.navbar {
    min-height:32px;
    margin: 0px;
    border: 0;
    border-radius: 0;
    padding: 0px;
}
.navbar .navbar-collapse {padding:0px;}
.navbar .navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;
}
.navbar-nav>li { padding: 0 15px; }
.navbar-nav>li>a {
    line-height: 40px;
    font-style: normal;
    color: #fff;
    font-size: 12px;
    padding: 0;
    position: relative;
    font-weight: 700;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a{
    background: none;
}
.navbar-nav>li.active:hover>a,
.navbar-nav>li:hover>a.active {
    color: #000;
}

.navbar-nav .dropdown:hover>.dropdown-menu {
    display: block;
}
.navbar-nav .dropdown-menu {
    border: none;
    border-radius: 0px;
    background: #fff;
    color: #252525;
    padding:20px 0;
}

.dropdown-menu>li>a {
    padding:5px 25px;
    color: #666;
    letter-spacing: 1.4px;
    font-weight: 400;
    font-size: 14px;
}
.dropdown-menu>li>a:hover {
    transition: all 0.15s ease;
    background:rgba(212, 210, 210, 0.3);
    color: #000;
}

.nav-shop >li>a { font-size: 14px; padding: 0 10px; }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background: none; }

.header-search {
    position: relative;
    height: 30px;
    width: 30px;
}
.header-search input:focus{
    outline: none;
}
.header-search .s-i { 
    transition: width 0.6s ease;
    width: 0;
    background: #eee;
    color: #666;
    font-weight: 400;
    border: 0;

}
.s-f {
    position: absolute;
    top: 0; 
    right: 0;
    display: flex;
    border-radius: 25px;
    padding: 3px 10px;
}
.search-exp .s-f {
    background: #eee;
}
.search-exp .header-search .s-i { width: 150px; padding: 0 10px;}


/*===================================================================================*/
/*  MAIN
/*===================================================================================*/
.dflex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox
}
.dflex-sb {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}

.imgrps {
    max-width: 100%;
    height: auto;
}
.art-main {
    position: relative;
    padding: 0;
}
.header { position: relative; }


.head-nav-right { align-items: center;  }
.head-nav-right .btn-main { 
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px;
    padding: 0px 30px;
    margin-left: 50px;

}
.header-page .header-main {
    position: relative;
}
.header-main { 
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease-out;
}
.header-main.sticky {
    padding: 10px 0;
}
.header-nav{position: relative;}
.header-main .navbar-right {
    position: absolute;
    right: 0;
    top: 20px;
    height: 80px;
}
.pmain { margin: 0; padding-left: 0px;}
.mTitle {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-variant-ligatures: common-ligatures;
    margin: 0 0 10px;
}

.in-container {
    padding: 50px 0;
}
.in-content p {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
}



.page-heading {
    padding: 40px 0;
}
.page-heading h2 {
    font-family: 'JosefinSlab';
    color: #fff;
    margin-bottom: 0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
}
.m-heading { 
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    letter-spacing: 5px;
    color: #31251c;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'JosefinSlab';
    border: 3px solid #31251c;
    display: inline-block;
    padding: 5px 10px 0;
}
.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-size: 12px; 
}
.breadcrumbs li { font-weight: 700; text-transform: uppercase; margin-right: 5px; color: #bfbfbf; }
.breadcrumbs li:after{ content: '/';  padding-left: 5px; }
.breadcrumbs li:last-child:after { display: none; }
.heading-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*===================================================================================*/
/*  PAGE
/*===================================================================================*/
.section {
    padding: 80px 0px;
    overflow: hidden;
}
.section-slider { overflow: hidden; }
.sp-buttons {
    position: absolute;
    bottom: 13px;
}
.sp-button {
    width: 30px;
    height: 2px;
    border: 0;
    border-radius: 0;
    background: #ccc;
}
.sp-selected-button { background-color: #555; }

.owl-next {right: 0;}
.owl-prev {left: 0;}
.owl-next,
.owl-prev {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background: none;
    border: 0;
    font-size: 0;
}
.owl-prev:before,
.owl-next:before  {
    content: "\f054";
    color: #aaa;
    font-size: 18px;
    font-family: "FontAwesome";
    display: block;
}
.owl-prev:before  { transform: rotate(180deg); }

.section-about {
    text-align: center;
    
}
.section-about .section-heading h3 { 
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    letter-spacing: 5px;
    color: #31251c;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'JosefinSlab';
    border: 3px solid #31251c;
    display: inline-block;
    padding: 5px 10px 0;
}
.section-about .section-heading {
    padding: 0px 0 50px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}
.section-about .section-content {
    padding: 50px 0;
    margin-bottom: 80px;
}
.about-blockquote {
    position: relative;
    margin: 15px 0;
    font-size: 16px;
    line-height: 24px;
    padding: 30px 45px;
    background-color: #fafafa;
    border: 1px solid #eeeeee;
    font-style: italic;
}
.about-blockquote h3{
    font-family: 'JosefinSlab';
    font-style: italic;
    font-size: 28px;
    font-weight: 400;
}
.icon-quote-left,
.icon-quote-right {
    font-size: 40px;
    color: #ccc;
}
.icon-quote-left {
    position: absolute;
    top: 15px;
    left: 5px;
}
.icon-quote-right {
    position: absolute;
    bottom: 5px;
    right: 15px;
}
.section-count .list-count {
    display: flex;
    color: #ffffff;

}
.section-count .list-count .item:last-child { border-right: 0; }
.section-count .item {
    width: 33.333333333333%;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 3%;
    text-align: center;
}
.section-count .item .icon {
    margin: 20px;
    
    border:1px solid #ffffff;
    width: 100px;
    height: 100px;
    font-size: 32px;
    line-height: 100px;
    border-radius: 100%;
    display: inline-block;
}
.section-count .item .number {
    line-height: 50px;
    font-weight: 300;
    padding: 0 10px 15px;
}
.section-count .item .number span {
    border-bottom: 1px solid #eee;
    display: inline-block;
    font-size: 46px;
}
.section-count .item h3 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
}
.scroll-location {
    background: url(../images/location-row.jpg);
    background-attachment:scroll;
    background-position:left top;
    background-repeat:repeat;
    height: 100px;
}
.scroll-education {
    /*background: url(../images/education-reel.jpg);*/
    background-attachment:scroll;
    background-position:left top;
    background-repeat:repeat;
    height: 500px;
}

.section-service {

}
.service-table th {
    padding: 18px 12px;
    background-color: #f7f7f7;
    color: #4b4b4b;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.service-table tr {
    border-bottom: 1px dotted #dbdbdb;
}
.service-table td {
    color: #31251c;
    padding: 15px 12px;
    font-size: 13px;
    text-align: center;
}
.list-pn a { transition: all 0.5s ease-out; }
.list-pn a:hover { opacity: 0.5; }

/*===================================================================================*/
/*  SIDEBAR
/*===================================================================================*/
.art-sidebar-box { 
    margin: 0 0 60px;
    border: 1px solid #E2E2E2;
    padding: 5px 20px 20px;
    overflow: visible;
}
.art-sidebar-name { text-align: center; }
.sidebar-social {text-align: left;}
.art-sidebar-content .col-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    line-height: 1.4;
}
.art-sidebar-content .col-2 i { font-size: 18px; color: #781414; }
.timeopen .art-sidebar-content .col-2 {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 12px;
}
.art-sidebar-content .col-2 .col-left {
    float: left;
    overflow: hidden;
    font-weight: bold;
}
.art-sidebar-content .col-2 .col-right {padding-left: 50px; }
.timeopen .art-sidebar-content .col-2 .col-right {padding-left: 80px;}
.art-sidebar-box h3 {
    position: relative;
    display: inline;
    top: -20px;
    padding: 0 20px;
    background: white;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px;
}

.sidebar-hotphone {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}
.art-sidebar-box iframe ,
.art-sidebar-content iframe {width: 100%; }
.art-sidebar-box ul { padding: 0; margin: 0; margin-left: 15px; list-style: none; }
.art-sidebar-box li { margin-bottom: 10px; }
.art-sidebar-box li a {color: #777777;font-size: 12px;}

.art-sidebar-box li:before {
    content: '';
    border-top: 2px solid #dfdfdf;
    padding: 4px;
    position: relative;
    top: 14px;
    left: -8px;
}


/*===================================================================================*/
/*  GALLERY
/*===================================================================================*/
.list-gallery { padding: 0px; }
.list-gallery .row { margin: 0 -5px; }
.list-gallery .col-xs-6 { padding: 0 5px; }


.gallery-wrap { display: flex; justify-content: space-between; flex-wrap: wrap; }
.gallery-item { 
    margin-bottom: 10px; 
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.gallery-item span {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.gallery-item:after {
    display: none;
    width: 100%;
    height: 100%;
    content: '';
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s ease-out;
    position: absolute;
    left: 0; top: 0;
    z-index: 0;
}
.gallery-item:hover:after {display: block;}
.gallery-item:hover .gallery-info .project-title {
    top: 35%;
    opacity: 1;
    visibility: visible;
}
.gallery-item .gallery-info { text-align: center; }
.gallery-item .icon {
    z-index: 1;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.gallery-item:hover .icon {
    bottom: 0px;
    color: #000;
    opacity: 1;
    visibility: visible;
}
.gallery-item h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 60%;
    z-index: 1;
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.pagination>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    color: #000;
    margin-left: 1px;
}
.pagination>li.active>a.hover-main-color,
.pagination>li.active>span.hover-main-color,
.pagination>li>a:hover.hover-main-color,
.pagination>li>span:hover.hover-main-color {
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}

/*===================================================================================*/
/*  BOOKING
/*===================================================================================*/

.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.group-select select option {
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select optgroup {
    font-weight: 700;
    color: #E94E75;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select .fa-calendar {
    position: absolute;
    margin-top: 0px;
    right: 10px;
    top: 42px;
    font-size: 18px;
}
.box_register .btn_submit_login { margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}

.group-select {
    float: left;
    margin-right: 0;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.group-select label {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    min-height: 24px;
}
.btn-search {
    width: 100%;
    text-transform: uppercase;
    outline: none;
}
.staff-avatar {padding: 0;}
.staff_service_v1 {display: inline-block;}
.staff_service_v1 {margin-top: 15px;overflow: hidden;}
.staff_service_v1 h4 {margin-top: 0; font-weight: 700;}
.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}
.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #ebebeb;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}
.content-shop-booking,#box_person,
.time_work_staff_v1 {padding-bottom: 30px;}
.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
}
.popup_main_area {
    padding: 15px;
    float: left;
    width: 100%;
    color: #333;
}
.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #655353;
    background: #000000;
    color: #fff;
}
.modal_form_header h4 { margin: 0;  color: #fff;}
#send_booking .input-box {margin-bottom: 5px;}


/*===================================================================================*/
/*  CART
/*===================================================================================*/

.table-mobile-collapse{
    display: table;
    border:1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    display: none;
}
.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-row{
    border:inherit;
    vertical-align: inherit;
}
.table-head{

    padding: 15px;
    border:inherit;
    vertical-align: inherit;
}
.table-data{
    padding: 15px;
    padding-top: 0;
    vertical-align: inherit;
}

.table-responsive{

}
.cart-wrraper{
    background-color:#ffffff;
    color: #333;
}

.cart-product-image-cell{
    display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.table-cart{
    background-color:#fff;
    border:none;
    margin-bottom:0;
}
.table-cart .thead .table-head{
    background-color:#000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.table-cart .tbody .table-data{
    display: block;
    vertical-align: top;
}
.table-cart .tbody .table-row:last-child .table-data{
    border-bottom: none;
}
.table-cart p{
    margin-bottom: 0;
}
.quantity-label{
    display: inline-block;
}
.table-cart .form-control{
    margin-top: 10px;
}
.cart-product-image-cell{
    vertical-align: top;
}
.table-cart .tbody .table-data.quantity-cell,
.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
}

.table-cart .tbody .table-data.price-cell{
    min-width: 273px;
}
.total-change-cell{
    padding-left: 15px;
}
.total-change-cell>p.total_change:before{
    display: inline-block;
    position: relative;
    content: "Total:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
}
.cart-product-image{
    width: 72px;
    height: 72px;
    margin-right: 15px;
}
.cart-product-image>img{
    width: 100%;
    height: auto;
}
.cart-product-name{
    margin-top: 0;
    font-weight: bold;
}
.form-control.form-control-sm{
    width: 80px;
    display: inline-block;
}

.total_change{
    color: #ff0000;
    font-weight: bold;
    text-align: right;

}
.total-amount{
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
}
.total-amount-label{
    text-align: right;
    display: none;
}
.total-amount:before{
    display: inline-block;
    position: relative;
    content: "Amount:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
    padding-top: 15px;
}
.total-amount-cell{
    padding:0;
}

.table-row{
    border-bottom: 2px solid #ffffff;
}
.cart-product-image,.cart-product-description{
    display: inline-block;
    vertical-align: top;
    
}


/* FORM CART */
.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block
}
.cart .form_cart {margin-bottom: 30px}
.cart .form_cart a {
    display: table;
    margin: 10px auto 25px auto;
    padding: 15px 65px;
    font-size: 15px;
    cursor: pointer
}
.cart .form_cart p {font-size: 14px;}
.cart .order {
    margin-top: 15px;
    background:#fff;
    border-radius: 3px;
    color: #222;
    padding-bottom: 10px;
    border: 1px solid #E2E2E2;
}
.cart .order .inner {padding: 15px 20px 0px 20px}
.cart .order .inner ul li {
    clear: both;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%
}
.cart .order .inner ul li .frame_img {
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px
}
.cart .order .inner ul li .frame_img img {width: 60px;background: #fff}
.cart .order .inner ul li .name_product {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 63%;
    overflow: hidden;
    float: left;
}
.cart .order .inner ul li .name_product p {font-size: 15px}
.cart .order .inner ul li .name_product span {
    color: #858585;
    font-size: 13px;
    margin-right: 5px
}
.cart .order .inner ul li .name_product small {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block
}
.cart .order .subtotal {padding: 0px 20px 15px 20px}
.cart .order .subtotal ul li {padding: 3px 0px}
.cart ul {margin-top: 15px;list-style: none;padding-left: 0;}
.cart .order .total ul {padding: 15px 20px;}
.cart .order .total ul li span { color: #000;font-size: 24px;}
.cart .note { margin: 15px 0px}
.cart .note p {font-size: 14px;margin: 0;}
h2.timr {margin: 0;margin-bottom: 20px;}
.box_cart {margin: 30px auto;}
ul.list_form li {margin: 5px 0;}
h4.sanb {font-size: 18px;font-style: italic;}
.inner .price, .subtotal span,.total span {font-weight: bold;}
.fl-flex-label label {font-weight: normal;}
.white-popup {clear: both;overflow: hidden;}

.cards-item {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}
.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
}
.cards-item:hover .cards-item-image {transform: scale(1.05);}
.book_appoin_btn { margin-top: 20px; }

/*===================================================================================*/
/*  CONTACT
/*===================================================================================*/
.page-contact{
    background:url(../images/contact-bg-title.jpg) no-repeat;
    padding-bottom:50px;
    padding: 80px 0;
    background-size: cover;
    background-position: center center;
}
.page-contact h2 {
    color: #333;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    padding: 25px 50px 25px;
    background: #fff;
    display: inline-block;
    margin: 0;
}
.contact-heading { text-align: center; }
.contact-heading span {
    background-color: #f864a6;
    display: inline-block;
    font-size: 24px;
    padding: 22px 30px;;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 15px;
}

.contact-details {
    padding: 30px 0;
    position: relative;
}
.contact-details i {
    float: left;
    line-height: 1.6;
}
.contact-details p {
    position: relative;
    margin-left: 40px;
}

.contact-hours {
    text-align: center;
    padding: 30px 0;
    position: relative;
    margin: 0 auto;
    color: #fff;
}
.contact-hours .cd-col { margin-bottom: 15px; }
.opening-hour-day {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 2px;
}
.opening-hour-time {
    font-size: 12px;
}

.maps  { margin-bottom: 30px; }
.maps iframe{
    width: 100%;
    border: 0;
    height: 550px;
}
.contact-info { color: #777;}

.contact-info h4 {
    margin: 0;
    font-size: 20px;
}
.contact-info p {
    color: #6e6b61;
    font-size: 14px; 
    line-height: 1.4;
    margin: 0 0 20px;
}
.contact-form .form-control {
    font-size: 16px;
}
.contact-form input.form-control {
    height: 70px;
}
.contact-form .form-group{
    margin-bottom: 15px;   
}
.btn-submit { margin-top: 20px; }
.contact-social { padding-top: 20px; }
.contact-map { margin-bottom: 30px; }
.contact-info h3,
.contact-form h3 {
    color: #000;
    font-size: 16px;
    padding: 0;
}
.contact-form textarea { padding: 20px;}
.contact-form label {
    font-size: 17px;
    font-weight: 300;
    margin:0 0 3px;
}
.contact-map iframe { max-width: 100%; }
.login_form_area .box_area_login_v1 {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.btn_login_social {margin-top: 20px;}
.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}
.btn_login_social span {
    font-variant-ligatures: common-ligatures;
}
.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    border: 0;
    line-height: 45px;
}
.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
     border: 0;
    line-height: 45px;
}
.btn_submit_login { margin-bottom: 30px; text-align: center;}
.btn_submit_login button.submit {
    background-color: #ffc267;
    border: 1px solid #ffc267;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}
.box_register .btn_submit_login {margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}


.contact-name h3 {
    line-height: 1;
    margin: 0;
    color: #781414;
    font-size: 24px;
}
.contact-info .fci-row { display: table-row; }
.contact-info .fci-title,
.contact-info .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
}
.contact-info .fci-title {
    padding-right: 15px;
    font-weight: bold;
}
.fl-flex-label { margin-bottom: 10px; }

/*===================================================================================*/
/*  SERVICEs
/*===================================================================================*/
.service-container { padding-top: 0; }
h1.service-name {
    font-size: 24px;
    font-style: normal;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    padding-right: 15px;
    color: #000;
    font-weight: 700;
}
.price-item {
    padding: 15px 0;
    border-bottom: 1px solid #cdcdcd;
}
.price-item h4 { font-size: 15px; margin-bottom: 0; }
.price-item-number {
    font-size: 18px;
    color: #000000;
    margin: 0;
    font-weight: 600;
    line-height: 1.0;
}
.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.circle-service-image {
    width: 180px;
    height: 180px;
    border-radius: 125px;
    border: 3px solid #fec168;
    display: inline-block;
    margin-top: 20px;
}
.rouded-service-image {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.service-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-right {text-align: right;}
.top-right a {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
.top-right a img {
    vertical-align: top;
    padding-top: 12px;
    padding-right: 5px;
}
.detail-price-item {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
}
.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted #a9a9a9;
}
.detail-price-number {
    padding-left: 5px;
    font-size: 18px;
    color:#000000;
    font-weight: 600;
}
.detail-price-name {
    padding-right: 5px;
    font-size: 15px;
}

@media (min-width: 768px) {
    .top-right {
        text-align: right;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .circle-service-image {
        width: 250px;
        height: 250px;
    }
    .rouded-service-image {
        width: 250px;
        height: 250px;
    }
}

/*===================================================================================*/
/*  FOOTER
/*===================================================================================*/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 20;
}
#back-top a {
    width: 50px;
    height: 50px;
    background:#000;
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    color:#FFFFFF;
    line-height:50px;
}
#back-top a:hover{ opacity: 0.9;  }
.footer-main {
    padding: 70px 0;
}
.footer-main h3 {
    font-size: 13px;
    font-weight: bold;
}
.footer-main h3:after {
    display: block;
    content: "";
    width: 70px;
    height: 5px;
    background-color: rgba(128, 128, 128, 0.15);
    margin: 10px 0;
}

.footer-copyright {
    background: #fff;
    line-height: 1;
    padding: 30px 0;
    font-size: 13px; 
}
.footer-copyright .copyright { margin-bottom: 5px; }
.footer-copyright ul { padding: 0; margin: 0; list-style: none; display: flex; }
.footer-copyright li { margin-right: 5px; }
.footer-nav li { font-size: 13px; }
.footer-nav li:after{ content: '|';  padding-left: 5px; }
.footer-nav li:last-child:after{ display: none; }
.footer-nav li a:hover { text-decoration: underline; }


.footer-social {
    text-align: right;
    justify-content: flex-end;
}
.footer-social li a { padding: 0 5px; font-size: 15px; color: #a79b94; }
.footer-social li a:hover { opacity: 0.5; }