.col-lef{
    float: left;
}
.header-top-left br{
    display: none;
}
.social-img-icons img{
    max-width: 35px;
    margin-bottom: 5px;
}
.scroll_btn{
    position: fixed;
    top: 20px;
    z-index: 100;
}
.form-group{position: relative}
.add-services{
    cursor: pointer;
}
.removeButton{
    cursor: pointer;
    position: absolute;
    z-index: 10;
}
.removeButton + .row > .col-md-6:first-child label{
    margin-left: 30px;
}
.form-tooltip-error ul{
    margin: 0px;
    padding: 0px;
}
.img-info-staff a{
    display: block;
}
.img-info-staff a img{
    max-width: 100%;
}
.preview_img img{
    max-width:100%;
}
.wpcf7-form{
    width:100%;
}
.list_gallery_home .gallery-item {
    margin-bottom: 0px;
}

.box_img_giftcard:hover .circle_check,
.box_img_giftcard.active .circle_check {
    background-color: #07e006;
}

.box_img_giftcard.active, .box_img_giftcard:hover {
    border-color: #07e006;
}
.about-video {
    width: 100%;
    max-width: 100%;
}
#send_contact .form-group{
    margin: 5px 0px;
}
.btn_service_book a {
    margin-bottom: 10px;
}
#filter{
    margin: 20px 0px;
}
#filter li{
    display: inline-block;
    padding: 5px 10px;
}
#filter li.active,#filter li:hover{
    background: #CCC;
    border-radius: 5px;
    cursor: pointer;
}

#filter li a{
    padding: 5px 10px;
    cursor: pointer;
}
.about-video{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.about-video iframe{
    width:100%;
    max-height: 240px;
    height: 240px;
}
.icon_info {
    width: 100%;
    line-height: 89px;
    text-align: center;
    font-size: 40px;
    border: 1px solid;
}
.icon_info:hover{
    background: #f5f5f5;
}
.contact_info_block .row{
    margin-bottom: 20px;
}
.contact_info_block .row p{     margin: 0 0 0px; }
.contact_info_block {
    margin-bottom: 30px;
}
.contact_info_block h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}
 /* thong tin custom tu size */
.circle-service-image {
    border-radius: 125px;
    display: inline-block;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.mobile_logo img { max-height: 80px; }
.mobile_logo { z-index: 1; top: 5px; padding-left: 5px; }
.title-center { margin-bottom: 30px; }
.sale-box h3 { padding-top: 20px; }
.footer { margin-top: 0px; padding: 0; }
.menu-footer { padding-top: 30px; }
.footer-social { padding-top: 30px; }
.menu-footer li a { font-size: 12px;}
.menu-footer { text-align: left; }
.sale-box{ text-align: center; }
.sale-col .sale-box{ text-align: left; }
.sub-title { font-family: 'Questrial', sans-serif; line-height: 15px; letter-spacing: 0px; font-weight: 300; font-style: normal; color: #bdbdbd; font-size: 10px; text-transform: none; font-size: 14px; }
.products-list .item { padding: 15px; }
.footer { background: #e2e2e2; }
.box-sub-text { line-height: 26px; letter-spacing: 0px; color: #2a2a2a; font-size: 14px; }
.sale-col { padding: 0 50px; }
.btn-primary, a.btn-primary { background: #ffffff; margin-top: 20px; border: 1px solid #e6e6e6; }
.sale-box h3 { font-weight: 700; font-size: 18px; }
.owl-carousel .carousel-nav-btn-gc .carousel-nav-left { padding: 10px 10px; height: 50px; width: 50px; background: #fff8; }
.owl-carousel .carousel-nav-btn-gc .carousel-nav-right { padding: 10px 10px; height: 50px; width: 50px; background: #fff8; }

/* end thong tin custom tu size */

ul.custom_address li{
    position: relative;
    padding-left: 90px;
    padding-top: 5px;
}

ul.custom_address li i{
    position: absolute;
    left: 0px;
    font-weight: 600;
}
.sale-col .sale-box{
    text-align: left;
}
.vt-time{
    line-height: 25px;
}
.vt-time .col-lef{
    width: 90px;
    font-weight: 600;
}
.site-logo a{
    display: block;
}
@media (max-width: 687px) {

}

/* Oppenhours - Contact info */
.foh-wrap,
.fci-wrap {
    display: table;
    text-align: left;
}
.foh-row,
p.foh-row,
span.foh-row,
div.foh-row,
.fci-row,
p.fci-row,
span.fci-row,
div.fci-row {
    line-height: initial;
    display: table-row;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.foh-row .foh-time,
p.foh-row .foh-time,
span.foh-row .foh-time,
div.foh-row .foh-time,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title,
.fci-row .fci-content,
p.fci-row .fci-content,
span.fci-row .fci-content,
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title {
    padding-right: 15px;
    font-weight: bold;
}


.gallery-title {
    margin-bottom: 20px;
    padding: 10px;
    background: #ccc;
    text-align: center;
}
/* End Oppenhours - Contact info */

/*freeze footer*/
.freeze-footer { position: fixed; right: 0; bottom: 0; padding: 0 15px 15px 0; display: inline-block;z-index: 1040;}
.freeze-footer ul li {list-style-type: none;}
.freeze-footer a {width: 100%; margin-bottom: 15px;color: #333;}
.freeze-footer a.btn_make_appointment {background-color: rgba(255, 217, 228, 0.58);border-color: rgba(255, 217, 228, 0.58);}
.freeze-footer a.btn_call_now {background-color: rgba(255, 217, 228, 0.58);border-color: rgba(255, 217, 228, 0.58);}
.freeze-footer a:hover{ background-color: rgba(235, 171, 190, 1); color: #fff; }

/*freeze header*/
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 1041;width: 100%; }
.freeze-header.with-bg{ background-color: #ebfeff; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

/*Testimonials*/
.section-testimonials {
    position: relative;
    z-index: 0;
    padding: 50px 0;
    text-align: center;
}
.section-testimonials:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
}
.section-testimonials:after {
    content: '';
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg-parallax1.jpg);
    background-position: bottom!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.testimonials-list .item {
    padding-top: 80px;
}
.section-testimonials .testimonial-quote {
    color: #d9d9d9;
    font-size: 110px;
    font-family: 'Montserrat',sans-serif;
    line-height: 1;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.section-testimonials, .section-testimonials h2,
.section-testimonials p {
    color: #000;
    text-align: center;
}
.testimonials-list .name {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}
.testimonials-list .owl-pagination {
    position: initial;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
}

.testimonials-list .owl-nav {
    display: inline-flex;
    margin-top: 5px;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    width: 30px;
    color: #d9d9d9;
    font-size: 20px;
    margin: 0 5px;
}
.owl-nav .owl-prev {
    text-align: right;
}
.owl-nav .owl-next {
    text-align: left;
}

/*Videos*/
.video_page_v1 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.video_page_v1_board {
    background: url('../assets/images/bg_video_board.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px;
}
.video_page_v1_board .video_page_v1_board_container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
}
.video-container-main, .video-container-item {
    padding-bottom: 15px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container .video-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.video-container .video-container-overlay {
    z-index: 3;
    background: none;
    cursor: pointer;
}
.video_page_v1_board_container .title-center .icon {
    color: #fff;
}
.youtube-player.main, .youtube-player.item {
    padding-bottom: 56.25%;
}

/* Gallery */
.our_ourworking_title h2 {
    font-weight: 700;
    font-variant-ligatures: common-ligatures;
    font-size: 42px;
    text-transform: capitalize;
    font-style: italic;
    padding-top: 40px;
    padding-bottom: 40px;
}

.our_ourworking_title {
    text-align: center;
    margin: 0 27%;
}
.gallery_box_page.ourworking_v3 {
    padding-top: 20px;
    padding-bottom: 20px;
}
section#portfolio {
    background: rgba(211, 153, 219, 0.4);
}
.gallery_box_page .title-center .icon, .gallery_box_page .title-center h2:before {
    color: #fff;
}
ul#portfolio-grid {
    overflow: hidden;
    margin-bottom: 0;
}

ul#portfolio-grid li img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

ul#portfolio-grid>li {
    float: left;
    display: block;
    /*height: auto;*/
    height: 250px;
    overflow: hidden;
}
ul#portfolio-grid.five-column>li {
    width: 20%;
}
ul#portfolio-grid.four-column>li {
    margin-bottom: 15px;
    padding-top: 15px;

}
ul#portfolio-grid.three-column>li {
    width: 33.33%;
}
ul#portfolio-grid.two-column>li {
    width: 50%;
}

@media (max-width: 1199px) {
    ul#portfolio-grid.five-column>li {
        width: 25%;
    }
}
@media (max-width: 991px) {
    ul#portfolio-grid.five-column>li,
    ul#portfolio-grid.four-column>li {
        width: 33.33%;
    }
}
@media (max-width: 767px) {
    ul#portfolio-grid.five-column>li,
    ul#portfolio-grid.four-column>li,
    ul#portfolio-grid.three-column>li {
        width: 50%;
    }
}
.portfolio-item.gutter {
    margin-bottom: 20px!important;
}
.portfolio {
    position: relative;
    overflow: hidden;
    height: 250px;
}
.portfolio .tt-overlay {
    background-color: rgba(254, 202, 47, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.portfolio:hover .tt-overlay {
    opacity: 1;
    visibility: visible;
}

.portfolio-info .project-title,
.portfolio-info .links {
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.portfolio-info .project-title {
    top: 60%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.portfolio:hover .portfolio-info .project-title {
    top: 35%;
    opacity: 1;
    visibility: visible;
}

.portfolio-info .links {
    top: 90%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.portfolio:hover .portfolio-info .links {
    top: 55%;
    opacity: 1;
    visibility: visible;
    color: #fff;
}

.portfolio-info .btn {
    background-color: transparent;
    border-color: #fff;
    padding: 12px 22px;
    border-radius: 20px;
}

.portfolio-info .btn:hover {
    background-color: #fff;
;
    border-color: #fff;
    color: #feca2f;
}

.portfolio-container .btn.view-more {
    margin-top: 40px;
}


/* Portfolio Hover Style Two
/* ------------------------------ */

.hover-two .portfolio:hover .portfolio-info .links {
    top: 46%;
}

.hover-two .portfolio .tt-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-details {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.portfolio-details li {
    display: inline-block;
    position: relative;
    bottom: -40px;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
}

.portfolio:hover .portfolio-details li {
    bottom: 0;
    opacity: 1;
    visibility: visible;
    color: #feca2f;
}

.portfolio:hover .portfolio-details li:nth-child(1) {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.portfolio:hover .portfolio-details li:nth-child(2) {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.portfolio-details li a, .portfolio-details li span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #feca2f;
}

.portfolio-details li a i, .portfolio-details li span i {
    color: #fff;
}

.portfolio-version-two .recent-project .project-link {
    bottom: 30%;
    padding: 0;
    text-align: center;
    background-color: transparent;
}

.portfolio-version-two .recent-project:hover .project-link {
    bottom: 50%;
    margin-bottom: -32px;
}

.portfolio-version-two .project-link ul li {
    display: inline-block;
}

.portfolio-version-two .project-link ul li a {
    display: block;
    width: 45px;
    height: 45px;
    font-size: 20px;
    line-height: 41px;
    color: #feca2f;
    margin: 0 5px;
    border: 2px solid #feca2f;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.portfolio-version-two .project-link ul li a:hover {
    background-color: #feca2f;
    border-color: transparent;
    color: #fff;
}
.featured-image-column .inner-box.sv-bg-cover {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
}
.featured-image-column .inner-box.sv-bg-cover .image-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.featured-image-column .inner-box.sv-bg-cover .image-caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #fff;
}

ul#portfolio-grid > li.portfolio-item.gallery-bg-cover {
    height: auto;
}
.portfolio.gallery-bg-cover {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
    height: unset;
}
.portfolio.gallery-bg-cover .portfolio-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.portfolio.gallery-bg-cover .tt-overlay {
    width: 100%;
    position: absolute;
    z-index: 2;
}
.portfolio.gallery-bg-cover .portfolio-info .project-title, .portfolio.gallery-bg-cover .portfolio-info .links, .portfolio.gallery-bg-cover .portfolio-details {
    width: 100%;
    position: absolute;
    z-index: 3;
}
.pointer {
    cursor: pointer;
}

.block-sub {
    padding-left: 15px;
}

/*Service*/
ul.services_item_ul_v1 {
    margin: 15px auto;
}
li.ui-state-default {
    background: #e6e6e6;
}
li.ui-state-default.list_child a {
    padding-left: 30px;
}
li.ui-state-default + li.ui-state-default {
    margin-top: 5px;
}
li.ui-state-default a {
    display: block;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #000;
    padding: 15px;
}
li.ui-state-default:hover, li.ui-tabs-active, li.ui-state-active {
    background-color: #000;
}
li.ui-state-default:hover a, li.ui-tabs-active a, li.ui-state-active a {
    color: #fff;
}
li.services_item_v1 {
    border-bottom: 1px dashed #dedede;
    clear: both;
}
li.services_item_v1 + li.services_item_v1 {
    padding-top: 15px;
}
li.services_item_v1 span.name_service_v1, li.services_item_v1 span.price_service_v1 {
    font-size: 17px;
}
li.services_item_v1 span.price_service_v1 {
    color: #f00;
}
.service_price_table {
    margin-bottom: 15px;
}
.pagination .page-link {
    cursor: pointer;
}

/* Service 3 */
.faq-collapse .card {
    margin-bottom: 5px;
    text-align: left;
    background-color: #fff;
}
.faq-collapse .card-header {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #333;
}
.card-header h5 {
    margin: 0;
    padding-left: 30px;
    position: relative;
    z-index: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}
.card-header h5 .icon {
    position: absolute;
    z-index: 2;
    left: 0;
    font-size: 25px;
}
.card-header > h5 .icon-normal,
.card-header > h5[aria-expanded="true"] .icon-expanded {
    display: initial;
}
.card-header > h5 .icon-expanded,
.card-header > h5[aria-expanded="true"] .icon-normal {
    display: none;
}
.card-body {
    padding-top: 15px;
    background-color: #fff;
}
.card-body .service-desc {
    margin-top: -5px;
    margin-bottom: 15px;
}
.card-body .detail-item {
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 30px;
}

.detail-price-item {
    padding: 0
}
.detail-desc-item p {
    margin: 0;
}

.form-control.category_tabs {
    font-size: 17px;
}

/* Coupon */
.m-coupon-box {
    position: relative;
    z-index: 0;

    margin: 0;
    margin-bottom: 30px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.m-giftcards {
    margin-bottom: 30px;
}
.m-giftcards .m-coupon-box {
    margin-bottom: 15px;
}
.m-coupon-info {
    text-align: center;
}
.m-coupon-box:hover, .m-coupon-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.m-coupon-price {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 5px;
    background: rgba(207, 0, 15, 0.9);
    color: #fff;
}

.btn_payment, .mybutton .btn-next, .btn_cart_order,
.btn_payment:hover, .mybutton .btn-next:hover, .btn_cart_order:hover{
    background: #ffffff;
    border: 1px solid #e6e6e6;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
    color: #333;
}
li.page-item {
    cursor: pointer;
}

.list-gallery {
    margin-top: 15px;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 0px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.btn.btn-search {
    margin-top: 5px;
}

/* News, Table of content */
#toc_container {
    border-color: #a2a9b1;
    background-color: #f8f9fa;
}
.section-news .n-meta {
    border-color: #111;
}
.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #111;
}

.section-news .n-thumb a:after {
    background: rgba(0,0,0,0.6);
}
.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}
.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content , .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details>h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #111 none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #111;
    border-color: #111;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #111;
    border-color: #111;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #111
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #111;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

/* By Consent */
.consent-form .group-select, .consent-form .group-select label {
    float: none;
}
.consent-form .group-select {
    width: 100%;
    margin-bottom: 15px;
}
.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: initial;
}
.form-horizontal .radio {
    padding-top: 0;
}
.consent-form2 {
    border-top-color: #333;
}

.btn_consent, .btn_consent:hover, .btn_consent:focus {
    border-color: #111;
    background: #111;
    color: #fff;
}
.white-popup {
    overflow: initial;
}

#back-top {
    bottom: 0;
    right: 15px;
}
.freeze-footer {
    bottom: 60px;
}
@media (max-width: 575px) {
    .footer-copyright {
        padding-bottom: 130px;
    }
}

.section-sale .row {
    display: block;
}
@media (min-width: 992px) {
    .section-sale > .container > .row {
        display: flex;
    }
}

/*
* Service
*/
.services-list .item {
    text-align: center;
    margin-bottom: 60px;
}
.services-list .item .thumb {
    position: relative;
    overflow: hidden;
}
.services-list .item .thumb:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #ffffff 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #ffffff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #ffffff 100%);
    pointer-events: none;

    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -o-transform: translateY(300px);
    transform: translateY(300px);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1);
    -moz-transition: all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1);
    transition: all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1);

}
.services-list .item .thumb .thumb-inner{
    display: block;
    position: relative;
    border-radius: 100% 100% 0 0;
    overflow: hidden;
    margin: 0 -80px;
    padding: 0 80px;
    transform: translateZ(0);
}
.services-list .info {
    position: relative;
    padding: 30px;
    margin-top: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.services-list h3 {
    transition: all 0.4s ease-out;
}
.services-list .icon-link {
    position: absolute;
    left: 50%;
    right: auto;
    bottom: -24px;
    margin-left: -24px;
    background-color: #f864a6;
    color: #fff;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    line-height: 48px;
    box-sizing: border-box;
    text-align: center;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
}
.services-list .item:hover .icon-link {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    -moz-transform: translateX(0px) rotate(0deg);
    -o-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
}
.services-list .item:hover .thumb:after {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
.services-list .item:hover h3 {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}

.break-row {
    float: left;
}