/*Back To Top*/
.back-to-top {
    display: none;
}

/* Paging */
.pagination > li > a.hover-main-color,
.pagination > li > span.hover-main-color {
    color: #000;
    margin-left: 1px;
}

.pagination > li.active > a.hover-main-color,
.pagination > li.active > span.hover-main-color,
.pagination > li > a:hover.hover-main-color,
.pagination > li > span:hover.hover-main-color {
    background-color: #7fa700;
    color: #fff;
    border: 1px solid #ccc;
}

.pagination > li > a, .pagination > li > span {
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Header */
@media (max-width: 991px) {
    .main-header {
        position: relative;
    }
}

/* Menu Main */
.main-header .logo-box .logo img {
    max-height: 110px;
}

.main-menu .navigation > li > a {
    padding: 15px 0;
}

.main-menu .navigation li.active > a, .main-menu .navigation li a.active {
    color: #88af0c;
}

.main-menu .navigation li.dropdown > a {
    padding-right: 30px;
}

.main-menu .navigation > li > ul > li > a{
    position:relative;
    display:block;
    padding:10px 20px;
    line-height:24px;
    font-weight:500;
    font-size:15px;
    color:#ffffff;
    text-align:left;
    text-transform:capitalize;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}

.main-menu .navigation > li.dropdown > a:after{
    font-family: "FontAwesome";
    content: "\f107";
    position:absolute;
    right:15px;
    top:11px;
    width:10px;
    height:20px;
    display:block;
    line-height:20px;
    font-size:16px;
    text-align:center;
    z-index:5;
    font-weight: 900;
}

.main-menu .navigation > li.dropdown > a:after, .main-menu .navigation > li > ul > li.dropdown > a:after {
    top: 50%;
    margin-top: -10px;
}
@media (min-width: 1200px) {
    .main-header .main-box {
        display: flex;
        align-items: center;
    }
    .main-header .menu-box {
        flex: 1;
    }
}

/* Menu Mobile */
.menu_mobile_v1 {
    min-height: 100px;
}
.menu_mobile_v1, .mean-container .mean-nav {
    background-color: #fff;
}
.mean-container a.meanmenu-reveal {
    border-color: #171717;
}
.mean-container a.meanmenu-reveal>span, .mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    background-color: #171717;
}
.mean-container .mean-nav {
    margin-top: 110px;
}
.mean-container .mean-nav ul li a, .mobile-menu-scroll ul li a {
    color: #171717;
}
.mean-container .mean-nav ul li a:hover, .mean-container .mean-nav ul li.active a {
    background: #7fa700;
}
.mobile_logo_container {
    text-align: center;
}

.mobile_logo img {
    max-height: 90px;
}

.mobile-menu-scroll ul li a:hover, .mobile-menu-scroll ul li a:focus {
    color: #7fa700;
}

.mobile-menu-scroll ul li.active a {
    color: #f5f5f5;
    background-color: #7fa700;
}

/* Footer */
.sponsor-section .sponsor-inner, .sponsor-section .sponsor-outer {
    position: relative;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    color: #666666;
    background: #ffffff;
    border: 1px solid #dddddd;
}

.main-footer, .main-footer p {
    color: #fff;
}

@media (min-width: 576px) {
    .contact-section {
        padding-top: 190px;
    }

    .map-address br {
        display: none;
    }

    .sponsor-section .sponsor-outer {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: auto;
        margin: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

/* Social */
ul.social, ul.social li {
    list-style: none;
    padding: 0;
    margin: auto;
}

ul.social li {
    display: inline-block;
    padding: 5px;
}

/* Freeze Header */
.freeze-header.with-bg {
    background-color: #fff;
}

.freeze-header .mean-container .mean-nav {
    overflow-y: auto;
    max-height: calc(100vh - 110px);
}

/* Freeze Footer & Scroll Top */
.freeze-footer .btn {
    padding: 10px;
    line-height: 1;
    font-size: 30px;
    min-width: 60px;
    border-radius: 3px;
    background-color: #7fa700;
}

.freeze-footer .btn, .freeze-footer .btn .fa {
    color: #fff;
}

.back-to-top {
    position: fixed;
    z-index: 1021;
    bottom: 15px;
    right: 15px;
    height: 45px;
    min-width: 60px;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    background-color: #7fa700;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 767px) {
    .back-to-top {
        bottom: 75px;
    }

    .freeze-footer {
        background-color: #7fa700;
    }

    .freeze-footer a {
        margin-bottom: 0;
    }

    .freeze-footer .btn {
        padding: 20px;
        font-size: 20px;
    }

    .footer-bottom {
        padding-bottom: 60px;
    }
}

/* Popup */
.white-popup {
    overflow: initial;
}

/* Home Slider */
.sp-text {
    color: #80a800;
}

/* Home Service */
.section-service {
    background-image: url(../../images/background-1.jpg);
    background-size: 100%;
}
.services-carousel .owl-dots .owl-dot.active {
    bottom: 0;
}
.services-carousel .owl-nav {
    text-align: center;
}
.services-carousel .owl-prev, .services-carousel .owl-next {
    display: inline-block;
    padding: 0 15px;
    margin: 0 7px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    background: #ffffff;
    border: 1px solid #dddddd;
}
.service-item:not(.service-block) {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 30px;
}
.service-item:not(.service-block) .image-box {
    overflow: hidden;
}
.service-item:not(.service-block) .image img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.service-item:not(.service-block):hover .image img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.service-item:not(.service-block) .service-i-name {
    color: #222222;
    font-size: 18px;
    margin: 5px 0;
}
.service-item:not(.service-block) .service-i-description {
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .services-carousel .owl-nav {
        display: block;
    }
}

/* Home Countdown */
.section-countdown {
    background-image:url(../../images/background-2.jpg);
    background-size: cover;
}

/* Home Slogan */
.section-slogan {
    background-image:url(../../images/background-4.jpg);
    background-size: cover;
}

/* Home Coupons */
.section-coupon {
    padding: 100px 0 110px;
}

/* Home Gallery */
.gallery-block .content-box .fa {
    color: #fff;
}

/* Home Testimonial */
.section-testimonial {
    position: relative;
    z-index: 1;
    padding: 30px 0;
    background-image: url(../../images/bg-nail.png);
    background-size: cover;
    background-position: right center;
}
.section-testimonial:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.single-testimonial-item {
    padding: 60px 45px;
    background-color: #fff;
    text-align: center;
}
.single-testimonial-item .testimonial-content {
    padding: 15px;
}
.single-testimonial-item .testimonial-img {
    width: 240px;
    min-width: 240px;
    margin: auto
}

.testimonial-carousel .owl-nav, .testimonial-carousel .owl-prev, .testimonial-carousel .owl-next {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    width: auto;
    height: auto;
}
.testimonial-carousel .owl-nav{
    display: none;
    text-align: center;
    margin-top: 15px;
}
.testimonial-carousel .owl-prev, .testimonial-carousel .owl-next {
    display: inline-block;
    padding: 0 15px;
    margin: 0 7px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    background: #ffffff;
    border: 1px solid #dddddd;
}
.testimonial-carousel .owl-dots{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.testimonial-carousel .owl-dots .owl-dot{
    position:relative;
    width:50px;
    margin:0 5px;
    padding: 10px 0 0;
    display:inline-block;
    border-bottom: 3px solid #88af0c;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.testimonial-carousel .owl-dots .owl-dot.active{
    bottom: 0;
    border-bottom: 10px solid #222222;
    width: 30px;
}

.testimonial-carousel .owl-dots .owl-dot:hover{
    border-bottom: 10px solid #222222;
}
@media (min-width: 576px) {
    .single-testimonial-item {
        display: flex;
        align-items: center;
    }
    .section-testimonial {
        padding-bottom: 115px;
    }
}
@media (min-width: 768px) {
    .section-testimonial {
        background-attachment: fixed;
    }
}
@media (max-width: 767px) {
    .testimonial-carousel .owl-dots {
        display: none;
    }
    .testimonial-carousel .owl-nav {
        display: block;
    }
    .single-testimonial-item {
        padding: 0;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .single-testimonial-item {
        padding-right: 15px;
    }
}

/* Breadcrumb */
.page-title {
    background-image: url(../../images/banner-page.jpg);
}
.page-title:before {
    background-color: transparent;
}
.page-title h2{
    position:relative;
    float: left;
    font-size:30px;
    color:#ffffff;
    line-height: 50px;
    font-weight: 500;
}

/* Content */
.section-padding {
    padding-top: 45px;
    padding-bottom: 45px;
}
.page-content {
    position: relative;
}
.page-content .title {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: #80a800;
    font-weight: 700;
    font-family: 'Tangerine', cursive;
    margin-bottom: 15px;
}
.page-content h2 {
    position: relative;
    font-size: 36px;
    color: #222222;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 30px;
}
.page-content .left-image{
    position: absolute;
    z-index: -1;
    left: 0;
    height: auto;
    width: auto;
}
.page-content .left-image, .about-us .left-image {
    bottom: 0;
}
@media (min-width: 576px) {
    .section-padding {
        padding-bottom: 145px;
    }
}

/* Gallery, Coupon, Gift-Cards */
.m-category-tab li {
    background-color: #fff;
    color: #000;
}

.m-category-tab li.active, .m-category-tab li:hover {
    background-color: #000;
    color: #fff;
}

.m-gallery-box {
    background-color: #fff;
}

.m-image-title, .m-gallery-box .m-image-title {
    color: #FFF;
    font-weight: 500;
    background-color: rgba(127, 167, 0, 0.7);
}
.m-coupon-price {
    background-color: rgba(207, 0, 15, 0.9);
    color: #fff;
}
.btn.btn-small {
    padding: 6px 12px;
}

/* Service */
.service-name {
    font-size: 30px;
}
.service-image.circle, .service-image.square {
    border-color: #7fa700
}

.service-name {
    color: #7fa700;
}

.detail-price-dots {
    border-color: #e7e7e7;
}

.detail-desc-item, .service-desc {
    font-style: italic;
}

/* Form */
.group-select, .group-select label {
    float: none;
}
.group-select .form-control {
    background-color: #fff;
    font-size: 15px;
}
.group-select label {
    color: #000;
}
.group-select .radio {
    padding-top: 0;
}
.btn.theme-btn {
    border-radius: 0;
}

/* Booking */
.add-services, .booking-info-title, .box-booking-info, .box-booking-confirm {
    color: #000;
}
input:not([type=radio]):not([type=checkbox]), textarea, .form-control {
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #ced4da;
}
.form-booking .btn-search, .form-booking .btn-search:hover, .form-booking .btn-search:focus,
.form-booking-confirm .btn-confirm, .form-booking-confirm .btn-confirm:hover, .form-booking-confirm .btn-confirm:focus {
    background-color: #7fa700;
    color: #fff;
}

/* Cart, Payment */
.mybutton .btn-next {
    color: #fff;
}

/* Date time picker */
.bootstrap-datetimepicker-widget {
    font-size: 15px;
}

/* Contact */
@media (min-width: 1200px) {
    .contact-page-section .form-section {
        padding-top: 50px;
    }
}

/* News, Table of content */
#toc_container {
    border-color: #a2a9b1;
    background-color: #f8f9fa;
}
.section-news .n-meta {
    border-color: #7fa700;
}
.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #7fa700;
}

.section-news .n-thumb a:after {
    background: rgba(0,0,0,0.6);
}
.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}
.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content , .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details>h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #7fa700 none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #7fa700;
    border-color: #7fa700;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #7fa700;
    border-color: #7fa700;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #7fa700
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #7fa700;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

/* By Consent */
.consent-form2 {
    border-top-color: #333;
}

.btn_consent, .btn_consent:hover, .btn_consent:focus {
    border-color: #7fa700;
    background: #7fa700;
    color: #fff;
}