@media (min-width: 300px) {
    html:not([dir="rtl"]) .sidebar-lg-show .sidebar,
    html:not([dir="rtl"]) .sidebar-show .sidebar {
        margin-left: 0 !important;
        /* position: fixed;
    z-index: 1019;
    width: 200px;
    height:  */
    }
}

html:not([dir="rtl"]) .sidebar {
    transition: margin 0.25s ease-out;
    top: 0;
    height: 100%;
    margin-left: -15rem;
}

@media (min-width: 426px) {
    html:not([dir="rtl"]) .sidebar {
        position: relative;
    }
}

@media (max-width: 425px) {
    html:not([dir="rtl"]) .sidebar {
        position: fixed;
    }
}