/*news module*/
.section-news .n-meta {
    border-color: #16938b;
}

.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #16938b;
}

.section-news .n-thumb a:after {
    background: rgba(0, 0, 0, 0.6);
}

.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}

.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content, .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details > h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #16938b none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #16938b;
    border-color: #16938b;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #16938b;
    border-color: #16938b;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #16938b
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #16938b;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

/*freeze footer*/
.freeze-footer a {
    color: #fff;
    font-size: 30px;
    padding: 10px 10px;
    line-height: 1;
    height: auto;
    border-radius: 5px;
}

.freeze-footer a.btn_make_appointment {
    background-color: #51433a;
    border-color: #fff;
}

.freeze-footer a.btn_call_now {
    background-color: #51433a;
    border-color: #fff;
}

.freeze-footer a:hover {
    border-color: #fff;
    color: #ffffff;
}
#back-top {
    bottom: 0;
    right: 15px;
}
@media (max-width: 767px) {
    #back-top {
        bottom: 75px;
    }
    .footer-copyright {
        padding-bottom: 90px;
    }
}

/*freeze header*/
.freeze-header.with-bg {
    background-color: #51433a;
}

/* Social fanpage */
.social-fanpage {
    text-align: center;
}

.social-fanpage aside {
    display: inline-block;
    margin: auto;
}

.social img {
    max-width: 30px;
    background: #fff;
}

/* Gallery */
.m-category-tab li {
    background-color: #fff;
    color: #000;
}

.m-category-tab li.active, .m-category-tab li:hover {
    background-color: #000;
    color: #fff;
}

.m-gallery-box {
    background-color: #fff;
}

.m-image-title, .m-gallery-box .m-image-title {
    color: #FFF;
    font-weight: 500;
    background: rgba(3, 3, 3, 0.3);
}

/* Paging */
.pagination > li > a.hover-main-color,
.pagination > li > span.hover-main-color {
    color: #000;
    margin-left: 1px;
}

.pagination > li.active > a.hover-main-color,
.pagination > li.active > span.hover-main-color,
.pagination > li > a:hover.hover-main-color,
.pagination > li > span:hover.hover-main-color {
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}

.pagination > li > a, .pagination > li > span {
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Coupon */
.m-coupon-price {
    background: rgba(207, 0, 15, 0.9);
    color: #fff;
}

/*Booking*/
.form-booking .btn-search, .form-booking .btn-search:hover, .form-booking .btn-search:focus,
.form-booking-confirm .btn-confirm, .form-booking-confirm .btn-confirm:hover, .form-booking-confirm .btn-confirm:focus {
    background-color: #000;
    color: #fff;
}

/*Service*/
.service-image.circle, .service-image.square {
    border-color: #a79b94;
}

.service-name {
    border-color: #cdcdcd;
    color: #a79b94;
}

.detail-price-dots {
    border-color: #a9a9a9;
}

.detail-price-number {
    color: #000;
}

.service-btn-group .btn-main {
    background-color: #a79b94;
}

/* Menu mobile */
.mean-container a.meanmenu-reveal {
    border-color: #000;
}

.menu_mobile_v1 {
    min-height: 100px;
}

.mean-container .mean-nav {
    margin-top: 100px;
}

.mobile_logo img {
    max-height: 80px;
}

/* Consent */
.send_consent .btn_consent {
    border: 0;
}

/* Cart - Payment */
.mybutton .btn-next {
    background-color:  #a79b94;
}

/* Fix theme */
.group-select label {
    float: none;
}
.white-popup {
    overflow: initial;
}
body {
    position: relative;
    z-index: 1;
}

body:not(.site-idx) .header-main {
    background: #a79b94;
}

.header-main {
    position: initial;
}

.header-nav .logo {
    max-width: 130px;
}

.mobile_logo {
    margin: 5px;
}

.mobile_logo img {
    max-height: 90px;
}

.mean-container .mean-nav {
    margin-top: 100px;
}

.footer-content, .footer-content a, .footer-content i {
    color: #c4beb8;
}

.footer-content.maps {
    max-height: 175px;
    overflow: hidden;
}

.footer-content.maps iframe {
    max-width: 100% !important;
    max-height: 100% !important;
}

.section {
    padding: 30px 0;
}

.section-about .section-heading {
    padding-bottom: 15px;
}

.section-about .section-content {
    padding-top: 0;
    margin-bottom: 15px;
}

.section-count {
    background-image: url("/public/library/global/nail-images/bg-nail.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.section-count:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(81, 67, 58, 0.7);
}

.section-count .item {
    background-color: transparent;
}

.scroll-education {
    height: auto;
}

.section-review {
    background-image: url("/public/library/global/nail-images/bg-nail-2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.section-review:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(81, 67, 58, 0.7);
}

.review-inner {
    padding: 50px 0;
    text-align: center;
}

.review-inner, .review-inner h3 {
    color: #fff;
}

.hr-short {
    margin-bottom: 15px;
    height: 15px;
    position: relative;
    z-index: 1;
}

.hr-short .hr-inner {
    width: 32%;
    left: 50%;
    margin-left: -16%;
    background-color: #fcfcfc;
    position: absolute;
    z-index: 2;
    height: 1px;
    top: 50%;
    margin-top: -1px;
    border-top: 1px solid #e1e1e1;
}

.hr-short .hr-inner-style {
    border-radius: 20px;
    height: 9px;
    width: 9px;
    border: 2px solid #e1e1e1;
    display: block;
    position: absolute;
    z-index: 3;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background: #fff;
}

.review-list .item .content {
    font-style: italic;
}

.review-list .item .content, .review-name h4, .review-name a {
    color: #eeeeee;
}

.review-name {
    display: inline-block;
    text-align: left;
    margin-top: 30px;
}

.review-name h4 {
    margin: 0;
}

.section-about .section-content.none-border {
    border: none;
}

.service-item {
    margin-bottom: 30px;
}

.service-item, a .service-item, a:hover .service-item {
    color: #333;
}

.service-item .info-top {
    background-color: #a79b94;
}

.service-item .info-top h3, .service-item .info-bottom .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding: 5px 15px;
    margin: 0;
}

.service-item .info-top h3 {
    font-size: 21px;
    text-transform: uppercase;
}

.faq-collapse .card {
    margin-bottom: 5px;
    text-align: left;
    background-color: #f8f8f8;
}

.faq-collapse .card-header {
    background-color: #a79b94;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card-header h5 {
    margin: 0;
    padding-right: 30px;
    position: relative;
    z-index: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.card-header h5 .icon {
    position: absolute;
    z-index: 2;
    right: 0;
    font-size: 25px;
}

.card-header > h5 .icon-normal,
.card-header > h5[aria-expanded="true"] .icon-expanded {
    display: initial;
}

.card-header > h5 .icon-expanded,
.card-header > h5[aria-expanded="true"] .icon-normal {
    display: none;
}

.card-body {
    padding: 15px;
}

.service-list.home .service-desc {
}

.service-list.home .detail-price-item, .service-list.home .detail-price-number {
    font-weight: bold;
    font-size: 15px;
}

.contact-info .foh-wrap, .contact-info .fci-wrap {
    margin: auto;
}

.item-location {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 -15px;
    padding: 15px;
    text-align: center;
}

.item-location .bg-location {
    display: block;
    height: 0;
    margin: -15px;
    padding: 0 0 30%;
    overflow: hidden;
    background-size: cover;
    background-position: top center;
}

.item-location .content-location {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    text-align: center;
}

.content-location h3 {
    margin: auto;
    padding: 0;
    color: #fff;
}

/* Responsive */
@media (min-width: 768px) {
    .footer-address br {
        display: none;
    }
}

@media (min-width: 992px) {
    .site-idx .header {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
    }
}

@media (max-width: 575px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .footer-main .col-sm-3 {
        text-align: left;
    }
}
