.col-lef{
    float: left;
}
.header-top-left br{
    display: none;
}
.social-img-icons img{
    max-width: 35px;
    margin-bottom: 5px;
}
.scroll_btn{
    position: fixed;
    top: 20px;
    z-index: 100;
}
.form-group{position: relative}
.add-services{
    cursor: pointer;
}
.removeButton{
    cursor: pointer;
    position: absolute;
    z-index: 10;
}
.removeButton + .row > .col-md-6:first-child label{
    margin-left: 30px;
}
.form-tooltip-error ul{
    margin: 0px;
    padding: 0px;
}
.img-info-staff a{
    display: block;
}
.img-info-staff a img{
    max-width: 100%;
}
.preview_img img{
    max-width:100%;
}
.wpcf7-form{
    width:100%;
}
.list_gallery_home .gallery-item {
    margin-bottom: 0px;
}

ul#filter {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-bottom: 40px;
}
ul#filter li{
    display: inline-block;
}
ul#filter li a{
   padding: 10px 20px;
    margin-right: 20px;
    background: #ccc;
    cursor: pointer;
}
ul#filter li.active a{
    background: #76c8c2;
    color: #fff;
}
.price-row-col {
    text-align: right;
    font-size: 16px;
}
#cart_payment_total{
    font-size: 18px;
    color: red;
    font-weight: 600;
}
.mybutton {
    margin: 20px 0px;
}
a.hs-btn.btn-light.btn-next.btn_cart_order {
    float: right;
}
.total-payment-info li {
    line-height: 35px;
}
figure.inner ul li {
    display: flex;
}
figure.inner ul li .frame_img {
    width: 20%;
    padding: 5px;
}
figure.inner ul li .name_product.vcenter {
    width: 60%;
}

figure.inner ul li .price.sanb.pull-right {
    padding: 10px;
    width: 20%;
    text-align: right;
}
.fl-flex-label.fl-collapsed.fl-background .fl-label {
    background: none;
}
@media (max-width: 687px) {

}

/*freeze footer*/
.freeze-footer { position: fixed; right: 15px; bottom: 60px; padding: 0; display: inline-block;z-index: 1021;}
.freeze-footer ul { margin: 0; padding: 0; }
.freeze-footer ul li {list-style-type: none;}
.freeze-footer a { width: 100%; margin-bottom: 15px; color: #fff; padding: 10px 10px; line-height: 1; border-radius: 5px; font-size: 30px; height: auto;border: 1px solid;}
.freeze-footer a.btn_make_appointment {background-color: #a60b3a;border-color: #fff;}
.freeze-footer a.btn_call_now {background-color: #a60b3a;border-color: #fff;}
.freeze-footer a:hover{ border-color: #fff;color: #ffffff; }
@media ( max-width: 575px ) {
    .freeze-footer {
        bottom: 0;
    }
    .freeze-footer ul li {
        display: inline-block;
    }
    .freeze-footer ul li + li {
        padding-left: 15px;
    }
}

/*freeze header*/
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 1021;width: 100%; }
.freeze-header.with-bg{ background-color: #51433a; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

#back-top {
    right: 15px;
    bottom: 0;
}
@media ( max-width: 575px ) {
    #back-top {
        right: auto;
        left: 15px;
    }
    .footer-copyright {
        padding-bottom: 80px;
    }
}

.social-img-icons img {
    background-color: #fff;
}

.m-gallery-box-wrap {padding: 0 10px;margin: 0 0 15px 0;overflow: initial;}
.m-gallery-box {
    position: relative;
    background-color: #fff;
    margin: 0 -10px 10px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.m-image-bg, .m-gallery-box .m-image-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
.m-image-bg img, .m-gallery-box .m-image-bg img {
    display: none !important;
}
.m-image-title, .m-gallery-box .m-image-title {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;

    color: #FFF;
    font-weight: 500;
    background: rgba(3, 3, 3, 0.3);
    filter: alpha(opacity=30);
    max-height: 60px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

.m-gallery-box:hover, .m-gallery-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.section-service .cover {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    display: block;
}
.owl-carousel{
    position: relative;
}
.owl-carousel .carousel-nav-btn-gc{
    top: 30%;
    width: 100%;
    font-size: 32px;
}
.owl-carousel .carousel-nav-btn-gc .carousel-nav-left{
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 10px;
}
.owl-carousel .carousel-nav-btn-gc .carousel-nav-right{
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 10px;
}

@media (max-width: 768px){

    .owl-carousel .carousel-nav-btn-gc .carousel-nav-left {
        top: 25%;
        left: 0px;
    }
    .owl-carousel .carousel-nav-btn-gc .carousel-nav-right {
        top: 25%;
        right: 0px;
    }
}

.section-service .item {
    margin-bottom: 30px;
}
.break-row {
    width: 0;
}

/* Open hour - Contact info */
.foh-wrap,
.fci-wrap {display: table;text-align: left;}
.foh-row,
p.foh-row,
span.foh-row,
div.foh-row,
.fci-row,
p.fci-row,
span.fci-row,
div.fci-row {
    line-height: 1.5;
    display: table-row;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.foh-row .foh-time,
p.foh-row .foh-time,
span.foh-row .foh-time,
div.foh-row .foh-time,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title,
.fci-row .fci-content,
p.fci-row .fci-content,
span.fci-row .fci-content,
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    text-transform: initial;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title {
    padding-right: 15px;
    font-weight: bold;
}

/* Youtube iframe */
.youtube-player { position: relative; padding-bottom: 56.25%; /* Use 75% for 4:3 videos */ width: 100%;max-width: 100%; height: 0;background: #000;margin: 0 auto;overflow: hidden;}
.youtube-player iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background: transparent;}

/* News, Table of content */
#toc_container {
    border-color: #a60b3a;
    background-color: #f8f9fa;
}
.section-news .n-meta {
    border-color: #a60b3a;
}
.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #a60b3a;
}

.section-news .n-thumb a:after {
    background: rgba(0,0,0,0.6);
}
.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}
.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content , .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details>h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #a60b3a;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #DEDEDE;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #111 none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #a60b3a;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #a60b3a;
    border-color: #a60b3a;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #a60b3a;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #a60b3a;
    border-color: #a60b3a;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #DEDEDE;
}

.category_news_v1 ul li:hover a {
    color: #111
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #a60b3a;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

/* By Consent */
.consent-form .group-select, .consent-form .group-select label {
    float: none;
}
.consent-form .group-select {
    width: 100%;
    margin-bottom: 15px;
}
.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: initial;
}
.form-horizontal .radio {
    padding-top: 0;
}
.consent-form2 {
    border-top-color: #333;
}

.btn_consent, .btn_consent:hover, .btn_consent:focus {
    border-color: #a60b3a;
    background: #a60b3a;
    color: #fff;
}
.relative {
    position: relative;
}

/* Booking */
.form-input-group {
    position: relative;
}
.form-input-group .form-text {
    padding-right: 45px;
}
.form-input-group .form-icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 15px;
    margin-top: -9px;
}
.form-booking .group-select, .form-booking-confirm .group-select,
.form-booking-confirm .btn-confirm, .form-booking-confirm .btn-cancel{
    margin-bottom: 15px;
}
.form-booking .btn-search, .form-booking-confirm .btn-confirm, .form-booking-confirm .btn-cancel {
    display: block;
    width: 100%;
    border-color: #ced4da;;
}
.form-booking .btn-search, .form-booking .btn-search:hover, .form-booking .btn-search:focus,
.form-booking-confirm .btn-confirm, .form-booking-confirm .btn-confirm:hover, .form-booking-confirm .btn-confirm:focus {
    background-color: #a60b3a;
    color: #fff;
}
.form-booking-confirm .btn-cancel, .form-booking-confirm .btn-cancel:hover, .form-booking-confirm .btn-cancel:focus {
    background-color: #d7d7d7;
    border-color: #ced4da;;
    color: #333;
}
.form-booking .form-control, .form-booking .btn-search,
.form-booking-confirm .form-control, .form-booking-confirm .btn-confirm, .form-booking-confirm .btn-cancel {
    border-radius: 0;
    min-height: 54px;
}
.form-booking .booking-service-staff.is-more {
    position: relative;
}

.form-booking .booking-service-staff .remove-services {
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 0;
    min-width: 175px;
    min-height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.form-booking .booking-service-staff.is-more .booking-service label {
    padding-left: 20px;
}
.add-services {
    display: inline-block;
}
.box-booking-info {
    padding-top: 30px;
}
.booking-info-title {
    position: relative;
    text-align: center;
}
.booking-info-title:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: -5px;
    height: 3px;
    width: 100px;
    margin-left: -50px;
    background-color: #ced4da;
}
.box-service-staff {
    display: flex;
    flex-wrap: wrap;
}
.service-staff {
    background-color: #f8f9fa;
    margin: 15px 15px 15px 0;
    padding: 15px 15px 15px 0;
    border-left: 3px solid #efefef;
    display: inline-flex;
    min-width: calc(24.999% - 30px);
}
.service-staff .service-staff-avatar {
    float: left;
    max-width: 100px;
    margin: 5px 0 15px 15px;
}
.service-staff .service-staff-avatar.no-photo {
    display: none;
}
.service-staff .service-staff-info {
    margin-left: 15px;
}
.service-staff .service-staff-info p {
    line-height: 1.5;
}
.date-info, .time-info {
    margin-bottom: 15px;
}
.time-info .time-note {
    color: #f00;
    font-size: 13px;
}
.time-info .time-items, .time-info .time-items li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.time-info .time-items li {
    padding: 5px;
    display: inline-block;
}
.time-items li > a, .time-items li > span {
    color: #333;
    font-size: 14px;
    line-height: 1;
}
.time-items li > a {
    display: inline-block;
    padding: 10px;
    margin: 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: #fff;
    text-decoration: none;
}
.time-items li > span {
    text-decoration: line-through;
}
.box-booking-confirm {
    background: #fff;
    padding: 15px;
}
@media ( max-width: 767px ) {
    .booking-confirm-title {
        font-size: 35px;
    }
    .booking-confirm-note {
        font-size: 17px;
    }
}
@media ( max-width: 575px ) {
    .booking-confirm-title {
        font-size: 20px;
    }
    .booking-confirm-note {
        font-size: 15px;
    }
    .service-staff {
        min-width: calc(50% - 30px);
    }
}

.form-booking .group-select,.form-booking .group-select label {
    float: none;
}
.form-booking .form-control {
    font-size: 15px;
}
.white-popup {
    overflow: initial;
}
.box-booking-info h3 {
    font-size: 25px;
}
.box-booking-info h4 {
    font-size: 20px;
}
.box-booking-info h5 {
    font-size: 17px;
}

/* testimonial */
.items-testimonial.owl-carousel .owl-nav .owl-next, .items-testimonial.owl-carousel .owl-nav .owl-prev {
    font-size: 35px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
.items-testimonial.owl-carousel .owl-nav .owl-next {
    right: 20px;
}
.items-testimonial.owl-carousel .owl-nav .owl-prev {
    left: 20px;
}

.section-testimonial {
    position: relative;
    z-index: 1;
    padding: 30px 0;
    background-image: url(../images/bg-nail.png);
    background-size: cover;
    background-position: right center;
}
.section-testimonial:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.single-testimonial-item {
    padding: 60px 45px;
    background-color: #fff;
    text-align: center;
}
.single-testimonial-item .testimonial-content {
    padding: 15px;
}
.single-testimonial-item .testimonial-img {
    width: 240px;
    min-width: 240px;
    margin: auto
}
@media (min-width: 576px) {
    .single-testimonial-item {
        display: flex;
        align-items: center;
    }
    .section-testimonial {
        padding-bottom: 115px;
    }
}
@media (min-width: 768px) {
    .section-testimonial {
        background-attachment: fixed;
    }
}
@media (max-width: 767px) {
    .single-testimonial-item {
        padding: 0;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .single-testimonial-item {
        padding-right: 15px;
    }
}