@media (min-width: 992px){
	.col-md-right 	{ width: 27%;}
	.col-md-left 	{ width: 73%;}
	.col-md-right.col-md-pull-8 { right:73%; }
	.col-md-left.col-md-push-4 { left:27%; }

	
}

@media (min-width: 1200px){
	.container {
	    max-width: 1170px;
	}
} 
@media (max-width: 1440px){
	.navbar-nav>li>a { font-size: 16px; }
	.footer-sologan { background-position: -20% 0%,120% 0%;}
}
@media (max-width: 1200px){
	.navbar-nav>li>a { font-size: 16px; }
	.footer-sologan { background-position: -30% 0%,130% 0%;}
}

@media (max-width: 990px){
	.header:after {display: none;}
	.header:before { display: none;}

	.footer-sologan { background: none; font-size: 24px;}
	
	.section { padding: 30px 0; }
	.about-img { text-align: center; }
	.section-vt .col-lg-6 { margin-bottom: 30px; }
	.footer-social { margin-bottom: 30px; }
	.footer p.copyright { float: none; text-align: center; margin-bottom: 10px; }
	.footer-info { margin-bottom: 30px; }

	.art-sidebar { padding-top: 30px; }
	
	.in-content {
	    color: #333;
	    font-size: 14px;
	}
	.contact-page h3 {	font-size: 18px;}
	.contact-form label {	color: #414141;}
	.contact-form { margin-bottom: 50px; }
	.contact-map h3 { text-align: center;border-bottom: 2px dashed rgba(0,0,0,.2); padding-bottom: 15px; }
	.group-select label,
	#box_person, .content-shop-booking, .time_work_staff_v1  { h1.service-name }

	
	.detail-price-item, .service-row  { color: #333; }
	.group-select label ,
	#box_person ,
	.time_work_staff_v1 ,
	.add-services { color: #333; }
	.about-map { position: initial; }
 
}

@media (max-width: 768px){

	body { background: #fff; }
	.in-container { padding: 25px 0; }
	.section-vt  { margin-bottom: 15px; }
	.section-about .about-video { margin: 0 0 25px; }
	.section-about .about-content { padding-top: 30px; }
	.owl-carousel .carousel-nav-btn-gc .carousel-nav-left {
		top: 25%;
		left: 0px;
	}
	.owl-carousel .carousel-nav-btn-gc .carousel-nav-right {
		top: 25%;
		right: 0px;
	}


}
@media (max-width: 767px){
	.section-service .item { margin-bottom: 30px; }
	.section-service .item img { width: 100% }
	.footer-copyright { text-align: center; padding-bottom: 25px; }
	.footer-btn {
	    position: relative;
	    right: 0;
	    top: 0;
	    margin: 25px auto 0;
	}
}
@media (max-width: 480px){
	
	.mTitle { font-size: 1.5em; }
	.in-head { padding: 40px 0; }
	.in-content { padding: 15px 0; }


	
	.art-sidebar { padding-top:10px; }
	.list-home p{ text-align: left;}
	.top-right a { margin-bottom: 10px; }

	.footer h3 	{ font-size: 24px; }
	.footer p 	{   margin: 0 0 5px;}
	.footer-address { margin-bottom: 15px; }
	.footer-sologan { font-size: 16px; }
	.footer-info .logo-footer { float: none; margin-bottom: 15px; text-align: center; }
	.footer-info .footer-info-right { padding-left: 0; }

	.top-right .btn-primary { margin-bottom: 10px; }
	.book_appoin_btn .btn-primary { margin-bottom: 10px; }

}
@media (max-width: 320px){

}




/*===================================================================================*/
/*  BOOTSTRAP CONFIG
/*===================================================================================*/
@media (min-width: 1200px){
	.hidden-lg {
	    display: none!important;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	.hidden-md {
    	display: none!important;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.hidden-sm {
	    display: none!important;
	}
}
@media (max-width: 767px){
	.hidden-xs {
	    display: none!important;
	}
}

@media (min-width: 768px){
   	li.dropdown:hover>a {}
	li.dropdown:hover>.dropdown-menu {display: block;}
	
	.cart-product-description{max-width: 130px;}	
	.table-row{border-bottom: none;}
	.total_change{text-align: left;}
	.thead {display: table-header-group;}
	.quantity-label{display: block;}
	.cart-product-image-cell{padding-bottom: 15px;}
	.total-change-cell>p.total_change:before{display: none;}
	.total-amount-label{display: block;}
	.total-amount-cell{padding:15px;}
	.quantity-label{color: rgba(0,0,0,0)}
	.table-row{
		display: table-row;
		border:inherit;
		vertical-align: inherit;
	}
	.table-head{
		display: table-cell;
		padding: 15px;
		border:inherit;
		vertical-align: inherit;
	}
	.table-data{
		display: table-cell;
		padding-top: 15px;
		border:inherit;
		vertical-align: inherit;
	}	
	.table-cart .tbody .table-data,.table-cart .tbody .table-data.quantity-cell,
	.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
		border-bottom:1px solid #bbbbbb;
		vertical-align: top;
		display: table-cell;
	}
	.table-cart .tbody .table-data.total-change-cell{vertical-align: bottom;}
	.quantity-cell,.price-cell{display: table-cell;}
	.total-amount{text-align: left;padding-top: 0;}
	.total-amount:before{display: none;}


}