/*===================================================================================*/
/*  STYLE
/*===================================================================================*/

/*===================================================================================*/
/*  END-STYLE
/*===================================================================================*/

body {
    margin: 0 auto;
    position: relative;
    width: 100%;
    min-height: 100%;
    color:#282828;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background: #f9f9f9;
}

a {
    color:#691c99;
    text-decoration: none;
}
img{
    max-width: 100%;
}
a:focus,
a:hover {
    color: #eedaac;
    text-decoration: none;
}

.btn {
    color: #fff;
    background-color: #808080;
    border: 0;
}
.btn:hover {
    color: #fff;
    background-color: #a60b3a;
}
.btn-default {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 0;
}

.btn-primary,
a.btn-primary {
    background-color: #a60b3a;
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
a.btn-primary:hover {
    color: #fff;
    background-color: #dc4673;
    border-color: #dc4673;
}

p {
    margin: 13px 0;
    line-height: 1.8;
}


.form-control {
    font-size: 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border:1px solid #ccc;
    border-radius: 3px;
    height: auto;
    padding: 5px 12px;
    height: 40px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}


/*//////////////////// NAVIGATION BAR ////////////////////*/
.navbar-collapse {
    justify-content: flex-end;
}
.navbar {
    text-align: right;
    min-height:101px;
    padding: 25px 0;
    background: #f2f2f2;
}
.navbar-nav>li:last-child>a { padding-right: 0; }
.navbar-nav>li>a {
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    font-family: 'Quicksand', sans-serif;
    color: #282828;
    font-size: 18px;
    font-weight: 700;
}
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a{
    background: none;
    color: #a60b3a
}
.navbar-nav .dropdown-menu {
    border: 0;
    margin: 0;
    padding-top: 10px;
    border-radius: 5px; 
    background: #690c28;
}
.dropdown-menu>li { }
.dropdown-menu>li>a {
    display: block;
    padding: 8px 20px;
    color: #fff;
    font-size: 13px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    display: block;
    width: 100%;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover {
    transition: all 0.15s ease;
    background: rgba(0, 0, 0, 0.3);
}

.mobile-nav { 
    padding: 10px 0;
    text-align: center;
    background: url(../images/head-top.png) #a60b3a;
}
.mobile_logo { top: 10px; }
.mobile_logo img {max-height: 80px;}
.mean-container .mean-bar { min-height: 80px;padding: 0;}
.mean-container a.meanmenu-reveal { top: 17px;margin-right: 15px; background: #fff; border-radius: 5px;}
.mean-container a.meanmenu-reveal>span, 
.mean-container a.meanmenu-reveal>span:before, 
.mean-container a.meanmenu-reveal>span:after { background: #000;}
.mean-container .mean-nav {
    background: #690c28;
    margin-top: 0px;
    position: absolute;
    left: 0;
    top: 90px;
}
.mean-container .mean-nav ul li a {
    padding: 12px 5%;
    text-transform: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-top: 1px solid rgba(255,255,255,.06);
}
.mean-container .mean-nav ul li a:hover, 
.mean-container .mean-nav ul li.active a {
    color: #fff !important;
    transition: all 0.15s ease;
    background: rgba(0, 0, 0, 0.3);
}


/*===================================================================================*/
/*  HEADER
/*===================================================================================*/
.header { 
    position: relative;
    width: 100%;
    transition: all 0.5s ease;
    background: #f2f2f2;
}

.header .row { margin: 0; }
.header .col-sm-4, .header .col-sm-8 { padding: 0; }
.header-top {
    line-height: 40px;
    background-color: #690c28;
    color: #fff;
    font-size: 12px;
    display: flex;
    padding: 0 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.header-left  {
    text-align: right;
    width: 40%; background: url(../images/head-top.png);
}
.header-top-left { width: 60%; }
.header-top-right{ width: 40%; text-align: right; }
.header-top-right a {
    color: #fff;
}
.header-main {
    position: relative; 
}
.logo {
    min-height: 100px;
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}
.logo a img{
    max-height: 100px;
}
.header:before {
    content: '';
    width: 40%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: url(../images/head-top.png) #a60b3a;
}
.header:after {
    content: '';
    width: 60%;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    background-color: #690c28;
}

/*===================================================================================*/
/*  MAIN
/*===================================================================================*/
h2 {
    margin: 10px 0 0;
    font-size: 22px;
}
h3 {
    margin: 0 0 10px;
    font-size: 18px;
}
h4 {
    margin: 0 0 10px;
    font-size: 15px;
}
h5 {
    margin: 0 0 10px;
    font-size: 14px;
}

.imgrps {
    max-width: 100%;
    height: auto;
}
.art-main {
    margin: 0;
    position: relative;
}
.pmain { padding: 0px;}
.mTitle {
    font-size: 34px;
    color: #fff;
    position: relative;
    z-index: 10;
    margin: 0;
}
.in-container {
    padding: 40px 0;
    min-height: 200px;
}
.in-content {
    color: #666;
    line-height: 1.6;
    font-size: 14px;
}
.in-content iframe { max-width: 100%; }
.in-head {
    background: url(../images/bg-page.jpg) 0px 95% no-repeat;
    position: relative;
    padding: 70px 0;
    overflow: hidden;
    background-size: cover;
}
.in-head:before {
    background-color: rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
}


/*===================================================================================*/
/*  PAGE
/*===================================================================================*/
.col-page { margin: 0 -10px; }
.col-page .col-md-left,
.col-page .col-md-right{ padding: 0 10px; }

.section-slider { overflow: hidden;}
.section {padding: 30px 0;}
.section .mTitle{
    font-size: 30px;
    color: #a60b3a;
    margin: 0 0 20px;
}
.section-about h2 {
    font-size: 30px;
    color: #a60b3a;
    margin: 0;
}
.section-about .about-content {
    font-size: 14px;
    color: #181818;
    padding-top: 60px;
}
.section-about .about-content p { line-height: 2.0; margin-bottom: 25px; }
.section-about .about-content a {
    color: #a60b3a;
    text-decoration: underline;
}
.section-about .about-content a:hover { color: #dc4673; }
.section-about .about-video {
    margin-top: 115px;
}
.about-map{
    position: absolute;
    top: -90px;
    right: 15px;
    border:5px solid #a60b3a;
    padding: 20px;
    background: url(../images/about-map.jpg);
    max-height: 407px;
    overflow: hidden;
}
.section-about iframe{  width: 100%;}
.about-map iframe{  border:1px solid #e4e4e4;}


.section-service h3 {
    font-size: 20px;
    color: #282828;
    margin: 20px 0 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.section-service .sumarry {
    line-height: 1.6;
    margin-bottom: 20px;
}
.section-service .btn-booknow a {
    display: inline-block; 
    background: #a60b3a;
    border-radius: 5px;
    padding: 10px 22px;
    color: #e8eaef;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s ease;
    position: relative;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 0

}

.section-service .btn-booknow a:before {
    border-radius: 5px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #dc4673;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.section-service .btn-booknow a:hover:before, 
.section-service .btn-booknow a:focus:before, 
.section-service .btn-booknow a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.section-service .item .cover { position: relative; overflow: hidden; }
.section-service .item .cover img {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.section-service .item .cover:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 1;
}
.section-service .item .cover:hover:before {
    opacity: 1;
}
.section-service .item .cover:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.gallery-heading {
    background: url(../images/head-top.png);
    text-align: center;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-heading .mTitle { margin-bottom: 0; color: #fff; }
.list-gallery .item { position: relative; overflow: hidden; }
.list-gallery .item img {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.list-gallery .item:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 1;
}
.list-gallery .item:hover:before {
    opacity: 1;
}
.list-gallery .item:hover img  {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.about-page .about-content {padding-top: 0;}
.about-page .about-video {
    margin-top: 0;
}
/*===================================================================================*/
/*  SIDEBAR
/*===================================================================================*/
.art-sidebar {
    background: #FFFFFF;
    border: 1px solid #FF2E8C;
    padding: 15px;
    margin: 0 auto;
    color: #9a0049;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    line-height: 175%; 

    text-align: center;
}
.art-sidebar-box {
    margin-bottom: 10px; 
}
.art-sidebar-box h3 {
    line-height: 20px;
    margin: 0px;
    padding: 0px 0 10px;
    font-size: 16px;
    color: #9a0049;
    font-weight: 700;
}
.art-sidebar-social { text-align: left; }
.art-sidebar-social img { max-width: 50px; }
.art-sidebar-content {
    font-size: 13px;
    line-height: 175%;
}
.art-sidebar-content .col-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    line-height: 1.4;
}
.timeopen .art-sidebar-content .col-2 {
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: 14px;
}
.art-sidebar-content .col-2 .col-left {
    float: left;
    margin: 0px;
    font-weight: bold;
    padding: 0px;
}
.art-sidebar-content .col-right {padding-left: 55px; }
.timeopen .col-right {padding-left: 110px;}

.sidebar-hotphone {
    color: #d52c17;
    font-size: 18px;
    font-weight: bold;
}
.art-sidebar-box iframe ,
.art-sidebar-content iframe {width: 100%; }

.fomr-coupon h5 { font-size: 14px; }
.fomr-coupon input.form-input { width: 100%; }
.fomr-coupon .input3 input.form-input  { width: 23%; }
.fomr-coupon label {
    font-weight: normal;
    color: #48402E;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    letter-spacing: 1px;
}
.fomr-coupon .mc-field-group { margin-bottom: 10px; }

.art-adv { margin-top: 15px; }
.art-adv img { width: 100%; }


/*===================================================================================*/
/*  GALLERY
/*===================================================================================*/
.list-gallery { padding: 0px; }
.list-gallery .row { margin: 0 -5px; }
.list-gallery .col-6 { padding: 0 5px; }
.gallery-item {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.5s ease;
    background-color: #fff;
    z-index: 10;
}
.gallery-item>span {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.5s ease;
    padding-bottom: 75%;
}
.gallery-item span:hover {
    transform: scale(1.1);
}
.pagination-center .pagination { margin-top: 30px; justify-content: center; }
.page-item.active .page-link {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}
.page-link {
    color: #000;
}


/*===================================================================================*/
/*  BOOKING
/*===================================================================================*/

.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.group-select select option {
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select optgroup {
    font-weight: 700;
    color: #E94E75;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select .fa-calendar {
    position: absolute;
    margin-top: 0px;
    right: 25px;
    top: 38px;
    font-size: 18px;
}
.box_register .btn_submit_login { margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}
.txt_login a {color: #06bcf1;}
.group-select {
    float: left;
    margin-right: 0;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.label-name {min-height: 24px; }
.group-select label {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
    min-height: 24px;
}
.btn-search {
    width: 100%;
    text-transform: uppercase;
    outline: none;
}

.staff_service_v1 {display: inline-block;}
.staff_service_v1 {margin-top: 15px;overflow: hidden;}
.staff_service_v1 h4 {margin-top: 0; font-weight: 700;}
.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}
.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #dcdcdc;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}
.content-shop-booking,#box_person,
.time_work_staff_v1 {padding-bottom: 30px;}
.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
}
.popup_main_area {
    background: #fff;
    padding: 15px;
    float: left;
    width: 100%;
    color: #333;
}
.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 5px 15px 15px;
    border-bottom: 1px solid #655353;
    background: #000000;
    color: #fff;
}
#send_booking .input-box {margin-bottom: 5px;}


/*===================================================================================*/
/*  CART
/*===================================================================================*/

.table-mobile-collapse{
    display: table;
    border:1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    display: none;
}
.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-row{
    border:inherit;
    vertical-align: inherit;
}
.table-head{

    padding: 15px;
    border:inherit;
    vertical-align: inherit;
}
.table-data{
    padding: 15px;
    padding-top: 0;
    vertical-align: inherit;
}

.table-responsive{

}
.cart-wrraper{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#ffffff;
    color: #333;
}

.cart-product-image-cell{
    display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.table-cart{
    background-color:#fff;
    border:none;
    margin-bottom:0;
}
.table-cart .thead .table-head{
    background-color: #a60b3a;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
.table-cart .tbody .table-data{
    display: block;
    vertical-align: top;
}
.table-cart .tbody .table-row:last-child .table-data{
    border-bottom: none;
}
.table-cart p{
    margin-bottom: 0;
}
.quantity-label{
    display: inline-block;
}
.table-cart .form-control{
    margin-top: 10px;
}
.cart-product-image-cell{
    vertical-align: top;
}
.table-cart .tbody .table-data.quantity-cell,
.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
}

.table-cart .tbody .table-data.price-cell{
    min-width: 273px;
}
.total-change-cell{
    padding-left: 15px;
}
.total-change-cell>p.total_change:before{
    display: inline-block;
    position: relative;
    content: "Total:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
}
.cart-product-image{
    width: 72px;
    height: 72px;
    margin-right: 15px;
}
.cart-product-image>img{
    width: 100%;
    height: auto;
}
.cart-product-name{
    font-weight: bold;
}
.form-control.form-control-sm{
    width: 80px;
    display: inline-block;
}
.form-control:focus,.active.form-control{
    border-color: #fec168;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ffc10773;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ffc10773;
}
.total_change{
    color: #ff0000;
    font-weight: bold;
    text-align: right;

}
.total-amount{
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
}
.total-amount-label{
    text-align: right;
    display: none;
}
.total-amount:before{
    display: inline-block;
    position: relative;
    content: "Amount:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
    padding-top: 15px;
}
.total-amount-cell{
    padding:0;
}

.table-row{
    border-bottom: 2px solid #ffffff;
}
.cart-product-image,.cart-product-description{
    display: inline-block;
    vertical-align: top;
    
}
.cart-wrraper .table-data.price-cell select.form-control {
    width: 160px;
}


/* FORM CART */
.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block
}
.cart .form_cart {margin-bottom: 30px}
.cart .form_cart a {
    display: table;
    margin: 10px auto 25px auto;
    padding: 15px 65px;
    font-size: 15px;
    cursor: pointer
}
.cart .form_cart p {font-size: 14px;}
.cart .order {
    margin-top: 15px;
    background:#a60b3a;
    border-radius: 3px;
    color: #fff;
    padding-bottom: 10px;
}
.cart .order .inner {padding: 15px 20px 0px 20px}
.cart .order .inner ul li {
    clear: both;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    width: 100%
}
.cart .order .inner ul li .frame_img {
    margin-right: 15px;
    max-width: 100%;
}
.cart .order .inner ul li .frame_img img { background: #fff}
.cart .order .inner ul li .name_product {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cart .order .inner ul li .name_product p {font-size: 15px}
.cart .order .inner ul li .name_product span {
    color: #858585;
    font-size: 13px;
    margin-right: 5px
}
.cart .order .inner ul li .name_product small {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block
}
.cart .order .subtotal {padding: 0px 20px 15px 20px}
.cart .order .subtotal ul li {padding: 3px 0px}
.cart ul {margin-top: 15px;list-style: none;padding-left: 0;}
.cart .order .total ul {padding: 15px 20px;}
.cart .note { margin: 15px 0px}
.cart .note p {font-size: 14px;margin: 0;}
h2.timr {margin: 0;margin-bottom: 20px;}
.box_cart {margin: 30px auto;}
ul.list_form li {margin: 5px 0;}
h4.sanb {font-size: 18px;font-style: italic;}
.inner .price, .subtotal span,.total span {font-weight: bold;}
.fl-flex-label label {font-weight: normal;}
.white-popup {clear: both;overflow: hidden;}
.cart .note p.boldnote {font-size: 16px; font-weight: bold;}
#send_to_friend {margin-left: 0;}
.cards-item {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}
.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
}
.cards-item:hover .cards-item-image {transform: scale(1.05);}
.book_appoin_btn { margin-top: 20px; }

/*===================================================================================*/
/*  CONTACT
/*===================================================================================*/
.contact-page { padding-top: 50px; }
.contact-info {padding: 20px 0;}
.contact-page h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    color: #a60b3b;
}
.contact-info h4 {
    margin: 0;
    font-size: 20px;
}
.contact-info p { margin: 0 0 5px; }
.contact-map { margin-bottom: 30px; }
.contact-map iframe { width: 100%; }
.contact-form label {
    font-weight: normal;
    color: #666666;
}
.contact-social {font-size: 14px;}
.contact-social a {color: #FA5705;}
.contact-page h3.text-center { margin: 10px 0 20px; }

.login_form_area .box_area_login_v1 {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.btn_login_social {margin-top: 20px;}
.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}
.btn_login_social span {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}
.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    padding: 7px 25px;
}
.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
    padding: 7px 35px;
}
.btn_submit_login { margin-bottom: 30px;}
.btn_submit_login button.submit {
    background-color: #ffc267;
    border: 1px solid #ffc267;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}


.popup_main_area h3 { margin: 15px 0; font-weight: 700; font-size: 18px; }
.popup_main_area  .note-booking {color: red; font-style: italic; margin: 10px 0; display: block;}
.box_register .btn_login_social {text-align: center;align-items: center;}
.popup_main_area .btn { margin: 20px 0; }

.form-control-wrapper { margin-bottom: 10px; }

/*===================================================================================*/
/*  SERVICEs
/*===================================================================================*/
.service-container { padding-top: 20px; padding-right: 15px; }
.service-heading { padding-bottom: 20px; }
.service-list .row { padding-bottom: 20px; }

.service-list .row img { padding-top: 30px; }
.service-list .service-heading img ,
.service-heading img { padding-right: 6px;}
.service-list .service-row  { padding-bottom: 30px; }
h1.service-name {
    line-height: 1;
    padding-bottom: 15px;
    margin:30px 0 5px;
    border-bottom: 1px solid #c5c5c5;
    padding-right: 15px;
    font-size: 24px;
    color: #a60b3b;
    font-family: 'Montserrat';
    font-weight: 700;

}
.price-item {
    padding-bottom: 5px;
    padding-top: 5px;
    color: #555;
    border-bottom: #c5c5c5  dashed 1px;
}
.price-item h4 { font-size: 15px; margin-top: 10px; }
.price-item-number {
    font-size: 16px;
    color: #a60b3b;
    margin: 10px 0;
    font-weight: bold;
    line-height: 1.0;
}
.circle-service-image {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border: 3px solid #fec168;
    display: inline-block;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
}
.rouded-service-image {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.service-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.service-row h2 {
    font-size: 30px;
    color: #a60b3a;
    margin: 0;
}
.top-right {text-align: left;}
.top-right a {
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
}
.top-right a img {
    vertical-align: top;
    padding-top: 10px;
}
.detail-price-item {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
    color: #555;
}
.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted #c5c5c5;
}
.detail-price-number {
    padding-left: 5px;
    font-size: 16px;
    color: #a60b3b;
    font-weight: bold;
}
.detail-price-name {
    padding-right: 5px;
    font-size: 14px;
    font-weight: 600;
}
.service-note {font-style: oblique;font-size: 13px;margin-bottom: 40px}

@media (min-width: 768px) {
    .top-right {
        text-align: right;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .circle-service-image {
        width: 250px;
        height: 250px;
    }
    .rouded-service-image {
        width: 250px;
        height: 250px;
    }
}

/*===================================================================================*/
/*  FOOTER
/*===================================================================================*/
.footer-container {
    margin: 0 auto;
    position: relative;
    background: #690c28;
    padding: 35px 0;   
    color: #fff;
}
.footer h3 {
    font-size: 30px;
    color: #fff;
    margin: 0 0 20px;
    font-weight: 700;
}
.footer p { margin: 0 0 15px; }

.footer-address i {
    font-size: 16px;
    float: left;
    padding-top: 2px;
}
.fadd-info { padding-left: 25px; }
.fadd-info h4 { font-weight: 400; text-decoration: underline;margin: 0; }

.footer iframe {
    border: 1px solid #fff !important;
    max-width: 100%;
}
.footer-copyright {
    background: #a60b3a;
    padding: 30px 0 0;
    font-size: 14px;
    color: #fff;
    min-height: 80px;
}

#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#back-top a {
    width: 50px;
    height: 50px;
    background:rgba(0,0,0,0.5);
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    color:#FFFFFF;
    line-height:50px;
}

.footer-copyright .container { position: relative; }
.footer-btn {
    position: absolute;
    right: 15px;
    top: -15px;
    width: 67px;
    height: 50px;
    background:#bd1b4c;
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    text-align: center;
    color:#690c28;
    line-height:50px;
    font-size: 30px;
}
.footer-btn:hover { color: #fff; }
.footer-sologan {
    margin-top: 15px;
    position: relative;
    font-size: 30px;
    font-weight: 300;
    color: #c34e71;
    text-align: center;
    background-image: url(../images/footer-bg1.png),url(../images/footer-bg2.png);
    background-position:0px 0%,100% 0%;
    background-repeat: no-repeat;
}
.footer-sologan span { background: #690c28; padding: 0 15px  }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    float: left;
}

/* Oppenhours - Contact info */
.foh-wrap, .fci-wrap {display: table;text-align: left;}
.foh-row, p.foh-row, span.foh-row, div.foh-row, .fci-row, p.fci-row, span.fci-row, div.fci-row {display: table-row;}
.foh-row .foh-date, p.foh-row .foh-date, span.foh-row .foh-date, div.foh-row .foh-date, .foh-row .foh-time, p.foh-row .foh-time, span.foh-row .foh-time, div.foh-row .foh-time, .fci-row .fci-title, p.fci-row .fci-title, span.fci-row .fci-title, div.fci-row .fci-title, .fci-row .fci-content, p.fci-row .fci-content, span.fci-row .fci-content, div.fci-row .fci-content {display: table-cell;padding: 0;padding-bottom: 10px;vertical-align: top;}
.foh-row .foh-date, p.foh-row .foh-date, span.foh-row .foh-date, div.foh-row .foh-date, .fci-row .fci-title, p.fci-row .fci-title, span.fci-row .fci-title, div.fci-row .fci-title {padding-right: 10px;font-weight: bold;}
/* End Oppenhours - Contact info */