.mainmenu_wrap .custom_menu > ul{
    display: flex;
    justify-content: flex-end;
}
.mainmenu_wrap .custom_menu > ul > li {
    position: relative;
}
.mainmenu_wrap .custom_menu > ul > li>a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 104px;
    line-height: 104px;
    text-transform: uppercase;
    color: #3e3e3e;
    white-space: nowrap;
}
.mainmenu_wrap .custom_menu > ul > li + li {
    margin-left: 15px;
}
.mainmenu_wrap .custom_menu > ul > li > ul, 
.mainmenu_wrap .custom_menu > ul > li > ul > li > ul {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    left: 0;
    margin: 0;
    display: none;
    padding: 0;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    width: 200px;
    z-index: 999;
    top: 120%;
}
.mainmenu_wrap .custom_menu > ul > li > ul > li > ul {
    background: none;
}
.mainmenu_wrap .custom_menu > ul > li > ul > li span.fa-caret-right {
    position: absolute;
    right: 5px;
    top: calc( 50% - 5px );
}
.mainmenu_wrap .custom_menu > ul > li:hover > ul, 
.mainmenu_wrap .custom_menu > ul > li > ul > li:hover > ul {
    display: block;
}

.mainmenu_wrap .custom_menu > ul > li > ul:before, 
.mainmenu_wrap .custom_menu > ul > li > ul > li > ul:before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    top: -20px;
    left: 10px;
}
.mainmenu_wrap .custom_menu > ul > li > ul > li > ul {
    padding-left: 10px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
}
.mainmenu_wrap .custom_menu > ul > li > ul > li > ul:before {
    border-bottom-color: transparent;
    border-right-color: #fff;
    top: 0;
    left: -10px;
}
.mainmenu_wrap .custom_menu > ul > li > ul> li, 
.mainmenu_wrap .custom_menu > ul > li > ul> li > ul >li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}
.mainmenu_wrap .custom_menu > ul > li > ul> li > a, 
.mainmenu_wrap .custom_menu > ul > li > ul> li > ul > li > a{
    background: #ffffff none repeat scroll 0 0;
    color: #999999;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 20px 6px 25px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.mainmenu_wrap .custom_menu > ul > li > ul> li:hover >a{
    background: #fafafa none repeat scroll 0 0;
    color: #222222;
}
.mainmenu_wrap .custom_menu > ul > li:hover >ul{
    opacity: 1;
    top: 90%;
}

.mainmenu_wrap .custom_menu > ul > li > ul > li {
    position: relative;
}
.mainmenu_wrap .custom_menu > ul > li > ul > li > ul {
    position: absolute;
    top: 0;
    left: 100%;
}
.page-giftcard{
    margin-top: 30px;
}
h3.project-title {
    padding: 8px;
    background: #484848;
    color: #fff;
}
/*temp fix show/hide menu in width 768*/
@media (min-width: 767px) and (max-width: 769px) {
    .menu-768-visible {
        display: block !important;
    }
    .menu-768-hidden {
        display: none !important;
    }
}
@media (min-width: 1025px) {
    .menu-1024-visible {
        display: block !important;
    }
    .menu-1024-hidden {
        display: none !important;
    }
}

/* Order Page*/

.cart-table {
    margin-top: 45px;
    margin-bottom: 45px;
}

.cart-table ul li:first-child {
    border-bottom: 1px solid #dedede;
    width: 100%;
}

.cart-table .ui-inputText:focus {
    border: 1px solid #00c8b4;
}

.cart-table {
    background-color: #f6f6f6;
    padding: 30px;
}

.cart-table thead tr th {
    background: #fff;
    border: medium none !important;
    color: #333333;
    height: 40px;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
}

.cart-table thead tr th.product {
    min-width: 320px;
}

.cart-table thead tr th.price {
    min-width: 100px;
}

.cart-table thead tr th.qty {
    min-width: 100px;
}

.cart-table thead tr th.add-cart {
    min-width: 150px;
}

.cart-table thead tr th.remove {
    min-width: 90px;
}

.cart-table tbody tr td {
    border-color: #fff;
    border-style: solid;
    border-width: 0 0 2px;
    padding: 20px 0;
    vertical-align: middle;
    text-align: left;
}

.cart-table tbody tr:first-child td {
    padding-top: 30px;
}

.cart-table tbody tr:last-child td {
    padding-bottom: 0;
    border-bottom: none;
}

.cart-table .cart-product img {
    border: 1px solid #f3f3f3;
    display: block;
    float: left;
    margin-right: 25px;
    width: 93px;
}

.cart-table .cart-product .details {
    margin-top: 20px;
}

.cart-table .cart-product .details a {
    color: #606060;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
}

.cart-table .cart-product .details a:hover {
    color: #7ac2d7;
    text-decoration: none;
}

.cart-table .cart-product .details p {
    margin: 0;
    font-weight: bold;
}

.cart-table .cart-price {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
}

.cart-table .cart-stock {
    color: #606060;
    text-transform: uppercase;
}


/*.cart-table .cart-pro-remove {
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 50%;
    color: #606060;
    height: 50px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 50px;
    outline: none;
}*/

.cart-table .cart-pro-remove:hover {
    color: #7ac2d7;
}

.cart-table .cart-pro-remove i {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-left: 35px;
}

.cart-table .ui-inputText {
    color: #333;
    transition: .3s;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    width: 50%;
    padding: 0.6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.cart-table-ver1 .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
}

.cart-table-ver1 {
    background-color: #f6f6f6;
    padding-top: 15px;
    padding-left: 15px;
}

.cart-table-ver1 .table>tbody>tr>td {
    border-top: none;
}

.cart-table-ver1 .table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #fff;
}

.cart-table tr:first-child td {
    background-image: none;
}

.cart-table table tr:hover td {
    background-color: transparent;
}

.cart-table p {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
    font-size: 16px;
}

.cart-table p.mgr_100 {
    margin-right: 100px;
}

.order_details_page .btn_cart_order {
    background-color: #7ac2d7;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
}


.btn_cart_order {
    background-color: #7ac2d7;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
}
.popup-style {
    text-align: center;
}
.services_item_v1 .box_des {
    font-size: 12px;
    color: #9e9e9e;
}
.about_us_v1 .container .row p{
    padding: 0px 10px;
}

/***************fix service child ************/
li.list_child a {
    padding-left: 35px !important;
    position: relative;
}
li.list_child a:hover {
    text-decoration: none;
}

li.list_child a:before {
    position: absolute;
    content: "- ";
    top: 0px;
    left: 25px;
}

.pagination_v1 ul li {
    float: none !important;
}
/***************End fix service child***********/
/*Slider home*/
.slider_area.slick-area-autoheight {
    width: 100%;
    height: auto;
}
.slider_area.slick-area-autoheight .single-slider-wrap.single-slider-wrap-autoheight {
    position: relative;
    width: 100%;
    height: 100%;
}
.slider_area.slick-area-autoheight .single-slider-wrap.single-slider-wrap-autoheight .slick-img {
    width: 100%;
    height: auto;
}
.slider_area.slick-area-autoheight .single-slider-wrap.single-slider-wrap-autoheight .slick-img img {
    width: 100%;
    height: auto;
}

.slider_area.slick-area-autoheight .single-slider-wrap.single-slider-wrap-autoheight .container {
    position: absolute;
    top: 25%;
    left: 0px;
    width: 100%;
    height: 100%;
}
.slider_area.slick-area-autoheight .single-slider-wrap.single-slider-wrap-autoheight .container .slider-content {
    margin-top: 0px;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 543px) {
    .slider_area.slick-area-autoheight .single-slider-wrap.single-slider-wrap-autoheight .container .slider-content h3 {
        margin-top: 0px;
    }
    .slider_area.slick-area-autoheight .single-slider-wrap.single-slider-wrap-autoheight .container {
        top: 5%;
    }
}
@media screen and (min-width: 544px) and (max-width: 767px) {
    .slider_area.slick-area-autoheight .single-slider-wrap.single-slider-wrap-autoheight .container {
        top: 10%;
    }
}

/* Fix gallery */
ul#portfolio-grid > li, .portfolio {
    height: auto;
}
.image-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.image-bg img, ul#portfolio-grid li .image-bg img {
    display: none;
}
/*.gallery-box:hover .image-bg, .gallery-box:focus .image-bg {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}*/
/* End fix gallery */

/* Fix update format */
/* Global */
* > img, img {
    max-width: 100%;
}
* > .pointer, .pointer {
    cursor: pointer;
}
form ul, form ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* End global */
/* Oppenhours - Contact info */
.foh-wrap, 
.fci-wrap {
    display: table;
    text-align: left;
}
.foh-row, 
p.foh-row, 
span.foh-row,
div.foh-row, 
.fci-row, 
p.fci-row, 
span.fci-row,
div.fci-row {
    line-height: initial;
    display: table-row;
}
.foh-row .foh-date, 
p.foh-row .foh-date, 
span.foh-row .foh-date, 
div.foh-row .foh-date, 
.foh-row .foh-time, 
p.foh-row .foh-time, 
span.foh-row .foh-time, 
div.foh-row .foh-time, 
.fci-row .fci-title, 
p.fci-row .fci-title, 
span.fci-row .fci-title, 
div.fci-row .fci-title, 
.fci-row .fci-content, 
p.fci-row .fci-content, 
span.fci-row .fci-content, 
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
}
.foh-row .foh-date, 
p.foh-row .foh-date, 
span.foh-row .foh-date, 
div.foh-row .foh-date, 
.fci-row .fci-title, 
p.fci-row .fci-title, 
span.fci-row .fci-title, 
div.fci-row .fci-title {
    padding-right: 15px;
    font-weight: bold;
}
/* End Oppenhours - Contact info */

/* Other */
.footer-openhours {
    margin-top: 45px;
}
.footer-openhours .foh-row {
    color: #fff;
}
.layouts-openhours .foh-row {
    font-size: 20px;
}
.footer_address_area_v1 .fci-row {
    color: #fff;
    line-height: 170%;
}
.footer_address_area_v1 .fci-row .fci-title {
    padding-top: 5px;
}
.footer_address_area_v1 .fci-row a {
    color: inherit;
}
.footer_address_area_v1 .fci-row i {
    border: 1px solid #f6f6f6;
    border-radius: 50%;
    color: #ffc267;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}
.hd_top_v1_left .fci-row .address br {
    display: none;
}
.contact-info-wrap .fci-row {
    line-height: 170%;
}
/* End other */
/* End fix update format */

/* Update new */
a, .pointer {
    cursor: pointer;
}
.social_fanpage {
    margin-top: 45px;
}
.about_us_v1, .section-padding {
    padding: 0;
}
.home-about, .box_our_service .box_our_service_inner, .home-gallery, .about-us, .gallery_box_page, .news_page_v1, .service_price_table, .p-pages, .cart.step_one, .p-payment-success, .p-payment-cancel {
    padding: 30px 0 50px;
}
.footer_top_v1 {
    padding: 30px 0 15px;
}
.coupon_code_v1 {
    padding: 30px 0 20px;
    text-align: center;
}
.contact-wrap {
    padding: 30px 0;
}
.single_service_area .service-content {
    height: 250px;
    overflow: hidden;
}
.single_service_area .btn_book_service a {
    margin-left: 0;
    left: calc( 50% - 55px );
}
.single_service_area .thumb_img {
    margin-top: -100px;
}
.single_service_area .image-bg {
    padding-bottom: 100%;
    border-radius: 50%;
}
.single_service_area .ser_pra {
    font-size: 14px;
    min-height: 15px;
}
ul#filter {
    margin-bottom: 5px;
}
.button_slide_book {
    margin-top: 5px;
}
.box_our_service {
    background-image: url('../assets/img/bg-home-service.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.box_our_service .box_our_service_inner {
    background: rgba(0, 0, 0, 0.7);
}
.our_service_title h2.section_title, .our_service_title p.section_details {
    color: #fff;
}

/* breadcrumbs */
.breadcrumbs {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}
.breadcrumbs .col-left, .breadcrumbs .col-right, .breadcrumbs .col-full {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 15px 0;
}
.breadcrumbs .col-left {
    text-align: left;
    width: 60%;

    font-size: 40px;
    text-transform: uppercase;
}
.breadcrumbs .col-right {
    text-align: right;
    width: 40%;
}
.breadcrumbs .page_title, .breadcrumbs h2, .breadcrumbs span, .breadcrumbs a { 
    color: #fff;
    padding: 0;
    margin: 0;
}
.breadcrumbs span, .breadcrumbs a {
    font-weight: bold;
    font-size: 14px;
}
.breadcrumbs span.active, .breadcrumbs a.active {
    color: #ffc267;
}
/* end breadcrumbs */
.title_giftcard {
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
}
.portfolio-select {
    margin-bottom: 15px;
}
/* booking email */
.group_date {
    position: relative;
}
span.fa.fa-calendar.calendar {
    position: absolute;
    top: 10px;
    right: 10px;
}
h3.title_appointment {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 15px;
    text-align: center;
    line-height: 30px;
}
select.form-control.list_service {
    height: 190px;
}
.content-shop-booking.email-form {
    background: #f5f3f3;
    margin: 30px 0 50px;
    padding: 15px;
}
.content-shop-booking.email-form .item-booking {
    margin-bottom: 0;
}
.content-shop-booking.email-form button, .btn_payment {
    border: 0;
    outline: none;
}
.btn-book-search {
    border-radius: 0;
    margin-top: 30px;
    margin-left: 30px !important;
}
.btn_discount {
    background: #ffc267;
}
.total-payment-info li {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
/***begin***/
select.s_error {
    border-color: #f00;
}
.form-tooltip-serror ul {
    margin: 0;
}
.form-tooltip-serror {
    background: #f95858;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    bottom: 100%;
    margin-bottom: 8px;
    max-width: 230px;
    font-size: 14px;
    line-height: 20px;
}
.form-tooltip-serror:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #f95858 transparent transparent
}
.form-group-checkbox .form-tooltip-serror {
    right: 100%;
    bottom: 0;
    margin-bottom: 0;
    margin-right: 10px;
    min-width: 150px
}
.form-group-checkbox .form-tooltip-serror:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0!important;
    left: auto;
    right: -7px;
    bottom: 9px
}
.form-label .form-tooltip-serror {
    position: relative;
    display: inline-block;
    margin: -4px 0 -4px 8px
}

.form-label .form-tooltip-serror:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 50%;
    margin: 0 0 -2px!important;
    left: -7px
}
.form-tooltip-serror, .form-tooltip-serror * {
    color: #fff!important;
}
.mainmenu_wrap .custom_menu > ul > li > ul.position-left {
    left: auto;
    right: 0;
}
.mainmenu_wrap .custom_menu > ul > li > ul.position-left::before {
    left: auto;
    right: 10px;
}
.mainmenu_wrap .custom_menu > ul > li > ul > li > ul.position-left {
    margin: 0;
    padding: 0;
    padding-right: 10px;
    left: auto;
    right: 100%;

    box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.1);
}
.mainmenu_wrap .custom_menu > ul > li > ul > li > ul.position-left:before {
    border-color: transparent;
    border-left-color: #fff;
    left: auto;
    right: -10px;
}
/* Cart */
.cart-table tbody tr td {
    vertical-align: top;
}
.cart-table .cart-product .details, .cart-table .ui-inputText {
    margin-top: 0;
}
.cart-table .noborder, .cart-table .noborder td, .cart-table tbody tr.noborder td {
    border-top: none;
    border-bottom: none;
}
.cart-table .nopadbot, .cart-table .nopadbot td, .cart-table tbody tr.nopadbot td {
    margin-bottom: 0;
    padding-bottom: 0;
}
.cart-table .nopadtop, .cart-table .nopadtop td, .cart-table tbody tr.nopadtop td {
    margin-top: 0;
    padding-top: 0;
}
.cart-table .cart-product .details {
    font-weight: bold;
}
.cart-table p {
    margin-bottom: 15px;
}
.btn_cart_order {
    border-radius: 0;
}
.cart.step_one, .cart-table, ul.list_form li {
    margin: 0;
}
.cart-table {
    margin-bottom: 15px;
}
.p-payment h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 15px;
}
.cart .order .total ul li label {
    font-weight: bold;
}
.fl-flex-label.fl-collapsed.fl-background .fl-label {
    background: none;
}
@media screen and ( max-width: 991px ) {
    .single_service_area .service-content {
        height: auto;
    }
}
@media screen and ( max-width: 767px ) {
    .home-about, .box_our_service .box_our_service_inner, .home-gallery, .footer_top_v1, .about-us, .contact-wrap, .coupon_code_v1, .gallery_box_page, .news_page_v1, .service_price_table, .box_staff_inner_v1, .p-pages, .cart.step_one, .p-payment-success, .p-payment-cancel {
        padding: 15px 0;
    }
    .about_box_right h2, .our_service_title h2.section_title, .gallery_title h2.section_title, .single_footer_widget h5 {
        margin-top: 5px;
    }
    .about_box_right div.sub-title, .about_box_right p, .our_service_title p.section_details, .gallery_title p.section_details, .single_footer_widget, .our_service_title, .coupon_img_v1, .ui-tabs  ul.listcatser {
        margin-bottom: 15px;
    }
    .single_service_area {
        margin-top: 95px;
    }
    .single_service_area.first {
        margin-top: 70px;
    }
    .single_service_area + .single_service_area {
        margin-top: 95px;
    }
    .box_our_service .box_our_service_inner {
        padding-bottom: 30px;
    }
    .single_footer_widget .social_icon, .footer-openhours, .footer_address_area_v1, .social_fanpage {
        margin-top: 15px;
    }
    .breadcrumbs .col-full { 
        text-align: center;
    }
    .breadcrumbs .col-left { 
        width: 100%;
        text-align: center;
    }
    .breadcrumbs .col-right { 
        display: none;
    }
    .btn-search {
        margin-top: 0;
    }
    .item-booking.more {
        margin-bottom: 5px;
    }
    .time_work_staff_v1 .time_am_v1, .time_work_staff_v1 .time_pm_v1 {
        margin-top: 15px;
    }
    .time_work_staff_v1 ul li, .time_work_staff_v1 ul li + li {
        margin: 0 5px 10px;
    }
    .time_work_staff_v1 ul li span, .time_work_staff_v1 ul li span + span {
        padding: 5px 10px;
    }
    .content-shop-booking.email-form {
        margin: 15px 0;
    }
    .btn-book-search {
        margin-left: 0 !important;
    }
}
@media screen and ( max-width: 479px ) {

}
@media screen and ( max-width: 359px ) {

}

/* Home slider */
.slider-shape-1::before {
    display: none;
}
.slider-button .hs-btn.btn-light.btn-large + .hs-btn.btn-light.btn-large {
    margin-left: 15px;
}
.slider-width-height .fixed {
    height: 0; /* Auto height */
}
@media screen and ( max-width: 767px ) {
    .slider-width-height .fixed {
        height: 400px;
    }
}
@media screen and ( max-width: 575px ) {
    .slider-width-height .fixed {
        height: 350px;
    }
}
@media screen and ( max-width: 354px ) {
    .slider-width-height .fixed {
        height: 300px;
    }

    .slider-button .hs-btn.btn-light.btn-large {
        height: auto !important;
        line-height: initial !important;
        padding: 10px 5px !important;
    }
    .slider-button .hs-btn.btn-light.btn-large + .hs-btn.btn-light.btn-large {
        margin-left: 5px;
    }
}
.slick-slide img {
    width: 100%;
}
.slider_area .single-slider-wrap {
    position: relative;
}
.slider_area .single-slider-wrap .slider-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;

    display: table;
}
.slider_area .single-slider-wrap .slider-inner {
    display: table-cell;
    vertical-align: middle;
}
/* End home slider */
.mobile_logo {
    width: calc(100% - 50px);
    display: table;
}
.mobile_logo .logo_left {
    display: table-cell;
    vertical-align: middle;
}
.mobile_logo .logo_right {
    display: table-cell;
    vertical-align: middle;
}
.mobile_logo .logo_left a {
    display: inline-block;
}
.mobile_logo .account, .mobile_logo .account > li> a {
    color: #fff;
}
.mobile_logo .account > li {
    display: inline-block;
}
.mobile_logo .account > li> a {
    padding: 0 10px;
}
.mobile_logo .account .count {
    display: none;
}
@media screen and ( min-width: 576px ) {
    .content-main {
        min-height: 480px;
    }
}
@media screen and ( max-width: 767px ) {
    .time_work_staff_v1 ul li.expired {
        display: none;
    }
}
/* End update new */

/* Css mycarttable */
.mycarttable {
    background-color: #f9f9f9;
    padding: 30px;
}
.mycarttable .table {
    margin-bottom: 0;
}
.mycarttable thead tr th, 
.mycarttable tbody tr td {
    color: #333333;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.mycarttable thead tr th {
    background: #fff;
    border: 1px solid transparent;
    
    height: 40px;
    padding: 0 15px;
    text-transform: uppercase;
    vertical-align: middle;
}
.mycarttable thead tr th.th-qty {
    width: 100px;
}
.mycarttable thead tr th.th-price-total{
    text-align: right;
}
.mycarttable thead tr th.th-remove, 
.mycarttable tbody tr td.td-remove {
    width: 50px;
    text-align: right;
}
.mycarttable tbody tr td .list-row-col {
    padding: 15px;
}
.mycarttable tbody tr td .list-row-col img {
    max-width: 110px;
    margin-right: 15px;
    float: left;
}
.mycarttable tbody tr td .list-row-col .image-item {
    max-width: 110px;
    margin-right: 15px;
    float: left;
}
.mycarttable tbody tr td .list-row-col .name-item, 
.mycarttable tbody tr td .list-row-col .price-item, 
.mycarttable tbody tr td .list-row-col .price-total-item, 
.mycarttable tbody tr td .price-row-col, 
.mycarttable tbody tr td .price-row-col p {
    font-weight: bold;
}
.mycarttable tbody tr td .list-row-col .form-control {
    min-width: 70px;
}
.mycarttable tbody tr td .list-row-col .form-control.autowidth {
    width: auto;
    min-width: 110px;
}
.mycarttable tbody tr td .list-row-col .price-total-item, 
.mycarttable .price-row tbody tr , 
.mycarttable .price-row tbody tr td {
    text-align: right;
}
.mycarttable .price-row tbody tr.noneboder td, 
.mycarttable .price-row tbody tr:not(:first-child) td {
    border: none;
}
.mycarttable tbody tr td:first-child {
    width: 90%;
}
.mycarttable tbody tr td .price-row-col {
    padding: 5px 15px;
}
.mycarttable .price-row tbody tr:last-child td .price-row-col, 
.mycarttable .price-row tbody tr:last-child td .price-row-col p {
    font-size: 120%;
    color: #f00;
}
.mybutton {
    margin-top: 15px;
}
.mybutton .btn-continue {
    float: left;
}
.mybutton .btn-next {
    float: right;
}
@media screen and (max-width: 767px) {
    .mycarttable {
        padding: 0;
        background: none;
    }
    .mycarttable thead tr th {
        background: #f9f9f9;
    }
    .mycarttable .price-row tbody tr:first-child td {
        border: none;
    }
    .mycarttable tbody tr td .small-sm {
        font-size: 90%;
        line-height: initial;
    }
    .mycarttable tbody tr td p {
        white-space: normal;
    }
    .mycarttable tbody tr td .list-row-col .name-item {
        min-width: 250px;
    }
}
/* End css mycarttable */

/* Youtube iframe */
.youtube-player { 
    position: relative; 
    padding-bottom: 56.25%; /* Use 75% for 4:3 videos */ 
    
    width: 100%;
    max-width: 100%; 
    height: 0;
    background: #000;
    margin: 0 auto;
    overflow: hidden; 
} 
.youtube-player iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    background: transparent; 
}
/* End Youtobe iframe */

.social-img-icons, .social-img-icons img { width: 32px; height: 32px; }
.social-img-icons img { margin: 0 5px 5px 0; }

/* Home gallery */
.portfolio-grid-wrap {
    margin: -5px -5px 0;
}
.portfolio-container .only-one {
    display: none;
}
/* End Home gallery */
.footer-copyright {
    padding: 15px;
    background: #0c0b0b;
    text-align: center;
}
.footer-copyright, .footer-copyright > *, .footer_top_v1 {
    color: #fff;
}

/* Service new */
.page-container {
    margin: 0 0 15px;
    padding: 15px 0 0;
    /*background-color: #ffe;*/
    border-radius: 5px;
}
.service-btn, .service-btn .btn, .service-btn img, .service-row, .service-row img, .service-image-wrap, .circle-service-image, .service-content-wrap, .service-catname, .service-subcatname, .service-item, .si-info, .si-info-wrap, .si-info-col, .si-name, .si-price, .si-p-wrap, .si-price .old, .si-price .current, .si-price .up, .si-desc {margin: 0; padding: 0;max-width: 100%;}
.service-btn {text-align: right; margin-bottom: 15px;}
.service-btn .btn {vertical-align: middle;padding: 5px 10px;color: #fff;}
.service-btn .btn + .btn {margin-left: 5px;}
.service-btn img {max-height: 16px; border: none;margin-right: 5px;box-shadow: initial;}
.service-btn .btn-book {background-color: #ed2869;border-color: #ed2869;}
.service-btn .btn-book:hover {background-color: #d22960;border-color: #d22960;}
.service-btn .btn-call {background-color: #ffc267;border-color: #ffc267;}
.service-btn .btn-call:hover {background-color: #e28c0f;border-color: #e28c0f;}
.service-row {margin-bottom: 30px;}
.service-row:last-child {margin-bottom: 0;}
.service-row .service-image-wrap {
    width: 250px;
    margin: 0 auto 15px;
    border: 3px solid #ffc267;
    overflow: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.service-row .service-image-wrap.circle-wrap {border-radius: 50%;}
.service-row .circle-service-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
.service-row .service-image-wrap.rouded-wrap {border-radius: 5px;}
.service-row .service-image-wrap.rouded-wrap img {border: none;}
.service-row .service-catname, .service-row .service-subcatname, .service-row .si-name, .service-row .si-price, .service-row .si-price .si-p-wrap, .service-row .si-price .old, .service-row .si-price .current, .service-row .si-price .up{line-height: 1.1;font-weight: bold;font-family: 'Open Sans', sans-serif;}
.service-row .si-name, .service-row .si-price, .service-row .si-price .si-p-wrap, .service-row .si-price .old, .service-row .si-price .current, .service-row .si-price .up {font-size: 16px;color: #252525;}
.service-row .service-catname, .service-row .service-subcatname {padding-bottom: 5px;margin-bottom: 15px;border-bottom: 1px solid #ffc267;color: #ffc267;}
.service-row .service-catname {font-size: 25px;}
.service-row .service-subcatname {font-size: 20px;}

.service-row .service-item {margin-bottom: 15px;border-bottom: 1px solid #f0f1f3;}
.service-item .si-info {margin-bottom: 15px;}
.service-item .si-info-wrap {position: relative;overflow: hidden;}
.service-item .si-dots-wrap {flex-grow: 1;}
.service-item .si-dots {border-bottom: 1px dotted #824328;margin-bottom: 5px;}
.service-item .si-name, .service-item .si-price {display: inline-block;z-index: 1;position: relative;}
.service-item .si-name {padding-right: 5px;}
.service-item .si-price {text-align: right;float: right;}
.service-item .si-price span, .service-item .si-price div {white-space: nowrap;}
.service-item .si-price .old, .service-item .si-price .current, .service-item .si-price .up {padding-left: 5px;}
.service-item .si-price .old {text-decoration: line-through;opacity: 0.7;}
.service-item .si-desc {margin-bottom: 15px;line-height: 1.5;font-weight: normal;font-size: 14px;font-family: 'Open Sans', sans-serif;}
.service-row .service-row {padding-left: 15px;}
@media screen and ( min-width: 576px ){
    .service-item .si-info-wrap {display: flex;}
    .service-item .si-price {white-space: nowrap;}
}
@media screen and ( max-width: 575px ){
    .service-item .si-info-col {display: inline;}
}
/* End service new */

/* Responsive */
@media screen and (min-width: 992px) {
    .youtube-player {
        padding-bottom: 75.25%;
    }
}
/* End responsive */

/* board service sider */
.single_service_area_wrap {
    padding-bottom: 25px;
}
.single_service_area_wrap .single_service_area .btn_book_service a {
    bottom: 25px;
}
.single_service_area_wrap .single_service_area .thumb_img {
    width: 150px;
    height: 150px;
    position: relative;
}
.single_service_area_wrap .single_service_area .image-bg {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/*CSS LOGO*/
.mean-container .mean-bar {
    padding:0;
    height: 100px;
}
.mean-container a.meanmenu-reveal {
    top: 50%;
    margin-top: -23px;
}
.mean-container .mean-nav { margin-top: 100px; }
.mobile_logo {
    height: 100px;
    line-height: 100px;
}
.mobile_logo img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100px;
}
@media (min-width: 576px){}
@media (min-width: 768px){
    .mean-container .mean-bar {height: 110px;}
    .mean-container .mean-nav { margin-top: 110px; }
    .mobile_logo {
        height: 110px;
        line-height: 110px;
    }
    .mobile_logo img { max-height: 110px; }
}
@media (min-width: 992px){
    .nails_logo {
        height: 120px;
        line-height: 120px;
    }
    .nails_logo img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
@media (min-width: 1200px){
    .nails_logo {
        height: 130px;
        line-height: 130px;
    }
}


/*freeze footer*/
.freeze-footer { position: fixed; right: 15px; bottom: 60px; padding: 0; display: inline-block;z-index: 1021;}
.freeze-footer ul li {list-style-type: none;}
.freeze-footer a { width: 100%; margin-bottom: 15px; color: #fff; padding: 10px 10px; line-height: 1; font-size: 17px; height: auto;}
.freeze-footer a.btn_make_appointment {background-color: #ffc267 ;border-color: #ffc267 ;}
.freeze-footer a.btn_call_now {background-color: #ffc267 ;border-color: #ffc267 ;}
.freeze-footer a:hover{ border-color: #fff;color: #ffffff; }

/*freeze header*/
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 1021;width: 100%; }
.freeze-header.with-bg{ background-color: #fff ; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

.service-btn {
    margin-top: 15px;
}

/*
* Fix mobile friendly
*/
@media (max-width: 767px) {
    body, .service-item .si-desc, .service-item .si-desc p {
        font-size: 16px;
        line-height: 1.5;
    }
    .service-item .si-info-wrap {
        margin-top: 10px;
    }

    .social-img-icons, .social-img-icons img {
        width: 36px;
        height: 36px;
        display: inline-block;
    }
    .social-img-icons {
        margin: 3px;
    }
    .social-img-icons img {
        background: #fff;
    }
}

.section-news {
    padding: 15px 0;
}

/* By Consent */
.consent-form .group-select, .consent-form .group-select label {
    float: none;
}
.consent-form .group-select {
    width: 100%;
    margin-bottom: 15px;
}
.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: initial;
}
.form-horizontal .radio {
    padding-top: 0;
}
.consent-form2 {
    border-top-color: #333;
}

.btn_consent, .btn_consent:hover, .btn_consent:focus {
    border-color: #ffc267;
    background: #ffc267;
    color: #fff;
}

.relative {
    position: relative;
}

.consent-btn {
    display: inline-block;
}

.white-popup {
    overflow: initial;
}