/*copy tu trang chu index*/
body, .contact-footer p, .footer-3-box p, .ctn-about-inpage p {
    font-size: 17px;
    line-height: 1.5;
}

img, * img {
    max-width: 100%;
}
.jssora02l{
    display: block;
    position: absolute;
    width: 100px !important;
    height: 100% !important;
    cursor: pointer;
    overflow: hidden;
    top: 0px !important;
    left: 0px !important;
    background: rgba(0, 0, 0, 0.5);
}
.jssora02r {
    display: block;
    position: absolute;
    width: 100px !important;
    height: 100% !important;
    cursor: pointer;
    overflow: hidden;
    top: 0px !important;
    right: 0px !important;
    background: rgba(0, 0, 0, 0.5);
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -65px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -185px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -65px -33px; }
.jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
.jssora02r.jssora02rds { background-position: -65px -33px; opacity: .3; pointer-events: none; }
.jssort03 .p {    position: absolute;    top: 0;    left: 0;    width: 62px;    height: 32px;}
.jssort03 .t {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}
.jssort03 .w, .jssort03 .pav:hover .w {    
    position: absolute;        
    width: 58px;
    height: 28px;    
    border: white 2px solid;    
    box-sizing: content-box;
}
.jssort03 .pdn .w, .jssort03 .pav .w {    border-style: solid;}
.jssort03 .c {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 62px; 
    height: 32px;
    background-color: #000;
    filter: alpha(opacity=45);
    opacity: .45;    
    transition: opacity .6s;    
    -moz-transition: opacity .6s;    
    -webkit-transition: opacity .6s;    
    -o-transition: opacity .6s;
}
.jssort03 .p:hover .c, .jssort03 .pav .c {    filter: alpha(opacity=0);    opacity: 0;}
.jssort03 .p:hover .c {    transition: none;    -moz-transition: none;    -webkit-transition: none;    -o-transition: none;}
* html .jssort03 .w {    width /**/: 62px;    height /**/: 32px;}

#jssor_1 >div>div>div>div{
    transform: translate3d(100px, 0px, 0px);
}
/*end copy*/



.main-menu .custom_menu > ul{
    /*display: flex;*/
    justify-content: flex-end;
}
.main-menu .custom_menu > ul > li {
    position: relative;
    display: inline-block;
}
.main-menu .custom_menu > ul > li>a {
    text-transform: uppercase;
        font-size: 16px;
    font-family: 'CALI MT bold';
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    
}
.main-menu .custom_menu > ul > li + li {
    margin-left: 36px;
}
.main-menu .custom_menu > ul > li > ul {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    left: 0;
    display: none;
    padding: 0;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    width: 200px;
    z-index: 999;
    margin-top: 10px;
}
.main-menu .custom_menu > ul > li > ul:before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    top: -20px;
    left: 10px;
}
.main-menu .custom_menu > ul > li > ul> li{
    border-bottom: 1px solid #f4f4f4;
    display: block;
    margin: 0;
}
.main-menu .custom_menu > ul > li > ul> li > a{
    background: #ffffff none repeat scroll 0 0;
    color: #999999;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 20px 6px 25px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.main-menu .custom_menu > ul > li > ul> li:hover >a{
    background: #fafafa none repeat scroll 0 0;
    color: #222222;
}
.main-menu .custom_menu > ul > li:hover >ul{
    display: block;
    
}

/***********submenu***********/
.main-menu .custom_menu > ul > li > ul> li ul {
    display: none;
    background: #fff;
    width: 220px;
    padding: 10px;
    border: 1px solid #f5f5f5;
}

.main-menu .custom_menu > ul > li > ul> li:hover ul {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}

.main-menu .custom_menu > ul > li > ul> li ul li a {
    color: #999999;
    text-align: left;
    display: block;
    font-size: 13px;
}

.main-menu .custom_menu > ul > li > ul> li ul li:hover a {
    color: #222;
}



.contact-link li.registry_ver_1 .dropdown_menu_pos {
    left: auto;
    right: auto;
}
.contact-link li.registry_ver_1 .dropdown_menu_pos::before {
    left: auto;
    right: 110px;
    margin: -7px 25px 0 0;
    border-bottom: 7px solid #fff;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.contact-link li.registry_ver_1 ul.head_list li {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact-link li.registry_ver_1 a {
    text-decoration: none;
    font-size: 15px;
}
.contact-link li.registry_ver_1 ul.head_list li i {
    margin-right: 5px;
}
.contact-link li.registry_ver_1 ul.head_list li a{
    color: #333333;
    font-size: 14px;
}
.act-defale a{
        background: #f9a392 !important;
    color: #fff !important; 
}
.services-title-item-product h3 span {
    line-height: 30px;
    overflow: hidden;
    height: 30px;
}

.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #e9eaea;
}
.popup_main_area {
    background: #fff;
    padding: 15px;
    float: left;
    width: 100%;
}
.modal_form_header h4 {
    margin: 0;
    line-height: 21px;
    font-size: 21px;
    color: #71706e;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
#open_booking .mfp-close{
        margin-top: 20px;
    margin-right: 20px;
    font-size: 40px;
}
#surveyForm .item-booking .group-select.box-date{
    position: relative;
}
#surveyForm .item-booking .group-select.box-date .fa.fa-calendar{
    position: absolute;
    top: 55px;
    right: 15px;
}
.item-booking .group-select label{
    padding-top: 10px;
}
#optionTemplate .group-select,#send_contact .form-group,#item-subscrible .form-group{
 position: relative;   
}

.pagination_v1 {
    margin-top: 50px;
}
.text-center {
    text-align: center;
}
.pagination_v1 ul li {
    display: inline-block;
}
.pagination_v1 ul li+li {
    margin-left: 15px;
}
.pagination_v1 a {
    border: 1px solid #c1c1c1;
    height: 40px;
    line-height: 37px;
    transition: all 0.3s ease 0s;
    width: 40px;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
}
.pagination_v1 a:hover, .pagination_v1 li.active a, .pagination_v1 li.pagination_v1_icon a i:hover {
    background-color: #464646;
    border: 1px solid #464646;
    color: #ffc267;
}

.coupon_page_v1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.coupon_img_v1 {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    border: 3px solid #FFF;
}
.coupon_img_v1 .img_size {
    width: 100%;
}
.coupon_info span {
    font-size: 16px !important;
    margin-right: 5px;
}
.giftcards-btn-add {
    height: 32px !important;
    font-size: 15px !important;
    padding: 7px 10px !important;
    line-height: 20px !important;
}
.hs-btn::before {
    background: #151515 none repeat scroll 0 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.hs-btn {
    background: #fff none repeat scroll 0 0;
    color: #606060 !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding: 0 21px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    z-index: 2;
}
.hs-btn.btn-light {
    background: #fdb1aa none repeat scroll 0 0;
    color: #fff !important;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.bg-gray {
    background: #f1f1f1 !important;
}
.appoinment_inner {
    margin-top: 40px;
}
.appoinment_title h2.section_title{
color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.bg-gray p, .bg-gray span, .bg-gray ul, .bg-gray a:not(.btn) {
    color: #252525;
}
.mt_40 {
    margin-top: 40px;
}
.appoinment_form .input-box {
    display: flex;
}
.appoinment_form .input-box>input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #909090;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    width: 50%;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
}
.mt30-1 {
    margin-top: 0px !important;
}
.appoinment_form .input-box select {
    border: 1px solid transparent;
    color: #909090;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    margin-left: 30px;
    padding-left: 20px;
    width: 50%;
    line-height: 45px;
}
.appoinment_form form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background-color: #fff;
    background-image: url('../assets/img/select-option.png');
    background-position: right center;
    background-repeat: no-repeat;
}
.mt30-2 {
    margin-top: 30px !important;
}
.book_appoin_btn {
    margin-top: 18px;
    margin-top: 18px;
}
.push-top-xs .form-group{
        display: flex;
}
.site-register .text_login_now .txt_login{
    text-align: center;
    color: #252525;
}
.site-register .text_login_now .txt_login a{
    color: #ffc267;
}
.time-booking ul li {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

/*menu-mobile*/
.menu-bar-mobile ul li {
    float: left;
    width: 100%;
    position: relative;
}
.menu-bar-mobile ul li a {
    float: left;
    width: 100%;
    /*height: 40px;*/
    line-height: 30px;
    background: #fff;
    margin-bottom: 1px;
    padding: 5px 15px;
    font-size: 14px;
    border-top: 1px solid #ebebeb;
}
.menu-bar-mobile ul li a:hover{
    box-shadow: 0px 0px 2px #443333;
}
.menu-bar-mobile ul li span::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
}
.menu-bar-mobile ul li span {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 50px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s; 
}
.menu-bar-mobile ul ul, .menu-bar-mobile ul ul ul{
    position: relative;
    float: left;
    width: 100%;
    display: none;
    padding-left: 15px;
}
.menu-bar-mobile ul ul li a {
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 15px;
}
.menu-bar-mobile ul ul li span:last-child{
    margin-right: 7px;
}
.menu-bar-mobile ul ul ul li a {
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 33px;
}

.book_appoin_btn .hs-btn {
    background: #fdb1aa none repeat scroll 0 0;
    color: #fff !important;
    border: 0px;
}
.book_appoin_btn .hs-btn:hover::before{
    background:#151515 none repeat scroll 0 0;
    color:#fff;
    height:100%;
    width:100%;
}
.group-select input {
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    height: auto;
    padding: 10px 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.btn-primary-extend, .btn-primary-extend:link, .btn-primary-extend:active, .btn-primary-extend:visited {
    background-color: #fdb1aa !important;
    border:none;
}
.btn-primary-extend:hover {
    background-color: #b24461 !important;
    border:none;
}

.box_book_price ul li:nth-child(2) {
    border-top: 1px dashed #dedede;
}
.box_book_price ul li {
    border-bottom: 1px dashed #dedede;
    clear: both;
}
.box_book_price ul li:first-child {
    border-bottom: none;
}
.services_item_v1 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
}
.services_item_v1 .price_service_v1 {
    color: #ffc267;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-variant-ligatures: common-ligatures;
    font-size: 18px;
    margin-left: 5px;
}
.scroll_btn {
    position: fixed;
    top: 0px;
    z-index: 1001;
}
.mb-15 {
    margin-bottom: 15px;
}
.alert {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.table_openhour{
    width:100%;
    text-align: left;
}
.table_openhour td{
    padding:5px;
}
.info_contact{
    margin-bottom: 20px;
}
.info_contact li{
    position: relative;
    padding-left: 70px;
    padding-bottom: 5px;
    clear: both;
    
}
.info_contact li span{
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
}
.table-responsive>.table>tbody>tr>td{
    white-space: inherit;
}
/*////////////// GALLERY ///////////////*/
.gallery-item{
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    
}
.gallery-item>span{
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
     background-position: top left;
    transition:transform 0.25s ease;
    padding-bottom: 75%;
}
.gallery-item:hover>span{
    transform:scale(1.1) rotate(-5deg);
}
.header-social a img{
    max-width: 35px;
}
.title-page h2 a{
    color:#FFF;
}
.order .total ul li{
    clear: both;
}
.order .total ul li:before{
    display: table;
    content: " ";
    margin-bottom: 10px;
}
.intro-star-shop{
    margin: 20px 0px;
}
.gallery_home {
    background: rgb(250, 242, 239);
}
.list-gallery iframe{
    width: 100%;
    height: 420px;
}
.owl-services-index .owl-item {
    padding: 0px 15px;
}
@media screen and (max-width : 767px) {
    .list-gallery iframe{
        height: 190px;
    }
    .gallery-item {
        margin-bottom: 15px;
    }
    .list-gallery .row.box_list_gallery .col-xs-6{
        padding-right: 8px;
        padding-left: 7px;
    }
    .please-choose{
        padding: 0px 5px 10px 15px;
        font-size: 20px;
    }
    .cart-table .ui-inputText{
        width: 90%;
    }
    .btn_cart_order {
        margin-top: 10px;
    }
    .time-booking ul li span{
        display: none;
    }
}

.am li span, .pm li span {
    float: left;
    padding: 7px 15px 5px 15px;
    margin-right: 7px;
    font-size: 14px;
    margin-bottom: 7px;
    width: 95px;
}
/*CSS LOGO*/
.header-container .layout-header-3 {
    width: calc(100% - 50px);
    padding: 0;
}
.logo {
    left: 15px;
    width: 100%;
    height: 110px;
    line-height: 110px;
}
.logo img {
    margin: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.menu-btn-show {top: 50%;margin-top: -13px;}
.border-top-menu {margin: 0;}
.logo-menu {height: 110px;line-height: 110px;}
.logo-menu img {
    margin: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.sub_service{
    padding-left: 20px;
}
@media (min-width: 576px){

}
@media (min-width: 768px){
    .logo, .logo-menu {height: 130px;line-height: 130px;}
}
@media (min-width: 993px){
    .header-container .layout-header-3 {width: 100%;text-align: center;}
    .address-top-page {
        float: none;
        display: inline-flex;
        text-align: left;
        margin: auto;
    }
}
@media (min-width: 1200px){
    .header-container .layout-header-3 {text-align: left;}
    .logo {
        position: absolute;
        left: 15px;
        top: 0px;
    }
    .address-top-page {
        float: right;
        min-height: 130px;
    }
}

/* Css service */
@media (min-width: 1200px) {
    .circle-service-image {
        width: 80%;
        padding-bottom: 80%;
        margin: auto;
    }
}

/*freeze header*/
.header-container {z-index: 9999;}
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 9999;width: 100%; }
.freeze-header.with-bg{ background-color: #fff; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

@media (min-width: 993px) {
.instead-border-top-menu-mobile {display: none;}
    .header-container > .container.freeze-header.with-bg {position: relative !important;}
}

.header-social ul li, .ul-social li {
    margin: 0;
    padding: 5px;
    height: 47px;
    line-height: 47px;
}
.header-social a img {
    width: 42px;
}

.title-our-team h3 {
    margin: 5px;
    line-height: 1;
}
.title-our-team h3 a {
    height: 40px;
    line-height: 40px;
    margin: 0;
}

.ui-datepicker-div, .bootstrap-datetimepicker-widget { z-index: 99999; }

.gallery-box-wrap {padding: 0 10px;margin: 0 0 15px 0;}
.gallery-item, .gallery-item > span { height: auto; padding: 0; margin: 0; overflow: initial;}
.gallery-item>span {
    padding-bottom: 75%;
    margin-bottom: 30px;
}
.gallery-box {
    position: relative;
    background-color: #fff;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    margin: 0 -10px 10px;
}
.gallery-box .gallery-title {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;

    color: #FFF;
    font-weight: 500;
    background: rgba(3, 3, 3, 0.3);
    filter: alpha(opacity=30);
    max-height: 60px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}
.gallery-item:hover .gallery-box, .gallery-item:focus .gallery-box {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.image-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.image-bg img, ul#portfolio-grid li .image-bg img {
    display: none;
}
/*.gallery-box:hover .image-bg, .gallery-box:focus .image-bg {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}*/

/*freeze footer*/
.freeze-footer { position: fixed; right: 0; bottom: 0; padding: 0 15px 15px 0; display: inline-block;z-index: 9999;}
.freeze-footer ul li {list-style-type: none;}
.freeze-footer a {width: 100%; margin-bottom: 15px;color: #fff;}
.freeze-footer a.btn_make_appointment {background-color: #ed2869;border-color: #ed2869;}
.freeze-footer a.btn_call_now {background-color: #fec168;border-color: #fec168;}
.freeze-footer a:hover{ border-color: #fff;color: #ffffff; }

/*freeze header*/
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 9999;width: 100%; }
.freeze-header.with-bg{ background-color: #fff; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

.scroll_btn.freeze-btn, .scroll_btn.freeze-btn-mobile {top: 130px;}
@media (min-width: 993px) {
    .wrap-freeze-header {min-height: 52px;}
    .wrap-freeze-header-mobile .instead-flag-freeze-header-mobile {display: none !important;}
    .freeze-header.freeze-header-mobile {position: initial !important;}
    .scroll_btn.freeze-btn, .scroll_btn.freeze-btn-mobile {top: 55px;}
}

.ui-datepicker-div, .bootstrap-datetimepicker-widget { z-index: 99999; }

@media screen and (max-width: 600px) {
    .contact-footer {
        z-index: 98;
    }
}

/* Slider */
.section-slider {border: none;box-sizing: content-box;padding: 0;margin: 0;}
.sp-slide-content {display: table;position: relative;width: 100%;height: 100%;text-align: center;}
.sp-buttons {margin-top: -60px;padding-bottom: 29px;}
.sp-button {border: 2px solid #fff;width: 10px;height: 10px;box-shadow: 0 0 2px #000;}
.sp-next-arrow:after, .sp-next-arrow:before, .sp-previous-arrow:after, .sp-previous-arrow:before, .sp-selected-button{background-color: #fff;}
.slider-width-height .fixed {height: 0; /* Auto height */}
@media screen and ( max-width: 767px ) {.slider-width-height .fixed {height: 0; /* Auto height */}}
@media screen and ( max-width: 575px ) {.slider-width-height .fixed {height: 0; /* Auto height */}}
@media screen and ( max-width: 354px ) {.slider-width-height .fixed {height: 0; /* Auto height */}}

body, .content-side-menu, .header-container {
    position: static;
    z-index: 1;
}
.banner-page-list, .main-content, .map-address, .footer-page {
    z-index: 2;
}
.freeze-header {
    z-index: 1040;
}
.header-mobile {
    background-color: #fff;
}
.menu-bar-mobile {
    top: 0;
    z-index: 1041;
}
.consent-btn, .consent-btn:hover, .consent-btn:focus {
    padding: 10px 15px;
    border: 1px solid #333;
}

.btn_consent, .btn_consent:hover, .btn_consent:focus {
    display: block;
    width: 100%;
    border: 1px solid #333;
    background: #f9a392;
    color: #fff;
}

.consent-btn:hover, .send_consent .btn_consent:hover {
    box-shadow: 0px 0px 3px #ddd;
}

.send_consent .relative {
    position: relative;
}

.send_consent .group-select, .send_consent .group-select label {
    float: none;
    width: 100%;
}
.send_consent .group-select {
    margin-bottom: 15px;
}

.consent-form p, .consent-form2 p {
    margin: 0 0 10px;
}

/*news module*/
.section-news .n-meta {
    border-color: #fdb1aa;
}

.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #fdb1aa;
}

.section-news .n-thumb a:after {
    background: rgba(0, 0, 0, 0.6);
}

.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}

.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content, .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details > h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #fdb1aa none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #fdb1aa;
    border-color: #fdb1aa;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #fdb1aa;
    border-color: #fdb1aa;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #fdb1aa
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #fdb1aa;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}