.welcome-text {
    font-size: 16px;
    font-family: 'CALI MT regular';
    color: #fff;
    font-weight: 300;
    line-height: 34px;
}
.background-f4{
    background: #fdb1aa;
}
.contact-link {
    font-size: 14px;
    font-family: 'Open Sans', 'Roboto Light', Arial, sans-serif;
    color: #868686;
    font-weight: 300;
    height: 34px;
    line-height: 34px;
}
.layout-header-1{
    padding-top: 3px;
    padding-bottom: 3px;
}
.contact-link i {
    font-size: 18px;
    float: left;
    margin-top: 10px;
}
.contact-link p {
    margin-right: 10px;
}
.header-container{
    position: relative;
    z-index: 999;
}
.header-social{
    float: right;
    width: 100%;
}
.header-social ul li {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0px 8px;
}
.header-social ul li:last-child a{
    margin-right: 0px;
}
.header-social ul li a {
    color: #fff;
    font-size: 19px;
}
.header-social ul li:hover a{
    color: #191818;
}
.header-social h2{
    font-family: 'CALI MT regular';
    font-size: 15px;
    font-weight: 400;
    color: #585858;
    text-transform: uppercase;
    margin-top: 40px;
    display: none;
}
.contact-link{
    float: right;
}
.logo img {
    /*width: 130px;*/
    margin: 15px 0px;
    max-width:100%;
}
.tp-leftarrow {
    z-index:100;
    cursor:pointer;
    position:relative;
    background:url('../images/next-copy-2.png') no-repeat top left !important;
    width:40px;
    height: 80px !important;
}
.tp-rightarrow {   
    z-index:100;
    cursor:pointer; 
    position:relative;  
    background:url('../images/next.png') no-repeat top left !important;   
    width:40px; 
    height: 80px !important;   
}
.main-content{
    float: left;
    width: 100%;
}
.footer{
    float: left;width: 100%;
}
/*style about-us 1*/
.bg-about-us {
    padding-right: 0px;
    width: 100%;
    background-size: 100%;
}
.title-standard{
    float: left;
    width: 100%;
}
.title-standard h2 {
    color: #000;
    font-family: 'CALI MT regular';
    font-size: 36px;
    font-weight: 500;
    margin: 20px 0px 0 0;
    position: relative;
    text-transform: uppercase;
}
.title-standard h2 span {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #fdb1aa;
    float: left;
    margin-bottom: 20px;
    margin-top: 12px;
    width: 100%;
    font-size: 17px;
    font-weight: 300;
}

.title-standard p {
    color: #8d8d8d;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    font-family: 'Open Sans', serif;
    font-style: italic;
    float: left;
    width: 100%;
    margin-top: 10px;
}
.ctn-about-us{
    float: left;
    width: 100%;
    margin: 10px 0px;
}
.ctn-about-us ul{
    margin: 30px 0px;
    float: left;
    width: 100%;
}
.ctn-about-us ul li{
    float: left;
    width: 100%;
}
.item-hag-about{
    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.img-hag-about {
    float: left;
    width: 70px;
    display: table;
    margin-right: 22px;
}
.title-hag-about{
    float: left;
    width: 100%;
}
.title-hag-about h2{
    clear: none;
    color: #585858;
    font-family: 'CALI MT regular';
    font-weight: 300;
    font-size: 16px;
    margin-top: 6px ;
    margin-bottom: 12px;
}
.title-hag-about span {
    color: #8d8d8d;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    font-family: 'Open Sans', serif;
}
.img-about-us-index{
    float: left;
    width: 100%;
    position: relative;
    padding: 10px 0px;
    height: 100%;
}
.img-about-us-index a{
    position: absolute;
    height: 100%;
    left: 0px;
    width: 100%;
    top: 0px;
    overflow: hidden;
        padding: 10px;
}
.img-about-us-index a img{
    min-width: 100%;
    max-width: initial;
    min-height: 100%;
    max-height: 100%;
        margin-left: -30%;
}
.about-flex{
    display: flex;
}
.read-more{
    width: 110px;
    height: 35px;
    float: initial;
    color: #f9a392;
    line-height: 35px;
    text-align: left;
    font-weight: 600;
    font-family: 'CALI MT regular';
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
}
.read-more:hover{
    color: #666;
}
.business-hour{
    width: 100%;
    text-align: left;
}
.business-hour h2{
    font-family: 'CALI MT regular';
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}
.business-hour ul {
    float: initial;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.business-hour ul li {
    width: 100%;
    float: left;
    text-align: center;
}
.business-hour ul li p {
    color: #666;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: 'CALI MT regular';
}
.business-hour  ul li p span{
    margin-left: 6px;
}
/*end about us 1*/

/*end our-services 1*/
.video-services{
    position: relative;
    float: left;
    width: 100%;
}
.our-services {
    width: 100%;
}
.our-services .row{
}
.our-services .col-xs-6{
}
.ctn-our-services{
    float: left;
    width: 100%;
    height: 100%;
    
}
.video-services:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(10, 10, 10, 0.47);
    width: 100%;
    height: 100%;
}
.our-services .container{
    position: relative;
    z-index: 999;
}
#owl-our-services{
    float: left;
    width: 100%;
}
.our-services .title-standard h2{
}
#owl-our-services{
    margin: 20px -30px;
}
#owl-our-services .owl-item{
    padding: 10px 30px;
}

.item-our-services {
    /*float: left;*/
    /*width: 100%;*/
    border-top: 15px solid #fff;
    border-bottom: 15px solid #fff;
}
.img-our-services {
    float: left;
    width: 100%;
    /*height: 250px;*/
    margin-bottom: 10px;
    overflow: hidden;
}
.img-our-services img {
    /*height: 100%;*/
    display: block;
    margin: auto;
    width: 100%;
}
.title-our-services {
    float: left;
    width: 100%;
    text-align: center;
    height: 100%;
    display: table;
    margin: 0 auto;
    margin-top: -100px;
    border: 20px solid transparent;
}
.title-our-services .vertical{
    /*height: 270px;*/
    background: #fff;
    /*position: relative;*/
}
.title-our-services h2 a {
    color: #000;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'CALI MT regular';
}
.title-our-services h2 a:hover{
    color: #a58307;
}
.title-our-services p{
    font-family: 'Open Sans', serif;
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
}
.choice-services {
    color: #fdb1aa;
    font-family: 'Open Sans';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    background: #fff;
    border: 1px solid #fdb1aa;
    display: inline-block;
    padding: 11px 65px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.choice-services:hover{
    background: #fdb1aa;
    color: #000;
}
.book-online {
    float: left;
    width: 100%;
    background: #f9a392;
    height: 100px;
}
.book-online span{
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    float:left;
        padding-top: 41px;
}
.book-online a {
    float: right;
    color: #f9a392;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    background: #fff;
    padding: 5px;
    margin-top: 24px;
}
.book-online a spam{
    border: 1px solid #f9a392;
    padding: 10px 20px;
    display: block;
}
.book-online a spam:hover{
    border: 1px solid #000;
    color: #000;
}
/*end our-services 1*/

/* services 2*/
.services-style-2{
    float: left;
    width: 100%;
    margin: 20px 0px;
}
.title-services-2 {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    margin: 15px 0px;
    position: relative;
}
.title-services-2:after{
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0px;
    width: 100%;
    height: 10px;
    background: url('../images/mod-line.png') no-repeat;
}
.box-services-left {
    float: left;
    width: 100%;
    padding-right: 60px;
}
.item-services-2{
    float: left;
    width: 100%;
}
.item-services-2 h3{
    font-weight: 600;
    font-size: 20px;
    color: #ff0000;
    text-transform: uppercase;
    font-family: Open Sans;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 23px;
}
.item-services-2 ul{
    float: left;
    width: 100%;
}
.item-services-2 ul li{
    float: left;
    width: 100%;
}
.item-services-2 ul li p{
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.item-services-2 ul li p span{
    float: right;
}
.table-list-services{
    float: left;
    width: 100%;
    margin-top: 15px;
}
.item-table-services{
    float: left;
    width: 100%;
    margin-bottom: 12px;
}
.item-table-services label {
    float: left;
    width: 50%;
    color: #ff6600;
    font-size: 14px;
    font-weight: 600;
    font-family: Open Sans;
}
.price-services {
    float: left;
    width: 100px;
    color: #ff6600;
    font-size: 14px;
    font-weight: 600;
    font-family: Open Sans;
    line-height: 29px;
    margin-top: -5px;
}
.manicure-services{
    float: right;
    color: #ff6600;
    font-size: 14px;
    font-weight: 600;
    font-family: Open Sans;
}
.box-services-right{
    float: left;
    width: 100%;
    padding-left: 70px;
}
.banner-services-2{
    float: left;
    width: 100%;
    margin-top: 30px;
}
.banner-services-2 img{
    width: 100%;
}
/*end services 2*/

/*end gallery 1*/
.list-gallery-page-1{
    float: left;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.item-list-gallery{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.img-item-list-gallery img{
    height: 100%;
    max-width: initial;
    min-width: 100%;
}
.btn-item-list-gallery{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: url('../images/bg-tran-slider.png');
}
.btn-item-list-gallery h2 a{
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
}
.btn-item-list-gallery h2 a:hover {
    color: #f9c593;
}
.img-item-list-gallery{
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
}
.gallery-index{
    float: left;
    width: 100%;
    padding-top: 60px;
    position: relative;
    padding-bottom: 100px;
    background: #fefcfd;
}
.ctn-gallery-index{
    float: left;
    width: 100%;
    margin: 20px 0px;
}
.gallery-img-big, .gallery-img-small{
    float: left;
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-height: 460px;
}
.gallery-img-big a, .gallery-img-big a img{
    float: left;
    height: 100%;
    min-width: 100%;
}
.gallery-img-small a{
    float: left;
    width: 100%;
    height: 50%;
}
.gallery-img-small a img{
    height: 100%;
    float: left;
    max-width: initial;
    min-width: 100%;
}
.gallery-img-small a:first-child{
    border-bottom: 15px solid #fff;
}
.gallery-img-small a:last-child{
    border-top: 15px solid #fff;
}
.bg-nail-gallery {
    background-position: left bottom;
    position: absolute;
    left: 0px;
    bottom: -200px;
    width: 1000px;
    height: 570px;
    background-repeat: no-repeat;
    z-index: 99;
}
.gallery-index .container{
    position: relative;
    z-index: 999;
}
/*end gallery1*/

/*contact form 1*/
.contact-form-1 {
    float: left;
    width: 100%;
    padding: 50px 0px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 120px;
}
.bg-fefcfd{
    background: #fefcfd;
}
.ctn-contact-form-1 {
    float: left;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 9px #ccc;
    position: relative;
    z-index: 999;
}
.ctn-order-fixed {
    padding: 0px 10px;
    margin-top: 0px;
    float: left;
    width: 100%;
}
.style-input {
    background: #fff;
    border: none;
    margin: 7px 0px;
    border-radius: 4px;
    height: 40px;
    padding-left: 10px;
    color: #000;
    width: 100%;
    line-height: 43px;
    border: 1px solid #ddd;

}
.ctn-order-fixed .style-input:first-child{
    margin-top: 0px;
}
.style-button {
    background: #850050;
    border: none;
    margin: 7px 0px;
    border-radius: 4px;
    padding-left: 10px;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 25px;
    line-height: 22px;
    float: left;
}
.style-textarea{
    min-height: 120px;
}
.subscrible{
    float: left;
    width: 100%;
    margin-top: 80px;
    background: url('../images/bg-footer.png') no-repeat;
    height: 130px;
}
.subscrible .style-input {
    width: 100%;
    display: inline-block;
}
.subscrible .style-button {
    display: inline-block;
    float: initial;
}
.subscrible-form{
    float: left;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}
.bg-contact-form {
    background-position: left bottom;
    position: absolute;
    right: 0px;
    bottom: 00px;
    width: 500px;
    height: 570px;
    background-repeat: no-repeat;
    z-index: 4;
}
.contact-form-1 .container{
    position: relative;
    z-index: 99;
}
.subscrible-form h2{
    font-family: 'uvn song sang';
    display: inline-block;
    font-size: 30px;
    margin: 0px;
}
/*.item-subscrible {
    width: 23.3333%;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}*/
.subscrible .style-button {
    display: inline-block;
    float: initial;
    margin-left: 15px;
}
.address-contact h2 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.address-contact ul li {
    margin-bottom: 15px;
    font-size: 14px;
}
.map-address h2 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    float: left;
    width: 100%;
    margin-bottom: 25px;
    text-transform: uppercase;
    display: none;
}
.map-address iframe{
    width: 100%;
}
.contact-page-1{
    float: left;
    width: 100%;
    padding: 60px 0px;
}
.form-input-infor{
    float: left;
    width: 100%;
}
.form-input-infor h2{
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto;
    color: #515151;
}
.form-input-infor p{
    font-size: 15px;
    color: #777;
}
/*end contact form 1*/

/*footer template 1*/

.footer-page{
    float: left;
    width: 100%;
}
.footer-page .header-social ul li a {
    color: #000;
    font-size: 25px;
    margin-left: 5px;
}
.footer-page .header-social h2{
    font-family: 'CALI MT regular';
    font-size: 15px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    margin-top: 40px;
    display: block;
}
.footer-page .header-social {
    float: right;
    width: 100%;
    margin-bottom: 30px;
}
.logo-footer{
    padding-top: 80px;
    padding-bottom: 40px;
}
.copyright {
    padding: 20px 0px;
    color: #333;
    font-size: 12px;
    position: relative;
    padding-bottom: 35px;
}
.contact-footer {
    padding-bottom: 20px;
    position: relative;
    padding-top: 20px;
    z-index: 99;
}
.contact-footer h2{

}
.contact-footer p {
    font-size: 16px;
    margin-bottom: 7px;
    line-height: 31px;
}
.contact-footer p span{
    color: #850050;
}
.list-icon{
    position: relative;
    z-index: 999;
}
.list-icon a{
    color: #fff;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 5px;
}
.list-icon a:hover{
    color: #e2096d;
    
}
.arrow-footer {
    background: url('../images/Shape-4.png') center bottom no-repeat;
    width: 196px;
    height: 213px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -2px;
    margin: auto;
    cursor: pointer;
}
.arrow-footer span {
    color: #fff;
    position: absolute;
    bottom: 18px;
    width: 13px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 25px;
    padding-top: 200px;
}
.arrow-footer span:first-child {
    bottom: 20px;
    left: 4px;
    font-size: 12px;
}
.copyright p{
    color: #424242;
    font-weight: 500;
    font-size: 14px;
}
.footer-page{
    position: relative;
    border-top: 1px solid #e5e5e5;
}
/*end footer template 1*/
.logo{
    position: absolute;
    left: 0px;
    top: 0px;
}
/*menu*/
.main-menu {
    padding-top: 19px;
    padding-bottom: 13px;
    text-align: center;
}
.main-menu ul li a {
    font-size: 16px;
    font-family: 'CALI MT bold';
    font-weight: 400;
    text-transform: capitalize;
    color: #000;
    border-bottom: 1px solid transparent;
        padding-bottom: 5px;
}
.main-menu ul li:hover a, .main-menu ul li.active a{
    color: #fdb1aa;
}
.main-menu ul li {
    position: relative;
}
.box-menu-2 {
    display: none;
    position: absolute;
    top: 100%;
    background: rgb(16, 15, 16);
    padding: 10px 0px;
    left: 0px;
    min-width: 185px;
}
.main-menu ul li:hover .box-menu-2{
    display: block;
}
.box-menu-3 {
    display: none;
    position: absolute;
    top: -10px;
    background: rgb(37, 25, 32);
    padding: 10px 0px;
    left: 100%;
    min-width: 170px;
    margin-left: 0px;
}
.menu-item-lv2, .menu-item-lv3 {
    float: left;
    width: 100%;
    margin-bottom: 0px;
    position: relative;
    padding: 8px 15px;
    
}
.menu-item-lv2:hover{
    background: #251920;
}
.menu-item-lv2 a{
    margin: 0px;
    padding: 0px  !important;
}
.span-lv-1 {
    position: absolute;
    right: -13px;
    top: 13px;
    color: #000;
}
.span-lv-2 {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
}
.menu-item-lv2 a{
    margin: 0px !important;
    width: 100%; 
    float:left;
}
.menu-item-lv2:hover .box-menu-3{
    display: block;
}
.box-menu-2 .menu-item-lv2:last-child, .box-menu-2 .menu-item-lv3:last-child{
    margin-bottom: 0px !important;
}
.menu-item-lv2 a, .menu-item-lv3 a {
    color: #fff !important;
    border-bottom: none !important;
    text-align: left;
    font-size: 14px !important;
    padding: 4px 0px !important;
}
.menu-item-lv3:hover {
    background: #100f10;
}
/*end menu*/

/*header-style-2*/
.header-style-2{

}
.header-style-2 .layout-header-2{
    float: left;
}
.header-style-2 .logo img {
    width: 160px;
    margin: 15px 0px;
}
.header-style-2 .layout-header-3{
    float: right;
    margin-top: 30px;
}
.header-style-2 .main-menu ul li a {
    font-size: 16px;
    font-family: 'Roboto', 'Roboto Light', Arial, sans-serif;
    font-weight: 400;
}
/*end header-style-2*/

.banner-page-list {
    height: 80px;
    overflow: hidden;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    /*float: left;*/
    background-size: cover;
    width: 100%;
}
.banner-page-list:after {
    content: "";
    background: rgba(251, 175, 169, 0.52);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.banner-page-list .title-page {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    max-height: 425px;
    left: 0px;
    z-index: 99;
}
.banner-page-list h2{
    font-family: 'CALI MT regular';
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 22px;
}
.banner-page-list .container{
    position: relative;
    height: 100%;
}
/*breakcrumb*/
.breakcrumb {
    float: right;
    background: transparent;
    padding-top: 22px;
    text-align: right;
    color: #fff;
    display: none;
}
.breakcrumb a, .breakcrumb p{
    padding: 10px 7px;
   display: inline-block;
   color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', serif;
}
.breakcrumb a:hover{
    color: red;
}
/*end breakcrumb*/

/*style page services 1*/
.services-style-1{
    float: left;
    width: 100%;
    margin: 30px 0px;
}
.cate-services{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
.cate-services h2 {
    float: left;
    width: 100%;
    margin: 15px 0px;
    color: #666;
    font-size: 18px;
    font-family: Roboto;
}
.cate-services ul{
    float: left;
    width: 100%;
    box-shadow: 0px 0px 5px #ccc;
}
.cate-services ul li a{
    float: left;
    width: 100%;
    margin: 0px;
    font-size: 15px;
    padding: 12px 25px;
    color: #666;
    font-family: Roboto;
    font-weight: 300;
    border-top: 1px solid #ebebeb;
}
.cate-services ul li:hover a, .cate-services ul li.active a{
    background: #900057;
    color: #fff;
}
.cate-services:after {
    content: "";
    background: url('../images/bg-bar-services.png') center bottom no-repeat;
    background-size: 100%;
    bottom: -9px;
    left: 4px;
    width: 100%;
    position: absolute;
    height: 15px;
}
.list-services{
    float: left;
    width: 100%;
}
.item-services {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
}
.img-item-services {
    float: left;
    margin-right: 30px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #d59ebf;
    position: relative;
    margin-top: 25px;
}
.img-item-services img {
    position: absolute;
    min-height: 100%;
    max-width: initial;
    left: -30%;
}
.title-item-services h2 {
    clear: initial;
    margin-bottom: 0px;
}
.title-item-services h2 a{
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
}
.title-item-services span.time{
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    color: #999;
}
.title-item-services p{
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    color: #999;
    margin-top: 15px;
}
.title-item-services .view-more{
    background: #850050;
    color: #fff;
    padding: 6px 21px;
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 8px;
    font-family: Roboto;
    font-weight: 300;
}
/*end style page services 1*/

/*style page gallery 1*/
.gallery-style-1{
    float: left;
    width: 100%;
}
.cate-gallery{
    float: left;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.cate-gallery ul li{
    display: inline-block;
}
.cate-gallery ul li a, .cate-gallery ul li span.filter-by {
    font-family: 'CALI MT regular';
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding: 10px 20px;
    color: #666666;
    display: inline-block;
    cursor: pointer;
}
.cate-gallery ul li.active a, .cate-gallery ul li:hover a,
.cate-gallery ul li.active span.filter-by, .cate-gallery ul li:hover span.filter-by{
    background: #f9a392;
    color: #fff;
}
.item-gallery{
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
}
.img-item-gallery{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
        z-index: 9999;
}
.img-item-gallery img {
    /*height: 100%;*/
    max-width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    /*min-width: 100%;*/
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    margin: auto;
}
.img-item-gallery:hover img{
    transform:scale(1.1);
}
.social-item-gallery {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.77);
    text-align: center;
    border: 7px solid #fadcd6;
    display: table;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.social-item-gallery h2 a{
    text-align: center;
    color: #f9a392;
    float: left;
    width: 100%;
    font-size: 16px;
    margin-bottom: 90px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s; 
    font-family: 'CALI MT regular';
    text-transform: uppercase;
}
.social-item-gallery ul li{
    display: inline-block;
    margin: 0px 6px;
}
.social-item-gallery ul li a {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    padding-top: 5px;
}

.item-gallery.active .social-item-gallery{
    opacity: 1;
}
.item-gallery.active .social-item-gallery h2 a{
    margin-bottom: 5px;
}
.item-gallery.active .social-item-gallery span{
    color: #f9a392;
    text-transform: uppercase;
    font-size: 14px;
}
.item-gallery .social-item-gallery span{
    color: #f9a392;
    text-transform: uppercase;
    font-size: 14px;
}
.social-item-gallery ul li a:hover {
    color: #fff;
    background:  #8e0808;
    border: 2px solid #8e0808;
}
.list-gallery{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.item-gallery.active .social-item-gallery h2 a:hover{
        color: #a58307;
}
.btn-load-more{
    float: left;
    width: 100%;
    text-align: center;
}
.btn-load-more a {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    background: #f9a392;
    padding: 5px;
    margin-top: 60px;
    display: inline-block;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.btn-load-more a span{
    border: 1px solid #fff;
    padding: 12px 35px;
    display: block;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.btn-load-more a span:hover{
    border: 1px solid #777;
    color: #fff;
}
/*end style page gallery 1*/

/*about us 1*/
.about-us{
    float: left;
    width: 100%;
    background: #faf2ef;
    padding: 20px 0px;
}
.about-us-page-1 .title-about-us {
    font-family: 'utm swiss condensed';
    color: #333333;
    font-size: 36px;
    margin-bottom: 0px;
}
.item-about-us{
    float: left;
    width: 100%;
}
.content-item-about-us{
    float: left;
    width: 50%;
}
.img-item-about-us{
    float: left;
    width: 50%;
}
.about-us-page-1 .item-about-us:nth-child(2n+1) .content-item-about-us{
    float: right;
}
.content-item-about-us p {
    font-size: 14px;
    line-height: 27px;
    text-align: justify;
    padding-right: 30px;
    margin-top: 50px;
    color: #333333;
}
.about-us-page-1 .item-about-us:nth-child(2n+1) .content-item-about-us{
    float: right;
    padding-right: 0px;
    padding-left: 30px;
}
/*end about us 1*/

/*Coupon page 1*/
.coupon-page-1{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.coupon-page-1 .item-coupon{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.coupon-page-1 .item-coupon h2{
    text-align: center;

}
.print-me i{
    margin-right: 5px;
}
/*end Coupon page 1*/

/*video page 1*/
.video-page-1{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.video-page-1 .item-video{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}
.btn-item-video{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 85%;
}
.btn-item-video:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
}
.btn-item-video a.button-play{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    background: url('../images/play-button.png') no-repeat;
    z-index: 9999;
}
.video-play{
    border-radius: 50%;
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
    
}
.width-show-iframe{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 854px;
    height: 480px;
    z-index: 9999;
}
.show-iframe{
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   margin: auto;
   width: 854px;
   height: 480px;
   z-index: 9999;
}
.overlay{
    float: left;
    width: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform:scale(0);
    z-index: 999999;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s; 
    background: url('../images/bg-tran-slider.png');
}
.show-overlay{
    transform:scale(1);
    display: block;
}

.hide-video{
    opacity: 1;
}
.bt-menu-trigger {
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 200;
    -webkit-transform: translateY(-100%) translateY(-20px);
    transform: translateY(-100%) translateY(-20px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.bt-menu-trigger span:before, .bt-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
}
.bt-menu-trigger span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.bt-menu-trigger span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.overlay-btn{
    content: "";
    position: absolute;
    background: url('../images/bg-tran-slider.png') ;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.show-iframe iframe{
    width: 100%;
    height: 100%;
}
.btn-play {
    position: absolute;
    background: url('../images/icon-play.png') no-repeat;
        height: 95px;
    width: 95px;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 999;
    cursor: pointer;
}
/*end video page 1*/

/*gift-card-page-1*/
.gift-card-page-1{
    float: left;
    width: 100%;
    margin: 40px 0; 
}
.title-certifie{
    float: left;
    width: 100%;
}
.title-certifie h2{
    font-weight: 300;
    text-align: center;
    color: #111;
}
.title-certifie p{
    text-align: center;
    margin-bottom: 15px;
    color: #565656;
}
.form-input-card {
    float: left;
    width: 100%;
    margin: 15px 0px;
    text-align: center;
}
.form-input-card input{
    min-width: 650px;
    height: 40px;
    padding: 0px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ebebeb;
    margin: 0px 20px;
}
.form-input-name input{
    min-width: 300px;
    height: 40px;
    padding: 0px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ebebeb;
    margin: 0px 20px;
}
.form-input-name{
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}
span.note{
    float: left;
    width: 100%;
    text-align: center;
}
.add-ticket{
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.add-ticket h2 {
    font-weight: 300;
    text-align: center;
    color: #111;
    text-transform: uppercase;
    font-size: 14px;
}
.check-ticket input{
    margin-right: 10px;
}
.check-ticket{
    font-weight: 300;
    font-size: 14px;
    color: #666;
}
.check-ticket span{
    margin: 15px 0px;
}

/*gift card 2 page*/
.gift-card-page-2{
    float: left;
    width: 100%;
}
.gift-card-step-2{
    width: 700px;
    margin: 40px auto;
}
.ctn-gift-card-step2{
    float: left;
    width: 100%;
    background: #f9f9f9;
    border:2px solid #ddd;
    border-radius: 5px;
    padding: 30px;
}
.ctn-gift-card-step2 ul li{
    float: left;
    width: 100%;
}
.gift-card-item{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}
.gift-card-item label {
    float: left;
    width: 180px;
    position: absolute;
    left: 0px;
    top: 1px;
    font-weight: 600;
    font-family: Roboto;
}
.gift-card-item span{
    font-weight: 600;
    font-family: Roboto;
    float: left;
    width: 100%;
}
.gift-card-item p {
    float: left;
    padding-left: 140px;
}
.gift-card-item img{
    width: 120px;
    border:1px solid #ebebeb;
    border-radius: 5px;
}
.gift-card-paypal img{
    width: initial;
    border: none;
}
.btn-purchase{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.btn-purchase a {
    text-decoration: none;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    color: #ffffff;
    background: #51a351;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    padding: 7px 20px;
    border-radius: 4px;
    margin: 0px 5px;
}
.btn-purchase a:hover{
    background: #347234;
}
/*end gift card 2 page*/

/*gift card 3 page*/
.gift-card-page-3{
    float: left;
    width: 100%;
}
.gift-card-step-3{
    float: left;
    width: 670px;
        padding: 20px;
    border-radius: 5px;
    border: 2px solid #999;
    margin: 30px;
}
.img-gift-step-3{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.ctn-gift-card-step-3{
    float: left;
    width: 100%;
}
.img-gift-step-3 img{
    width: 100%;
    border-radius: 5px;
}
.ctn-gift-step-3{
    float: left;
    width: 100%;
}
.img-step-3{
    float: left;
    width: 120px;
    margin-right: 30px;
}
.img-step-3 img{
    border-radius: 5px;
}
.ctn-gift-step-3 h2{
    clear: initial;
}
.ctn-gift-step-3 h2 a{
    font-size: 16px;
}
.qr-step-3{
    float: left;
    width: 100%;
}
.qr-step-3 ul{
    float: left;
    width: 300px;
    margin-top: 15px;
}
.qr-step-3 ul li p {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    
}
.qr-step-3 ul li p span{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    float: left;
}
.qr-step-3 ul li p spam{
    color: red;
}
.qr-img{
    float: right;
    padding: 5px;
    border-radius: 5px;
     border: 1px solid #ebebeb;
}
.qr-note{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.qr-note p{
    padding: 15px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
/*end gift card 3 page*/

/* .squaredFour */
.squaredFour {
     width: 20px; 
    position: relative;
    display: inline-block;
    margin-right: 7px;
}
.squaredFour label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    /*background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredFour label:after {
    content: '';
    width: 14px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredFour label:hover::after {
    opacity: 0.5;
}
.squaredFour input[type=checkbox], .squaredFour input[type=radio] {
    visibility: hidden;
}
.squaredFour input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.squaredFour input[type=radio]:checked + label:after {
    opacity: 1;
}
.squaredFour label.radio-lb{
    border-radius: 50%;
}
.wpgc_terms{
    margin: 15px auto;
    width: 500px;
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 15px;
    display: none;
}
/* end .squaredFour */
.add-ticket span{
    color: #828282;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    font-family: Roboto;
    margin-top: 15px;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.item-ticket {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
.item-ticket .squaredFour {
    width: 20px;
    position: relative;
    display: inline-block;
    margin-right: 7px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.img-item-ticket{
    padding-left: 30px;
}
.img-item-ticket img{
    float: left;
    width: 100%;
    border-radius: 20px;
}
.list-ticket{
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkout-ticket{
    float: left;
    width: 100%;
    text-align: center;
}
.personalize{
    font-size: 14px;
}
.personalize span, .checkout-ticket p{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    text-align: center;
        font-size: 14px;
}
.checkout-ticket p a{
    color: red;
}
.checkout-ticket button{
    background: -webkit-linear-gradient(top, #0cbd11 0%, #0f9a12 40%, #076d09 100%);
    background: linear-gradient(to bottom, #0cbd11 0%, #0f9a12 40%, #076d09 100%);
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
}
/*gift-card-page-1*/

/*booking*/
.white-popup {
    position: relative;
    padding: 20px;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
}
.content-shop-booking{
    float: left;
    width: 100%;
    padding: 40px 60px;
}
.group-select select {
    color: #545554;
    font-family: Arial;
    font-size: 16px;
    padding-left: 10px;
    height: 34px;
    line-height: normal;
    border-radius: 4px;
    outline: none;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
optgroup {
    font-weight: 700;
    color: #b98656;
    width: 100%;
}
.group-select select option{
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select label {
    float: left;
    width: 100%;
    font-family: 'Open Sans', 'Roboto Light', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 8px;
    color: #333;
}
.content-shop-booking{
    float: left;

    width: 100%;
}
.datepicker-days{
    padding: 10px;
}
.datepicker-days td.active:hover {
    background-color: #eb6663;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.old{
    color: #ccc;
    cursor: no-drop;
}
.btn-search {
    float: left;
    width: 100px;
    height: 40px;
    margin-top: 43px;
    margin-left: 30px;
    border: none;
    color: #444;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    background-color: #fdb1aa;
}
.group-select {
    float: left;
    width: 260px;
    margin-right: 30px;
}
.group-select select{
    width: 100%;
}
.box-date{
    margin-right: 0px;
    /* width: 120px; */
}
.add-services{
    float: left;
    width: 100%;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.add-services img{
    margin-top: -4px;
    margin-right: 6px;
}
.item-booking{
    float: left;
    width: 100%;
    position: relative;
}
.removeButton {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 10px;
}
.removeButton+.group-select >label{
    margin-left:35px;
}
.infor-booking{
    float: left;
    width: 100%;
    margin: 30px 0px;
    background: #fff;
}
.staff{
    float: left;
    width: 100%;
    padding: 15px;

}
.img-info-staff{
    float: left;
    max-width: 150px;
    margin-right: 15px;
}
.title-staff h2 {
    clear: none;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 6px;
    margin-top: 5px;
}
.title-staff h2 a{
    color: #666;
}
.title-staff span {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #9a8b8b;
}
.info-staff{
    float: left;
    width: 50%;
    margin-bottom: 15px;
}
.time-booking{
    float: left;
    width: 100%;
    padding: 15px;
}
.time-booking p{
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.am, .pm{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.am label, .pm label{
    font-size: 14px;
    float: left;
    width: 100%;
    margin-bottom: 7px;
}
.am a, .pm a {
    float: left;
    padding: 7px 15px 5px 15px;
    background: #ebebeb;
    margin-right: 7px;
    font-size: 14px;
    margin-bottom: 7px;
    width: 95px;
}
.social-box {
    float: left;width: 100%;
    margin: 10px;
}
.social-box  ul li{
    display: inline-block;
}
.social-box  ul li a{
    background: #000;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    text-align: center;
    padding-top: -1px;
    font-size: 15px;
}
.bg-red{
    background: red !important;
}
.bg-blue{
    background: #395C94 !important;
}
.skype{
    background: #AEDCF3 !important;
}
.pinter{
    background: #CA1E2C !important;
}
.style-2{
    display: flex;
}
.style-2 .staff {
    float: left;
     width: initial; 
    padding: 15px;
    display: flex;
}
.style-2 .info-staff {
    float: left;
     width: initial; 
    display: flex;
    min-width: 300px;
}
.style-2 .img-info-staff {
    float: left;
    max-width: 150px;
    margin-right: 15px;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #e9eaea;
}
.modal-header .close {
    margin-top: -2px;
    position: absolute;
    right: 18px;
}
.modal-title {
    margin: 0;
    line-height: 21px;
    font-size: 21px;
    color: #71706e;
    letter-spacing: 1px;
}
.modal-body, .box-account{
    float: left;
    width: 100%;
}
.bg-pop-white {
    background: #fff;
    padding: 15px;
    float: left;
    width: 100%;
}
.box-account h2 {
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    font-weight: normal;
    color: #7e7e7e;
    clear: both;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 6px;
}
.border-right{
    border-right: 1px solid #ebebeb;
}
.form-input-md{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.inputbox-type1{
    float: left;
    height: 35px;
    padding-left: 10px;
    width: 100%;
}
.reset-pass{
    float: left;
    width: 100%;
}
#chkRemember{
    margin-right: 4px;
    float: left;
}
.reset-pass a {
    float: right;
    font-weight: bold;
    color: #8a0404;
}
.reset-pass span{
    float: left;
    margin-top: 2px;
}
.modal-content{
    float: left;
}
.modal-footer{
    float: left;
    width: 100%;
    background: #ebebeb;
}
.btn-close{
    border-radius: 0px;
    background: #515151;
    color: #fff;
    border:none;
}
#lnkRegister {
    float: left;
    width: 100%;
    height: 35px;
    border: none;
    background: #d67906;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.btn-close:hover {
    color: #fff;
    background-color: #635757;
    border-color: #adadad;
}
.or{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 3px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.btn-login {
    float: left;
    height: 35px;
    border: none;
    background: #e04a32;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 0;
    margin-left: 15px;
}
.btn-login:hover{
    background: #d67906;
    color: #fff;
}
.cont-order p {
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
    margin-right: 30px;
    font-size: 15px;
}
.cont-order p span{
    font-weight: normal;
    margin-left: 5px;
}
.group-p{
    float: left;
    width: 100%;
}
.sdt-customer{
    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 7px;
    margin-top: 10px;
}
.sdt-customer select{
    height: 35px;
    border: 1px solid #ccc;
    padding: 0px 15px;
    margin-right: 10px;
    float: left;
}
.sdt-customer input{
    max-width: 200px;
    border: 1px solid #ccc;
}
.comment-customer{
    float: left;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    display: flex;
}
.comment-customer label{
    margin-right: 15px;
}
.comment-customer textarea{
    border: 1px solid #ccc;
    width: 250px;
    height: 70px;
}
.note label{
    font-weight: normal;
    font-size: 13px;
    margin-top: 10px;
    color: #ccc;
}
.white-popup {
  position: relative;
  padding: 20px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}
.social-login {
    margin: 0px auto;
    width: 300px;
    display: flex;
}
.social-login a {
    width: 50%;
    display: inline-block;
    padding: 15px;
}
.social-login a img{
}
.star-inline span{
    display: inline-block;
}

/*reviews*/
.box-review-shop{
    float: left;
    width: 100%;
    padding: 30px;
}
.add-reviews{
    float: right;
}
.add-reviews a{
    float: right;
    padding: 10px 15px;
    border:1px solid #ebebeb;
    background: rgba(99, 28, 47, 0.48);
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}
.add-reviews a i{
    margin-right: 7px;
}
.img-care-item h2{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-bottom: 5px;
}
.box-review-shop .title-care-item{
    margin-top: 25px;
    width: 70%;
}
.user-comment .img-care-item {
    float: left;
    width: 150px;
    height: 175px;
    overflow: hidden;
    text-align: center;
}
.add-review-star{
    float: left;
    width: 100%;
}
.add-review-star label{
    font-size: 16px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.add-review-star span{
    font-size: 20px;
}
.add-review-comment label{
    font-size: 16px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 25px;
}
.add-review-comment textarea{
    float: left;
    width: 100%;
    padding: 10px;
    min-height: 150px;
}
.content-wrap-show .shop-themes {
    float: left;
    width: 100%;
    margin: 0px 0px;
}
.bg-shop-special {
    background: #eceaea;
    background-size: 100%;
    float: left;
    width: 100%;
    background-position: 0px 0px;
    /* background-color: #5e1439; */
}
.mfp-close {
    right: 12px;
    top: 1px;
}
.btn-close {
    border-radius: 0px;
    background: #515151 !important;
    color: #fff !important;
    border: none;
    width: 80px;
    font-size: 12px;
    text-transform: uppercase;
    top: 14px;
    height: 35px;
    line-height: 35px;
    right: 30px;
}
.modal-footer, .modal-header {
    position: relative;
}
.left-ctn-book{
    float: left;
    width: 550px;
}
.btn-item-booking{
    float: left;
}
/* end booking*/
.ac{
    float: left;
    width: 100%;
}
.lost-child a{
    font-family: 'CALI MT regular';
    color:#FFF;
}
/* testimonials*/
.testimonials-index{
    float: left;
    width: 100%;
    padding: 30px 0px;
    display: none;
    overflow: hidden;
}
.ctn-testimonials-index{
    float: left;
    width: 100%;
    padding-top:50px;
}
.item-testimonials-review{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.testimonials-img{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.testimonials-img a {
    width: 93px;
    height: 93px;
    border-radius: 50%;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}
.testimonials-img a img{
    height: 100%;
    max-width: 150%;
}
.testimonials-title{
    float: left;
    width: 100%;
    padding: 0px 30px;
}
.testimonials-title p{
     font-family: 'Open Sans';
     font-size: 16px;
     font-weight: 300;
     font-style: italic;
}
.testimonials-title span{
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 20px;
}
.testimonials-title h2 {
    font-family: 'CALI MT regular';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    color: #686868;
    display: block;
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 3px;
}
.testimonials-title spam{
    color: #d7d7d7;
    font-family: 'Open Sans';
     font-size: 15px;
     font-weight: 300;
}
.testimonials-index .owl-prev{
    position: absolute;
    left: -30px;
    top: 50%;
    font-size: 40px;
    opacity: 0;
}
.testimonials-index .owl-next{
    position: absolute;
    right: -30px;
    top: 50%;
    font-size: 40px;
    opacity: 0;
}
.testimonials-index:hover .owl-next, .testimonials-index:hover .owl-prev{
    opacity: 1;
}
/* end testimonials*/

/* end blog-news*/
.blog-news-index{
    float: left;
    overflow: hidden;
    width: 100%;
}
.ctn-blog-news-index{
    float: left;
    width: 100%;
    padding-bottom:30px;
}
.item-blog-news-index{
    float: left;
    width: 100%;
    padding: 0px 15px;
}
.blog-news-index-img{
    float: left;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.blog-news-index-img img{
    /*height: 100%;
    max-width: initial;*/
    display: block;
    margin: 0 auto;
}
.time-img-blog {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #f9a392;
    width: 62px;
    height: 71px;
    font-family: 'CALI MT regular';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    text-align: center;
        padding-top: 13px;
    line-height: 25px;
}
.time-img-blog spam{
    display: block;
}
.blog-news-index-title h2{
    float: left;
    font-family: 'CALI MT regular';
    font-size: 15px;
    font-weight: 300;
    text-transform: none;
    width: 100%;
    line-height: 22px;
    text-align: center;
    margin-top: 0px;
}
.blog-news-index-title h2 a{
    font-family: 'CALI MT regular';
    color: #000;
        font-size: 18px;
}
.blog-news-index-title{
    float: left;
    width: 100%;
    text-align: center;
}
.time-blog{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
.time-blog span{
    background: #fdb1aa;
    margin-top: 20px;
    display: inline-block;
    padding: 8px 25px 5px 25px;
    font-family: 'CALI MT regular';
    color: #000;
    font-size: 13px;
}
.time-blog span i{
    color: #f9a392;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}
.blog-news-index-title p{
    float: left;
    width: 100%;
    font-family: 'CALI MT regular';
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #666;
}
.owl-blog-news .owl-prev{
    position: absolute;
    left: -30px;
    top: 50%;
    font-size: 40px;
    opacity: 1;
}
.owl-blog-news .owl-next{
    position: absolute;
    right: -30px;
    top: 50%;
    font-size: 40px;
    opacity: 1;
}
.owl-blog-news:hover .owl-next, .owl-blog-news:hover .owl-prev{
    opacity: 1;
}
/* end blog-news*/

.font-slide-h2{
    font-family: 'Great Vibes', cursive !important;
    font-size: 33px !important;
    font-weight: 400 !important;
    background: transparent !important;
    color: #fff;
    width: 100% !important;
    text-align: center !important;
}
.font-slide-h3{
    font-family: 'Prata', serif !important;
    font-weight: 400 !important;
    color: #fff;
    font-size: 42px !important;
    background: transparent !important;
    text-transform: uppercase !important;
    width: 100% !important;
    text-align: center !important;
}
.font-slide-p{
    font-family: 'Open Sans', serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    background: transparent !important;
    color: #fff;
    width: 100% !important;
    text-align: center !important;
}
.box-descript-slide h2{
    font-family: 'Prata', serif !important;
    font-weight: 400 !important;
    color: #fff;
    font-size: 42px !important;
    background: transparent !important;
    text-transform: uppercase !important;
    width: 100% !important;
    text-align: center !important;
        margin: 10px 0px;
}
.box-descript-slide img{
    margin-top: -20px;
    display: inline-block;
}
.box-descript-slide p{
}
.btn-slider{
    background: #d85246;
    display: inline-block;
    padding: 5px;
    margin-top: 15px;
}
.btn-slider a {
    float: left;
    padding: 12px 20px;
    color: #fff;
    font-family: 'CALI MT regular' !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    border: 1px solid #fff;
}
.btn-slider a:hover{
    color: #fff;
}
.btn-slider:hover {
    background: #601d17;
}
.img-slider-index{
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}
.img-slider-index:after{
    content: "";
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
        background: rgba(0, 0, 0, 0.17);
    z-index: 999;
}
.bg-fa {
    background: #fafafa;
    padding: 30px 0px 0px 0px;
}
.footer-3-box{
    float: left;
    width: 100%;
}
.footer-3-box h2{
    font-family: 'CALI MT regular';
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
}
.footer-3-box p {
    font-family: 'CALI MT regular';
    color: #666;
    line-height: 28px;
    font-size: 15px;
    float: left;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 0px;
}
.footer-3-box ul li a{
    font-family: 'CALI MT regular';
    color: #666;
    line-height: 20px;
    font-size: 14px;
    float: left;
    width: 100%;
    margin-bottom: 7px;
}
.footer-3-box ul li a{
    color: #f9a392;
}
.footer-3-box p a{
    color: #f9a392;
}
.box-newsletter{
    float: left;
    width: 100%;
    border-top:1px solid #f2f2f2;
    padding-top: 50px;
}
.box-newsletter h2 {
    font-family: 'CALI MT regular';
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    float: left;
    width: 100%;
    text-align: left;
}
.box-newsletter p{
    width: 600px;
    margin: 0 auto;
    font-family: 'CALI MT regular';
    color: #585858;
    font-size: 14px;
    display: inline-block;
}
.input-newsletter {
    width: 400px;
    margin: 30px auto;
    display: inline-block;
    position: relative;
    margin-top: 15px;
}
.input-newsletter input.style-input {
    border: none;
    height: 50px;
    border-radius: 0px;
    font-family: 'CALI MT regular';
    background: #ebebeb;
}
.input-newsletter .btn-style-input {
    position: absolute;
    right: 0px;
    top: 7px;
    height: 50px;
    background: #fdb1aa;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-left: 15px solid #fff;
    padding: 0px 30px;
    font-family: 'CALI MT regular';
}
.copyright p{
    font-family: 'CALI MT regular';
    color: #a3a3a3;
}
.copyright p a{
    color: #f9a392;
}

/*about inpage*/
.about-us-inpage .col-xs-6{
    overflow: hidden;
}
.about-us-inpage .img-about-us-index a img {
    min-width: 100%;
    max-width: initial;
    min-height: 100%;
    max-height: 100%;
    margin-left: 0%;
}
.about-us-inpage .img-about-us-index a {
    position: relative;
    height: 100%;
    left: 0px;
    width: 100%;
    top: 0px;
    overflow: hidden;
    padding: 0px;
    padding-right: 50px;
    float: left;
    width: 100%;
}
.about-us-inpage .img-about-us-index{
    float: left;
    width: 100%;
}
.ctn-about-inpage p{
    float: left;
    width: 100%;
    font-size: 18px;
    font-family: 'CALI MT regular';
    color: #666666;
    line-height: 29px;
    float: left;
    width: 100%;
    margin-top: 10px;
    text-align: right;
}
.view-more-about{
    display: inline-block;
    float: right;
    margin-top: 10px;
    background: #fdc5c0;
    padding: 5px 20px;
    font-family: 'CALI MT regular';
    color: #000;
    font-size: 15px;
}
.ourteam-of-shop{
    float: left;
    width: 100%;
    padding-bottom: 20px;
    background: #fafafa;
}
.book-staff-btn{
        display: inline-block;
    text-align: center;
    width: 100%;
}
.book-staff-btn a{
    background: #fdc5c0;
    display: inline-block;
    padding: 7px 25px;
        font-size: 15px;
    font-family: 'CALI MT regular';
}
.list-services-shop{
    float: left;
    width: 100%;
}
.title-our-team h3{
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 4px;
}
.title-our-team h3 a{
    font-family: 'CALI MT regular';
    font-size: 16px;
    font-weight: 400 ;
    color: #000;
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.title-our-team  p{
    float: left;
    width: 100%;
    font-size: 14px;
    font-family: 'CALI MT regular';
    color: #333;
    text-align: center;
}
.img-team{
    float: left;
    width: 100%;

}
.img-team img{
    width: 100%;
}
/*end about inpage*/
.gallery-inpage{
    margin: 0px;
}
.gallery-inpage .cate-gallery{
    text-align: left;
}
.ctn-about-shop .footer-3-box h2 {
    font-family: 'CALI MT regular';
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 16px;
}
#ulFacilities {
    float: left;
    margin-top: 10px;
    margin: 0px -30px;
    /*max-width: 320px;*/
}
#ulFacilities li {
    font-family: 'CALI MT regular';
    color: #000;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    float: left;
    width: 50%;
    margin-bottom: 10px;
    position: relative;
    padding: 0px 30px;
}
#ulFacilities li label{
    font-weight: 300;
}
.facility-right-col {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #fff;
    padding-left: 5px;
}
#ulFacilities li p{
    margin: 0px;
}

/*form-input-infor2*/
.form-input-infor2 .pad-15{
    padding-bottom: 5px;
    padding-top: 5px;
}
.form-input-infor2 .style-input{
    border-radius: 0px;
    border:1px solid #e5e5e5;
    height: 42px;
}
.btn-sauna {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    background: #f9a392;
    padding: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.btn-sauna .style-button:hover{
    border: 1px solid #777;
    color: #fff;
}
.img-desc-shop{
    float: left;
    width: 100%;
    margin-top: 50px;
}
.ctn-about-shop{
    float: left;
    width: 100%;
}
.img-desc-shop{
    overflow: hidden;
}
.img-desc-shop img{
    height: 823px;
    max-width: initial;
}
.custom-form-2{

}
.img-desc-shop h2 {
    font-family: 'CALI MT regular';
    font-size: 16px;
    font-weight: 400;
    color: #585858;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 28px;
}
.img-desc-shop iframe{
    height: 978px;
    width: 100%;
}
/*form-input-infor2*/

/*trang services 3*/
.services-item-product {
    float: left;
    width: 100%;
    margin-bottom: 60px;
    display: table;
}
.product-services-left {
    float: left;
    width: 330px;
    border: 1px solid #fbafa9;
    height: 152px;
    border-left: none;
    margin-left: 90px;
    padding-left: 44px;
    margin-right: 35px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.product-services-left:after {
    position: absolute;
    content: "";
    width: 14px;
    top: 0px;
    bottom: 0px;
    height: 14px;
    background: #ffffff;
    border-left: 1px solid #f9a392;
    margin: auto;
    border-bottom: 1px solid #ccc;
    transform: rotate(-133deg);
    right: -8px;
}
.img-item-product{
    overflow: hidden;
    padding-bottom: 10px;
}
.services-title-item-product {
    float: left;
    padding: 0px 0px;
    background: #fff;
    padding-left: 0px;
    width: 100%;
    text-align: center;
    height: 150px;
    overflow: hidden;
}
.services-title-item-product h3 {
    float: left;
    width: 100%;
    text-align: left;
    color: #000000;
    font-size: 16px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 22px;
    font-family: 'CALI MT regular';
    text-align: center;
}

.product-services-right{
    display: table-cell;
    vertical-align: middle;
}

.des-box-services p{
    font-family: 'CALI MT regular';
    font-size: 15px;
    line-height: 25px;
}
.services-title-item-product h3 span {
    position: relative;
    padding-bottom: 10px;
    float: left;
    width: 100%;
        letter-spacing: 2px;
}
.services-title-item-product h3 span:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #6e9a43;
    margin: auto;
}
.services-title-item-product h2{
    float: left;
    width: 100%;
    text-align: center;
}
.services-title-item-product h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #585858;
    font-size: 14px;
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
}

.services-title-item-product .pricetext, .services-title-item-product .currencytext{
    color: #ff0101;
    font-weight: 600;
}

.services-title-item-product .price-market{
    text-decoration: line-through;
    margin-left: 9px;
}

.services-title-item-product h2 a:hover{
    color: #ff7800;
}


.services-title-item-product p {
    font-family: 'Open Sans', sans-serif;
    float: left;
    width: 100%;
    text-align: left;
    margin: 10px 0px;
    font-size: 15px;
    line-height: 25px;
}
.price-product{
    float: left;
    width: 100%;
    color: #ff7800;
    font-size: 20px;
    font-family: 'UTM Avo';
    text-align: center;
    margin-bottom: 10px;
}
.services-img-item-product {
    position: absolute;
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    left: -73px;
}
.services-img-item-product img {
    min-width: 100%;
    max-width: initial;
    max-height: 100%;
}
.services-img-item-product:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 94%;
    height: 94%;
    border: 1px solid #fff;
    margin: auto;
    display: none;
}
.page-services{
    width: 100%;
    padding: 30px 0px;
}

.page-services .col-lg-3 #ulFacilities li {
    font-family: 'CALI MT regular';
    color: #000;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding: 0px 30px;
}
.btn-order-services {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    background: #fdb1aa;
    padding: 0px;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 50px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.btn-order-services a{
    border: 1px solid #fff;
        padding: 6px 25px;
    display: block;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    background: #f9a392;
    border-radius: 0px;
    margin: 0px;
    color: #fff;
}
.btn-order-services a:hover{
    border: 1px solid #777;
    color: #fff;
}
.list-cate-services{
    float: left;
    width: 100%;
}
.list-cate-services ul li{
    float: left;
    width: 100%;
    
}
.list-cate-services ul li a{
    float: left;
    width: 100%;
    padding: 16px 20px;
    background: #fafafa;
    border-bottom: 1px solid #fff;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 15px;
}
.list-cate-services ul li.active a, .list-cate-services ul li:hover a{
    background: #f9a392;
    color: #fff;
}
.page-services #ulFacilities{
    width: 100%;
}
.any-question{
    float: left;
    width: 100%;
    position: relative;
    margin-top: 30px;
}
.img-question {
    float: left;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.img-question img {
    max-width: initial;
    height: 100%;
}
.img-question:after{
    content: "";
    background: rgba(0, 0, 0, 0.56);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.box-any-question{
    padding: 15px;
    float: left;
    width: 100%;
    position: relative;
    z-index: 999;
}
.box-any-question h2{
    font-family: 'CALI MT regular';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
    margin-top:0px;
}
.box-any-question p{
    font-family: 'Open Sans';
    color: #fff;
    font-size: 14px;
}
.box-any-question a{
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    background: #f9a392;
    padding: 5px;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 5px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.box-any-question a span{
    border: 1px solid #fff;
        padding: 6px 25px;
    display: block;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    background: #f9a392;
    border-radius: 0px;
    margin: 0px;
    color: #fff;
}
.box-any-question a:hover span{
    border: 1px solid #777;
    color: #fff;
}
.owl-services-index .owl-prev{
    position: absolute;
    left: -30px;
    top: 50%;
    font-size: 40px;
    opacity: 1;
}
.owl-services-index .owl-next{
    position: absolute;
    right: -30px;
    top: 50%;
    font-size: 40px;
    opacity: 1;
}
.owl-services-index:hover .owl-next, .owl-services-index:hover .owl-prev{
    opacity: 1;
}
/*end trang services 3*/

.services-book-inpage {
    float: left;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 60px;
}
.services-book-inpage .content-shop-booking{
    padding: 0px;
}
.group-select select {
    width: 100%;
    background: #fff;
    border-radius: 0px;
    height: 43px;
    border: 1px solid #e1e1e1;
    color: #999;
    font-size: 14px;
}
#serviceForm{
    float: left;
    width: 100%;
    position: relative;
}
.left-ctn-book {
    float: left;
    width: 100%;
}
.box-date label {
    float: left;
    width: 100%;
    font-family: 'Open Sans', 'Roboto Light', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 8px;
    color: #333;
}
.input-date input{
    font-size: 13px;
    height: 43px;
    border-radius: 0px;
    min-width: 150px;
}
.input-date .fa-calendar {
    font-size: 15px;
    color: #907b7b;
    margin-top: 0px;
    margin-left: 10px;
    float: left;
    top: 13px;
    position: absolute;
    right: 10px;
}
.input-date{
    float: left;
    width: 150px;
    position: relative;
}
.btn-form-booking{
    position: absolute;
    right: 0px;
}
.services-book-inpage .content-shop-booking {
    float: initial;
    width: 920px;
    margin: 0 auto;
}
.left-ctn-book .group-select {
    float: left;
    width: 290px;
    margin-right: 21px;
}
.services-book-inpage .btn-search {
    float: left;
    width: 126px;
    height: 41px;
    margin-top: 33px;
    margin-left: 30px;
    border: none;
    color: #fff;
    background: #f9a392;
    text-transform: uppercase;
    position: relative;
}
.services-book-inpage .btn-search:after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.blog_entry .title-site h1 a{
    font-family: 'CALI MT regular';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 23px;
}
.interview p{
    color: #888;
}
.interview p i{
    margin-right: 11px;
}
.ctn-detail-news{
    float: left;
    width: 100%;
    margin: 20px 0px;
}
.facebook-comment{
    float: left;
    width: 100%;
    margin-top: 30px;
}
.facebook-comment h2{
    font-family: 'CALI MT regular';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
}
.address-top-page{
    float: right;
    display: flex;
}
.address-top-box-1 {
    float: left;
    display: flex;
    margin-right: 50px;
}
.address-top-page .address-top-box-1:last-child{
    margin-right: 0px;
}
.icon-top-box-1{
    margin-top: 0px;
    margin-right: 15px;
}
.icon-top-box-1 img{
    margin-top: 28px;
}
.title-top-box-1{
    float:left;
}
.title-top-box-1 h2 {
    font-family: 'CALI MT regular';
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 22px;
    text-transform: uppercase;
}
.title-top-box-1 a, .title-top-box-1 p{
    color: #fdb1aa;
    font-family: 'CALI MT regular';
    font-size: 16px;
    font-weight: normal;
}
.border-top-menu {
    float: left;
    width: 100%;
    border-top: 2px solid #000;
    margin-top: 15px;
    position: relative;
}
.border-top-menu:after{
    content: "";
    position: absolute;
        top: 2px;
    width: 100%;
    left: 0px;
    height: 1px;
    background: #000;
}
.mt-banner {
    position: relative;
    z-index: 99999;
    margin-top: 9% !important;
    transform: none !important;
}
.mt-banner h2 {
    font-family: 'CALI MT regular';
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    float: left;
    width: 100%;
    text-align: center;
    transform: none;
}
.mt-banner h2 span{
    border-top: 1px solid #fdb1aa;
    border-bottom: 1px solid #fdb1aa;
    padding-top: 4px;
    padding-bottom: 4px;
}
.box-descript-slide{
    float: left;
    width: 100%;
    text-align: center;
}
.box-descript-slide p {
    font-size: 21px !important;
    font-weight: 400 !important;
    background: transparent !important;
    color: #fff;
    text-align: center !important;
    text-transform: uppercase !important;
    margin-bottom: 20px;
    font-family: 'CALI MT bold';
    width: 275px !important;
    margin: 0 auto !important;
    transform: none !important;
}
.box-descript-slide{
    text-align: center;
}
.btn-slider a {
    float: left;
    padding: 2px 10px 0px 10px;
    color: #fff;
    font-size: 7px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    border: none;
    font-family: 'CALI MT bold';
    transform: none !important;
}
.btn-slider{
    transform: none !important;
}
.news-page-stl{
    float: left;
    width: 100%;
    margin: 50px 0px;
}
/*contact-us-index*/
.contact-us-index{
    float: left;
    width: 100%;
    position: relative;
    padding: 40px 0px 0px 0px;
}
.contact-us-index > .container > .row{
    display: flex;
    float: left;
}
.bg-contact-us-index{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    background-size: cover;
    height: 100%;

}
.img-contact-us-index{
    bottom: -2px;
    position: absolute;
    left: 0px;
    width: 95%;
}
.bg-contact-us-index:after{
    content: "";
    background: rgba(255, 255, 255, 0.74);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.form-contact-us-index{
    float: left;
    width: 100%;
}
.form-contact-us-index h2{
    font-family: 'CALI MT regular';
    font-size: 30px;
    color: #000;
    font-weight: normal;
    letter-spacing: 2px;
}
.form-contact-us-index .item-form-contact-50{
    float: left;
    width: 100%;
}
.form-contact-us-index .width-50{
    padding: 5px 15px;
}
.form-contact-us-index .style-input {
    background: #fff;
    border: none;
    margin: 7px 0px;
    border-radius: 0px;
    height: 43px;
    padding-left: 20px;
    color: #000;
    width: 100%;
    line-height: 44px;
    border: 1px solid #fdb1aa;
}
.form-contact-us-index  .btn-sauna {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    background: #f9a392;
    padding: 5px;
    float: right;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.form-contact-us-index  .btn-sauna .style-button {
    border: none;
    /*padding: 6px 32px;*/
    display: block;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    background: #f9a392;
    border-radius: 0px;
    margin: 0px;
}
/*end contact-us-index*/
.content .left, .content .right{
    width: 100%;
    text-align: center;
}

/*staff*/
.care-item{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.box-services-shop{
    margin: 0px -15px;
}
.care-boder {
    border: 1px solid #ebebeb;
    height: 230px;
    position: relative;
    padding-left: 245px;
    padding-right: 30px;
}
.img-care-item{
    float: left;
    width: 220px;
    height: 100%;
    position: absolute;
    left: 0px;
}
.img-care-item a{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.img-care-item a img{
    max-width: initial;
    height: 100%;
}
.title-care-item h2 {
    font-family: 'CALI MT regular';
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 17px;
}
.title-care-item p {
    font-family: 'CALI MT regular';
    font-size: 15px;
    color: #666;
    line-height: 26px;
}
.book-btn-care{
        float: left;
    width: 100%;
}
.book-btn-care a{
    background: #fdb1aa;
    padding: 6px 22px;
    display: inline-block;
    border-radius: 5px;
    font-family: 'CALI MT regular';
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
.title-care-item{
    float: left;
    width: 100%;
    margin-bottom: 24px;
}
/*end staff*/
.item-blog-news-inpage {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.blog-news-inpage-img{
    float: left;
    width: 100%;
}
.blog-news-inpage-img{
    height: 270px;
    overflow: hidden;
}
.blog-news-inpage-img img{
    width: 100%;
}
.blog-news-inpage-title {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 115px;
    padding-top: 10px;
}
.blog-news-inpage-title h2 a{
    font-family: 'CALI MT regular';
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
}
.ctn-blog-news-inpage .time-img-blog {
    position: absolute;
    left: 10px;
    top: -45px;
    background: #f9a392;
    width: 70px;
    height: 90px;
    font-family: 'CALI MT regular';
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding-top: 18px;
    line-height: 29px;
}
.ctn-blog-news-inpage .time-img-blog:after{
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    right: 0px;
    width: 80%;
    height: 6px;
    margin: auto;
    border-bottom: 1px solid  #000;
    border-top: 3px solid #000;
}
.ctn-blog-news-inpage .time-img-blog:before{
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0px;
    right: 0px;
    width: 80%;
    height: 2px;
    background: #000;
    margin: auto;
}
.ctn-blog-news-inpage p{
    font-family: 'CALI MT regular';
    font-size: 16px;
    line-height: 25px;
}
.ctn-blog-news-inpage .read-more {
    width: 110px;
    height: 35px;
    float: right;
    color: #fff !important;
    line-height: 35px;
    text-align: left;
    font-weight: 600;
    font-family: 'CALI MT regular';
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    background: #fdb1aa;
}
.item-blog-news-inpage .time-blog-inpage{
    display: none;
}

/*news hot*/
.news-hot{
    float: left;
    width: 100%;
}
.item-news-hot{
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.news-hot .item-news-hot:last-child{
    margin-bottom: 0px;
}
.img-news-hot {
    float: left;
    width: 140px;
    overflow: hidden;
    margin-right: 15px;
}
.item-news-hot h2 {
    clear: inherit;
    font-size: 16px;
    margin-bottom: 7px;
    color: #000;
    margin-top: 0px;
    line-height: 22px;
}
.item-news-hot span{
    color: #666;
    font-size: 13px;
}
.item-news-hot span i{
    margin-right: 6px;
}
.item-news-hot h2 a {
    color: #000;
    font-family: 'CALI MT bold';
    font-weight: 300;
}
.description-news-hot{
    color: #666;
    margin-top: 8px;
}
.box-news-right .title-page h2, .box-news-right .title-page h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 12px;
    color: #4473a7;
    text-transform: uppercase;
    margin-top: 0px;
}
.box-news-right .title-page h2 a, .box-news-right .title-page h1 a {
    color: #0e0e0e;
    font-family: 'CALI MT regular';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 9px;
    border-bottom: 4px solid #f9a392;
    position: relative;
    z-index: 999;
}
.box-news-right .title-page h2 span, .box-news-right .title-page h1 span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #171515;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    border-radius: 5px;
}
.box-news-right .right-initial {
    right: initial !important;
}
/*news hot*/
.map-address {
    float: left;
    width: 100%;
}

/***** Cart **********/
/* Order Page*/


.cart-table ul li:first-child {
    border-bottom: 1px solid #dedede;
    width: 100%;
}

.cart-table .ui-inputText:focus {
    border: 1px solid #00c8b4;
}

.cart-table {
    background-color: #f6f6f6;
}

.cart-table thead tr th {
    background: #fff;
    border: medium none !important;
    color: #333333;
    height: 40px;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
}

.cart-table thead tr th.product {
    min-width: 320px;
}

.cart-table thead tr th.price {
    min-width: 100px;
}

.cart-table thead tr th.qty {
    min-width: 100px;
}

.cart-table thead tr th.add-cart {
    min-width: 250px;
}

.cart-table thead tr th.remove {
    min-width: 90px;
}

.cart-table tbody tr td {
    border-color: #fff;
    border-style: solid;
    border-width: 0 0 2px;
    padding: 10px 0;
    text-align: left;
}

.cart-table tbody tr:first-child td {
    /*padding-top: 30px;*/
}

.cart-table tbody tr:last-child td {
    padding-bottom: 5px;
    border-bottom: none;
}

.cart-table .cart-product img {
    border: 1px solid #f3f3f3;
    display: block;
    float: left;
    margin-right: 25px;
    width: 93px;
}


.cart-table .cart-product .details a {
    color: #606060;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}

.cart-table .cart-product .details a:hover {
    color: #7ac2d7;
    text-decoration: none;
}

.cart-table .cart-product .details p {
    margin: 0;
    font-weight: bold;
}

.cart-table .cart-price {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}

.cart-table .cart-stock {
    color: #606060;
    text-transform: uppercase;
}


/*.cart-table .cart-pro-remove {
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 50%;
    color: #606060;
    height: 50px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 50px;
    outline: none;
}*/

.cart-table .cart-pro-remove:hover {
    color: #7ac2d7;
}

.cart-table .cart-pro-remove i {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-left: 35px;
}

.cart-table .ui-inputText {
    color: #333;
    transition: .3s;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    width: 50%;
    padding: 0.6em;
}

.cart-table-ver1 .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
}

.cart-table-ver1 {
    background-color: #f6f6f6;
    padding-top: 15px;
    padding-left: 15px;
}

.cart-table-ver1 .table>tbody>tr>td {
    border-top: none;
}

.cart-table-ver1 .table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #fff;
}

.cart-table tr:first-child td {
    background-image: none;
}

.cart-table table tr:hover td {
    background-color: transparent;
}

.cart-table p {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
    font-size: 16px;
}

.cart-table p.mgr_100 {
    margin-right: 100px;
}

.order_details_page .btn_cart_order {
    background-color: #7ac2d7;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}


.btn_cart_order {
    background-color: #fdb1aa;
    border-radius: 0px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lato',sans-serif;
    font-variant-ligatures: common-ligatures;
    padding: 10px 20px;
    font-size: 14px;
}

p.title_des {
    font-size: 12px;
}

.mgb_50 {
    margin-bottom: 50px;
}

/***************fix service child ************/
li.list_child a {
    padding-left: 35px !important;
    position: relative;
}
li.list_child a:hover {
    text-decoration: none;
}

li.list_child a:before {
    position: absolute;
    content: "- ";
    top: 15px;
    left: 25px;
}

.pagination_v1 ul li {
    float: none !important;
}

.check-height {
    height: 250px;
}
.banner-page-list{
    background-image:url(../images/150_1491794928_76358eafbf09194f.jpg);
}
/***************End fix service child***********/