/*! #######################################################################

  MeanMenu 2.0.7
  --------

  To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */


/* hide the link until viewport size is reached */

a.meanmenu-reveal {
    display: none;
}


/* when under viewport size, .mean-container is added to body */

.mean-container .mean-bar {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.mean-container a.meanmenu-reveal {
    width: 30px;
    height: 50px;
    padding: 13px 13px 11px 13px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-indent: -9999em;
    line-height: 50px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 10px;

}

.mean-container a.meanmenu-reveal span {
    display: block;
    background: #e62b4c;
    height: 3px;
    margin-top: 3px;
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    border-color: #212739;
    background: rgba(0,0,0,0.9);
    margin-top: 40px;
}

.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
}

.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 90%;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: #fff;
    border-top: 1px solid #383838;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
    width: 80%;
    padding: 1em 10%;
    border-top: 1px solid #f1f1f1;
    border-top: 1px solid #e2c494;
    opacity: 0.75;
    filter: alpha(opacity=75);
    text-shadow: none !important;
    visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
    background: rgba(0, 0, 0, 1);
    color: #FBAF2D !important;
}

.mean-container .mean-nav ul li a.mean-expand {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.4) !important;
    border-image: none !important;
    border-style: none none solid solid !important;
    border-width: medium medium 1px 1px !important;
    font-weight: 700;
    height: 23px;
    margin-top: 1px;
    padding: 12px 12px 9px !important;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 26px;
    z-index: 2;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background: rgba(0, 0, 0,0.1);
}

.mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
}

.mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}


/* Fix for box sizing on Foundation Framework etc. */

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.mean-remove {
    display: none !important;
}

/* THEME */
.csi-header{
    position: relative;
}
.menu_mobile_v1{
    position: fixed;
    top: 0px;
    width: 100%;
    background: #fff;
    z-index: 999;
    text-align: center;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    min-height: 80px;
    height: 80px;
}


.mobile_logo {
    display: inline-block;
    z-index: 10;
    position: relative;
    margin-left: 50px;
}
.mobile_logo a {
    display: block;
    height: 100%;
    max-height: 100%;
}
.mobile_logo  img { height: auto; max-height: 100%;    padding: 5px; }
.mean-container a.meanmenu-reveal{

}
.mean-container a.meanmenu-reveal>span{
    display: block;
    position: absolute;
    background: #FBAF2D;
    width: 22px;
    height: 3px;
    top: 27px;
    margin: 0;
    transition: all 0.15s ease;
}
.mean-container a.meanmenu-reveal>span:before,.mean-container a.meanmenu-reveal>span:after{
    content: "";
    display: block;
    width: 22px;
    height: 3px;
    position: absolute;
    background: #FBAF2D;
}
.mean-container a.meanmenu-reveal>span:before{
    top: 6px;
}
.mean-container a.meanmenu-reveal>span:after{
    top: -6px;
}
.mean-container a.meanmenu-reveal.meanclose>span{
    background-color: rgba(0,0,0,0)
}
.mean-container a.meanmenu-reveal.meanclose>span:before{
    top: 0;
    transform: rotate(45deg);
}
.mean-container a.meanmenu-reveal.meanclose>span:after{
    top: 0;
    transform: rotate(-45deg);
}
.mean-container a.meanmenu-reveal:hover>span,
.mean-container a.meanmenu-reveal:hover>span:before,
.mean-container a.meanmenu-reveal:hover>span:after {
  transition: all 0.35s ease-out;
}