/*===================================================================================*/
/*  STYLE
/*===================================================================================*/


/*===================================================================================*/
/*  END-STYLE
/*===================================================================================*/

body {
    margin: 0 auto;
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #818181;
    font-weight: 400;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}

a {
    color: #000000;
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a:focus,
a:hover {
    color: #f85c5c;
    text-decoration: none;
}
a.btn,.btn,
.btn-default,
a.btn-default,
.btn-primary,
a.btn-primary {
    background: #fff;
    border-radius: 0px;
    height: 47px;
    line-height: 41px;
    font-size: 13px;
    padding: 0 23px;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}


p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin:0 0 15px;
}

.form-control {
    padding: 0px 20px;
    height: 47px;
    width: 100%;
    font-size: 13px;
    margin: 0px 0;
    border: 0;
    outline: none;
    font-weight: 500;
    box-shadow: none;
    border-radius: 0px;
    color: #555;
    background: #fff;
}

.bg-width { background-color: #f6f6f6;}
.bg-main { background-color: #0072a7;}
.color-main {color:  #0072a7; }
.color-red { color: red; }


/*//////////////////// NAVIGATION BAR ////////////////////*/
.mean-container .mean-nav ul li a { 
    padding:14px 5%; 
    border-top: 1px solid #e8e8e8;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing:0px;
    font-weight: 600;
    color: #504e50;
    font-size: 12px;

}
.mean-container a.meanmenu-reveal>span,
.mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    background: #000;
}
.mean-container .mean-nav ul li a.mean-expand {
    border: 1px solid #e8e8e8;
}
.mean-container .mean-nav ul li li a {
    border-top: 1px solid #c3c1be;
     padding:14px 10%; 
}
.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.8);
}

.mean-container .mean-nav {
    background: #fff;
    margin-top: 1px;
    position: absolute;
    z-index: 10;
}

#desktop-nav {
    padding:0px;
}
.navbar.main-nav {
    min-height:32px;
    margin: 0px;
    border: 0;
    border-radius: 0;
    padding: 0px;
}
.navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;
}
.navbar-nav>li {
    float: none;
    display: block;
}
.navbar-nav>li>a {
    text-transform: uppercase;
    line-height: 25px;
    font-style: normal;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 0;
    letter-spacing:1px;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a{
    color: #fff;
    background: none;
}
.navbar-nav>li.active:hover>a,
.navbar-nav>li:hover>a.active {
    color: #000;
}


.dropdown-submenu.pull-left {float: none; width: 100%;}
.dropdown-submenu.pull-left>.dropdown-menu {width: 100%;}
.dropdown.pull-left .dropdown-menu {left: auto;right: 0;}
.navbar-nav .dropdown-menu {
    border: none;
    border-radius: 0px;
    background: #fff;
    color: #252525;
    position: relative;
    width: 100%;
    box-shadow: none;
     left: 0;
    
}

.dropdown-menu>li>a {
    display: block;
    padding: 10px 0px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #818181;
    font-size: 12px;

    font-family: 'Montserrat', sans-serif;
}
.dropdown-menu>li>a:hover {
    transition: all 0.15s ease;
    background:rgba(212, 210, 210, 0.3);
    color: #000;
}

.nav-shop >li>a { font-size: 14px; padding: 0 10px; }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background: none; }

.nav-left {
    position:fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1;
    transition: opacity .6s ease;
    opacity: 1;
    padding-left: 30px;
}
.nav-left.stickUp,
.nav-left.nav-white {
    background: #fff;
    transition: all .6s ease;
}
.nav-left.stickUp .navbar-nav>li>a,
.nav-left.nav-white .navbar-nav>li>a {
    color: #303030;
}
.nav-left .logo { margin-bottom: 50px; text-align: center; }
.nav-left .logo img {
    width: 200px;
}
.logo_black { display: none; }
.nav-left.nav-white .logo_black,
.nav-left.stickUp .logo_black { display: block; }
.nav-left.nav-white .logo_white,
.nav-left.stickUp .logo_white { display: none; }

.nav-left .btn {
    margin: 50px 0;
    font-weight: 800;
    height: 35px;
    line-height: 32px;
    font-size: 12px;
    padding: 0 17px;

}

.nav-social a{
    display: inline-block;
    margin-right: 8px;
    color: #bcbcbc;
    font-size: 17px;
}
.nav-left.stickUp .navbar-nav>li>a:hover,
.nav-left.nav-white .navbar-nav>li>a:hover {
    color: #0072a7;
}

/*===================================================================================*/
/*  MAIN
/*===================================================================================*/
.imgrps {
    max-width: 100%;
    height: auto;
}
.art-main {
    position: relative;
    padding: 0;
}
.header { position: relative; }
.header-top { 
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    padding: 10px 0 5px;
}
.headtop-social img {
    width: 32px;
    height: 32px;
    margin: 0 5px 5px 0;
}
.headtop-left { margin-top: 5px; }
.header .container {position: relative;}

.logo  { margin:13px 0 0;}
.pmain { margin: 0; padding-left: 260px;}
.mTitle {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-variant-ligatures: common-ligatures;
    margin: 0 0 10px;
}
.sub-title {
    color: #252525;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
}

.in-container {
    padding: 50px 0px;
   
}
.in-content {
    padding-left: 30px;
    padding-bottom: 50px;
    line-height: 1.8;
    font-size: 13px;
}
.in-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
}
.in-content-full {
    padding-left: 0px;
}

h2, h3, h5 {
    
    letter-spacing: 1px;
    font-weight: 600;
    color: #303030;
    margin: 0;
}
h2 {
    font-size: 24px;
    line-height: 1.4em;
    text-transform: uppercase;
}
h3 {
    font-size: 17px;
    line-height: 1.3em;
    text-transform: uppercase;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
}
h5 {
    font-size: 15px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.page-heading{
    position: relative;
}
.page-heading h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 3.5em;
    width: 100%;
    text-align: center;
}


/*===================================================================================*/
/*  PAGE
/*===================================================================================*/
.section-home {
    width: 100%;
    text-align: center;
}
.section-home h2{
    text-transform: none;
    color: #fffefe;
    font-size: 115px;
    line-height: 115px;
    font-family: 'Parisienne', cursive;
    font-weight: 400;
    margin-bottom: 25px;
}
.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.home-content p{
    text-shadow: none;
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    padding-top: 15px;
    padding: 0 100px;
    color: #fff;
}


.section h2 { margin-bottom: 20px; }

.section-about h2 { padding-top: 85px; margin-bottom: 20px; }
.section-about p { margin-bottom: 25px; }

.section-about p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.gallery-inner {display: flex;}
.gallery-inner .item {
    width: 50%;
    position: relative;
}
.gallery-inner .item img {
    width: 100%;
}
.thumb { 
    display: block; 
    position: relative; 
    overflow: hidden;
}
.thumb:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,.81);
    visibility: visible;
    opacity: 0;
    z-index: 1;
    transition: opacity .4s;
}
.thumb .fa {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #fff;
    transform:translate(-50%,-50%);
    z-index: 2;
    transition: opacity .4s;
}
.thumb:hover:after,
.thumb:hover .fa {opacity: 1;}
.thumb img { transition: all 0.3s ease-in-out;}
.thumb:hover img {
    display: block;
    width: 100%;
    transition: all .3s ease-in-out;
    transform: scale(1.03,1.03);
}
.call-to .btn { border-color: #fff; }

.call-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 50px;
    background-color: #0072a7;
}
.call-to h3 {
    color: #fff;
    line-height: 1.4;
}

.section-client {
    text-align: center;
    padding: 75px 0;
}
.section-client p {
    font-size: 20px;
    line-height: 1.6em;
}
.section-client .name {
    font-size: 13px;
    color: #303030;
    margin-top: 22px;
    font-weight: 700;
}

.owl-nav {
    margin-top: 40px;
}
.owl-prev,
.owl-next {
    display: inline-block;
    height: 30px;
    
    margin: 0 5px;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #303030;
    border-radius: 4px;
    opacity: 1;
    background-color: transparent;
    text-indent: -9999px;
}
.owl-prev:before {content: '\f104';}
.owl-next:before {content: '\f105';}
.owl-prev:before,
.owl-next:before {
    font-family: FontAwesome,sans-serif;
    position: absolute;
    height: 26px;
    width: 26px;
    line-height: 26px;
    top: 0;
    left: 0;
    color: #000;
    text-indent: 0;
    font-size: 16px;
}
.list-client .item {
    background: #fff;
}


/*===================================================================================*/
/*  SIDEBAR
/*===================================================================================*/
.art-sidebar-box { 
    margin: 0 0 60px;
    border: 1px solid #E2E2E2;
    padding: 5px 20px 20px;
    overflow: visible;
}
.art-sidebar-name { text-align: center; }
.sidebar-social {text-align: left;}
.art-sidebar-content .col-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    line-height: 1.4;
}
.art-sidebar-content .col-2 i { font-size: 18px; color: #781414; }
.timeopen .art-sidebar-content .col-2 {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 12px;
}
.art-sidebar-content .col-2 .col-left {
    float: left;
    overflow: hidden;
    font-weight: bold;
}
.art-sidebar-content .col-2 .col-right {padding-left: 50px; }
.timeopen .art-sidebar-content .col-2 .col-right {padding-left: 80px;}
.art-sidebar-box h3 {
    position: relative;
    display: inline;
    top: -20px;
    padding: 0 20px;
    background: white;
    font-family: "Playfair Display";
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px;
}

.sidebar-hotphone {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}
.art-sidebar-box iframe ,
.art-sidebar-content iframe {width: 100%; }
.art-sidebar-box ul { padding: 0; margin: 0; margin-left: 15px; list-style: none; }
.art-sidebar-box li { margin-bottom: 10px; }
.art-sidebar-box li a {color: #777777;font-size: 12px;}

.art-sidebar-box li:before {
    content: '';
    border-top: 2px solid #dfdfdf;
    padding: 4px;
    position: relative;
    top: 14px;
    left: -8px;
}
/*===================================================================================*/
/*  GALLERY
/*===================================================================================*/
.list-gallery { padding: 0px; }



.gallery-wrap { display: flex; justify-content: space-between; flex-wrap: wrap; }
.gallery-item { 
    margin-bottom: 10px; 
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.gallery-item span {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.gallery-item:after {
    display: none;
    width: 100%;
    height: 100%;
    content: '';
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s ease-out;
    position: absolute;
    left: 0; top: 0;
    z-index: 0;
}
.gallery-item:hover:after {display: block;}
.gallery-item:hover .gallery-info .project-title {
    top: 35%;
    opacity: 1;
    visibility: visible;
}
.gallery-item .gallery-info { text-align: center; }
.gallery-item .icon {
    z-index: 1;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.gallery-item:hover .icon {
    bottom: 0px;
    color: #000;
    opacity: 1;
    visibility: visible;
}
.gallery-item h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 60%;
    z-index: 1;
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.pagination>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    color: #000;
    margin-left: 1px;
}
.pagination>li.active>a.hover-main-color,
.pagination>li.active>span.hover-main-color,
.pagination>li>a:hover.hover-main-color,
.pagination>li>span:hover.hover-main-color {
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}

/*===================================================================================*/
/*  BOOKING
/*===================================================================================*/

.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.group-select select option {
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select optgroup {
    font-weight: 700;
    color: #E94E75;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select .fa-calendar {
    position: absolute;
    margin-top: 0px;
    right: 30px;
    top: 45px;
    font-size: 18px;
}
.box_register .btn_submit_login { margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}

.group-select {
    float: left;
    margin-right: 0;
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}
.group-select label {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    min-height: 24px;
}
.btn-search {
    width: 100%;
    text-transform: uppercase;
    outline: none;
}
.staff-avatar {padding: 0;}
.staff_service_v1 {display: inline-block;}
.staff_service_v1 {margin-top: 15px;overflow: hidden;}
.staff_service_v1 h4 {margin-top: 0; font-weight: 700;}
.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}
.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #ebebeb;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}
.content-shop-booking,#box_person,
.time_work_staff_v1 {padding-bottom: 30px;}
.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    background: #ebebeb;
}
.popup_main_area {
    padding: 15px;
    float: left;
    width: 100%;
    color: #333;
}
.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 5px 15px 15px;
    border-bottom: 1px solid #655353;
    background: #000000;
    color: #fff;
}
#send_booking .input-box {margin-bottom: 5px;}


/*===================================================================================*/
/*  CART
/*===================================================================================*/

.table-mobile-collapse{
    display: table;
    border:1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    display: none;
}
.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-row{
    border:inherit;
    vertical-align: inherit;
}
.table-head{

    padding: 15px;
    border:inherit;
    vertical-align: inherit;
}
.table-data{
    padding: 15px;
    padding-top: 0;
    vertical-align: inherit;
}

.table-responsive{

}
.cart-wrraper{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#ffffff;
    color: #333;
}

.cart-product-image-cell{
    display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.table-cart{
    background-color:#fff;
    border:none;
    margin-bottom:0;
}
.table-cart .thead .table-head{
    background-color:#0072a7;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.table-cart .tbody .table-data{
    display: block;
    vertical-align: top;
}
.table-cart .tbody .table-row:last-child .table-data{
    border-bottom: none;
}
.table-cart p{
    margin-bottom: 0;
}
.quantity-label{
    display: inline-block;
}
.table-cart .form-control{
    margin-top: 10px;
}
.cart-product-image-cell{
    vertical-align: top;
}
.table-cart .tbody .table-data.quantity-cell,
.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
}

.table-cart .tbody .table-data.price-cell{
    min-width: 273px;
}
.total-change-cell{
    padding-left: 15px;
}
.total-change-cell>p.total_change:before{
    display: inline-block;
    position: relative;
    content: "Total:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
}
.cart-product-image{
    width: 72px;
    height: 72px;
    margin-right: 15px;
}
.cart-product-image>img{
    width: 100%;
    height: auto;
}
.cart-product-name{
    margin-top: 0;
    font-weight: bold;
}
.form-control.form-control-sm{
    width: 80px;
    display: inline-block;
}

.total_change{
    color: #ff0000;
    font-weight: bold;
    text-align: right;

}
.total-amount{
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
}
.total-amount-label{
    text-align: right;
    display: none;
}
.total-amount:before{
    display: inline-block;
    position: relative;
    content: "Amount:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
    padding-top: 15px;
}
.total-amount-cell{
    padding:0;
}

.table-row{
    border-bottom: 2px solid #ffffff;
}
.cart-product-image,.cart-product-description{
    display: inline-block;
    vertical-align: top;
    
}


/* FORM CART */
.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block
}
.cart .form_cart {margin-bottom: 30px}
.cart .form_cart a {
    display: table;
    margin: 10px auto 25px auto;
    padding: 15px 65px;
    font-size: 15px;
    cursor: pointer
}
.cart .form_cart p {font-size: 14px;}
.cart .order {
    margin-top: 15px;
    background:#fff;
    border-radius: 3px;
    color: #222;
    padding-bottom: 10px;
    border: 1px solid #E2E2E2;
}
.cart .order .inner {padding: 15px 20px 0px 20px}
.cart .order .inner ul li {
    clear: both;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%
}
.cart .order .inner ul li .frame_img {
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px
}
.cart .order .inner ul li .frame_img img {width: 60px;background: #fff}
.cart .order .inner ul li .name_product {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 63%;
    overflow: hidden;
    float: left;
}
.cart .order .inner ul li .name_product p {font-size: 15px}
.cart .order .inner ul li .name_product span {
    color: #858585;
    font-size: 13px;
    margin-right: 5px
}
.cart .order .inner ul li .name_product small {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block
}
.cart .order .subtotal {padding: 0px 20px 15px 20px}
.cart .order .subtotal ul li {padding: 3px 0px}
.cart ul {margin-top: 15px;list-style: none;padding-left: 0;}
.cart .order .total ul {padding: 15px 20px;}
.cart .order .total ul li span { color: #000;font-size: 24px;}
.cart .note { margin: 15px 0px}
.cart .note p {font-size: 14px;margin: 0;}
h2.timr {margin: 0;margin-bottom: 20px;}
.box_cart {margin: 30px auto;}
ul.list_form li {margin: 5px 0;}
h4.sanb {font-size: 18px;font-style: italic;}
.inner .price, .subtotal span,.total span {font-weight: bold;}
.fl-flex-label label {font-weight: normal;}
.white-popup {clear: both;overflow: hidden;}

.cards-item {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}
.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
    margin: auto;
}
.cards-item:hover .cards-item-image {transform: scale(1.05);}
.book_appoin_btn { margin-top: 20px; }

/*===================================================================================*/
/*  CONTACT
/*===================================================================================*/
.maps  { margin-bottom: 30px; }
.maps iframe{
    border: 0;
    height: 400px;
}
.contact-info { color: #777;}

.contact-info h4 {
    margin: 0;
    font-size: 20px;
}
.contact-info p {
    color: #6e6b61;
    font-size: 14px; 
    line-height: 1.4;
    margin: 0 0 20px;
}
.contact-form .form-group{
    margin-bottom: 20px;   
}
.btn-submit { margin-top: 20px; }
.contact-social { padding-top: 20px; }
.contact-map { margin-bottom: 30px; }
.contact-info h3,
.contact-form h3 {
    color: #000;
    font-size: 16px;
    padding: 0;
}
.contact-form textarea { padding: 20px;}
.contact-form label {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin:0 0 3px;
}
.contact-map iframe { max-width: 100%; }
.login_form_area .box_area_login_v1 {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.btn_login_social {margin-top: 20px;}
.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}
.btn_login_social span {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}
.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    border: 0;
    line-height: 40px;
}
.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
     border: 0;
    line-height: 40px;
}
.btn_submit_login { margin-bottom: 30px;}
.btn_submit_login button.submit {
    background-color: #ffc267;
    border: 1px solid #ffc267;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}
.box_register .btn_submit_login {margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}


.contact-name h3 {
    line-height: 1;
    margin: 0;
    color: #781414;
    font-size: 24px;
}
.contact-info .fci-row { display: table-row; }
.contact-info .fci-title,
.contact-info .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
}
.contact-info .fci-title {
    padding-right: 15px;
    font-weight: bold;
}
.fl-flex-label { margin-bottom: 10px; }

/*===================================================================================*/
/*  SERVICEs
/*===================================================================================*/
.service-container { padding-top: 0; }
h1.service-name {
    font-size: 24px;
    font-style: normal;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    padding-right: 15px;
    color: #000;
    font-weight: 700;
}
.price-item {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #cdcdcd;
}
.price-item h4 { font-size: 15px; }
.price-item-number {
    font-size: 18px;
    color: #000000;
    margin: 10px 0;
    font-weight: 600;
    line-height: 1.0;
}
.circle-service-image {
    width: 180px;
    height: 180px;
    /*border-radius: 125px;*/
    border: 3px solid #fec168;
    display: inline-block;
    margin-top: 20px;
}
.rouded-service-image {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.service-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-right {text-align: left;}
.top-right a {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
.top-right a img {
    vertical-align: top;
    padding-top: 12px;
    padding-right: 5px;
}
.detail-price-item {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
}
.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted #a9a9a9;
}
.detail-price-number {
    padding-left: 5px;
    font-size: 18px;
    color:#000000;
    font-weight: 600;
}
.detail-price-name {
    padding-right: 5px;
    font-size: 15px;
}

@media (min-width: 768px) {
    .top-right {
        text-align: right;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .circle-service-image {
        width: 250px;
        height: 250px;
    }
    .rouded-service-image {
        width: 250px;
        height: 250px;
    }
}

/*===================================================================================*/
/*  FOOTER
/*===================================================================================*/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 20;
}
#back-top a {
    width: 50px;
    height: 50px;
    background:#000;
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    color:#FFFFFF;
    line-height:50px;
}
#back-top a:hover{ opacity: 0.9;  }
.footer {
    padding-left: 260px;
    background: #262626;
    color: #818181;
}
.footer p {
    font-size: 15px;
}
.footer-main { padding: 30px 0; }
.footer-main h5 { color: #fff; margin-bottom: 20px; }

.footer-copyright { 
    background: #1b1b1b;
    padding: 18px 0; 
    color: #818181;
    font-size: 12px;
}
.footer-col { text-align: center; }
.footer-nav {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-nav li {
    margin-bottom: 5px;
}
.footer-nav li a {
    font-size: 14px;
    font-style: normal;
    color: #818181;
}
.footer-social { text-align: left; }
.footer-social a{
    display: inline-block;
    margin-right: 15px;
    color:#818181;
    font-size: 17px;
}