
@media (min-width: 768px){
   
	/*HOVER DROPDOWN IN TABLET & DESKTOP*/
	li.dropdown:hover>a {
	}
	li.dropdown:hover>.dropdown-menu {
	    display: block;
	}
	.col-md-right {
	    width: 40%;
	    float: left;
	}
	.col-md-left {
	    width: 60%;
	    float: left;
	}
	.modal-dialog { margin-top: 10%; }
	
}
@media (min-width: 992px){

	.col-md-right, .col-md-left 	{ float: left;}
	.col-md-right 	{ width: 32%;}
	.col-md-left 	{ width: 68%;}
}
@media (min-width: 1200px){

}
@media (max-width: 1200px){
	.nav-social { padding-left: 10px; }
	.nav-social li {padding: 0 10px;}
	
}

@media (max-width: 990px){
	header {
	    min-height: 150px;
	}
	.header { background: #fff; position: inherit;padding-bottom: 15px; }
	.logo {  height: 80px; padding-bottom: 10px; }
	.logo img{ 
	    max-height: 90%;
	    -webkit-transition: all 0.4s ease-in-out;
	    -moz-transition: all 0.4s ease-in-out;
	    transition: all 0.4s ease-in-out;
	    -webkit-transform: translate3d(0, 0, 0);
	}
	.top-nav ul.nav-icon { display: none; }
	.top-bar li.s_opentime:after { display: none; }
	.top-bar li.s_opentime{ 
		display: block;
		text-align: right; 
		padding: 0;
		margin: 0 0 5px;
	}

	
	
}

@media (max-width: 768px){
	.modal-dialog { margin-top: 10%; }
	.mTitle { margin-bottom: 15px; }
	h3.title ,.mTitle{font-size: 3.5em;}
	.booking, .contact, .testimonals {padding: 50px 0;}
	.section.about { padding: 50px; }
	.srvc-img-right { float: none; }

	.booking { padding: 50px 0; }
	.booking .item { padding: 0 50px; }


	.copyright { text-align: center; }
	.footer-nav ul { text-align: center; }
	.footer-nav ul li {
	    margin-left: 5px;
	    padding: 0;
	}
	.footer-nav ul li:before { display: none; }
	.top-bar .widget-info li,
	
	.widget-social { text-align: center; }

}
@media (max-width: 767px){
	.top-nav { padding: 0;}
	div#bs-example-navbar-collapse-1 {
	    position: absolute;
	    z-index: 999;
	    background-color: rgba(8, 8, 8, 0.83);
	    width: 100%;
	    text-align: center;
	}
	.top-nav ul li {display: block;}
	.header-right { float: none; position: absolute; right: 0; top: 0px; width: 100%; }
	.about-hour { max-width: 500px; position: relative; top: 0; left: 0px;transform: translate(0%,0%); }
	
	header { min-height: 49px; }

}

@media (max-width: 480px){
	.book-btn  { right: 15px; }
	
	.list-service h3, .list-service-2 h3 {
	    font-size: 20px;
	    padding-top: 0px;
	    background-size: 60px;
	    min-height: 25px;
	}
	.list-service-content { padding-left: 0; }
	.gallery-item { height: 150px; }
	.contact-form {padding: 20px;}
	.section-title .subtitle { font-size: 14px; }
	.booking .item { padding: 0 50px;}
	.btn-lg  { margin-bottom: 20px; }

	.footer-widget { text-align: left; }
	.section-subtitle {font-size: 14px;padding: 0 10%;}

	.text-block-custom { padding: 0 10%; }
	.section-choose .choose-info {padding: 15px;}
	.section-pricing .item { margin-bottom: 30px; }
	
	.footer-info  { text-align: left; }
	.top-bar .widget-info  li { display: block; }
	.top-bar li.s_opentime { text-align: center; }
	

}

@media (max-width: 380px){
	.list-service h3, .list-service-2 h3 {font-size: 18px;}
	.contact-subscriber button {
	    padding: 0 10px;
	}
	.slider-reviews .item {min-height: 250px;}

}
@media (max-width: 320px){
	.section-title .subtitle { font-size: 12px; }
	

}