body {
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Poppins',  Arial, Lucida, sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    color: #7a7992;
    background: #fff;

}

a {
    color: #afabfe;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

a:focus,
a:hover {
    color: #fcbaf8;
    text-decoration: none;
}

.btn {
    color: #fff;
}

.btn-default,.btn-search  {
    background-image: linear-gradient(to right,#aaaaff 0%,#fcbaf8 51%,#aaaaff 100%);
    background-size: 200% auto;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 11px 36px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    display: inline-block;
    position: relative;
}

.btn-primary,
a.btn-primary {
    background-image: linear-gradient(to right,#aaaaff 0%,#fcbaf8 51%,#aaaaff 100%);
    color: #fff;
    border: none;
    border-radius: none;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
a.btn-primary:hover,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #ffa914;
    border-color: #ffa914;
}

p {
    margin: 13px 0;
}

.section.pt {
    padding-top: 40px;
}

.form-control {
    font-size: 13px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: auto;
    padding: 4px 12px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.form-control-wrapper {
    margin-top: 5px;
    margin-bottom: 15px;
}

.col-sm-25 {
    width: 18%;
    float: left;
}
.col-sm-75 {
    width: 57%;
    float: left;
}
.font_0 { font-family: 'Playfair Display', serif; font-size: 36px;color:#333;} 


/*//////////////////// NAVIGATION BAR ////////////////////*/
.mean-container {
    background: #fff;
    margin: 0;
    border-radius: 0px;
}
.mean-container .mean-bar { z-index: 10;padding: 0;  min-height: 67px;}
.mobile_logo a {
    display: table-cell; 
    vertical-align: bottom;
    color: #fff;
    font-size: 16px;
    display: table-cell;
    vertical-align: bottom; 
}
.mobile_logo { 
    height: 52px; 
    z-index: 10;
    float: left;
    display: inline-block; 
    top: 13px;
    margin-left: 10%;
}
.mean-container .mean-nav {
    background:#fff;
    margin-top: 68px;
    position: absolute;
    z-index: 99999 !important;
}
.mean-container .mean-nav ul  {
    border-bottom: 1px solid #acabfe;
}
.mean-container .mean-nav ul li a {
    border-top: 1px solid #acabfe;
    color: #666 !important;
    padding: 12px 5%;
}
.mean-container .mean-nav ul li a.mean-expand { height: 23px; }
.mean-container a.meanmenu-reveal {

    font-size: 1.5em !important;
    color: #B86889;
    text-indent: 0;
    padding: 3px 5px;
    text-align: center;
    display: block;
    top: 19px;
    margin-right: 10%;
    width: 25px;
}
.mean-container a.meanmenu-reveal>span {
    top: 13px;
}
.mean-container a.meanmenu-reveal>span,
.mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    width: 25px;
    background:#666;
}
.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
    color: #fff !important;
    background: rgb(173, 171, 254);
  

}
.navbar.main-nav {
    border-radius: 0;
    min-height: inherit;
    padding: 0;
    margin: 0;
    border: none;  
    text-align: center;
}
.dropdown-submenu.pull-left {
    float: none;
    width: 100%;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    width: 100%;
}
#desktop-nav {
    display: inline-block !important;
    padding: 0px;
    text-align: center;
    position: relative;
}
.navbar-nav {
    vertical-align: top;
    float: none;
    text-align: center;
    margin: 0;
    padding: 0px;
    display: inline-block;
}
.navbar-nav>li { float: left; }
.navbar-nav>li>a {
    padding: 0px 20px;
    line-height: 130px;
    color: #2d2c40;
    font-size: 14px;
    transition: color 0.4s ease 0s;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-nav>li.active:hover>a,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a.active {
    color: #333;
    background-color: #eee;
}

li.dropdown:hover>.dropdown-menu {
    display: block;
    margin: 0 5px;
    padding: 25px 15px;
}
.navbar-nav>li>.dropdown-menu,
.navbar-nav .dropdown-menu  {
    border: none;
    border-radius: 0px;
    background-color: #fff;
    color: #444;
}
.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    color: #444;
    font-size: 13px;
    font-weight: 500;
}
.dropdown-menu>li:last-child>a{ border: 0; }
.dropdown-menu>li>a:hover {
    transition: all 0.15s ease;
    color: #7e653e;
    background: none;
}

.dropdown.pull-left .dropdown-menu {
    left: auto;
    right: 0;
}

.header-top { position: relative; padding-top: 15px; }
.header-top p {     
    margin: 0 0 1px;
    line-height: 1.3;
    font-size: 15px;
}

.nav-top .nav { float: right; }
.nav-top .navbar-nav>li>a { padding: 0 10px; color: #b86889;line-height: 25px;}
.nav-top .navbar-nav>li>a:hover{
    background: none;
    color: #B86889;
}
.nav-top .navbar-nav>li:before { display: none; }
li.nav-dropdown:hover>.dropdown-menu {
    display: block;
    padding: 25px 15px;
    transition: all 0.4s ease;
}
li.nav-dropdown:hover > a {
    color: #4c4380;
    background: none;

} 
button.navbar-toggle {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    width: 100%;
    color: #B86889;
    float: none;
    padding: 0.5em 0;
}

.nav-top {
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 10;
}
.nav-social {vertical-align: top; display: inline-block; margin: 0;list-style: none;}
.nav-social li { float: left;}
.nav-social li a  { 
    padding: 0px 10px;
    line-height: 100px;
    color: #2d2c40;
}
.nav-social li i  { font-size: 16px; }
.nav-icon {
    position: absolute;
    top: 10px;
    right: 5px;
}
.nav-icon li a { 
    padding: 0 10px; 
    font-size: 14px; 
    color: #3f3f3f;

}
.nav-icon li ul li a { 
    font-size: 14px; 
    padding: 10px 20px;
    color: #444;
}



/*===================================================================================*/
/*  HEADER
/*===================================================================================*/
.top-bar {
    background: linear-gradient(to right,#aaaaff,#fcbaf8);
    padding: 11px 0;
}
.top-bar ul { margin-bottom: 0; }
.top-bar li {
    display: inline-block;
    margin-bottom: 0;
    font-size: 13.5px;
}
.top-bar .widget-info li i { color: #fff; margin-right: 10px; }
.top-bar li { 
    position: relative; 
    letter-spacing: 0.3px;
    font-weight: 300;
    color: #fff;
}
.top-bar li a {color: #fff;}
.top-bar li.s_opentime { padding-right: 25px; margin-right: 20px; }
.top-bar li.s_opentime:after {
    position: absolute;
    top: 0;
    right: 0px;
    content: "";
    width: 1px;
    height: 20px;
    background: #f1cdfb;
}
.is-sticky .header,
.is-sticky  .menu_mobile_v1 { background: #fff;  box-shadow: 0 7px 15px rgba(0,0,0,0.1); z-index: 99999 !important; position: relative; }
.header .container { position: relative; }
.logo img {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    max-width: 240px;
    max-height: 100px;
}
.logo {
    float: left;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    max-height: 120px;
    padding: 10px 0px;
    overflow: hidden;
}
.logo a{
    display: block;
}
.main-nav { float: right; }
.widget-social .dropdown-menu{
    left: inherit;
    right: 0px;
}
.widget-social .dropdown-menu li a { font-weight: 500; color: #2d2c40; }

/*===================================================================================*/
/*  MAIN
/*===================================================================================*/
.page-heading {
    background: url(../images/bg-page.jpg) center center no-repeat;
    background-color: #222222;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    padding: 30px 0;
    text-align: center;
     color: #ffffff;
}
.page-heading h2 {
    color: #ffffff;
    line-height: 42px;
    font-weight: 500;
    font-size: 36px;
}
.page-heading a{ color: #fff }
.art-main {
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.imgrps {
    max-width: 100%;
    height: auto;
}

h2 {
    color: #993333;
    margin: 0;
    font-size: 22px;
}
h3 {
    font-family: Poppins;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: normal;
    color: #2d2c40;
    font-size: 24px;
}
h4 {
    margin: 0;
    font-size: 21px;
    color: #333;
}
h5 {
    margin: 10px 0;
    font-size: 14px;
}
.mTitle {
    text-align: center;
    color: #333;
    font-size: 21px;
    font-size: 50px;
    padding: 30px 0;
    margin-bottom: 10px;
}
.in-container {
    margin: 20px 0;
    min-height: 240px;
}
.in-contentform { padding-top: 50px; }
.in-content {
    line-height: 1.6em;
    font-weight: 300;
    color: #666;
    font-size: 16px;
    margin-top: 30px;
}
.in-content strong {
    font-weight: 700;
}
.in-content p { line-height: 1.8; }

.boxs {
    padding: 25px;
    background: #fff;
}

.bg-gray {
    padding: 75px 0;
    background-color: #f5f5f9;
} 


/*===================================================================================*/
/*  PAGE HOME
/*===================================================================================*/
.section { padding: 20px 0 20px; }
.section-title  { text-align: center; margin-bottom: 35px; }
.section-title h2 {
    font-size: 36px;
    color: #2d2c40;
    text-align: center;
    font-weight: 400;
    margin: 0 0 15px;
}
.section-title h3 {
    margin: 0;
    font-size: 24px;
    color: #7a7992;
    text-align: center;
    font-family: Arizonia;
    font-weight: 400;
    font-style: normal;
}
.section-subtitle {
    line-height: 1.5em; 
    color: #727272;
    font-weight: 400;
    font-size: 18px;

}
.line-title {
    height: 17px;
    max-width: 280px;
    position: relative;
    margin: 0 auto;
    background: url(../images/icon-logo.png) center center no-repeat;
}
.line-title:before {left: 0;}
.line-title:after {right: 0;}
.line-title:before, 
.line-title:after {
    position: absolute;
    content: " ";
    width: 100px;
    height: 1px;
    background-color: #c1bfda;
    top: 61%;
}
.text-block-custom {
    padding: 0 185px;
}
.text-block-custom {
    text-align: center;
}
.text-block-custom h3 {
    font-size: 24px;
    color: #2d2c40;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 8px;
}
.text-block-custom h4 {
    font-size: 16px;
    color: #7a7992;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}


.section-welcome  .text-block-custom { padding-bottom: 55px; }
.section-welcome .item { text-align: center; }
.section-welcome .thumb {
    position: relative;
    max-width: 215px;
    margin: 0 auto;
}
.section-welcome .thumb:before{
    content: " ";
    position: absolute;
    border: 10px solid rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}
.section-welcome .thumb img {
    border-radius: 100%;
}
.section-welcome .item h3{
    font-size: 18px;
    color: #2d2c40;
    font-weight: 500;
    letter-spacing: 0;
    margin-top: 12px;
}
.section-welcome .item p {
    font-size: 24px;
    color: #fcbaf8;
    font-weight: 500;
    letter-spacing: 0;
    font-family: Arizonia;
}

.section-choose .choose-info {
    padding-top: 13px;
    padding-left: 30px;
}
.radius-thumb img {
    border-radius: 10px;
    box-shadow: 0px 21px 50px rgba(0,0,0,0.1);
    width: auto;
}
.section-choose ul { margin: 0; padding: 0px; list-style: none; }
.section-choose ul li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 6px;
}
.section-choose ul li i {
    color: #fcbaf8;
    font-size: 14px;
    margin-right: 4px;
}
.section-choose .counter-num {
    color: #fcbaf8;
    font-family: Arizonia;
    font-size: 36px;
    margin-bottom: 11px;
}
.section-choose .counter-name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 25px;
}
.choose-counter .gift-btn { margin-top: 10px; }
.gift-btn a{
    display: inline-block;
    background-image: linear-gradient(to right,#aaaaff 0%,#fcbaf8 51%,#aaaaff 100%);
    background-size: 200% auto;
    color: #ffffff;
    border-radius: 25px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 31px;
    border: none;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
}


.section-pricing .item  { 
    text-align: center;
    background: #f5f5f9;
    padding-top: 10px;
    border-top-right-radius: 125px;
    border-top-left-radius: 125px;
    padding-bottom: 48px;
    transition: all 2s ease-out;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 270px;
    margin: 0 auto;
}
.section-pricing .item:hover:before{ opacity: 1; }
.section-pricing .item:before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#aaaaff,#fcbaf8);
    position: absolute;
    border-top-right-radius: 125px;
    border-top-left-radius: 125px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;

}
.section-pricing .thumb  { max-width: 240px;margin: 0 auto; }
.section-pricing .thumb img {
    border: 10px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    margin-bottom: 38px;
}
.section-pricing .item h3 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}
.section-pricing .item .price {
    font-family: Arizonia;
    font-size: 24px;
    font-weight: 400;
    color: #fcbaf8;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;
}
.section-pricing .item .pr-content{
    max-height: 400px;
    height: 177px;
    position: relative;
}
.section-pricing .item  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.section-pricing .item li {
    font-size: 14px;
    color: #2d2c40;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
}
.section-pricing .item:hover h3,
.section-pricing .item:hover ul li,
.section-pricing .item:hover .price { color: #fff; }
.section-pricing .item:hover .btn-default{ background: #fff; color: #fcbaf8; }

.section-gallery { padding-bottom: 0; }
.section-gallery .row { margin: 0 }
.section-gallery .col-md-3 { padding: 0; }
.section-gallery .item:hover:before {opacity: 0.9;}
.section-gallery .item:before {
    background: linear-gradient(to right,#aaaaff,#fcbaf8);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    content: "";
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
}
.section-gallery .item .zoom-container {
   
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
     -webkit-align-items: center; 
    -moz-align-items: center;
     align-items: center; 
}

.section-gallery .item {
    display: block;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}
.section-gallery .item >  span {
    width: 100%;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 0.5s ease-in-out;
    padding-bottom: 75%;
    
}
.section-gallery .item:hover .zoomex2 a.zoomlink1{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
}
.section-gallery .item:hover .zoomex2 a.zoomlink2{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
}
.section-gallery .item .zoomex2 a.zoomlink1{
    transform: translateX(-25px);
    -webkit-transform: translateX(-25px);
}
.section-gallery .item .zoomex2 a.zoomlink2{
    transform: translateX(25px);
    -webkit-transform: translateX(25px);
}
.section-gallery .zoomex2 a {
    overflow:inherit;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    background-color: #FFFFFF;
    color: #373b2f;
    font-size: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 2.5px;
    opacity: 0;
    transition: all 0.5s ease-in;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    
}
.section-gallery .zoomex2 h3{
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-top: 18px;
    margin-bottom: 0px;
    opacity: 0;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
}
.section-gallery .zoomex2 .title-date{
    font-size: 14px;
    color: #ffffff;
    opacity: 0;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
}

.section-gallery .item:hover .zoomex2 h3,
.section-gallery .item:hover .zoomex2 .title-date {opacity: 1}

.section-appointment { padding: 40px 0  80px; }
.appointment-info {
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 105px;
}
.appointment-info p { margin: 0; }
.appointment-info ins {
    font-size: 18px;
    color: #2d2c40;
    font-weight: 500;
    text-decoration: none;
}
.appointment-info .btn-default{
    margin-top: 44px;
}

.section-testimonial {
    /*background: url(../images/bg-review.jpg) center no-repeat;*/
    background-size: cover;
}
.section-testimonial .list-testimonial {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.section-testimonial .item .icon {
    font-size: 60px;
    color: #fcbaf8;
    font-style: italic;
    font-family: Merriweather;
    margin-bottom: 55px;
    letter-spacing: -10px;
    line-height: 0;
}
.section-testimonial p {
    font-size: 16px;
    line-height: 28px;
}
.section-testimonial .bt-title {
    font-size: 18px;
    color: #fcbaf8;
    margin-bottom: 4px;
}
.section-testimonial h5 {
    font-weight: 300;
    font-size: 14px;
    color: #7a7992;
}

.section-news .item {
    border: 1px solid #f0f2eb;
    border-radius: 5px;
    -webkir-border-radius: 5px;
    overflow: hidden;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
    margin-bottom: 15px;
    background: #ffffff;
}
.section-news .item:hover {
    box-shadow: 1px 13px 25px rgba(0,0,0,0.1);
}
.section-news .event-content {
    padding: 21px 30px 20px 30px;
}
.section-news .event-category {
    margin-bottom: 15px;
}
.section-news .event-category a {
    font-size: 13px;
    font-weight: 500;
    position: relative;
    color: #fcbaf8;
}
.section-news .event-title h3 {line-height: 23px; margin:0 0 15px}
.section-news .event-title h3 a {
    color: #2d2c40;
    font-size: 20px;
}
.section-news .event-title h3 a:hover{
    color:#fcbaf8;
}
.section-news .event-info{
    color: #7a7992;
    font-size: 14px;
}
.section-news .organizer {

    margin-right: 8px;
    position: relative;
}

.list-tmm-thumb img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 3px solid #fcbaf8;
}
.list-tmm-thumb {
    width: 100%;
    max-width: 500px;
    margin: 7px auto;
}

.slick-prev {
    left: -35px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 25%;
    display: block;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}
.slick-next {
    right: -35px;
}
.slick-prev:before {
    content: '\34';
}
.slick-next:before {
    content: "\35";
}
.slick-prev:before, .slick-next:before {
    font-family: 'ElegantIcons';
    font-size: 40pt;
    line-height: 1;
    opacity: .75;
    color: #c1bfda;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*===================================================================================*/
/*  ABOUT
/*===================================================================================*/
.content-center { text-align: center;  }
.font_1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #333;
}
.font_4 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #333;
}
.list-ddf  { padding-bottom: 50px; }
.list-ddf .item { max-width: 760px; margin: 0 auto; margin-bottom: 30px; }
.list-ddf p { font-size: 18px; line-height:1.7em;}

.booknow  {padding: 50px 0;}
.booknow h4 { margin-top: 20px; }

.membership { margin-bottom: 30px; }
.membership h2 {
    text-decoration: underline;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #333;
}
.membership p { font-size: 18px; }
.news-event h2{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #333;
}
.news-event  p { font-size: 18px; }

/*===================================================================================*/
/*  SIDEBAR
/*===================================================================================*/


.art-sidebar-box {
    padding: 25px;
    background: url(../images/bg-widget.png) repeat;
}
 
.sidebar-social img { height: 42px; }

.art-sidebar-content .col-2  {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    line-height: 1.8;
}
.art-sidebar-content .col-2:last-child,
.timeopen .art-sidebar-content .col-2:last-child{
    margin-bottom: 0;
}

.timeopen .art-sidebar-content .col-2 {
    margin-bottom: 10px;
    line-height: 1.4;
}


.art-sidebar-content .col-2 .col-left {
    float: left;
    overflow: hidden;
    color: #696969;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.8;
}

.art-sidebar-content .col-2 .col-right {
    padding-left: 50px;

}

.timeopen .art-sidebar-content .col-2 .col-right {
    padding-left: 70px;
}

.art-sidebar-box h3 {
    padding-left: 30px;   
    color: #017BA0;
    font-size: 18px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    position: relative;
    margin:0 0 15px;
}
.art-sidebar-box h3:before {
    width: 20px;
    height: 18px;
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    background: url(../images/iconhoa.png) left center no-repeat;
}
.art-sidebar-content {
    color: #696969;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    margin-left: 5px;
}

.sidebar-hotphone a {
    font-size: 16px;
    color: #f00;
    font-weight: bold;
}

.art-sidebar-content iframe {
    width: 100%;
}

.col-table-2c h3 {
    color: #d13282;
    margin: 15px 0 5px 0;
    font-size: 20px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}
.col-table-2c { text-align: left; }
.col-table-2c table { width: 100%; line-height: 27px; }
.col-table-2c  th, .col-table-2c  td {
    padding: 2px;
    vertical-align: top;
    text-align: left;
}
.col-md-right, .col-md-left{
    padding-right: 15px;
    padding-left: 15px;
}

/*===================================================================================*/
/*  GALLERY
/*===================================================================================*/

.list-gallery .row {
    margin: 0 -15px;
}

.list-gallery .col-sm-6 {
    padding: 0 15px;
}

.gallery-item {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    height: 255px;
    transition: all 0.5s ease;
}

.gallery-item>span {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 0.5s ease-in-out;
}

.gallery-item span:hover {
    transform: scale(1.1);
  
}

.price-table-wrap {
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.price-table-bottom-img {
    width: 100%;
    text-align: right;
}

.pagination>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    color: #000;
    margin-left: 1px;
}

.pagination>li.active>a.hover-main-color,
.pagination>li.active>span.hover-main-color,
.pagination>li>a:hover.hover-main-color,
.pagination>li>span:hover.hover-main-color {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}


/*===================================================================================*/
/*  BOOKING
/*===================================================================================*/

.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.group-select select option {
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}

.group-select optgroup {
    font-weight: 700;
    color: #E94E75;
    height: 30px;
    float: left;
    width: 100%;
}

.group-select .fa-calendar {
    position: absolute;
    margin-top: 0px;
    right: 10px;
    top: 30px;
    font-size: 18px;
}

.box_register .btn_submit_login {
    margin-top: 40px;
}

.popup_main_area .border_right {
    border-right: 1px solid #dedede;
}

.box_register .btn_login_social {
    text-align: center;
    align-items: center;
}

.txt_login a {
    color: #ffc267 !important;
}

.group-select {
    float: left;
    margin-right: 0;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.group-select label {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    color: #565656;
}

.btn-search {
    width: 100%;


    text-transform: uppercase;
    outline: none;
}

.staff-avatar {
    padding: 0;
}

.staff_service_v1 {
    display: inline-block;
}

.staff_service_v1 {
    margin-top: 15px;
    overflow: hidden;
}

.staff_service_v1 h4 {
    margin-top: 0;
}

.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}

.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #ebebeb;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}



.content-shop-booking,
#box_person,
.time_work_staff_v1 {
    padding-bottom: 30px;
}


.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
}

.popup_main_area {
    background: #37302F;
    padding: 15px;
    float: left;
    width: 100%;
}

.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 5px 15px 15px;
    border-bottom: 1px solid #655353;
    background: #000000;
    color: #fff;
}
#send_booking .input-box { margin-bottom: 5px; }


/*===================================================================================*/
/*  CART
/*===================================================================================*/
.bg-white { background: #fff; padding: 20px; margin-top: 30px; border-radius: 10px; }
.cards-item {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
}

.cards-item:hover .cards-item-image {
    transform: scale(1.05);
}
.cards-item .btn { margin-top: 10px; }
.cart-table ul li:first-child {
    border-bottom: 1px solid #dedede;
    width: 100%;
}

.cart-table .ui-inputText:focus {
    border: 1px solid #00c8b4;
}

.cart-table thead tr th {
    /*background: #fff;*/
    /*border: medium none !important;*/
    color: #333;
    height: 40px;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    border-color: #c7c7c7;
    border-style: solid;
    border-width: 0 0 1px;
}

.cart-table thead tr th.product {
    min-width: 320px;
}

.cart-table thead tr th.price {
    min-width: 100px;
}

.cart-table thead tr th.qty {
    min-width: 100px;
}

.cart-table thead tr th.add-cart {
    min-width: 150px;
}

.cart-table thead tr th.remove {
    min-width: 90px;
}

.cart-table tbody tr td {
    border-color: #c7c7c7;
    border-style: solid;
    border-width: 0 0 1px;
    padding: 20px 0;
    vertical-align: middle;
    text-align: left;
}

.cart-table tbody tr:first-child td {
    padding-top: 30px;
}

.cart-table tbody tr:last-child td {
    padding-bottom: 0;
    border-bottom: none;
}

.fix {
    overflow: hidden;
}

.cart-table .cart-product img {
    border: 1px solid #f3f3f3;
    display: block;
    float: left;
    width: 93px;
    margin: 0 25px 25px auto;
}

.cart-table .cart-product .details {
    margin-top: 20px;
}

.cart-table .cart-product .details a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}

.cart-table .cart-product .details a:hover {
    color: #7ac2d7;
    text-decoration: none;
}

.cart-table .cart-product .details p {
    margin: 0;
    font-weight: bold;
}

.cart-table .cart-price {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}

.cart-table .cart-stock {
    color: #606060;
    text-transform: uppercase;
}

.cart-table .cart-pro-remove:hover {
    color: #7ac2d7;
}

.cart-table .cart-pro-remove i {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-left: 35px;
}

.cart-table .ui-inputText {
    /*color: #333;
    transition: .3s;
    border: 1px solid #dfdfdf;
    border-radius: 0;*/
    width: 50%;
    /*padding: 0.6em;
    margin-top: 1em;
    margin-bottom: 1em;*/
}

.cart-table-ver1 .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
}

.cart-table-ver1 {
    background-color: #f6f6f6;
    padding-top: 15px;
    padding-left: 15px;
}

.cart-table-ver1 .table>tbody>tr>td {
    border-top: none;
}

.cart-table-ver1 .table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #fff;
}

.cart-table tr:first-child td {
    background-image: none;
}

.cart-table table tr:hover td {
    background-color: transparent;
}

.cart-table p {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
    font-size: 16px;
}

.cart-table p.mgr_100 {
    margin-right: 100px;
}

.order_details_page .btn_cart_order {
    background-color: #7ac2d7;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}


.btn_cart_order {
    background-color: #7ac2d7;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}


/* FORM CART */

.cart.step_one {
    margin: 50px 0px
}

.cart.step_one .table.specifications.tcart thead th,
.cart.step_one .table.specifications.tcart td b {
    font-family: 'sanb'
}

.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block
}

.cart .form_cart {
    margin-bottom: 30px
}

.cart .form_cart .cc,
.cart .form_cart .pp {
    border-bottom: 1px solid #d8e2e7;
    margin-bottom: 20px
}

.cart .form_cart a {
    display: table;
    margin: 10px auto 25px auto;
    padding: 15px 65px;
    font-size: 15px;
    cursor: pointer
}

.cart .form_cart p {
    font-size: 14px;
    color: #333;
}

.cart .order {
    margin-top: 15px;
    background-image: linear-gradient(to right,#aaaaff 0%,#fcbaf8 51%,#aaaaff 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
        color: #333;
}

.cart .order .inner {
    padding: 15px 20px 0px 20px
}

.cart .order .inner ul li {
    clear: both;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%
}

.cart .order .inner ul li .frame_img {
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px
}

.cart .order .inner ul li .frame_img img {
    width: 60px;
    background: #fff
}

.cart .order .inner ul li .name_product {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 63%;
    overflow: hidden;
    float: left;
}

.cart .order .inner ul li .name_product p {
    /*color: #444242;*/
    font-size: 15px
}

.cart .order .inner ul li .name_product span {
    color: #858585;
    font-size: 13px;
    margin-right: 5px
}

.cart .order .inner ul li .name_product small {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block
}

.cart .order .inner ul li .price,
.cart .order .subtotal ul li span {
    /*color: rgba(0,0,0,0)*/
}

.cart .order .subtotal {
    padding: 0px 20px 15px 20px
}

.cart .order .subtotal ul li {
    padding: 3px 0px
}

.cart .order .subtotal ul li label {
    /*color: #858585*/
}

.cart .order .subtotal ul li span {
    /*color: rgba(0,0,0,0)*/
}

.cart .order .total {
    /*background: #f1faff*/
}

.cart ul {
    margin-top: 15px;
    list-style: none;
    padding-left: 0;
}

.cart .order .total ul {
    padding: 15px 20px;
}

.cart .order .total ul li label {
    /*color: #000*/
}

.cart .order .total ul li span {
    color: #ff0000;
    font-size: 24px;
}

.cart .note {
    color: #333;
    margin: 15px 0px
}

.cart .note p {
    font-size: 14px;
    margin: 0;
}

h2.timr {
    margin: 0;
    margin-bottom: 20px;
}

.box_cart {
    margin: 30px auto;
}

ul.list_form li {
    margin: 5px 0;
}

h4.sanb {
    font-size: 18px;
    font-style: italic;
}

.inner .price,
.subtotal span,
.total span {
    /*color: #000;*/
    font-weight: bold;
}

.fl-flex-label label {
    font-weight: normal;
}

.white-popup {
    clear: both;
    overflow: hidden;
}


/*===================================================================================*/
/*  CONTACT
/*===================================================================================*/
.contact-info{
    color: #202020 !important;
    font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
    font-size: 31px;
    padding: 30px 0 50px;
}
.contact-info-bottom{
    color: #202020 !important;
    font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
    font-size: 24px;
    padding: 50px 0 0px;
}
.contact-info-bottom p { margin: 0px 0; }
.contact-info h2 {
    color: #B8E500;
    margin: 0;
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.contact-info h3 {
    color: #FC9A69;
    margin: 10px 0 0;
    font-size: 20px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.contact-form {
    margin-top: 25px;
    padding: 25px 20%;
    background: url(../images/bg-widget.png) repeat;
}
.contact-map h3 {
    color: #fff;
    margin: 0px 0 20px;
    font-size: 20px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;

}
.contact-forms label{
    font-weight: 400;
}
.contact-forms { max-width: 800px; margin: 0 auto; padding-top: 50px; }
.contact-forms .form-group {margin-bottom: 40px;}
.contact-forms .form-input {
    border: 1px solid #bbb;
    color: #4e4e4e;
    background-color: #fff;
    width: 100%;
    padding: 16px !important;
    
}
.contact-forms .form-btn{
    float: right;
    display: inline-block;
    width: auto;
    background: #202020 !important;
    color: #fff !important;
    border-color: #202020 !important;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 12px 25px;
   
    text-transform: uppercase;
    text-decoration: none;
}


.login_form_area .box_area_login_v1 {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}

.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}

.btn_login_social {
    margin-top: 20px;
}

.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}

.btn_login_social span {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}

.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    padding: 7px 25px;
}

.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
    padding: 7px 35px;
}

.btn_submit_login {
    margin-bottom: 30px;
}

.btn_submit_login button.submit {
    background-color: #ffc267;
    border: 1px solid #ffc267;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}

.box_register .btn_submit_login {
    margin-top: 40px;
}

.popup_main_area .border_right {
    border-right: 1px solid #dedede;
}

.box_register .btn_login_social {
    text-align: center;
    align-items: center;
}

.txt_login a {
    color: #ffc267 !important;
}

/*===================================================================================*/
/*  SERVICEs
/*===================================================================================*/

h1.service-name{
    font-size: 30px;
    font-style: normal;
    line-height: 1;
    color:#000;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fec168;
    padding-right: 15px;
}
.price-item{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #f0f1f3;
}
.price-item-number{
    margin: 10px 0;
    font-weight:bold;
    line-height: 1.0;
}
.circle-service-image{
    width: 250px;
    height: 250px;
    border-radius:125px; 
    border: 3px solid #fec168;
    display: inline-block;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
}
.rouded-service-image{
    width: 180px;
    height: 180px;
    border-radius:5px; 
    display: inline-block;
    margin-top: 20px;
}
.service-row{
    padding-top: 30px;
    padding-bottom: 50px;
}
.top-right{
    text-align: left;
}
.top-right a {
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
.top-right a img{
    vertical-align: top;
    padding-top: 0px;
    padding-right: 10px;
}
.detail-price-item{
    display: flex;
    width:100%;
    padding-top: 8px;
    padding-bottom: 5px;
}
.detail-price-dots{
    height: 21px;
    flex: 1;
    border-bottom: 1px dotted #fec168;
}
.detail-price-number{
    padding-left: 5px;
    font-size: 16px;
}
.detail-price-name{
    padding-right: 5px;
    font-size: 18px;
    font-weight: 700;
}
@media (min-width: 768px){
    .top-right{
        text-align: right;
    }
}
@media (min-width: 992px){
}
@media (min-width: 1200px){
    .circle-service-image{
        width: 250px;
        height: 250px;
    }
    .rouded-service-image{
        width: 250px;
        height: 250px;
    }
}

/*===================================================================================*/
/*  FOOTER
/*===================================================================================*/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#back-top a {
    width: 50px;
    height: 50px;
    background:rgba(0,0,0,0.5);
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    color:#FFFFFF;
    line-height:50px;
}

.footer-widget {
    background: #f5f5f9;
    padding: 20px 0px;
}
.footer-widget .icon-footer li a:hover {
    background-position: right center;
}
.footer-widget .icon-footer li a {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.footer-widget ul { padding: 10px 0 0; margin:0; list-style: none; }

.footer-widget h3 {
    font-size: 16px;
    color: #2d2c40;
    font-weight: 500;
}
.footer-info h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}
.footer-info p { margin: 12px 0; }
.newletter-form {
    position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.newletter-form .tnp-email {
    background-color: #e7e7f2;
    border: none;
    color: #7a7992;
    font-size: 12px;
    height: 40px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 23px;
}
.newletter-form .tnp-submit:hover {
    background-position: right center;
}
.newletter-form .tnp-submit {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    background-image: linear-gradient(to right,#aaaaff 0%,#fcbaf8 51%,#aaaaff 100%);
    background-size: 200% auto;
    border: none;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
    height: 40px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.footer-nav ul {
    list-style: none;
    text-align: right;
    margin: 0;
}
.footer-nav ul li {
    margin-left: 38px;
    position: relative;
}
.footer-nav ul li:last-child:before { display: none; }
.footer-nav ul li:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 13px;
    background-color: #89889f;
    top: 5px;
    right: -23px;
}
.footer-nav ul li a {
    color: #7a7992;
    transition: all .5s ease-out;
}
.footer-nav ul li a:hover{
    color:#fcbaf8;
}
.footer-copyright {
    background-color: #e7e7f2;
    padding: 15px 0;
}
.footer-copyright p { margin: 0; }

.sp-slide-text {
    position: absolute;
    bottom: 20%;
    display: block;
    width: 100%;
    text-align: center;
}

.sp-slide-text h2 {
    color: #fff;
    font-size: 40px;
    font-style: italic;
    font-family: Arizonia;
    text-shadow: 1px 1px 3px #000;
}
