@font-face {
    font-family: "fontello";
    src: url("../font/fontello.eot?17433280");
    src: url("../font/fontello.eot?17433280#iefix") format("embedded-opentype"), url("../font/fontello.woff2?17433280") format("woff2"), url("../font/fontello.woff?17433280") format("woff"), url("../font/fontello.ttf?17433280") format("truetype"), url("../font/fontello.svg?17433280#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17433280#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-up-open:before {
    content: "\e800";
}


/* 'î €' */

.icon-globe:before {
    content: "\e801";
}


/* 'î ' */

.icon-leaf:before {
    content: "\e802";
}


/* 'î ‚' */

.icon-droplet:before {
    content: "\e803";
}


/* 'î ƒ' */

.icon-location:before {
    content: "\e804";
}


/* 'î „' */

.icon-email-1:before {
    content: "\e805";
}


/* 'î …' */

.icon-phone:before {
    content: "\e806";
}


/* 'î †' */

.icon-mail:before {
    content: "\e807";
}


/* 'î ‡' */

.icon-cancel:before {
    content: "\e808";
}


/* 'î ˆ' */

.icon-down-dir:before {
    content: "\e809";
}


/* 'î ‰' */

.icon-docs:before {
    content: "\e80a";
}


/* 'î Š' */

.icon-heart-filled:before {
    content: "\e80b";
}


/* 'î ‹' */

.icon-link:before {
    content: "\e80c";
}


/* 'î Œ' */

.icon-search:before {
    content: "\e80d";
}


/* 'î ' */

.icon-heart:before {
    content: "\e80e";
}


/* 'î Ž' */

.icon-forward:before {
    content: "\e80f";
}


/* 'î ' */

.icon-right-open:before {
    content: "\e810";
}


/* 'î ' */

.icon-cog-circled:before {
    content: "\e811";
}


/* 'î ‘' */

.icon-logout:before {
    content: "\e812";
}


/* 'î ’' */

.icon-calendar:before {
    content: "\e813";
}


/* 'î “' */

.icon-tag:before {
    content: "\e814";
}


/* 'î ”' */

.icon-user:before {
    content: "\e815";
}


/* 'î •' */

.icon-popup:before {
    content: "\e816";
}


/* 'î –' */

.icon-clock:before {
    content: "\e817";
}


/* 'î —' */

.icon-plus:before {
    content: "\e818";
}


/* 'î ˜' */

.icon-layout:before {
    content: "\e819";
}


/* 'î ™' */

.icon-garden:before {
    content: "\e81a";
}


/* 'î š' */

.icon-left-open:before {
    content: "\e81b";
}


/* 'î ›' */

.icon-down-open:before {
    content: "\e81c";
}


/* 'î œ' */

.icon-play:before {
    content: "\e81d";
}


/* 'î ' */

.icon-ok:before {
    content: "\e81e";
}


/* 'î ž' */

.icon-zoom-in:before {
    content: "\e81f";
}


/* 'î Ÿ' */

.icon-link-ext:before {
    content: "\f08e";
}


/* 'ï‚Ž' */

.icon-twitter:before {
    content: "\f099";
}


/* 'ï‚™' */

.icon-facebook:before {
    content: "\f09a";
}


/* 'ï‚š' */

.icon-menu:before {
    content: "\f0c9";
}


/* 'ïƒ‰' */

.icon-gplus:before {
    content: "\f0d5";
}


/* 'ïƒ•' */

.icon-doc-text:before {
    content: "\f0f6";
}


/* 'ïƒ¶' */

.icon-lock-open-alt:before {
    content: "\f13e";
}


/* 'ï„¾' */

.icon-youtube:before {
    content: "\f167";
}


/* 'ï…§' */

.icon-yelp:before {
    content: "\f1e9";
}


/* 'ï‡©' */

.icon-vimeo:before {
    content: "\f27d";
}


/* 'ï‰½' */

.icon-user-circle-o:before {
    content: "\f2be";
}


/* 'ïŠ¾' */

.icon-instagram:before {
    content: "\f16d";
}