
@media (min-width: 992px){

	.col-md-right 	{ width: 30%;}
	.col-md-left 	{ width: 70%;}
	.col-md-right.col-md-pull-8 { right:70%; }
	.col-md-left.col-md-push-4 { left:30%; }
}

@media (min-width: 990px){
	.youtube-player {
	    padding-bottom: 75.25%;
	}
	.container {
	    width: 1000px;
	}

} 

@media (max-width: 1200px){
	.navbar.main-nav{border-width: 8px; }
	
}

@media (max-width: 990px){
	.pmain {padding-left: 0;}
	.services-list .info { padding: 15px; }
	.services-list .info h3  { font-size: 16px; }
	.tips-right { padding: 50px 40px; }

	.section-statistic .item { min-width: 50px; }
	.section { padding: 50px 0; }
	.section-visit { padding-top: 100px; }

	.page-heading { padding: 30px 0; text-align: center;}
	.page-contact { padding: 50px 0; }
	.contact-right .maps,
	.contact-details { margin-top: 0; }

	.section-about .about-left { text-align: center; }
	.section-about-text h3 { font-size: 1.8em; }



	.animated-arrow {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 0px;
        height: 45px;
        padding: 22px 45px 16px 0px;
    }
    .navopener { overflow: hidden; }
    .navopener .header-nav {
        right: 0;
    }
    .header-inner.dflex-sb { display: block; }
    .logo img { margin: 15px 0; height: 30px; }
    .header-main {
    	padding: 0;
    }
    .header-nav > ul.nav {
        height: 100%;
        overflow-y: auto;
        display: block !important;
    }
    .header-nav .nav{ display: block; }
    .header-nav > ul >li> a:after{ display: none; }
    .header-nav > ul >li> a {
        font-size: 18px;
        position: relative;
    }
    .head-nav-right .btn-main{ margin-left: 15px; }

    .navbar-nav>li { float: none; }
    .header-nav > ul >li:hover a { color: #fff; }
    .header-nav > ul >li.active,
    .header-nav > ul >li:hover {
        background: #fcc72c;
        color: #fff;
    }
    .header-nav {
        padding: 20px;
        width: 100%;
        right: -100%;
        height: 100%;
        position: fixed;
        top: 60px;
        margin: 0;
        background-color: #fff;
        border-radius: 0px;
        z-index: 103;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        border: none;
        border-top: 1px solid #363738;
        display: block;
    }
    .header-nav > ul >li:hover .megamenu {
        display: none;
    }


}

@media (max-width: 768px){	

}
@media (max-width: 767px){
	.top-right a { margin-bottom: 10px; }
	.book_appoin_btn .btn { margin-bottom: 10px; }

	.footer-copyright { text-align: center; }

	h2 { font-size: 1.5em;}

	.about-right img { max-width: 45%; }
	.mtitle { font-size: 2.0em; }
	.footer-main h3 { font-size: 2.0em; }
	.special-list { display: block; }
	.sp-button {
	    width: 12px;
	    height: 12px;
	}
	.footer-main {padding: 50px 0;}
	.footer-main p { margin: 10px 0; }
	.footer-inner { display: block; }
	.footer-inner .copyright { margin-bottom: 10px; }

	.section-contact iframe { width: 100%; }
	.section-stylist .item img { width: 100%; }
	.parallax { height: 250px; }

}

@media (max-width: 480px){
	.art-sheet {border-width: 3px; padding: 10px 20px; }
	
	.art-sidebar { padding-top:10px; }
	.cart-button { text-align: center; }
	.cart-button .pull-right { float: none !important; margin-top: 15px; }


}

@media (max-width: 380px){
}

@media (min-width: 768px){

	
	.cart-product-description{max-width: 130px;}	
	.table-row{border-bottom: none;}
	.total_change{text-align: left;}
	.thead {display: table-header-group;}
	.quantity-label{display: block;}
	.cart-product-image-cell{padding-bottom: 15px;}
	.total-change-cell>p.total_change:before{display: none;}
	.total-amount-label{display: block;}
	.total-amount-cell{padding:15px;}
	.quantity-label{color: rgba(0,0,0,0)}
	.table-row{
		display: table-row;
		border:inherit;
		vertical-align: inherit;
	}
	.table-head{
		display: table-cell;
		padding: 15px;
		border:inherit;
		vertical-align: inherit;
	}
	.table-data{
		display: table-cell;
		padding-top: 15px;
		border:inherit;
		vertical-align: inherit;
	}	
	.table-cart .tbody .table-data,.table-cart .tbody .table-data.quantity-cell,
	.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
		border-bottom:1px solid #d8d8d8;
		vertical-align: top;
		display: table-cell;
	}
	.table-cart .tbody .table-data.total-change-cell{vertical-align: bottom;}
	.quantity-cell,.price-cell{display: table-cell;}
	.total-amount{text-align: left;padding-top: 0;}
	.total-amount:before{display: none;}


}
