@font-face {
    font-family: "Open Sans";
    src: url(/themes/fnail04o/assets/fonts/opensans/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(/themes/fnail04o/assets/fonts/opensans/OpenSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(/themes/fnail04o/assets/fonts/opensans/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(/themes/fnail04o/assets/fonts/opensans/OpenSans-SemiBold.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "fontello";
    font-weight: 400;
    font-style: normal;
    src: url("/themes/fnail04o/assets/fonts/fontello/fontello.eot");
    src: url("/themes/fnail04o/assets/fonts/fontello/fontello.eot?#iefix") format("embedded-opentype"), url("/themes/fnail04o/assets/fonts/fontello/fontello.woff") format("woff"), url("/themes/fnail04o/assets/fonts/fontello/fontello.ttf") format("truetype"), url("/themes/fnail04o/assets/fonts/fontello/fontello.svg#fontello") format("svg");
}

#top .avia-font-fontello,
body .avia-font-fontello,
html body [data-av_iconfont="fontello"]:before {
    font-family: "fontello";
}

[data-av_icon]:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    content: attr(data-av_icon);
    speak: none;
}

.header.sticky,
.header-page .header-main,
.menu_mobile_v1 {
    background: #fff;
}

.section-about .section-content {
    border-bottom: 3px solid #a79b94;
}

.section-count .item {
    background-color: #51433a;
}

.footer-main h3 {
    color: #c4beb8;
}

.breadcrumbs li a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a {
    color: #38b5ad;
}

.header.header-page .header-top ul a,
.header.header-page .navbar-nav>li>a,
.sticky .header-top ul a,
.sticky .navbar-nav>li>a {
    color: #666;
}

.logo-sticky {
    display: none;
    transition: all 0.3s ease;
}

.sticky .logo-normall {
    display: none;
}

.sticky .logo-sticky {
    height: 60px;
    display: block;
}

.header.header-page .header-main,
.sticky .header-main {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

body {
    margin: 0 auto;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #38b5ad;
    text-decoration: none;
}

a.btn,
.btn,
a.btn-main,
.btn-main {
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    padding: 0 30px;
    transition: all 0.3s ease;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    position: relative;
    border: 0;
    background: #16938b;
}

.btn-link {
    border: 0;
    border-radius: 25px;
    height: 33px;
    line-height: 33px;
    font-size: 11px;
    padding: 0 20px;
    transition: all 0.3s ease;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}

a.btn:hover,
.btn:hover,
.btn-main:hover,
.btn-link:hover {
    opacity: 0.7;
}

p {
    margin: 0 0 15px;
    line-height: 1.8;
}

h2,
h3,
h4,
h5 {
    color: #666;
    margin: 0 0 20px;
}

h2 {
    font-size: 28px;
    line-height: 1.1em;
}

h3 {
    font-size: 2em;
    line-height: 1.3em;
}

h4 {
    font-size: 1.5em;
    line-height: 1.4em;
}

h5 {
    font-size: 15px;
    line-height: 1.5em;
}

.form-control {
    padding: 0 20px;
    height: 47px;
    width: 100%;
    font-size: 13px;
    margin: 0;
    border: 1px solid #e4e0e0;
    color: #444;
    outline: none;
    font-weight: 500;
    box-shadow: none;
    border-radius: 0;
}

.animated-arrow {
    display: none;
}

.animated-arrow span,
.animated-arrow span:before,
.animated-arrow span:after {
    cursor: pointer;
    height: 2px;
    width: 25px;
    background: #56b367;
    position: absolute;
    display: block;
    content: "";
    transition: all 500ms ease-in-out;
}

.animated-arrow span:before {
    top: -7px;
}

.animated-arrow span:after {
    bottom: -7px;
}

.navopener .animated-arrow span:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 0;
}

.navopener .animated-arrow span:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.navopener .animated-arrow span {
    background-color: transparent;
}

.navopener .animated-arrow span:before {
    top: 0;
}

.navopener .animated-arrow span:after {
    bottom: 0;
}

.mean-container .mean-nav ul li a {
    padding: 14px 5%;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 600;
    color: #504e50;
    font-size: 12px;
}

.mean-container .btn-main {
    border-radius: 0;
    display: block;
    font-size: 11px;
    text-align: center;
}

.navbar {
    min-height: 32px;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
}

.navbar .navbar-collapse {
    padding: 0;
}

.navbar .navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;
}

.navbar-nav>li {
    padding: 0 15px;
}

.navbar-nav>li>a {
    line-height: 40px;
    font-style: normal;
    color: #fff;
    font-size: 13px;
    padding: 0;
    position: relative;
    font-weight: 500;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a {
    background: none;
}

.navbar-nav .dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-nav .dropdown-menu {
    border: none;
    border-radius: 0;
    background: #fff;
    color: #252525;
    padding: 20px 0;
}

.dropdown-menu>li>a {
    padding: 5px 25px;
    color: #666;
    letter-spacing: 1.4px;
    font-weight: 400;
    font-size: 14px;
}

.dropdown-menu>li>a:hover {
    transition: all 0.15s ease;
    background: rgba(212, 210, 210, 0.3);
    color: #000;
}

.nav-shop>li>a {
    font-size: 14px;
    padding: 0 10px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: none;
}

.dflex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.dflex-sb {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}

.imgrps {
    max-width: 100%;
    height: auto;
}

.art-main {
    position: relative;
    padding: 0;
}

.header-top {
    padding: 7px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header-top-inner {
    display: flex;
    justify-content: space-between;
}

.header-top ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-top ul a {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
}

.header-top ul li {
    line-height: 10px;
    padding: 0 10px;
}

.header-top ul li:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.header-social li a {
    color: gray;
    font-size: 13px;
}

.head-nav-right {
    align-items: center;
}

.head-nav-right .btn-main {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px;
    padding: 0 30px;
    margin-left: 50px;
}

.header-page .header-main {
    position: relative;
}

.header.header-page.sticky,
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease-out;
}

.header.header-page {
    position: relative;
}

.header-main {
    padding: 10px 0;
}

.header-nav {
    position: relative;
}

.header-main .navbar-right {
    position: absolute;
    right: 0;
    top: 20px;
    height: 80px;
}

.pmain {
    margin: 0;
    padding-left: 0;
}

.mTitle {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-variant-ligatures: common-ligatures;
    margin: 0 0 10px;
}

.in-container {
    padding: 50px 0;
}

.in-content p {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-heading {
    padding: 80px 0;
    background-size: cover;
    position: relative;
}

.page-heading h2 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-size: 12px;
}

.breadcrumbs li {
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 5px;
    color: #bfbfbf;
}

.breadcrumbs li:after {
    content: "/";
    padding-left: 5px;
}

.breadcrumbs li:last-child:after {
    display: none;
}

.heading-inner {
    text-align: center;
    position: relative;
}

.heading-inner p {
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}

.page-heading:before {
    content: "";
    display: block;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #333;
}

.container-fluid {
    padding: 0 30px;
}

.section {
    padding: 50px 0;
    overflow: hidden;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.section-slider {
    overflow: hidden;
}

.sp-buttons {
    position: absolute;
    bottom: 13px;
}

.sp-button {
    width: 30px;
    height: 2px;
    border: 0;
    border-radius: 0;
    background: #ccc;
}

.sp-selected-button {
    background-color: #555;
}

.owl-next {
    right: 0;
}

.owl-prev {
    left: 0;
}

.owl-next,
.owl-prev {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background: none;
    border: 0;
    font-size: 0;
}

.owl-prev:before,
.owl-next:before {
    content: "\f054";
    color: #aaa;
    font-size: 18px;
    font-family: "FontAwesome";
    display: block;
}

.owl-prev:before {
    transform: rotate(180deg);
}

.section-service h3 {
    color: #222;
    text-transform: uppercase;
    font-size: 1.25em;
}

.section-service h3 a:before {
    padding-right: 15px;
    font-size: 23px;
}

.section-service p {
    color: #666;
    margin-bottom: 5px;
}

.section-service p a {
    color: #38b5ad;
}

.content-empty strong,
.section-service p strong,
.view-more,
.view-more a {
    color: #38b5ad;
    font-weight: 500;
}

.section-studio {
    text-align: center;
    background: #fcfcfc;
}

.section-studio h2 {
    font-weight: 400;
    text-transform: uppercase;
}

.section-studio p {
    margin-bottom: 5px;
}

.alternate_color .hr-short .hr-inner-style,
.alternate_color .hr-short .hr-inner {
    background-color: #fcfcfc;
}

.hr-short {
    position: relative;
    margin-bottom: 15px;
    height: 15px;
}

.hr-short .hr-inner-style {
    border-radius: 20px;
    height: 9px;
    width: 9px;
    border: 2px solid #e1e1e1;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background: #fff;
}

.hr-short .hr-inner {
    width: 32%;
    left: 50%;
    margin-left: -16%;
    background-color: #fcfcfc;
    position: absolute;
    height: 1px;
    top: 50%;
    margin-top: -1px;
    border-top: 1px solid #e1e1e1;
}

.section-heading {
    display: flex;
}

.section-heading div {
    width: 33.33%;
    text-align: center;
}

.review-container {
    background-size: cover;
    position: relative;
    margin-top: 30px;
}

.review-container:before {
    content: "";
    display: block;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #333;
}

.review-inner {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 50px 0;
}

.review-inner h3 {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    color: #ddd;
    font-size: 30px;
}

.review-list {
    padding: 0 8%;
}

.review-list .item {
    text-align: center;
}

.review-list .item .content {
    color: #eee;
    font-size: 1.3em;
    line-height: 1.65em;
    text-align: center;
    font-style: italic;
}

.review-name {
    display: inline-block;
    text-align: left;
    margin-top: 30px;
}

.review-name h4 {
    color: #eee;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 0;
}

.review-name span {
    color: #eee;
    font-size: 12px;
}

.review-name a {
    font-size: 12px;
    font-weight: 500;
    color: #eee;
}

.list-represent {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}

.list-represent .item {
    width: 20%;
}

.list-represent .thumb {
    padding: 10px;
    border: 1px solid #e1e1e1;
}

.art-sidebar-box {
    margin: 0 0 60px;
    border: 1px solid #e2e2e2;
    padding: 5px 20px 20px;
    overflow: visible;
}

.art-sidebar-name {
    text-align: center;
}

.sidebar-social {
    text-align: left;
}

.art-sidebar-content .col-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    line-height: 1.4;
}

.art-sidebar-content .col-2 i {
    font-size: 18px;
    color: #781414;
}

.timeopen .art-sidebar-content .col-2 {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 12px;
}

.art-sidebar-content .col-2 .col-left {
    float: left;
    overflow: hidden;
    font-weight: 700;
}

.art-sidebar-content .col-2 .col-right {
    padding-left: 50px;
}

.timeopen .art-sidebar-content .col-2 .col-right {
    padding-left: 80px;
}

.art-sidebar-box h3 {
    position: relative;
    display: inline;
    top: -20px;
    padding: 0 20px;
    background: #fff;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 16px;
}

.sidebar-hotphone {
    color: #333;
    font-size: 13px;
    font-weight: 700;
}

.art-sidebar-box iframe,
.art-sidebar-content iframe {
    width: 100%;
}

.art-sidebar-box ul {
    padding: 0;
    margin: 0;
    margin-left: 15px;
    list-style: none;
}

.art-sidebar-box li {
    margin-bottom: 10px;
}

.art-sidebar-box li a {
    color: #777;
    font-size: 12px;
}

.art-sidebar-box li:before {
    content: "";
    border-top: 2px solid #dfdfdf;
    padding: 4px;
    position: relative;
    top: 14px;
    left: -8px;
}

.list-gallery {
    padding: 0;
}

.list-gallery .row {
    margin: 0 -5px;
}

.list-gallery .col-xs-6 {
    padding: 0 5px;
}

.gallery-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-item {
    margin-bottom: 10px;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.gallery-item span {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.gallery-item:after {
    display: none;
    width: 100%;
    height: 100%;
    content: "";
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s ease-out;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.gallery-item:hover:after {
    display: block;
}

.gallery-item:hover .gallery-info .project-title {
    top: 35%;
    opacity: 1;
    visibility: visible;
}

.gallery-item .gallery-info {
    text-align: center;
}

.gallery-item .icon {
    z-index: 1;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.gallery-item:hover .icon {
    bottom: 0;
    color: #000;
    opacity: 1;
    visibility: visible;
}

.gallery-item h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 60%;
    z-index: 1;
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.pagination>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    color: #000;
    margin-left: 1px;
}

.pagination>li.active>a.hover-main-color,
.pagination>li.active>span.hover-main-color,
.pagination>li>a:hover.hover-main-color,
.pagination>li>span:hover.hover-main-color {
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}

.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.group-select select option {
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}

.group-select optgroup {
    font-weight: 700;
    color: #e94e75;
    height: 30px;
    float: left;
    width: 100%;
}

.group-select .fa-calendar {
    position: absolute;
    margin-top: 0;
    right: 10px;
    top: 42px;
    font-size: 18px;
}

.box_register .btn_submit_login {
    margin-top: 40px;
}

.popup_main_area .border_right {
    border-right: 1px solid #dedede;
}

.box_register .btn_login_social {
    text-align: center;
    align-items: center;
}

.group-select {
    float: left;
    margin-right: 0;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.group-select label {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
    min-height: 24px;
}

.btn-search {
    width: 100%;
    text-transform: uppercase;
    outline: none;
}

.staff-avatar {
    padding: 0;
}

.staff_service_v1 {
    display: inline-block;
}

.staff_service_v1 {
    margin-top: 15px;
    overflow: hidden;
}

.staff_service_v1 h4 {
    margin-top: 0;
    font-weight: 700;
}

.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}

.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #ebebeb;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}

.content-shop-booking,
#box_person,
.time_work_staff_v1 {
    padding-bottom: 30px;
}

.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
}

.popup_main_area {
    padding: 15px;
    float: left;
    width: 100%;
    color: #333;
}

.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #655353;
    background: #000;
    color: #fff;
}

.modal_form_header h4 {
    margin: 0;
    color: #fff;
}

#send_booking .input-box {
    margin-bottom: 5px;
}

.table-mobile-collapse {
    display: table;
    border: 1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}

.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    display: none;
}

.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-row {
    border: inherit;
    vertical-align: inherit;
}

.table-head {
    padding: 15px;
    border: inherit;
    vertical-align: inherit;
}

.table-data {
    padding: 15px;
    padding-top: 0;
    vertical-align: inherit;
}

.cart-wrraper {
    background-color: #fff;
    color: #333;
}

.cart-product-image-cell {
    display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.table-cart {
    background-color: #fff;
    border: none;
    margin-bottom: 0;
}

.table-cart .thead .table-head {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.table-cart .tbody .table-data {
    display: block;
    vertical-align: top;
}

.table-cart .tbody .table-row:last-child .table-data {
    border-bottom: none;
}

.table-cart p {
    margin-bottom: 0;
}

.quantity-label {
    display: inline-block;
}

.table-cart .form-control {
    margin-top: 10px;
}

.cart-product-image-cell {
    vertical-align: top;
}

.table-cart .tbody .table-data.quantity-cell,
.table-cart .tbody .table-data.price-cell,
.table-cart .tbody .table-data.total-change-cell {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
}

.table-cart .tbody .table-data.price-cell {
    min-width: 273px;
}

.total-change-cell {
    padding-left: 15px;
}

.total-change-cell>p.total_change:before {
    display: inline-block;
    position: relative;
    content: "Total:";
    font-weight: 400;
    margin-right: 15px;
    color: #000;
}

.cart-product-image {
    width: 72px;
    height: 72px;
    margin-right: 15px;
}

.cart-product-image>img {
    width: 100%;
    height: auto;
}

.cart-product-name {
    margin-top: 0;
    font-weight: 700;
}

.form-control.form-control-sm {
    width: 80px;
    display: inline-block;
}

.total_change {
    color: red;
    font-weight: 700;
    text-align: right;
}

.total-amount {
    text-align: right;
    color: red;
    font-weight: 700;
    font-size: 18px;
}

.total-amount-label {
    text-align: right;
    display: none;
}

.total-amount:before {
    display: inline-block;
    position: relative;
    content: "Amount:";
    font-weight: 400;
    margin-right: 15px;
    color: #000;
    padding-top: 15px;
}

.total-amount-cell {
    padding: 0;
}

.table-row {
    border-bottom: 2px solid #fff;
}

.cart-product-image,
.cart-product-description {
    display: inline-block;
    vertical-align: top;
}

.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block;
}

.cart .form_cart {
    margin-bottom: 30px;
}

.cart .form_cart a {
    display: table;
    margin: 10px auto 25px auto;
    padding: 15px 65px;
    font-size: 15px;
    cursor: pointer;
}

.cart .form_cart p {
    font-size: 14px;
}

.cart .order {
    margin-top: 15px;
    background: #fff;
    border-radius: 3px;
    color: #222;
    padding-bottom: 10px;
    border: 1px solid #e2e2e2;
}

.cart .order .inner {
    padding: 15px 20px 0;
}

.cart .order .inner ul li {
    clear: both;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%;
}

.cart .order .inner ul li .frame_img {
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

.cart .order .inner ul li .frame_img img {
    width: 60px;
    background: #fff;
}

.cart .order .inner ul li .name_product {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 63%;
    overflow: hidden;
    float: left;
}

.cart .order .inner ul li .name_product p {
    font-size: 15px;
}

.cart .order .inner ul li .name_product span {
    color: #858585;
    font-size: 13px;
    margin-right: 5px;
}

.cart .order .inner ul li .name_product small {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

.cart .order .subtotal {
    padding: 0 20px 15px;
}

.cart .order .subtotal ul li {
    padding: 3px 0;
}

.cart ul {
    margin-top: 15px;
    list-style: none;
    padding-left: 0;
}

.cart .order .total ul {
    padding: 15px 20px;
}

.cart .order .total ul li span {
    color: #000;
    font-size: 24px;
}

.cart .note {
    margin: 15px 0;
}

.cart .note p {
    font-size: 14px;
    margin: 0;
}

h2.timr {
    margin: 0;
    margin-bottom: 20px;
}

.box_cart {
    margin: 30px auto;
}

ul.list_form li {
    margin: 5px 0;
}

h4.sanb {
    font-size: 18px;
    font-style: italic;
}

.inner .price,
.subtotal span,
.total span {
    font-weight: 700;
}

.fl-flex-label label {
    font-weight: 400;
}

.white-popup {
    clear: both;
    overflow: hidden;
}

.cards-item {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
}

.cards-item:hover .cards-item-image {
    transform: scale(1.05);
}

.book_appoin_btn {
    margin-top: 20px;
}

.page-contact {
    padding-bottom: 50px;
    padding: 80px 0;
    background-size: cover;
    background-position: center center;
}

.page-contact h2 {
    color: #333;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    padding: 25px 50px 25px;
    background: #fff;
    display: inline-block;
    margin: 0;
}

.contact-heading {
    text-align: center;
}

.contact-heading span {
    background-color: #f864a6;
    display: inline-block;
    font-size: 24px;
    padding: 22px 30px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 15px;
}

.contact-details {
    padding: 30px 0;
    position: relative;
}

.contact-details i {
    float: left;
    line-height: 1.6;
}

.contact-details p {
    position: relative;
    margin-left: 40px;
}

.contact-hours {
    text-align: center;
    padding: 30px 0;
    position: relative;
    margin: 0 auto;
    color: #fff;
    background: #16928b;
}

.contact-hours .cd-col {
    margin-bottom: 15px;
}

.opening-hour-day {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 2px;
}

.opening-hour-time {
    font-size: 12px;
}

.maps {
    margin-bottom: 30px;
}

.maps iframe {
    width: 100%;
    border: 0;
    height: 550px;
}

.contact-info {
    color: #777;
}

.contact-info h4 {
    margin: 0;
    font-size: 20px;
}

.contact-info p {
    color: #6e6b61;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 20px;
}

.contact-form .form-control {
    font-size: 16px;
}

.contact-form input.form-control {
    height: 70px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.btn-submit {
    margin-top: 20px;
}

.contact-social {
    padding-top: 20px;
}

.contact-map {
    margin-bottom: 30px;
}

.contact-info h3,
.contact-form h3 {
    color: #000;
    font-size: 16px;
    padding: 0;
}

.contact-form textarea {
    padding: 20px;
}

.contact-form label {
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 3px;
}

.contact-map iframe {
    max-width: 100%;
}

.login_form_area .box_area_login_v1 {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}

.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}

.btn_login_social {
    margin-top: 20px;
}

.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}

.btn_login_social span {
    font-variant-ligatures: common-ligatures;
}

.btn_login_social .btn_facebook_v1 {
    background: #3b5998;
    border: 0;
    line-height: 45px;
}

.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
    border: 0;
    line-height: 45px;
}

.btn_submit_login {
    margin-bottom: 30px;
    text-align: center;
}

.btn_submit_login button.submit {
    background-color: #ffc267;
    border: 1px solid #ffc267;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}

.box_register .btn_submit_login {
    margin-top: 40px;
}

.popup_main_area .border_right {
    border-right: 1px solid #dedede;
}

.box_register .btn_login_social {
    text-align: center;
    align-items: center;
}

.contact-name h3 {
    line-height: 1;
    margin: 0;
    color: #781414;
    font-size: 24px;
}

.contact-info .fci-row {
    display: table-row;
}

.contact-info .fci-title,
.contact-info .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
}

.contact-info .fci-title {
    padding-right: 15px;
    font-weight: 700;
}

.fl-flex-label {
    margin-bottom: 10px;
}

.service-container {
    padding-top: 0;
}

h1.service-name {
    font-size: 24px;
    font-style: normal;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    padding-right: 15px;
    color: #000;
    font-weight: 700;
}

.price-item {
    padding: 15px 0;
    border-bottom: 1px solid #cdcdcd;
}

.price-item h4 {
    font-size: 15px;
    margin-bottom: 0;
}

.price-item-number {
    font-size: 18px;
    color: #000;
    margin: 0;
    font-weight: 600;
    line-height: 1;
}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-service-image {
    width: 180px;
    height: 180px;
    border-radius: 125px;
    border: 3px solid #fec168;
    display: inline-block;
    margin-top: 20px;
}

.rouded-service-image {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.service-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-right {
    text-align: right;
}

.top-right a {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}

.top-right a img {
    vertical-align: top;
    padding-top: 12px;
    padding-right: 5px;
}

.detail-price-item {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
}

.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted #a9a9a9;
}

.detail-price-number {
    padding-left: 5px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

.detail-price-name {
    padding-right: 5px;
    font-size: 15px;
}

@media (min-width: 768px) {
    .top-right {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .circle-service-image {
        width: 250px;
        height: 250px;
    }
    .rouded-service-image {
        width: 250px;
        height: 250px;
    }
}

.newsletter .input-group {
    width: 100%;
}

.newsletter .button {
    width: 40px;
    height: 39px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    margin: 0;
    border-radius: 0;
    min-width: 40px;
    border: 0;
    color: #222;
}

.newsletter .input-nl {
    width: 100%;
    position: relative;
    height: 39px;
    padding: 0 11px;
    z-index: 1;
    margin: 0;
    box-shadow: none;
    border: 0;
    background-color: #333;
    color: #919191;
}

#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 20;
}

#back-top a {
    width: 50px;
    height: 50px;
    background: #000;
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

#back-top a:hover {
    opacity: 0.9;
}

.footer-main {
    padding: 70px 0;
    background-color: #222;
    color: #eee;
}

.footer-main h3 {
    font-size: 15px;
    font-weight: 500;
    color: #919191;
    margin-bottom: 10px;
}

.footer-info {
    margin-bottom: 30px;
    color: #ddd;
}

.footer-copyright {
    background-color: #333;
    color: #eee;
    line-height: 1;
    padding: 20px 0;
    font-size: 13px;
}

.footer-copyright ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.footer-copyright li {
    margin-right: 5px;
}

.footer-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-nav li {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-nav li a {
    color: #ddd;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.footer-social {
    text-align: right;
    justify-content: flex-end;
}

.footer-social li a {
    padding: 0 5px;
    font-size: 15px;
    color: #a79b94;
}

.footer-social li a:hover {
    opacity: 0.5;
}

@media (min-width: 1350px) {}

@media (min-width: 992px) {
    .col-md-right {
        width: 30%;
    }
    .col-md-left {
        width: 70%;
    }
    .col-md-right.col-md-pull-8 {
        right: 70%;
    }
    .col-md-left.col-md-push-4 {
        left: 30%;
    }
}

@media (min-width: 990px) {
    .youtube-player {
        padding-bottom: 75.25%;
    }
}

@media (max-width: 1200px) {
    .navbar.main-nav {
        border-width: 8px;
    }
}

@media (max-width: 990px) {
    .pmain {
        padding-left: 0;
    }
    .services-list .info {
        padding: 15px;
    }
    .services-list .info h3 {
        font-size: 16px;
    }
    .tips-right {
        padding: 50px 40px;
    }
    .section-statistic .item {
        min-width: 50px;
    }
    .section {
        padding: 50px 0;
    }
    .section-visit {
        padding-top: 100px;
    }
    .page-heading {
        padding: 30px 0;
        text-align: center;
    }
    .page-contact {
        padding: 50px 0;
    }
    .contact-right .maps,
    .contact-details {
        margin-top: 0;
    }
    .section-about .about-left {
        text-align: center;
    }
    .section-about-text h3 {
        font-size: 1.8em;
    }
    .animated-arrow {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 0;
        height: 45px;
        padding: 22px 45px 16px 0;
    }
    .navopener {
        overflow: hidden;
    }
    .navopener .header-nav {
        right: 0;
    }
    .header-inner.dflex-sb {
        display: block;
    }
    .logo img {
        margin: 15px 0;
        height: 30px;
    }
    .header-main {
        padding: 0;
    }
    .header-nav>ul.nav {
        height: 100%;
        overflow-y: auto;
        display: block !important;
    }
    .header-nav .nav {
        display: block;
    }
    .header-nav>ul>li>a:after {
        display: none;
    }
    .header-nav>ul>li>a {
        font-size: 18px;
        position: relative;
    }
    .head-nav-right .btn-main {
        margin-left: 15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .header-nav>ul>li:hover a {
        color: #fff;
    }
    .header-nav>ul>li.active,
    .header-nav>ul>li:hover {
        background: #fcc72c;
        color: #fff;
    }
    .header-nav {
        padding: 20px;
        width: 100%;
        right: -100%;
        height: 100%;
        position: fixed;
        top: 60px;
        margin: 0;
        background-color: #fff;
        border-radius: 0;
        z-index: 103;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        border: none;
        border-top: 1px solid #363738;
        display: block;
    }
    .header-nav>ul>li:hover .megamenu {
        display: none;
    }
}

@media (max-width: 767px) {
    .top-right a {
        margin-bottom: 10px;
    }
    .book_appoin_btn .btn {
        margin-bottom: 10px;
    }
    .footer-copyright {
        text-align: center;
    }
    h2 {
        font-size: 1.5em;
    }
    .mtitle {
        font-size: 2em;
    }
    .sp-button {
        width: 12px;
        height: 12px;
    }
    .footer-main {
        padding: 50px 0;
    }
    .footer-main .col-sm-3 {
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-main h3 {
        display: inline-block;
    }
    .footer-content {
        text-align: center;
    }
    .footer-main p {
        margin: 10px 0;
    }
    .footer-nav li {
        margin-bottom: 5px;
    }
    .footer-copyright ul {
        flex-wrap: wrap;
        text-align: center;
        padding-top: 10px;
        justify-content: center;
    }
    .section-count .list-count {
        display: block;
    }
    .section-count .list-count .item {
        width: 100%;
    }
    .section-about .section-content {
        padding: 20px 0;
        margin-bottom: 20px;
    }
    .section-about .section-heading {
        padding-bottom: 30px;
    }
    .list-pn a {
        text-align: center;
    }
    .list-pn a img {
        width: 70%;
    }
    .m-heading {
        font-size: 24px;
    }
    .header-top {
        display: none;
    }
    .section-service .col-sm-4 {
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .art-sheet {
        border-width: 3px;
        padding: 10px 20px;
    }
    .art-sidebar {
        padding-top: 10px;
    }
    .cart-button {
        text-align: center;
    }
    .cart-button .pull-right {
        float: none !important;
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    .cart-product-description {
        max-width: 130px;
    }
    .table-row {
        border-bottom: none;
    }
    .total_change {
        text-align: left;
    }
    .thead {
        display: table-header-group;
    }
    .quantity-label {
        display: block;
    }
    .cart-product-image-cell {
        padding-bottom: 15px;
    }
    .total-change-cell>p.total_change:before {
        display: none;
    }
    .total-amount-label {
        display: block;
    }
    .total-amount-cell {
        padding: 15px;
    }
    .quantity-label {
        color: rgba(0, 0, 0, 0);
    }
    .table-row {
        display: table-row;
        border: inherit;
        vertical-align: inherit;
    }
    .table-head {
        display: table-cell;
        padding: 15px;
        border: inherit;
        vertical-align: inherit;
    }
    .table-data {
        display: table-cell;
        padding-top: 15px;
        border: inherit;
        vertical-align: inherit;
    }
    .table-cart .tbody .table-data,
    .table-cart .tbody .table-data.quantity-cell,
    .table-cart .tbody .table-data.price-cell,
    .table-cart .tbody .table-data.total-change-cell {
        border-bottom: 1px solid #d8d8d8;
        vertical-align: top;
        display: table-cell;
    }
    .table-cart .tbody .table-data.total-change-cell {
        vertical-align: bottom;
    }
    .quantity-cell,
    .price-cell {
        display: table-cell;
    }
    .total-amount {
        text-align: left;
        padding-top: 0;
    }
    .total-amount:before {
        display: none;
    }
}

img {
    max-width: 100%;
}

.relative {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.relative.w100 {
    min-width: 100%;
}

.form-tooltip-error ul,
.form-tooltip-error ul li {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.maxlength-error {
    color: #f00;
}

.relative .fa-calendar {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
}

.modal-dialog .modal-content {
    background-color: #fff;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
}

.progress-striped .progress-bar {
    background-image: linear-gradient( 45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

.mean-container .mean-bar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.mean-container a.meanmenu-reveal {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: -25px 5px 0 0;
    display: inline-flex;
    align-items: center;
    border: 1px solid;
    border-radius: 3px;
}

.mean-container a.meanmenu-reveal>span,
.mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    position: relative;
    width: 40px;
    margin: auto;
    height: 4px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 1;
    border-radius: 1px;
}

.mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    position: absolute;
    z-index: 2;
}

.mean-container a.meanmenu-reveal>span:before {
    top: -9px;
}

.mean-container a.meanmenu-reveal>span:after {
    bottom: -9px;
}

.mean-container a.meanmenu-reveal.meanclose>span:before {
    top: 0;
    transform: rotate(45deg);
}

.mean-container a.meanmenu-reveal.meanclose>span:after {
    top: -8px;
    transform: rotate(-45deg);
}

.mobile-menu-scroll {
    overflow: scroll hidden;
}

.mobile-menu-scroll ul {
    display: flex;
}

.mobile-menu-scroll ul,
.mobile-menu-scroll ul li {
    margin: auto;
    padding: 0;
    list-style: none;
}

.mobile-menu-scroll ul li a {
    display: block;
    padding: 15px;
    line-height: 1;
    color: #171717;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
}

.mobile-menu-scroll ul li a:hover,
.mobile-menu-scroll ul li a:focus {
    color: #171717;
}

.mobile-menu-scroll ul li.active a {
    color: #f5f5f5;
    background-color: #171717;
}

ul.social,
ul.social li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: auto;
}

ul.social li {
    padding: 5px;
}

.section-slider {
    border: none;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.sp-slide-content {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sp-buttons {
    margin-top: -60px;
    padding-bottom: 29px;
}

.sp-button {
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 2px #000;
}

.slider-width-height .fixed {
    height: 0;
}

.freeze-footer {
    position: fixed;
    right: 15px;
    bottom: 60px;
    padding: 0;
    display: inline-block;
    z-index: 1021;
}

.freeze-footer ul {
    margin: 0;
    padding: 0;
}

.freeze-footer ul li {
    list-style-type: none;
}

.freeze-footer .icon {
    display: inline-flex;
}

.freeze-footer a {
    width: 100%;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .freeze-footer {
        left: 0;
        top: auto;
        right: 0;
        bottom: 0;
    }
    .freeze-footer ul {
        display: flex;
    }
    .freeze-footer ul li {
        width: 50%;
        padding: 0 15px;
        margin-left: auto;
        display: block;
    }
}

.freeze-header {
    position: fixed;
    z-index: 1021;
    left: 0;
    top: 0;
    width: 100%;
}

.freeze-header.with-bg {
    -webkit-box-shadow: 0px 1px 1px #eee;
    -moz-box-shadow: 0px 1px 1px #eee;
    box-shadow: 0px 1px 1px #eee;
    width: 100%;
}

.foh-wrap,
.fci-wrap {
    display: inline-table;
    text-align: left;
}

.foh-row,
p.foh-row,
span.foh-row,
div.foh-row,
.fci-row,
p.fci-row,
span.fci-row,
div.fci-row {
    line-height: 1.5;
    display: table-row;
}

.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.foh-row .foh-time,
p.foh-row .foh-time,
span.foh-row .foh-time,
div.foh-row .foh-time,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title,
.fci-row .fci-content,
p.fci-row .fci-content,
span.fci-row .fci-content,
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    text-transform: initial;
}

.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title {
    padding-right: 15px;
    font-weight: 700;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    max-width: 100%;
    height: 0;
    background: #000;
    margin: 0 auto;
    overflow: hidden;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
}

.service-line {
    padding-bottom: 15px;
}

.service-image-wrap {
    text-align: center;
}

.service-image {
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    max-width: 240px;
}

.service-image.circle {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid;
}

.service-image.square {
    border: 3px solid;
}

.service-image-bg {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.service-image-bg img {
    display: none !important;
}

.service-name {
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    padding: 0 0 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
}

.service-desc {
    font-weight: 400;
    margin: -15px 0 15px;
}

.detail-price-item {
    display: flex;
    width: 100%;
    padding: 0 0 15px;
}

.detail-desc-item {
    margin: -15px 0 15px;
}

.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted;
}

.detail-price-number {
    padding-left: 5px;
    font-weight: 700;
}

.detail-price-name {
    padding-right: 5px;
    font-size: 15px;
    font-weight: 700;
}

.detail-price-number span {
    padding: 3px;
}

.detail-price-number .old {
    text-decoration: line-through;
    font-size: 90%;
}

.service-name,
.service-desc,
.detail-price-item,
.detail-desc-item,
.detail-price-dots,
.detail-price-number,
.detail-price-name,
.detail-price-number span,
.detail-price-number .old {
    min-height: 1px;
}

.service-list-sub {
    padding-left: 15px;
}

.service-btn-group {
    padding-top: 15px;
    padding-bottom: 15px;
}

.service-btn-group .btn {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .right.service-image-wrap {
        text-align: right;
    }
    .left.service-image-wrap {
        text-align: left;
    }
    .service-image.circle {
        max-width: 320px;
    }
    .service-image.square {
        max-width: 100%;
    }
}

.m-category-tab {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 0 15px;
}

.m-gallery-content {
    position: relative;
}

.m-category-tab li,
.m-category-tab li.active,
.m-category-tab li:hover {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

.m-gallery-content,
.m-gallery-listing,
.m-gallery-paging {
    text-align: center;
}

@media (max-width: 475px) {
    .m-category-tab li {
        width: 100%;
    }
}

.m-gallery-box-wrap {
    padding: 0 10px;
    margin: 0 0 15px;
    overflow: initial;
}

.m-gallery-box {
    position: relative;
    margin: 0 -10px 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.m-image-bg,
.m-gallery-box .m-image-bg {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.m-image-bg img,
.m-gallery-box .m-image-bg img {
    display: none !important;
}

.m-image-title,
.m-gallery-box .m-image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(3, 3, 3, 0.3);
    filter: alpha(opacity=30);
    max-height: 60px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

.m-gallery-box:hover,
.m-gallery-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.m-coupon-box {
    position: relative;
    z-index: 0;
    margin: 0;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.m-giftcards {
    margin-bottom: 30px;
}

.m-giftcards .m-coupon-box {
    margin-bottom: 15px;
}

.m-coupon-info {
    text-align: center;
}

.m-coupon-box:hover,
.m-coupon-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.m-coupon-price {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 5px;
}

.item-booking {
    width: auto;
}

.addButton,
.removeButton {
    display: inline-block;
}

.email-booking .multi select {
    height: 256px;
}

.email-booking .group-select optgroup {
    font-weight: 700;
}

.email-booking .group-select optgroup,
.email-booking .group-select option {
    height: auto;
    white-space: normal;
}

.sms-booking #btn_search_booking .btn-search {
    width: 100%;
    height: 54px;
    line-height: 1;
}

.sms-booking .item-booking.is-more {
    position: relative;
    z-index: 0;
}

.sms-booking .item-booking .remove-services {
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

.sms-booking .item-booking.is-more .booking-service label {
    padding-left: 30px;
}

#booking_info {
    padding-top: 30px;
}

#booking_info .note-time {
    color: #f00;
    font-style: italic;
}

.box_account_v1 {
    padding: 15px;
}

.smsBookingConfirm .btn {
    margin-bottom: 15px;
}

.time_work_staff_v1 ul {
    padding: 0;
}

.time_work_staff_v1 ul li {
    list-style-type: none;
}

.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.time_work_staff_v1 ul li>a {
    padding: 10px;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid;
}

.time_work_staff_v1 ul li>span {
    text-decoration: line-through;
}

@media (max-width: 575px) {
    .email-booking .multi select {
        max-height: 54px;
    }
}

.form-input-group {
    position: relative;
}

.form-input-group .form-text {
    padding-right: 45px;
}

.form-input-group .form-icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 15px;
    margin-top: -9px;
}

.form-booking .group-select,
.form-booking-confirm .group-select,
.form-booking-confirm .btn-confirm,
.form-booking-confirm .btn-cancel {
    margin-bottom: 15px;
}

.form-booking .btn-search,
.form-booking-confirm .btn-confirm,
.form-booking-confirm .btn-cancel {
    display: block;
    width: 100%;
    border-color: #ced4da;
}

.form-booking .btn-search,
.form-booking .btn-search:hover,
.form-booking .btn-search:focus,
.form-booking-confirm .btn-confirm,
.form-booking-confirm .btn-confirm:hover,
.form-booking-confirm .btn-confirm:focus {
    background-color: #ef2b53;
    color: #fff;
}

.form-booking-confirm .btn-cancel,
.form-booking-confirm .btn-cancel:hover,
.form-booking-confirm .btn-cancel:focus {
    background-color: #d7d7d7;
    border-color: #ced4da;
    color: #333;
}

.form-booking .form-control,
.form-booking .btn-search,
.form-booking-confirm .form-control,
.form-booking-confirm .btn-confirm,
.form-booking-confirm .btn-cancel {
    border-radius: 0;
    min-height: 54px;
}

.form-booking .booking-service-staff.is-more {
    position: relative;
}

.form-booking .booking-service-staff .remove-services {
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 0;
    min-width: 175px;
    min-height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.form-booking .booking-service-staff.is-more .booking-service label {
    padding-left: 20px;
}

.add-services {
    display: inline-block;
}

.box-booking-info {
    padding-top: 30px;
}

.booking-info-title {
    position: relative;
    text-align: center;
}

.booking-info-title:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: -5px;
    height: 3px;
    width: 100px;
    margin-left: -50px;
    background-color: #ced4da;
}

.box-service-staff {
    display: flex;
    flex-wrap: wrap;
}

.service-staff {
    background-color: #f8f9fa;
    margin: 15px 15px 15px 0;
    padding: 15px 15px 15px 0;
    border-left: 3px solid #efefef;
    display: inline-flex;
    min-width: calc(24.999% - 30px);
}

.service-staff .service-staff-avatar {
    float: left;
    max-width: 100px;
    margin: 5px 0 15px 15px;
}

.service-staff .service-staff-avatar.no-photo {
    display: none;
}

.service-staff .service-staff-info {
    margin-left: 15px;
}

.service-staff .service-staff-info p {
    line-height: 1.5;
}

.date-info,
.time-info {
    margin-bottom: 15px;
}

.time-info .time-note {
    color: #f00;
    font-size: 13px;
}

.time-info .time-items,
.time-info .time-items li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.time-info .time-items li {
    padding: 5px;
    display: inline-block;
}

.time-items li>a,
.time-items li>span {
    color: #333;
    font-size: 14px;
    line-height: 1;
}

.time-items li>a {
    display: inline-block;
    padding: 10px;
    margin: 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: #fff;
    text-decoration: none;
}

.time-items li>span {
    text-decoration: line-through;
}

.box-booking-confirm {
    background: #fff;
    padding: 15px;
}

@media (max-width: 767px) {
    .booking-confirm-title {
        font-size: 35px;
    }
    .booking-confirm-note {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .booking-confirm-title {
        font-size: 20px;
    }
    .booking-confirm-note {
        font-size: 15px;
    }
    .service-staff {
        min-width: calc(50% - 30px);
    }
}

.section-news .n-detail ul,
.section-news .n-detail ul li {
    list-style-type: disc;
    list-style-position: inside;
}

.section-news .n-detail ol,
.section-news .n-detail ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

.section-news .n-detail ul ul,
.section-news .n-detail ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
}

.section-news .n-detail ol ol,
.section-news .n-detail ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
}

.section-news .n-detail h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
}

.section-news .n-detail h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
}

.section-news .n-detail h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
}

.section-news .n-detail h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
}

.section-news .n-detail h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
}

.section-news .n-detail h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
}

.section-news .n-item {
    margin-bottom: 30px;
}

.section-news .n-inner {
    padding-left: 60px;
    position: relative;
    margin-top: 20px;
}

.section-news .n-thumb img {
    width: 100%;
}

.section-news .n-meta {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 50px;
    padding: 5px 0;
    margin-bottom: 15px;
    vertical-align: top;
    max-width: 100%;
    border: 2px solid;
    text-align: center;
}

.section-news .n-meta .date-d {
    padding: 0 5px;
    margin-bottom: -4px;
    font-size: 24px;
}

.section-news .n-meta .date-m {
    padding: 0 5px;
    font-size: 11px;
    text-transform: uppercase;
}

.section-news .n-thumb {
    position: relative;
}

.section-news .n-thumb a {
    display: block;
}

.section-news .n-thumb a:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.section-news .n-item:hover .n-thumb a:after {
    visibility: visible;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.section-news .n-item .n-info {
    padding: 0;
}

.section-news .n-item .n-info span {
    text-transform: initial;
    font-size: 13px;
    font-weight: 400;
}

.section-news h2 {
    font-size: 17px;
}

.section-news h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.n-author {
    font-size: 12px;
}

.n-author a {
    color: inherit;
}

.box_news_details {
    margin-top: 20px;
    text-align: justify;
}

.box_news_details .news_content,
.box_news_details .news_content p,
.box_news_details .news_content span {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.box_news_details>h3 {
    text-transform: uppercase;
    font-variant-ligatures: common-ligatures;
    color: #333;
}

.box_news_details blockquote {
    border-left: 2px solid;
    line-height: 26px;
    margin: 23px 0;
    padding: 14px 50px;
}

.news_comment_v1 {
    margin-top: 60px;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom: 1px solid;
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.news_top_comment .msg_avatar_v1 {
    display: inline-block;
    float: left;
    text-align: center;
}

.news_top_comment .msg_avatar_v1 img {
    border-radius: 100%;
    width: 100%;
}

.news_details_title_v1 {
    padding-left: 90px;
}

.news_details_title_v1 .first_title_v1 h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
    text-transform: capitalize;
}

.news_details_title_v1 .first_title_v1 span {
    display: block;
    margin-bottom: 7px;
}

.news_top_comment.middle_comment {
    margin: 32px 0 33px 90px;
}

.box_comment_new_v1 {
    margin-top: 60px;
}

.box_comment_new_v1 .leave_form input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid;
    font-size: 14px;
    height: 35px;
    margin-bottom: 30px;
    padding: 0 20px;
    width: 100%;
    outline: none;
}

.box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid;
    font-size: 14px;
    height: 165px;
    margin-bottom: 30px;
    padding: 20px;
}

.box_comment_new_v1 .text_leave button.submit {
    border: 1px solid;
    font-size: 12px;
    line-height: inherit;
    padding: 7px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
}

.search_area_bar>form {
    position: relative;
}

.search_area_bar input[type="text"] {
    border: 1px solid;
    color: #666;
    height: 40px;
    line-height: 40px;
    margin: 0;
    outline: none;
    padding: 5px 48px 5px 15px;
    position: relative;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.search_area_bar button.submit {
    border: 1px solid;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 45px;
    outline: none;
}

.recent_area_bar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.recent_area_bar .signle_post_v1 {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
}

.signle_post_v1 .img_post_rc_v1 {
    display: inline-block;
    float: left;
    width: 34%;
}

.signle_post_v1 .img_post_rc_v1 img {
    width: 100%;
    max-width: 100%;
}

.signle_post_v1 .txt_post_rc_v1 {
    display: inline-block;
    padding-left: 15px;
    width: 66%;
}

.signle_post_v1 .txt_post_rc_v1 h3 {
    margin-top: 0;
    font-size: 20px;
}

.signle_post_v1 .txt_post_rc_v1 h3 a {
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
}

.signle_post_v1 .txt_post_rc_v1 span {
    font-size: 13px;
}

.category_news_v1 ul li {
    list-style-type: none;
    text-decoration: none;
}

.category_news_v1 ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    position: relative;
    transition: all 0.3s ease 0s;
}

.category_news_v1 i {
    margin-right: 5px;
}

.list-category-news,
.list-category-tags {
    margin: 0;
    padding: 0;
}

.tag_news_v1 {
    margin-top: 30px;
}

.tag_news_v1 ul li {
    float: left;
    margin: 0 8px 8px 0;
    list-style-type: none;
    text-decoration: none;
}

.tag_news_v1 ul li a {
    border-radius: 2px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    opacity: 1;
    padding: 8px 15px;
    text-transform: capitalize;
    transition: all 0.2s linear 0s;
    text-decoration: none;
}

.section-news .nearby {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 15px 0;
}

.section-news .prev-title,
.section-news .next-title {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
}

.section-news .prev-inner {
    text-align: left;
}

.section-news .next-inner {
    text-align: right;
}

.section-news .prev-inner i,
.section-news .next-inner i {
    font-size: 80%;
}

.section-news .prev-inner i {
    padding-right: 5px;
}

.section-news .next-inner i {
    padding-left: 5px;
}

.break-row {
    float: left;
}

@media (min-width: 768px) {
    .section-news-row .break-row.break-2,
    .section-news-row .break-row.break-4,
    .section-news-row .break-row.break-6,
    .section-news-row .break-row.break-8,
    .section-news-row .break-row.break-10,
    .section-news-row .break-row.break-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .news_sidebar_left {
        padding-left: 15px;
        border-left: 1px solid;
    }
}

.section-news .n-item .n-info {
    min-height: 80px;
}

.section-news .n-item.n-detail .n-info.n-content {
    margin-left: -60px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .section-news,
    .section-news h3,
    .section-news .n-author,
    .section-news .n-desc,
    .section-news .n-item .n-info span,
    .signle_post_v1 .txt_post_rc_v1 h3 a,
    .category_news_v1 ul li a,
    .tag_news_v1 ul li a {
        font-size: 16px;
        line-height: 1.5;
    }
    .signle_post_v1 .txt_post_rc_v1 span {
        font-size: 14px;
        line-height: 1.5;
    }
}

#toc_container {
    border: 1px solid;
    display: table;
    font-size: 95%;
    margin-bottom: 15px;
    padding: 15px;
    width: auto;
}

#toc_container .toc_title {
    font-weight: 700;
    text-align: center;
    margin: 0 0 5px;
    padding: 0;
}

#toc_container ul,
#toc_container li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc_container li+li,
#toc_container li>ul {
    padding-top: 5px;
}

#toc_container li>ul {
    padding-left: 15px;
}

#toc_container li>a {
    color: inherit;
}

.box_img_giftcard {
    max-height: 320px;
    margin: 5px 0;
    border: 1px solid #ccc;
    padding: 3px;
    min-height: 57px;
    cursor: pointer;
    position: relative;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.box_img_giftcard img {
    max-height: 100%;
    margin: 0 auto;
}

.preview_img {
    border: 1px solid #ccc;
    padding: 5px;
}

.preview_img img {
    display: block;
    margin: 0 auto;
}

.pd-fix {
    padding: 0 5px;
}

.circle_check {
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    left: 3px;
    bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.box_preview {
    border: 1px dashed #ccc;
    padding: 10px;
    background: #f6f5f5;
}

ul.information {
    display: block;
    clear: both;
    overflow: hidden;
}

ul.information li span {
    text-align: left;
    display: block;
    background: #f5f5f5;
    padding: 5px;
}

span.center {
    text-align: center !important;
    font-weight: 700;
    font-size: 20px;
}

span.left {
    float: left;
    font-weight: 700;
    min-width: 80px;
}

span.right {
    display: inline-block !important;
    float: left;
    font-style: italic;
}

ul.information li {
    display: block;
    clear: both;
}

.fl-flex-label,
.list_form li,
.cart .form_cart p,
.cart .order .total ul {
    text-align: left;
}

.title_gift {
    clear: both;
    text-align: left;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 15px;
}

.p-payment h3 {
    margin-bottom: 40px;
}

.block_line {
    clear: both;
    display: flex;
}

ul.total-payment-info li {
    margin: 5px;
    line-height: 25px;
}

.box_cart {
    clear: both;
    margin: 20px 0;
    min-height: 200px;
}

.modal-content {
    clear: both;
    overflow: hidden;
}

.modal-dialog.modal-m {
    margin: auto;
}

.btn_payment {
    margin: 10px 0;
}

.form-tooltip-error {
    margin-bottom: 4px;
    max-width: 250px;
    font-size: 12px;
}

.fl-flex-label.fl-collapsed .fl-label {
    font-size: 10px;
    padding-top: 0;
    line-height: 18px;
}

.fl-flex-label .form-control:not(.form-control-lg) {
    min-height: 36px;
}

.fl-flex-label .fl-label {
    padding-top: 6px;
}

.cart .order .total ul {
    padding: 0 20px;
}

.cart .order .total ul li span.order_price {
    font-size: 18px;
    font-weight: 500;
}

.cart .order .total ul li span.order_price_total {
    font-weight: 600;
    color: #f00;
    font-size: 24px;
}

.promotion_price,
.price-promotion {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: rgba(207, 0, 15, 0.9);
    color: #fff;
    font-size: 15px;
}

.price-promotion.bonus {
    background-color: rgba(255, 69, 0, 0.9);
}

span.right.camount,
span.right.cquantity {
    color: #f00;
    font-size: 16px;
    font-weight: 700;
}

.box_img_giftcard {
    position: relative;
}

.box_img_giftcard .img_popup {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    width: 500px !important;
    max-width: 500px !important;
}

.box_img_giftcard .img_popup img {
    width: 100%;
    max-height: 100%;
}

.active .circle_check {
    background-color: #76c8c2;
    border: 1px solid #76c8c2;
}

@media (max-width: 768px) {
    .block_line {
        display: block;
    }
}

.box_img_giftcard:hover>.img_popup {
    display: block;
}

.box_img_giftcard .img_popup:hover {
    display: none;
}

@media (max-width: 768px) {
    .box_img_giftcard:hover>.img_popup,
    .box_img_giftcard:active>.img_popup,
    .box_img_giftcard:focus>.img_popup {
        display: none;
    }
}

.block-giftcards,
.box-cart,
.box-recipient {
    margin-bottom: 15px;
}

.note-text,
.in-content p.note-text {
    margin: 0 0 5px;
    font-size: 80%;
}

.group-select.group-checkbox input {
    float: left;
}

.group-select.group-checkbox label {
    width: auto;
}

.mybox-order {
    margin: 0 0 15px;
    padding: 15px;
    background: #f6f5f5;
    border: 1px dashed #ccc;
    border-radius: 3px;
    color: #000;
}

.mybox-order ul {
    margin: 0;
    padding: 0;
}

.mybox-order ul li {
    clear: both;
    display: inline-block;
    width: 100%;
    padding: 0 0 15px;
}

.mybox-order .money {
    color: #f00;
}

.mybox-order .item-info {
    display: block;
    clear: both;
}

.mybox-order .item-info .item-image,
.mybox-order .item-info .item-name,
.mybox-order .item-info .item-price {
    margin: 0 0 15px;
}

.mybox-order .item-info .item-image {
    max-width: 100px;
    margin-right: 15px;
    float: left;
}

.mybox-order .item-info .item-price,
.mybox-order .total label,
.mybox-order .total span {
    font-weight: 700;
}

.mybox-order .total span {
    font-size: 130%;
    color: #f00;
}

.mybox-order .btn-discount,
.mybox-order .btn-discount:hover {
    background-color: #f00;
    color: #fff;
}

.mybox-order .cart-item {
    border-bottom: 1px dotted #aaa;
    padding: 0;
    margin-bottom: 15px;
}

ul.information {
    margin: 0 0 15px;
    padding: 0;
}

a.disabled,
button.disabled,
input[type="submit"].disabled {
    pointer-events: none;
    cursor: default;
}

a.disabled,
button.disabled,
input[type="submit"].disabled {
    pointer-events: none;
    cursor: default;
}

.giftcards-details .mTitle {
    text-align: left;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.giftcards-details .mItem {
    font-size: 17px;
    margin: 15px 0;
}

.custom-price-note,
.gift-price-note,
.gift-price-note p {
    color: #f00;
    font-size: 90%;
    margin-top: -5px;
}

.gift-price-note {
    margin-bottom: 15px;
}

.image-item .price-up,
.image-item .promotion_price,
.image-item .price-promotion {
    max-width: 100%;
    max-height: 75%;
    overflow-y: auto;
}

.mycarttable {
    background: none;
}

.mycarttable .table {
    margin-bottom: 0;
    border: none;
}

.mycarttable thead tr th,
.mycarttable tbody tr td {
    color: #4e4e4e;
    padding: 0;
    text-align: left;
    vertical-align: top;
    border: none;
    border-top: 1px solid #ddd;
}

.mycarttable thead tr th *,
.mycarttable tbody tr td * {
    margin: 0;
}

.mycarttable thead tr th {
    background: #f9f9f9;
    color: #4e4e4e;
    border: 1px solid transparent;
    height: 40px;
    padding: 0 15px;
    text-transform: uppercase;
    vertical-align: middle;
}

.mycarttable .list-row tbody tr:first-child td {
    border: none;
}

.mycarttable thead tr th.th-qty {
    width: 100px;
}

.mycarttable thead tr th.th-price-total {
    text-align: right;
}

.mycarttable thead tr th.th-remove,
.mycarttable tbody tr td.td-remove {
    width: 50px;
    text-align: right;
}

.mycarttable tbody tr td .list-row-col {
    padding: 15px;
}

.mycarttable tbody tr td .list-row-col .image-item {
    width: 130px;
    margin-right: 15px;
    float: left;
    position: relative;
    z-index: 0;
}

.mycarttable tbody tr td .list-row-col .image-item img {
    width: 100%;
}

.mycarttable tbody tr td .list-row-col .image-item .price-up {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 5px;
    background: rgba(207, 0, 15, 0.9);
    color: #fff;
    font-size: 11px;
}

.mycarttable tbody tr td .list-row-col .image-item .price-up.bonus {
    background-color: rgba(255, 69, 0, 0.9);
}

.mycarttable tbody tr td .list-row-col .tax-item {
    font-size: 13px;
}

.mycarttable tbody tr td .list-row-col .name-item,
.mycarttable tbody tr td .list-row-col .price-item,
.mycarttable tbody tr td .list-row-col .price-total-item,
.mycarttable tbody tr td .price-row-col,
.mycarttable tbody tr td .price-row-col p {
    font-weight: 700;
}

.mycarttable tbody tr td .price-row-col {
    white-space: nowrap;
}

.mycarttable tbody tr td .list-row-col .form-control {
    min-width: 90px;
}

.mycarttable tbody tr td .list-row-col .form-control.autowidth {
    min-width: 110px;
}

.mycarttable tbody tr td .list-row-col .price-total-item,
.mycarttable .price-row tbody tr,
.mycarttable .price-row tbody tr td {
    text-align: right;
    color: inherit;
}

.mycarttable .price-row tbody tr.noneboder td,
.mycarttable .price-row tbody tr:not(:first-child) td {
    border: none;
}

.mycarttable tbody tr td:first-child {
    width: 90%;
}

.mycarttable tbody tr td .price-row-col {
    padding: 5px 15px;
}

.mycarttable .price-row tbody tr:last-child td .price-row-col,
.mycarttable .price-row tbody tr:last-child td .price-row-col p {
    font-size: 120%;
    color: #f00;
}

.mycarttable tbody tr td .price-row-col p {
    white-space: nowrap;
}

.mybutton {
    margin-top: 15px;
}

.mybutton .btn-continue {
    float: left;
}

.mybutton .btn-next {
    float: right;
    background-color: #ef2b53;
}

@media (min-width: 768px) {
    .mycarttable tbody tr td .list-row-col .form-control.autowidth {
        min-width: 150px;
    }
}

@media (min-width: 992px) {
    .mycarttable tbody tr td .list-row-col .form-control.autowidth {
        min-width: 240px;
    }
}

@media (max-width: 767px) {
    .mycarttable {
        padding: 0;
        background: none;
    }
    .mycarttable thead tr th {
        background: #f9f9f9;
    }
    .mycarttable .price-row tbody tr:first-child td {
        border: none;
    }
    .mycarttable tbody tr td .small-sm {
        font-size: 90%;
        line-height: initial;
    }
    .mycarttable tbody tr td p {
        white-space: normal;
    }
    .mycarttable tbody tr td .list-row-col .name-item {
        min-width: 250px;
    }
}

@media (max-width: 575px) {
    .mycarttable tbody tr td .list-row-col .name-item {
        min-width: 110px;
        line-height: 1.3;
    }
    .mycarttable tbody tr td .list-row-col .image-item {
        float: none;
    }
    .mycarttable thead tr th,
    .mycarttable thead tr td,
    .mycarttable tbody tr td .list-row-col {
        font-size: 13px;
        padding: 15px 7px;
    }
    .mycarttable tbody tr td .list-row-col .form-control {
        min-width: 65px;
    }
}

.mypayment .title-cart {
    clear: both;
    text-align: left;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 15px;
}

.mybox-order .image-item {
    width: 130px;
    margin-right: 15px;
    float: left;
    position: relative;
    z-index: 0;
}

.mybox-order .image-item img {
    width: 100%;
}

.mybox-order .image-item .price-up,
.mybox-order .image-item .promotion_price,
.mybox-order .image-item .price-promotion {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 5px;
    background: rgba(207, 0, 15, 0.9);
    color: #fff;
    font-size: 11px;
}

.mybox-order .image-item .price-up.bonus,
.mybox-order .image-item .promotion_price.bonus,
.mybox-order .image-item .price-promotion.bonus {
    background-color: rgba(255, 69, 0, 0.9);
}

.mybox-order.style2 .item-info {
    display: flex;
}

.mybox-order.style2 .item-info .name-tax-quatity-item {
    flex: 1;
    padding-right: 15px;
}

.mybox-order .name-item,
.mybox-order .tax-item,
.mybox-order .price-item {
    margin: 0;
    padding: 0;
    border: none;
}

.mybox-order .name-item,
.mybox-order .price-item {
    font-weight: 700;
}

.mybox-order .tax-item {
    font-size: 13px;
}

.mybox-order.style2 .money {
    color: inherit;
    font-weight: 700;
}

.mybox-order.style2 .cart-total .money {
    color: #f00;
}

.consent-form,
.consent-form2 {
    text-align: center;
    padding: 15px 0;
}

.consent-form2 {
    border-top: 2px solid;
    margin: 15px auto;
}

.send_consent {
    text-align: left;
}

.send_consent .hidden {
    display: none;
}

.inline-items .inline-item {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.send_consent .small {
    font-size: 90%;
}

.send_consent .btn_consent {
    display: block;
    width: 100%;
}

.consent-btn,
.consent-btn:hover,
.consent-btn:focus {
    padding: 10px 15px;
    border: 1px solid;
}

.btn_consent,
.btn_consent:hover,
.btn_consent:focus {
    display: block;
    width: 100%;
    border: 1px solid;
}

.consent-btn:hover,
.send_consent .btn_consent:hover {
    box-shadow: 0 0 3px #ddd;
}

.section-news .n-meta {
    border-color: #16938b;
}

.section-news .n-meta .date-d,
.section-news .n-meta .date-m {
    color: #16938b;
}

.section-news .n-thumb a:after {
    background: rgba(0, 0, 0, 0.6);
}

.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}

.n-author,
.n-author a {
    color: #aaa;
}

.box_news_details .news_content,
.box_news_details .news_content p,
.box_news_details .news_content span {
    color: #fff;
}

.box_news_details>h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #16938b none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input,
.box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #16938b;
    border-color: #16938b;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #16938b;
    border-color: #16938b;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #16938b;
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #16938b;
    color: #fff;
}

.section-news .nearby {
    border-color: #dedede;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

.freeze-footer a {
    color: #fff;
    padding: 10px 10px;
    height: auto;
}

.freeze-footer a.btn_make_appointment {
    background-color: #16938b;
    border-color: #16938b;
}

.freeze-footer a.btn_call_now {
    background-color: #16938b;
    border-color: #16938b;
}

.freeze-footer a:hover {
    border-color: #fff;
    color: #fff;
}

.freeze-header {
    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 1021;
    width: 100%;
}

.freeze-header.with-bg {
    background-color: #fff;
}

.social-fanpage {
    text-align: center;
}

.social-fanpage aside {
    display: inline-block;
    margin: auto;
}

.social img {
    max-width: 30px;
    background: #fff;
}

.m-category-tab li {
    background-color: #fff;
    color: #000;
}

.m-category-tab li.active,
.m-category-tab li:hover {
    background-color: #000;
    color: #fff;
}

.m-gallery-box {
    background-color: #fff;
}

.m-image-title,
.m-gallery-box .m-image-title {
    color: #fff;
    font-weight: 500;
    background: rgba(3, 3, 3, 0.3);
}

.pagination>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    color: #000;
    margin-left: 1px;
}

.pagination>li.active>a.hover-main-color,
.pagination>li.active>span.hover-main-color,
.pagination>li>a:hover.hover-main-color,
.pagination>li>span:hover.hover-main-color {
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.m-coupon-price {
    background: rgba(207, 0, 15, 0.9);
    color: #fff;
}

.form-booking .btn-search,
.form-booking .btn-search:hover,
.form-booking .btn-search:focus,
.form-booking-confirm .btn-confirm,
.form-booking-confirm .btn-confirm:hover,
.form-booking-confirm .btn-confirm:focus {
    background-color: #f7e3db;
    color: #fff;
}

.service-image.circle,
.service-image.square {
    border-color: #16938b;
}

.service-name {
    border-color: #16938b;
    color: #16938b;
}

.detail-price-dots {
    border-color: #16938b;
}

.detail-price-number {
    color: #000;
}

.service-btn-group .btn-main {
    background-color: #16938b;
}

.mean-container a.meanmenu-reveal {
    border-color: #000;
}

.menu_mobile_v1 {
    min-height: 100px;
}

.mean-container .mean-nav {
    margin-top: 100px;
}

.mobile_logo img {
    max-height: 80px;
}

.mybutton .btn-next {
    background-color: #16938b;
}

.group-select label {
    float: none;
}

.white-popup {
    overflow: initial;
}

.header {
    z-index: 1022;
    position: relative;
    background-color: #222;
}

.header-contact,
.header-contact ul li {
    line-height: 30px;
}

.footer-info {
    text-align: left;
}

.footer-info a {
    color: inherit;
}

.item .info {
    padding: 15px 0;
}

.item .info .title,
.item .info .description {
    margin-bottom: 15px;
}

.section-review {
    padding: 0;
    margin: 0;
}

.review-container {
    margin: 0;
}

.section-fs {
    margin-top: 30px;
}

.header-main {
    background-color: #fff;
}

.navbar-nav>li>a {
    color: #000;
}

.contact-hours .foh-wrap,
.contact-address .fci-wrap {
    margin: auto;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
}

#back-top {
    bottom: 0;
    right: 0;
    margin-right: 15px;
}

.staff_service_v1 {
    display: inherit;
}

@media (min-width: 768px) {
    .footer-address br {
        display: none;
    }
}

@media (max-width: 767px) {
    #back-top {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .footer-copyright {
        padding-bottom: 70px;
    }
    .footer-info {
        text-align: center;
    }
    .footer-info .foh-wrap,
    .footer-info .fci-wrap {
        margin: auto;
    }
    .page-heading {
        background-attachment: scroll;
    }
    .review-container {
        background-attachment: scroll;
    }
}

.staff_service_v1 {
    display: inherit;
}

@media (max-width: 767px) {
    .page-heading {
        background-attachment: scroll;
    }
}

#back-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    margin: 0;
}

.in-content {
    color: #000;
    font-size: 15px;
}

.in-content h3 {
    color: #000;
}

.copyright a {
    color: #16938b;
}

.footer-social {
    float: right;
}

.footer-main h3 {
    color: #16938b;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-info p {
    margin-bottom: 5px;
}

.section-service h3 a:before {
    padding-right: 4px;
}

.section-service h3 {
    font-size: 14px;
}

.section-service p {
    text-align: justify;
}

.section-fs {
    overflow: hidden;
}

.services-listall.row img {
    width: 100%;
}

@media only screen and (max-width: 687px) {
    .footer-copyright {
        font-size: 11px;
    }
}

.mobile_logo img {
    max-height: 80px;
}

.mean-container .mean-nav {
    margin-top: 100px;
}

nav.header-main.nav-desktop img {
    width: 250px;
}

.section-studio {
    padding: 100px;
    background: #f9f9f9;
}

.section-studio h3 {
    font-size: 18px;
}

.navbar-nav>li>a {
    font-size: 16px;
}

.navbar-nav>li>a {
    font-family: "Barlow", sans-serif;
}

.header {
    background-color: #313948;
}

.header-main {
    background-image: url(../../themes/fnail04o/assets/images/parallax2.png);
    background-position: right;
}

.section {
    padding: 70px 0;
    box-shadow: none;
}

body {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
}

.section-studio h3 {
    font-size: 24px;
    padding-top: 20px;
}

.item .info .title {
    font-size: 24px;
    font-family: "Playfair Display", serif;
}

h2 {
    font-family: "Playfair Display", serif;
}

.services-listall.row img {
    border: 10px #fff solid;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.section-service {
    background-image: url(/themes/fnail04o/assets/images/bg1-h7.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0);
    background-attachment: scroll;
}

.hr-short {
    margin-bottom: 50px;
}

.footer-main {
    background-image: url(../../themes/fnail04o/assets/images/parallax2.png);
    background-position: right;
}

.service-container>.service-list {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../../themes/fnail04o/assets/images/beauty-pattern.png) 30% round;
}

@media (min-width: 1200px) {
    .section-fs .m-gallery-box-wrap>.row>.col-xs-6.col-sm-6.col-md-4 {
        width: 24.99%;
    }
}

.freeze-footer a {
    line-height: 1.5;
    font-size: 16px;
    text-transform: uppercase;
}

.page-heading {
    padding: 60px 0 0;
}

.in-container {
    padding: 30px 0;
}

.footer-info {
    padding: 20px;
    background: #222222a6;
}

.section-fs .m-gallery-box-wrap {
    margin-bottom: 0;
}

.section-fs .row nav {
    display: none;
}

.footer-address br {
    display: initial;
}

@media (max-width: 991px) {
    .foh-row .foh-date,
    div.foh-row .foh-date {
        padding-right: 5px;
    }
}

@media (max-width: 767px) {
    .review-container {
        background-attachment: scroll;
    }
}

.staff-avatar {
    display: none;
}

.staff_service_v1 .col-xs-8 {
    width: 100%;
}

nav.header-main.nav-desktop img {
    width: 330px;
}

.page-heading {
    padding: 30px 0 0;
    background: unset;
}

.description {
    display: none;
}

.item .info .title {
    font-size: 18px;
}

.review-inner h3 {
    margin-top: 0;
}

.review-inner {
    padding: 30px 0;
}

.review-container {
    background: url(../library/global/nail-images/bg-nail-3.jpg) center center fixed no-repeat;
    background-size: cover;
}

.footer-main h3 {
    font-size: 20px;
}

@media only screen and (max-width: 687px) {
    .item .info .title {
        font-size: 13px;
        text-align: center;
    }
}

.header {
    background-color: #f7e3db;
}

h3.title {
    color: #000;
}

a.btn,
.btn,
a.btn-main,
.btn-main {
    background: #f7e3db;
}

.footer-main {
    background-color: #f7e3db;
}

.footer-main h3 {
    color: #fff;
}

.footer-copyright {
    background-color: #c8c8c8;
}

.page-heading:before {
    background-color: #f7e3db;
}

.footer-info {
    background: #888888a6;
}

.service-image.circle {
    border: 3px solid #f7e3db;
}

h2.service-name {
    border-bottom: 1px solid #000;
    color: #000;
}

.navbar-nav>li:hover>a {
    color: #f7e3db;
}

.sms-booking #btn_search_booking .btn-search {
    background-color: #f7e3db;
}

.contact-hours {
    background: #f7e3db;
}

.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
    background: #f7e3db;
}

.page-heading h2 {
    color: #000;
}

.freeze-footer a.btn_call_now {
    background-color: #16938b;
}

.clearfix.header-contact a {
    color: #000;
}

section h2 {
    color: #000 !important;
    text-transform: uppercase !important;
    font-size: 30px !important;
}

@media only screen and (max-width: 687px) {
    .aboutpg h3 {
        font-size: 25px;
    }
}

.mTitle {
    font-weight: 600 !important;
}

h2.mTitle01 {
    font-size: 20px !important;
    text-align: center;
}

@media (max-width: 575px) {
    .footer-social {
        float: none;
    }
}