/* Global */

*>img,
img {
    max-width: 100%;
}

*>a,
a,
.pointer {
    cursor: pointer;
}

ul,
ul>li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bootstrap-datetimepicker-widget,
.datepicker-input .bootstrap-datetimepicker-widget {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.fa-input .fa {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 10px;
    top: calc(50% - 9px);
    font-size: 18px;
}

.form-group .form-input,
.form-group .form-control-wrapper {
    position: relative;
}

.form-group option {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Oppenhours - Contact info */

.foh-wrap,
.fci-wrap {
    display: table;
    text-align: left;
}

.foh-row,
p.foh-row,
span.foh-row,
div.foh-row,
.fci-row,
p.fci-row,
span.fci-row,
div.fci-row {
    display: table-row;
}

.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.foh-row .foh-time,
p.foh-row .foh-time,
span.foh-row .foh-time,
div.foh-row .foh-time,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title,
.fci-row .fci-content,
p.fci-row .fci-content,
span.fci-row .fci-content,
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
}

.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title {
    padding-right: 10px;
    font-weight: bold;
}


/* Youtube iframe */

.youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    /* Use 75% for 4:3 videos */
    width: 100%;
    max-width: 100%;
    height: 0;
    background: #000;
    margin: 0 auto;
    overflow: hidden;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
}


/* Display table */

.stable {
    display: table;
}

.stable .stable-row {
    display: table-row;
}

.stable .stable-cell {
    display: table-cell;
    vertical-align: top;
}

@media screen and (min-width: 992px) {
    .stable .stable-cell-lg {
        display: table-cell;
        vertical-align: top;
    }
}

@media screen and (min-width: 768px) {
    .stable .stable-cell-md {
        display: table-cell;
        vertical-align: top;
    }
}

@media screen and (min-width: 576px) {
    .stable .stable-cell-sm {
        display: table-cell;
        vertical-align: top;
    }
}


/* Image bg */

.image-bg {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.image-bg img {
    display: none !important;
}


/* End global */

.art-main {
    overflow: hidden;
}

.art-sheet {
    position: relative;
}

.art-postcontent .pagination>li>a,
.art-postcontent .pagination>li>span {
    line-height: 1.42857143;
}


/* Header - Footer */

.mobile-menu nav {
    display: none;
}

.mobile_logo {
    width: calc(100% - 100px);
}

.logo {
    margin: 0;
    display: inline-block;
}

.mobile_logo.stable .stable-cell {
    vertical-align: middle;
}

.navbar-nav>li>a,
.account_main>li>a {
    color: #fff;
}

.account_mobile {
    white-space: nowrap;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.account_mobile>li>a {
    color: #fff;
}

.dropdown-menu>li {
    width: 100%;
}

.dropdown-menu>li>a {
    color: #333;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #333;
    background-color: #f5f5f5;
}

li.dropdown>.dropdown-menu,
li.dropdown:hover>.dropdown-menu {
    margin: 0;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
}

.account_mobile .dropdown-menu.pull-left {
    left: auto;
    right: 0;
}

.dropdown-submenu>.dropdown-menu.pull-left,
.dropdown .dropdown-submenu>.dropdown-menu.pull-left {
    top: 0;
    left: auto;
    right: 99%;
}

.mean-container .mean-nav {
    margin-top: 55px;
}

.footer p {
    margin: 0;
}

.page-child header .slider-pro-wrap {
    display: none !important;
}


/* End Header - Footer */


/* Socical */

.social-img-icons {
    margin: 0 0 5px 0;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.social-img-icons img {
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.social-img-icons img:first-child {
    display: block;
}

.social-scroll .social-img-icons img:last-child {
    display: block;
    top: 100%;
}

.social-scroll .social-img-icons:hover img:first-child {
    top: -100%;
}

.social-scroll .social-img-icons:hover img:last-child {
    top: 0;
}


/* Slider */

.section-slider-wrap .section {
    padding: 0;
}

.sp-buttons,
.sp-arrows {
    z-index: 21;
}

.top-header {
    z-index: 22;
}

.slider-width-height .fixed {
    height: 0;
    /* Auto height */
}

@media screen and (max-width: 767px) {
    .slider-width-height .fixed {
        height: 0;
        /* Auto height */
    }
}

@media screen and (max-width: 575px) {
    .slider-width-height .fixed {
        height: 0;
        /* Auto height */
    }
}

@media screen and (max-width: 354px) {
    .slider-width-height .fixed {
        height: 0;
        /* Auto height */
    }
}


/* sidebar, Main, Pages, About, Contact */

.openhours-board-inner,
.contact-board-inner {
    display: inline-block;
}

.contact-board-inner a {
    color: inherit;
}

#box-contact .form-contact .form-control::-moz-placeholder {
    color: #fff;
}

#box-contact div.error,
#box-contact div.error-list,
#box-contact label.error,
#box-contact input.error,
#box-contact select.error,
#box-contact textarea.error {
    box-shadow: #fff 0px 0px 5px 0px;
}


/* Coupons, giftcards */

.sTitle {
    font-weight: bold;
}

.sDesc {
    margin-bottom: 15px;
}

.coupon_img_v1 {
    margin: 0 0 30px 0;
}

.coupon_img_v1 img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.coupon_img_v1 img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.coupon_img_v1.one-col img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.coupon_img_v1 .coupon_info {
    padding-top: 5px;
    text-align: center;
}


/* Gallery ajax */

.box_list_gallery_wrap {
    position: relative;
    z-index: 1;
    min-height: 60px;
}

.box_list_gallery_wrap .box_list_gallery_loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.box_list_gallery_wrap .box_list_gallery_loading img {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 3;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
}


/* Gallery */

.gallery-box-wrap {
    padding: 0 10px 0;
}

.gallery-box {
    margin: 0 -10px 10px;
}


/*.gallery-box .image-bg-wrap {padding: 5px;border: 1px solid #a9a9a9;position: relative;z-index: 1;background-color: #fff;}*/

.gallery-box .image-bg-wrap,
.gallery-box .image-bg {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}

.gallery-box:hover>.image-bg-wrap,
.gallery-box:hover>.image-bg {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
}

.gallery-box .gallery-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-weight: 500;
    background: rgba(3, 3, 3, 0.3);
    filter: alpha(opacity=30);
    max-height: 60px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

.gl-wrap .gallery-box .image-bg {
    border: 5px solid #f07398;
}


/* Service new */

.page-container {
    margin: 0 0 15px;
    border-radius: 5px;
}

.service-btn,
.service-btn .btn,
.service-btn img,
.service-row,
.service-row img,
.service-image-wrap,
.circle-service-image,
.service-content-wrap,
.service-catname,
.service-subcatname,
.service-item,
.si-info,
.si-info-wrap,
.si-info-col,
.si-name,
.si-price,
.si-p-wrap,
.si-price .old,
.si-price .current,
.si-price .up,
.si-desc {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.service-btn {
    text-align: right;
    margin-bottom: 15px;
}

.service-btn .btn {
    vertical-align: middle;
    margin-bottom: 5px;
    padding: 0 10px;
    text-decoration: none;
    line-height: 35px !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.service-btn .btn+.btn {
    margin-left: 5px;
}

.service-btn img {
    max-height: 16px;
    border: none;
    margin-right: 5px;
    box-shadow: initial;
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.service-btn .btn img:first-child {
    display: initial;
}

.service-btn .btn:hover img:first-child {
    display: none;
}

.service-btn .btn:hover img:last-child {
    display: initial;
}

.service-btn .btn-book {
    background-color: #eb2855;
    border-color: #da1542;
    color: #fff;
}

.service-btn .btn-book:hover {
    background-color: #da1542;
    border-color: #9e0f30;
    color: #fff;
}

.service-btn .btn-call {
    background-color: #eb2855;
    border-color: #da1542;
    color: #fff;
}

.service-btn .btn-call:hover {
    background-color: #da1542;
    border-color: #9e0f30;
    color: #fff;
}

.service-row {
    margin-bottom: 30px;
}

.service-row:last-child {
    margin-bottom: 0;
}

.service-row .service-image-wrap {
    width: 250px;
    margin: 0 auto 15px;
    border: 2px solid #ef577a;
    overflow: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.service-row .service-image-wrap.circle-wrap {
    border-radius: 50%;
}

.service-row .circle-service-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.service-row .service-image-wrap.rouded-wrap {
    border-radius: 5px;
}

.service-row .service-image-wrap.rouded-wrap img {
    border: none;
}

.service-row .service-catname,
.service-row .service-subcatname {
    line-height: 1.1;
    font-weight: bold;
    font-family: Raleway, Arial, sans-serif;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
    z-index: 0;
    color: #ef577a;
}

.service-row .service-catname {
    font-size: 24px;
}

.service-row .service-subcatname {
    font-size: 21px;
}

.service-row .service-catname:after,
.service-row .service-subcatname:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    border-top: 1px solid #ef577a;
    /*border-bottom: 1px solid #fec168;*/
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.service-row .service-catdesc,
.service-row .service-subcatdesc {
    margin: -10px 0 15px;
    line-height: 1.5;
    font-weight: normal;
    font-size: 13px;
    font-family: Raleway, Arial, sans-serif;
    color: #3a3a3a;
}

.service-row .si-name,
.service-row .si-price,
.service-row .si-price .si-p-wrap,
.service-row .si-price .old,
.service-row .si-price .current,
.service-row .si-price .up {
    line-height: 1.1;
    font-weight: 500;
    font-family: Raleway, Arial, sans-serif;
    font-size: 15px;
    color: #3a3a3a;
}

.service-row .si-price,
.service-row .si-price .si-p-wrap,
.service-row .si-price .old,
.service-row .si-price .current,
.service-row .si-price .up {
    font-weight: normal;
}

.service-row .service-item {
    margin-bottom: 15px;
    border-bottom: 1px dashed #dcdcdc;
}

.service-row .service-item.v2 {
    border-bottom: none;
}

.service-item .si-info {
    margin-bottom: 7px;
}

.service-item .si-info-wrap {
    position: relative;
    overflow: hidden;
}

.service-item .si-dots-wrap {
    flex-grow: 1;
}

.service-item .si-dots {
    border-bottom: 1px dotted #3a3a3a;
    margin-bottom: 5px;
}

.service-item .si-name,
.service-item .si-price {
    display: inline-block;
    z-index: 1;
    position: relative;
}

.service-item .si-name {
    padding-right: 5px;
}

.service-item .si-price {
    text-align: right;
    float: right;
}

.service-item .si-price span,
.service-item .si-price div {
    white-space: nowrap;
}

.service-item .si-price .old,
.service-item .si-price .current,
.service-item .si-price .up {
    padding-left: 5px;
}

.service-item .si-price .old {
    text-decoration: line-through;
    opacity: 0.7;
}

.service-item .si-desc {
    margin-top: -7px;
    margin-bottom: 13px;
    line-height: 1.5;
    font-weight: normal;
    font-size: 13px;
    font-family: Raleway, Arial, sans-serif;
    color: #3a3a3a;
}

.service-row .service-row {
    padding-left: 15px;
}

@media screen and (min-width: 576px) {
    .service-item .si-info-wrap {
        display: flex;
    }
    .service-item .si-price {
        white-space: nowrap;
    }
}

@media screen and (max-width: 575px) {
    .service-item .si-info-col {
        display: inline;
    }
}


/* End service new */


/* Booking email */

.booking-email .group_date {
    position: relative;
}

.booking-email span.fa.fa-calendar.calendar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.booking-email p.title_appointment {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 15px;
    text-align: center;
    line-height: 1;
}

.booking-email .content-shop-booking {
    background: none;
    margin: 0;
    padding: 0;
}

.booking-email select.form-control.list_service {
    height: 245px;
}

.booking-email select.s_error {
    border-color: #f00;
}

.booking-email .form-tooltip-serror ul {
    margin: 0;
}

.booking-email .form-tooltip-serror {
    background: #f95858;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    bottom: 100%;
    margin-bottom: 8px;
    max-width: 230px;
    font-size: 14px;
    line-height: 20px;
}

.booking-email .form-tooltip-serror:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #f95858 transparent transparent;
}

.booking-email .form-group-checkbox .form-tooltip-serror {
    right: 100%;
    bottom: 0;
    margin-bottom: 0;
    margin-right: 10px;
    min-width: 150px;
}

.booking-email .form-group-checkbox .form-tooltip-serror:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0 !important;
    left: auto;
    right: -7px;
    bottom: 9px;
}

.booking-email .form-label .form-tooltip-serror {
    position: relative;
    display: inline-block;
    margin: -4px 0 -4px 8px;
}

.booking-email .form-label .form-tooltip-serror:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 50%;
    margin: 0 0 -2px !important;
    left: -7px;
}

.booking-email .form-tooltip-serror,
.form-tooltip-serror * {
    color: #fff !important;
}

.booking-email .item-booking {
    margin: 0;
}

.booking-email .btn {
    background-color: #eb2855;
    border-color: #da1542;
    color: #fff;
    height: 50px;
}

.booking-email .btn:hover {
    background-color: #da1542;
    border-color: #9e0f30;
    color: #fff;
}


/* Booking sms */

.my-booking-sms {
    margin: 0 0 15px;
}

.my-booking-sms .item-booking {
    margin: 0;
}

.my-booking-sms label {
    font-weight: normal;
}

.my-booking-sms .form-input,
.my-booking-sms .is-more {
    position: relative;
}

.my-booking-sms .form-input.input-fa .fa {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 10px;
    top: calc(50% - 9px);
    font-size: 18px;
}

.my-booking-sms .is-more .remove-services {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 15px;
}

.my-booking-sms .is-more .remove-services+div>div:first-child>label {
    margin-left: 30px;
}

.my-booking-sms .add-services {
    margin: 0 0 15px;
    display: inline-block;
}

.my-booking-sms .btn {
    background-color: #eb2855;
    border-color: #da1542;
    color: #fff;
    height: 50px;
}

.my-booking-sms .btn:hover {
    background-color: #da1542;
    border-color: #9e0f30;
    color: #fff;
}

.myconfirm-sms,
.myconfirm-sms .time_work_staff_v1 .time_pm_v1 {
    margin: 0;
}

.myconfirm-sms .time_work_staff_v1 .time_am_v1 {
    margin: 0 0 15px;
}

.myconfirm-sms .time_work_staff_v1 label {
    margin: 0 0 5px;
    font-weight: bold;
}

.myconfirm-sms .time_work_staff_v1 ul,
.myconfirm-sms .time_work_staff_v1 ul li {
    margin: 0;
    padding: 0;
}

.myconfirm-sms .time_work_staff_v1 ul li {
    display: inline-block;
}

.myconfirm-sms .time_work_staff_v1 ul li a,
.myconfirm-sms .time_work_staff_v1 ul li span {
    margin: 0 5px 5px 0;
    padding: 10px 15px;
    text-decoration: none;
    color: #3a3a3a;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100px;
    text-align: center;
    line-height: initial;
    display: block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.myconfirm-sms .time_work_staff_v1 ul li span {
    border-color: transparent;
}

.myconfirm-sms .time_work_staff_v1 ul li:hover a,
.myconfirm-sms .time_work_staff_v1 ul li:hover span {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #3a3a3a;
}

.myconfirm-sms h4 {
    margin-bottom: 15px;
    font-weight: bold;
}

.myconfirm-sms h4.time_show {
    font-size: 20px;
    color: #3a3a3a;
}

.myconfirm-sms .time_work_staff_v1 ul li.expired {
    display: none;
}


/* Popup confirm */

.box_account_v1 .modal_form_header {
    border-bottom: 1px solid #ef577a;
    background: #ef577a;
    color: #fff;
    min-height: 16.43px;
    padding: 15px 15px;
}

.box_account_v1 .modal_form_header h4 {
    font-weight: bold;
    color: #fff;
}

.popup_main_area {
    background: #fff;
    color: #3a3a3a;
    padding: 15px;
    float: left;
    width: 100%;
}

.btn-success.bootstrap-style {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.btn-danger.bootstrap-style {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}


/* Css mycarttable */


/*.mycarttable {background: none;}
.mycarttable .table {margin-bottom: 0;border: none;}
.mycarttable thead tr th, 
.mycarttable tbody tr td {
    color: #3A3A3A;
    padding: 0;
    text-align: left;
    vertical-align: top;
    border: none;
    border-top: 1px solid #808080;
}
.mycarttable thead tr th *, 
.mycarttable tbody tr td *{margin: 0;}
.mycarttable thead tr th {
    background: #EF577A;
    color: #fff;
    border: 1px solid transparent;
    
    height: 40px;
    padding: 0 15px;
    text-transform: uppercase;
    vertical-align: middle;
}
.mycarttable .list-row tbody tr:first-child td {border: none;}
.mycarttable thead tr th.th-qty {width: 100px;}
.mycarttable thead tr th.th-price-total{text-align: right;}
.mycarttable thead tr th.th-remove, 
.mycarttable tbody tr td.td-remove {width: 50px;text-align: right;}
.mycarttable tbody tr td .list-row-col {padding: 15px;}
.mycarttable tbody tr td .list-row-col img {
    max-width: 110px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}
.mycarttable tbody tr td .list-row-col .image-item {
    max-width: 110px;
    margin-right: 15px;
    float: left;
}
.mycarttable tbody tr td .list-row-col .name-item, 
.mycarttable tbody tr td .list-row-col .price-item, 
.mycarttable tbody tr td .list-row-col .price-total-item, 
.mycarttable tbody tr td .price-row-col, 
.mycarttable tbody tr td .price-row-col p {font-weight: bold;}
.mycarttable tbody tr td .list-row-col .form-control {min-width: 70px;}
.mycarttable tbody tr td .list-row-col .form-control.autowidth {width: auto;min-width: 110px;}
.mycarttable tbody tr td .list-row-col .price-total-item, 
.mycarttable .price-row tbody tr , 
.mycarttable .price-row tbody tr td {text-align: right;}
.mycarttable .price-row tbody tr.noneboder td, 
.mycarttable .price-row tbody tr:not(:first-child) td {border: none;}
.mycarttable tbody tr td:first-child {width: 90%;}
.mycarttable tbody tr td .price-row-col {padding: 5px 15px;}
.mycarttable .price-row tbody tr:last-child td .price-row-col, 
.mycarttable .price-row tbody tr:last-child td .price-row-col p {font-size: 120%;color: #ff0000;}
.mybutton {margin-top: 15px;}
.mybutton .btn-continue {float: left;}
.mybutton .btn-next {float: right;}
@media screen and (max-width: 767px) {
    .mycarttable {padding: 0;background: none;}
    .mycarttable thead tr th {background: #EF577A;color: #fff;}
    .mycarttable .price-row tbody tr:first-child td {border: none;}
    .mycarttable tbody tr td .small-sm {font-size: 90%;line-height: initial;}
    .mycarttable tbody tr td p {white-space: normal;}
    .mycarttable tbody tr td .list-row-col .name-item {min-width: 250px;}
}
.mypayment {margin: 0; padding: 0;}
.mypayment h4, .mypayment .checkbox {margin: 0 0 15px;}
.mypayment h4 {font-weight: bold;}
.mypayment .checkbox {color: #3A3A3A;}
.mypayment .note {color: #3A3A3A;}
.mybox-order {
    margin:0 0 15px;
    padding: 15px;
    background: none;
    border: 1px solid #EF577A;
    border-radius: 3px;
    color: #3A3A3A;
}
.mypayment .form_cart p {color: #3A3A3A;}
.mybox-order ul, .mybox-order li {margin: 0;padding: 0;}
.mybox-order ul li {
    clear: both;
    display: inline-block;
    width: 100%;
    padding: 0 0 10px;
}
.mybox-order ul li.li-last {padding-bottom: 0;}
.mybox-order .item-info {display: block;clear: both;border-bottom: 1px dotted #3A3A3A;}
.mybox-order .item-info .item-image {margin: 0 -15px;}
.mybox-order .item-info .item-image img {margin: 0 0 15px;}
.mybox-order .item-info .item-name, .mybox-order .item-info .item-price {margin: 0 -15px 15px 0;}
.mybox-order .item-info .item-price, .mybox-order .total label, .mybox-order .total span, .mybox-order .subtotal label, .mybox-order .subtotal span {font-weight: bold;}
.mybox-order .total span, .mybox-order .subtotal span {font-size: 130%;color: #ff0000;}
.total ul li .input-group {position: relative;z-index: 0;}
.total ul li .input-group input[type="text"] {position: relative;padding: 5px 50px 5px 5px;z-index: 1;max-width: 170px;}
.total ul li .input-group button {position: absolute; top: 0;right: 0;z-index: 2;height: 50px;}
.btn-discount, .total ul li .btn-discount {
    display: inline-block;
    padding: 5px 12px;
    background: #eb2855;
    border: 2px solid #da1542;
    color: #fff;
}
.btn-discount:hover, .total ul li .btn-discount:hover {background-color: #da1542;border-color: #9e0f30;color: #fff;}
.b-loader {
    border: 5px solid #4e4e4e;
    border-top: 5px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/


/* End css mycarttable */

.page-child .art-header {
    background-image: none;
}

.openhours-board-wrap,
.contact-board {
    display: inline-block;
    text-align: center;
}


/* Responsive */


/* Min width */

@media (min-width: 480px) {}

@media (min-width: 576px) {
    .contact-board-inner .fci-content .address br {
        display: none;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .in-container,
    .main-wrap {
        min-height: 320px;
    }
    .openhours-board-wrap-master {
        text-align: right;
    }
    .contact-board-master {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .contact-contact .fci-content .address br {
        display: none;
    }
}


/* Max width */

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .page-child .art-header .top-header {
        text-align: left;
    }
    .page-child .art-header {
        height: 100px;
    }
}

@media (max-width: 575px) {}

@media (max-width: 479px) {}

@media (max-width: 359px) {}


/* Min and Max width */

@media (min-width: 576px) and (max-width: 767px) {
    .contact-contact .fci-content .address br {
        display: none;
    }
}


/*CSS LOGO*/

.mean-container .mean-bar,
.mobile_logo {
    height: 100px;
    padding: 0;
}

.mobile_logo {
    line-height: 90px;
}

.mobile_logo img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90px;
}

.mean-container .mean-nav {
    margin-top: 100px;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .mean-container .mean-bar,
    .mobile_logo {
        height: 110px;
    }
    .mobile_logo {
        line-height: 110px;
    }
    .mobile_logo img {
        max-height: 110px;
    }
    .mean-container .mean-nav {
        margin-top: 110px;
    }
}

@media (min-width: 992px) {
    .desktop-logo {
        padding: 0;
        height: 120px;
        line-height: 120px;
    }
    .desktop-logo img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 120px;
    }
}

@media (min-width: 1200px) {
    .desktop-logo {
        height: 130px;
        line-height: 130px;
    }
    .desktop-logo img {
        max-height: 130px;
    }
}


/*freeze footer*/

.freeze-footer {
    position: fixed;
    right: 15px;
    bottom: 60px;
    padding: 0;
    display: inline-block;
    z-index: 1021;
}

.freeze-footer ul li {
    list-style-type: none;
}

.freeze-footer a {
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    padding: 10px 10px;
    line-height: 1;
    font-size: 17px;
    height: auto;
}

.freeze-footer a.btn_make_appointment {
    background-color: #ef577a;
    border-color: #eee;
}

.freeze-footer a.btn_call_now {
    background-color: #ef577a;
    border-color: #eee;
}

.freeze-footer a:hover {
    border-color: #fff;
    color: #ffffff;
}


/*freeze header*/

.freeze-header {
    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 1021;
    width: 100%;
}

.freeze-header.with-bg {
    background-color: #ef577a;
    -webkit-box-shadow: 0px 1px 1px #eee;
    -moz-box-shadow: 0px 1px 1px #eee;
    box-shadow: 0px 1px 1px #eee;
}

.freeze-header.with-bg {
    width: 100%;
}

.mobile-menu-wrap {
    background-color: #ef577a;
}

#owl_service_board .item .service {
    padding: 0 15px;
}

#owl_service_board .owl-buttons {
    text-align: center;
}

#owl_service_board .owl-prev,
#owl_service_board .owl-next {
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#owl_service_board .owl-prev,
#owl_service_board .owl-next {
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #ef577a;
    border-color: #ef577a;
}

#owl_service_board .slide {
    text-align: center;
    margin-bottom: 50px;
}

#owl_service_board .owl-prev:hover,
#owl_service_board .owl-next:hover {
    color: #ef577a;
    border-color: #ef577a;
}

.service-item {
    margin-bottom: 30px;
}

.service-item .thumb {
    text-align: center;
    margin-bottom: 5px;
}

.m-gallery-content {
    position: relative;
    z-index: 1;
}


/* Gallery */

.m-category-tab li {
    display: inline-block;
    padding: 5px 15px;
    background-color: #fff;
    cursor: pointer;
    margin: 5px;
    color: #a1864f;
    border-radius: 5px;
    border: 1px solid #a1864f;
}

.m-category-tab li.active,
.m-category-tab li:hover {
    background-color: #a1864f;
    color: #fff;
}

.m-category-tab {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 0 15px;
}

.relative {
    position: relative;
}


/* Coupon */

.m-coupon-box {
    position: relative;
    z-index: 0;
    margin: 0;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.m-giftcards {
    margin-bottom: 30px;
}

.m-giftcards .m-coupon-box {
    margin-bottom: 15px;
}

.m-coupon-info {
    text-align: center;
}

.m-coupon-box:hover,
.m-coupon-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.m-coupon-price {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 5px;
    background: rgba(207, 0, 15, 0.9);
    color: #fff;
}

.form-horizontal .checkbox,
.form-horizontal .radio {
    padding-top: 0;
}

.group-select {
    margin-bottom: 15px;
}

.btn_consent,
.btn_consent:hover,
.btn_consent:focus {
    background-color: #fff;
    color: #ef577a;
}

.mybutton .btn-next,
.btn_payment {
    background-color: #ef577a;
    color: #fff;
}


/*news module*/

.section-news .n-meta {
    border-color: #ef577a;
}

.section-news .n-meta .date-d,
.section-news .n-meta .date-m {
    color: #ef577a;
}

.section-news .n-thumb a:after {
    background: rgba(0, 0, 0, 0.6);
}

.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}

.n-author,
.n-author a {
    color: #aaa;
}

.box_news_details .news_content,
.box_news_details .news_content p,
.box_news_details .news_content span {
    color: #fff;
}

.box_news_details>h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #ef577a none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input,
.box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #ef577a;
    border-color: #ef577a;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #ef577a;
    border-color: #ef577a;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #ef577a;
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #ef577a;
    color: #fff;
}

.section-news .nearby {
    border-color: #dedede;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

#box-gallery .heading .title:after {
    bottom: 0;
    left: 50%;
    width: 70px;
    margin-left: -35px;
}

.sp-next-arrow:after,
.sp-next-arrow:before,
.sp-previous-arrow:after,
.sp-previous-arrow:before {
    display: block;
}

.sp-arrow:before,
.sp-arrow:after {
    height: 35%;
}

.sp-arrow:before {
    top: 15%;
}

.center-block.heading .title {
    text-align: center;
}

.center-block.heading .title:after {
    left: 50%;
    width: 70px;
    margin-left: -35px;
}