.alert.alert-aquamarine {
    border: 1px solid #43ca43;
    border-radius: inherit;
    background: #b3fb9b;
}

.form-control-wrapper {
  position: relative;
}

p.title_giftcard {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin: 10px;
    color: #444343;
}

p.des_giftcard {
    text-align: center;
    margin-bottom: 20px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    /*max-width: 80%;*/
    margin: 20px auto;
    clear: both;
    overflow: hidden;
}

.mfp-close {
    /*background-color: whitesmoke !important;*/
}
.row.fles {
    display: flex;
    align-items: center;
}
.nails_logo a img{
    padding-top: 2px;
    padding-bottom: 5px;
}