
/*===================================================================================*/
/*  END-STYLE
/*===================================================================================*/

body {
    margin: 0 auto;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Baumans',cursive;
}

a {
    color: #000000;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f85c5c;
    text-decoration: none;
}
a.btn, 
.btn,
a.btn-main, 
.btn-main  {
    border: 1px solid transparent;
    border-radius: 25px;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    padding: 0 30px;
    transition: all 0.3s ease;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
}

.btn-link {
    border: 0;
    border-radius: 25px;
    height: 33px;
    line-height: 33px;
    font-size: 11px;
    padding: 0 20px;
    transition: all 0.3s ease;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
}



a.btn:hover,
.btn:hover,
.btn-main:hover,
.btn-link:hover{
    color: #56b367;
    border: 1px solid #ccc;
    background: #fff;
    text-decoration: none;
}
p {
    margin:0 0 15px;
    line-height: 1.8;
}

h2, h3,h4, h5 {
    color: #333;
    margin: 0 0 20px;
}
h2 {
    font-size: 2.625em;
    line-height: 1.2;
}
h3 {
    font-size: 2em;
    line-height: 1.3em;
}
h4 {
    font-size: 1.5em;
    line-height: 1.4em;
}
h5 {
    font-size: 15px;
    line-height: 1.5em;
}

.form-control {
    padding: 0px 20px;
    height: 47px;
    width: 100%;
    font-size: 13px;
    margin: 0px 0;
    border: 0;
    outline: none;
    font-weight: 500;
    box-shadow: none;
    border-radius: 0px;
}




a.btn,
.btn { background: #757579;}

.head-top-right .ht-item .fa ,
.head-top-right .ht-item .info-name,
.head-top li,
.footer-phone i,
.contact-details i,
.opening-hour-time
{
    color: #c0fbcb;
}
.head-top,
a.btn-main,
.btn-main,
.btn-link,
.section-about-text,
.contact-details 
{
    background: #56b367;
}
.section-about h2,
.stitle,
.form-control,
.form-control::placeholder,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a 
{
    color: #56b367;
}
.footer-copyright {
    border-bottom: 8px solid #56b367;
}

.head-top-right .ht-item .info ,
.footer-phone,
.section-about-text h3,
.contact-details,
.contact-details a
{ 
    color: #fff; 
}


.bg-main,
.page-heading,
.form-control
{
    background: #e2fee7;
}
.m-title,
.footer-main h3,
.testimonials-list .name {
    color: #333;
}


.animated-arrow { display: none; }
.animated-arrow span, 
.animated-arrow span:before, 
.animated-arrow span:after {
    cursor: pointer;
    height: 2px;
    width: 25px;
    background: #56b367;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
}
.animated-arrow span:before {top: -7px;}
.animated-arrow span:after {bottom: -7px;}

.navopener .animated-arrow span:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 0px;
}
.navopener .animated-arrow span:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.navopener .animated-arrow span {background-color: transparent;}
.navopener .animated-arrow span:before {top: 0;}
.navopener .animated-arrow span:after {bottom: 0px;}


/*//////////////////// NAVIGATION BAR ////////////////////*/
.mean-container .mean-nav ul li a { 
    padding:14px 5%; 
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 600;
    color: #504e50;
    font-size: 12px;
}

.mean-container .btn-main{
    border-radius: 0;
    display: block;
    font-size: 11px;
    text-align: center;
}

.navbar {
    min-height:32px;
    margin: 0px;
    border: 0;
    border-radius: 0;
    padding: 0px;
}
.navbar .navbar-collapse {padding:0px;}
.navbar .navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;
}
.navbar-nav>li { padding: 0 15px; }
.navbar-nav>li>a {
    line-height: 40px;
    font-style: normal;
    color: #333;
    font-size: 18px;
    padding: 0;
    position: relative;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a{
    background: none;
}
.navbar-nav>li.active:hover>a,
.navbar-nav>li:hover>a.active {
    color: #000;
}

.navbar-nav .dropdown:hover>.dropdown-menu {
    display: block;
}
.navbar-nav .dropdown-menu {
    border: none;
    border-radius: 0px;
    background: #fff;
    color: #252525;
    padding:20px 0;
}

.dropdown-menu>li>a {
    padding:5px 25px;
    color: #666;
    letter-spacing: 1.4px;
    font-weight: 400;
    font-size: 14px;
}
.dropdown-menu>li>a:hover {
    transition: all 0.15s ease;
    background:rgba(212, 210, 210, 0.3);
    color: #000;
}

.nav-shop >li>a { font-size: 14px; padding: 0 10px; }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background: none; }


/*===================================================================================*/
/*  MAIN
/*===================================================================================*/
.dflex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox
}
.dflex-sb {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}

.imgrps {
    max-width: 100%;
    height: auto;
}
.art-main {
    position: relative;
    padding: 0;
}
.header { position: relative; }
.head-top {
    padding: 10px 0;
}
.head-top ul { 
    padding: 0; 
    margin: 0; 
    list-style: none; 
    display: flex;
    display: -ms-flexbox
}
.head-top li { color: #c0fbcb;}
.head-top li a {  
    color: inherit;
    margin: 0 5px;
    font-size: 18px;
}
.head-top-right {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
}

.head-top-right .ht-item {display: inline-block;}
.head-top-right .ht-item .fa { font-size: 20px; float: left; }
.head-top-right .ht-item .info{ padding-left: 35px; }
.head-top-right .ht-item .info-name { 
    text-transform: uppercase; 
    font-family: 'Montserrat',sans-serif;
    font-size: 9px;
    font-weight: 500;
    line-height: 1;
}
.head-top-right .ht-item{ margin-left: 35px; }
.head-top-right .ht-item a { color: inherit; font-size: 14px; }

.head-nav-right { align-items: center;  }
.head-nav-right .btn-main { 
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px;
    padding: 0px 30px;
    margin-left: 50px;
    min-width: 250px;
}

.header-main { 
    z-index: 10;
    padding: 30px 0;
}
.header-nav{position: relative;}
.header-main .navbar-right {
    position: absolute;
    right: 0;
    top: 20px;
    height: 80px;
}
.pmain { margin: 0; padding-left: 0px;}
.mTitle {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-variant-ligatures: common-ligatures;
    margin: 0 0 10px;
}
.center-title {
    text-align: center;
}
.in-container {
    padding: 50px 0;
}
.in-content p {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
}
.mtitle {
    font-family: 'Dancing Script',cursive;
    text-transform: none;
    text-align: center;
    font-size: 52px;
}

.stitle {
    color: #56b367;
    font-family: 'Dancing Script',cursive;
    text-transform: none;
    font-size: 32px;
    line-height: 1;
}

.page-heading {
    padding: 40px 0;
}
.page-heading h2 { margin-bottom: 0; font-size: 24px;}


/*===================================================================================*/
/*  PAGE
/*===================================================================================*/
.section {
    padding: 80px 0px;
    overflow: hidden;
}
.section-slider { overflow: hidden; }
.sp-buttons {
    position: absolute;
    bottom: 13px;
}
.sp-button {
    width: 30px;
    height: 2px;
    border: 0;
    border-radius: 0;
    background: #ccc;
}
.sp-selected-button { background-color: #555; }

.section-about .about-left { padding-right: 15px; text-align: right; }
.section-about h2 {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
    font-size: 50px;
}
.about-right { padding-left: 15px; max-width: 495px; margin: 0 auto;}
.about-right .ileft { margin-top: 40px; float: left; }
.about-right .iright { float: right; }
.about-right .iright2  {
    float: right;
    margin-right: 20px;
    margin-top: 50px;
}


.section-special h2 { margin-bottom: 50px; }
.special-list {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.special-list .item {
    text-align: center;
    padding: 0 25px;
}
.special-list .item img{
    border-radius: 100%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
.special-list .item h3 {
    text-transform: none;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    display: block;
}
.special-list .item .thumb { position: relative; display: inline-block; }
.special-list .item .discount {
    background: #56b367;
    color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    padding-top: 14px;
    position: absolute;
    right: -15px;
    top: 0;
}
.view-all { text-align: center; }

.section-services { text-align: center; }
.section-services h2 { font-size: 2.0em; margin-bottom: 50px;}
.section-services h3 a { color: inherit;}
.section-services .item { padding-bottom: 60px; margin-bottom:40px; }
.section-services  .info {
    background: #fff;
    position: relative;
    padding: 20px;
}

.section-services .thumb { position: relative;overflow: hidden; transition: all 0.3s ease-out ; }
.section-services .thumb:hover::before {
    -webkit-animation: shine 1.2s;
    animation: shine 1.2s;
}
.section-services .thumb::before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
@-webkit-keyframes shine{
    100%{left:125%}
}
@keyframes shine{
    100%{left:125%}
}

.testimonial-quote {
    color: #56b367;
    font-size: 220px;
    font-family: 'Montserrat',sans-serif;
    line-height: 1;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.testimonials-list {
    padding: 0 10%;
    text-align: center;
}
.testimonials-list .item { padding-top: 80px; }
.testimonials-list .name { 
    text-transform: uppercase; 
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}
.owl-next {right: 0;}
.owl-prev {left: 0;}
.owl-next,
.owl-prev {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background: none;
    border: 0;
    font-size: 0;
}
.owl-prev:before,
.owl-next:before  {
    content: "\f054";
    color: #aaa;
    font-size: 18px;
    font-family: "FontAwesome";
    display: block;
}
.owl-prev:before  { transform: rotate(180deg); }

.section-about-text h3 { 
    text-align: center;
    font-size: 52px;
    font-family: 'Dancing Script',cursive;
    line-height: 1.2;
}
.section-about-team {
    text-align: center;
}
.section-about-team h3 {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    margin: 13px 0 5px;
    display: block;
}
.section-about-team  p {
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #999;
    line-height: 1;
}
.section-about-team .item { margin-bottom: 20px; }


/*===================================================================================*/
/*  SIDEBAR
/*===================================================================================*/
.art-sidebar-box { 
    margin: 0 0 60px;
    border: 1px solid #E2E2E2;
    padding: 5px 20px 20px;
    overflow: visible;
}
.art-sidebar-name { text-align: center; }
.sidebar-social {text-align: left;}
.art-sidebar-content .col-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    line-height: 1.4;
}
.art-sidebar-content .col-2 i { font-size: 18px; color: #781414; }
.timeopen .art-sidebar-content .col-2 {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 12px;
}
.art-sidebar-content .col-2 .col-left {
    float: left;
    overflow: hidden;
    font-weight: bold;
}
.art-sidebar-content .col-2 .col-right {padding-left: 50px; }
.timeopen .art-sidebar-content .col-2 .col-right {padding-left: 80px;}
.art-sidebar-box h3 {
    position: relative;
    display: inline;
    top: -20px;
    padding: 0 20px;
    background: white;
    font-family: "Playfair Display";
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px;
}

.sidebar-hotphone {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}
.art-sidebar-box iframe ,
.art-sidebar-content iframe {width: 100%; }
.art-sidebar-box ul { padding: 0; margin: 0; margin-left: 15px; list-style: none; }
.art-sidebar-box li { margin-bottom: 10px; }
.art-sidebar-box li a {color: #777777;font-size: 12px;}

.art-sidebar-box li:before {
    content: '';
    border-top: 2px solid #dfdfdf;
    padding: 4px;
    position: relative;
    top: 14px;
    left: -8px;
}


/*===================================================================================*/
/*  GALLERY
/*===================================================================================*/
.list-gallery { padding: 0px; }
.list-gallery .row { margin: 0 -5px; }
.list-gallery .col-xs-6 { padding: 0 5px; }


.gallery-wrap { display: flex; justify-content: space-between; flex-wrap: wrap; }
.gallery-item { 
    margin-bottom: 10px; 
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.gallery-item span {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.gallery-item:after {
    display: none;
    width: 100%;
    height: 100%;
    content: '';
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s ease-out;
    position: absolute;
    left: 0; top: 0;
    z-index: 0;
}
.gallery-item:hover:after {display: block;}
.gallery-item:hover .gallery-info .project-title {
    top: 35%;
    opacity: 1;
    visibility: visible;
}
.gallery-item .gallery-info { text-align: center; }
.gallery-item .icon {
    z-index: 1;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.gallery-item:hover .icon {
    bottom: 0px;
    color: #000;
    opacity: 1;
    visibility: visible;
}
.gallery-item h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 60%;
    z-index: 1;
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.pagination>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    color: #000;
    margin-left: 1px;
}
.pagination>li.active>a.hover-main-color,
.pagination>li.active>span.hover-main-color,
.pagination>li>a:hover.hover-main-color,
.pagination>li>span:hover.hover-main-color {
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}

/*===================================================================================*/
/*  BOOKING
/*===================================================================================*/

.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.group-select select option {
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select optgroup {
    font-weight: 700;
    color: #E94E75;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select .fa-calendar {
    position: absolute;
    margin-top: 0px;
    right: 10px;
    top: 42px;
    font-size: 18px;
}
.box_register .btn_submit_login { margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}

.group-select {
    float: left;
    margin-right: 0;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.group-select label {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    min-height: 24px;
}
.btn-search {
    width: 100%;
    text-transform: uppercase;
    outline: none;
}
.staff-avatar {padding: 0;}
.staff_service_v1 {display: inline-block;}
.staff_service_v1 {margin-top: 15px;overflow: hidden;}
.staff_service_v1 h4 {margin-top: 0; font-weight: 700;}
.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}
.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #ebebeb;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}
.content-shop-booking,#box_person,
.time_work_staff_v1 {padding-bottom: 30px;}
.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
}
.popup_main_area {
    padding: 15px;
    float: left;
    width: 100%;
    color: #333;
}
.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #655353;
    background: #000000;
    color: #fff;
}
.modal_form_header h4 { margin: 0;  color: #fff;}
#send_booking .input-box {margin-bottom: 5px;}


/*===================================================================================*/
/*  CART
/*===================================================================================*/

.table-mobile-collapse{
    display: table;
    border:1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    display: none;
}
.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-row{
    border:inherit;
    vertical-align: inherit;
}
.table-head{

    padding: 15px;
    border:inherit;
    vertical-align: inherit;
}
.table-data{
    padding: 15px;
    padding-top: 0;
    vertical-align: inherit;
}

.table-responsive{

}
.cart-wrraper{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#ffffff;
    color: #333;
}

.cart-product-image-cell{
    display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.table-cart{
    background-color:#fff;
    border:none;
    margin-bottom:0;
}
.table-cart .thead .table-head{
    background-color:#000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.table-cart .tbody .table-data{
    display: block;
    vertical-align: top;
}
.table-cart .tbody .table-row:last-child .table-data{
    border-bottom: none;
}
.table-cart p{
    margin-bottom: 0;
}
.quantity-label{
    display: inline-block;
}
.table-cart .form-control{
    margin-top: 10px;
}
.cart-product-image-cell{
    vertical-align: top;
}
.table-cart .tbody .table-data.quantity-cell,
.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
}

.table-cart .tbody .table-data.price-cell{
    min-width: 273px;
}
.total-change-cell{
    padding-left: 15px;
}
.total-change-cell>p.total_change:before{
    display: inline-block;
    position: relative;
    content: "Total:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
}
.cart-product-image{
    width: 72px;
    height: 72px;
    margin-right: 15px;
}
.cart-product-image>img{
    width: 100%;
    height: auto;
}
.cart-product-name{
    margin-top: 0;
    font-weight: bold;
}
.form-control.form-control-sm{
    width: 80px;
    display: inline-block;
}

.total_change{
    color: #ff0000;
    font-weight: bold;
    text-align: right;

}
.total-amount{
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
}
.total-amount-label{
    text-align: right;
    display: none;
}
.total-amount:before{
    display: inline-block;
    position: relative;
    content: "Amount:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
    padding-top: 15px;
}
.total-amount-cell{
    padding:0;
}

.table-row{
    border-bottom: 2px solid #ffffff;
}
.cart-product-image,.cart-product-description{
    display: inline-block;
    vertical-align: top;
    
}


/* FORM CART */
.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block
}
.cart .form_cart {margin-bottom: 30px}
.cart .form_cart a {
    display: table;
    margin: 10px auto 25px auto;
    padding: 15px 65px;
    font-size: 15px;
    cursor: pointer
}
.cart .form_cart p {font-size: 14px;}
.cart .order {
    margin-top: 15px;
    background:#fff;
    border-radius: 3px;
    color: #222;
    padding-bottom: 10px;
    border: 1px solid #E2E2E2;
}
.cart .order .inner {padding: 15px 20px 0px 20px}
.cart .order .inner ul li {
    clear: both;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%
}
.cart .order .inner ul li .frame_img {
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px
}
.cart .order .inner ul li .frame_img img {width: 60px;background: #fff}
.cart .order .inner ul li .name_product {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 63%;
    overflow: hidden;
    float: left;
}
.cart .order .inner ul li .name_product p {font-size: 15px}
.cart .order .inner ul li .name_product span {
    color: #858585;
    font-size: 13px;
    margin-right: 5px
}
.cart .order .inner ul li .name_product small {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block
}
.cart .order .subtotal {padding: 0px 20px 15px 20px}
.cart .order .subtotal ul li {padding: 3px 0px}
.cart ul {margin-top: 15px;list-style: none;padding-left: 0;}
.cart .order .total ul {padding: 15px 20px;}
.cart .order .total ul li span { color: #000;font-size: 24px;}
.cart .note { margin: 15px 0px}
.cart .note p {font-size: 14px;margin: 0;}
h2.timr {margin: 0;margin-bottom: 20px;}
.box_cart {margin: 30px auto;}
ul.list_form li {margin: 5px 0;}
h4.sanb {font-size: 18px;font-style: italic;}
.inner .price, .subtotal span,.total span {font-weight: bold;}
.fl-flex-label label {font-weight: normal;}
.white-popup {clear: both;overflow: hidden;}

.cards-item {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}
.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
}
.cards-item:hover .cards-item-image {transform: scale(1.05);}
.book_appoin_btn { margin-top: 20px; }

/*===================================================================================*/
/*  CONTACT
/*===================================================================================*/
.page-contact{
    background:url(../images/contact-bg-title.jpg) no-repeat;
    padding-bottom:50px;
    padding: 80px 0;
    background-size: cover;
    background-position: center center;
}
.page-contact h2 {
    color: #333;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    padding: 25px 50px 25px;
    background: #fff;
    display: inline-block;
    margin: 0;
}
.contact-heading { text-align: center; }
.contact-heading span {
    background-color: #f864a6;
    display: inline-block;
    font-size: 24px;
    padding: 22px 30px;;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 15px;
}
.contact-right .maps{
    margin-top: -285px;
}

.contact-details {
    max-width: 300px;
    margin: -90px auto 30px;
    padding: 30px 30px 20px 30px;
    position: relative;
}
.contact-details i {
    float: left;
    line-height: 1.6;
}
.contact-details p {
    position: relative;
    margin-left: 40px;
}

.contact-hours {
    max-width: 300px;
    background: #444;
    text-align: center;
    padding: 30px 30px 20px 30px;
    border-bottom: 8px solid #56b367;
    position: relative;
    margin: 0 auto;
}
.contact-hours .cd-col { margin-bottom: 15px; }
.opening-hour-day {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 2px;
}
.opening-hour-time {
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
}

.maps  { margin-bottom: 30px; }
.maps iframe{
    width: 100%;
    border: 0;
    height: 550px;
}
.contact-info { color: #777;}

.contact-info h4 {
    margin: 0;
    font-size: 20px;
}
.contact-info p {
    color: #6e6b61;
    font-size: 14px; 
    line-height: 1.4;
    margin: 0 0 20px;
}
.contact-form .form-control {
    font-size: 16px;
}
.contact-form input.form-control {
    height: 70px;
}
.contact-form .form-group{
    margin-bottom: 15px;   
}
.btn-submit { margin-top: 20px; }
.contact-social { padding-top: 20px; }
.contact-map { margin-bottom: 30px; }
.contact-info h3,
.contact-form h3 {
    color: #000;
    font-size: 16px;
    padding: 0;
}
.contact-form textarea { padding: 20px;}
.contact-form label {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin:0 0 3px;
}
.contact-map iframe { max-width: 100%; }
.login_form_area .box_area_login_v1 {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.btn_login_social {margin-top: 20px;}
.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}
.btn_login_social span {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}
.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    border: 0;
    line-height: 45px;
}
.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
     border: 0;
    line-height: 45px;
}
.btn_submit_login { margin-bottom: 30px; text-align: center;}
.btn_submit_login button.submit {
    background-color: #ffc267;
    border: 1px solid #ffc267;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}
.box_register .btn_submit_login {margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}


.contact-name h3 {
    line-height: 1;
    margin: 0;
    color: #781414;
    font-size: 24px;
}
.contact-info .fci-row { display: table-row; }
.contact-info .fci-title,
.contact-info .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
}
.contact-info .fci-title {
    padding-right: 15px;
    font-weight: bold;
}
.fl-flex-label { margin-bottom: 10px; }

/*===================================================================================*/
/*  SERVICEs
/*===================================================================================*/
.service-container { padding-top: 0; }
h1.service-name {
    font-size: 24px;
    font-style: normal;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    padding-right: 15px;
    color: #000;
    font-weight: 700;
}
.price-item {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #cdcdcd;
}
.price-item h4 { font-size: 15px; }
.price-item-number {
    font-size: 18px;
    color: #000000;
    margin: 10px 0;
    font-weight: 600;
    line-height: 1.0;
}
.circle-service-image {
    width: 180px;
    height: 180px;
    border-radius: 125px;
    border: 3px solid #fec168;
    display: inline-block;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
}
.rouded-service-image {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.service-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-right {text-align: right;}
.top-right a {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
.top-right a img {
    vertical-align: top;
    padding-top: 12px;
    padding-right: 5px;
}
.detail-price-item {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
}
.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted #a9a9a9;
}
.detail-price-number {
    padding-left: 5px;
    font-size: 18px;
    color:#000000;
    font-weight: 600;
}
.detail-price-name {
    padding-right: 5px;
    font-size: 15px;
}

@media (min-width: 768px) {
    .top-right {
        text-align: right;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .circle-service-image {
        width: 250px;
        height: 250px;
    }
    .rouded-service-image {
        width: 250px;
        height: 250px;
    }
}

/*===================================================================================*/
/*  FOOTER
/*===================================================================================*/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 20;
}
#back-top a {
    width: 50px;
    height: 50px;
    background:#000;
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    color:#FFFFFF;
    line-height:50px;
}
#back-top a:hover{ opacity: 0.9;  }
.footer-main {
    background: url(../images/footer.jpg) top center no-repeat fixed;
    background-size: cover;
    padding: 100px 0;
}
.footer-info {
    text-align: center;
}
.footer-main h3 {
    font-family: 'Dancing Script',cursive;
    font-size: 42px;
    line-height: 1;
}
.footer-main p {
    margin: 30px 0;
    padding-right: 50px;
}

.footer-copyright {
    background: #444;
    line-height: 1;
    color: #fff;
    padding: 25px 0;
}
.footer-phone i {margin-right: 10px;}
.removeButton {
    cursor: pointer;
    position: absolute;
    /*left: -35px;*/
    /*top: 6px;*/
    z-index: 1;
}
.removeButton + .row .col-lg-6:first-child .group-select>label{
    margin-left: 30px;
}
.gallery-title {
    text-align: center;
    background: #e2fee7;
}
.databooktime ul li {
    display: inline-block;

    margin: 10px 5px;

}
.databooktime ul li span{
    background: #ccc;
    padding: 5px;
    display: block;
}
.databooktime ul li a {
    background: #e2fee7;

    padding: 5px;
}
.head-top-social img {
    max-width: 30px;
}
.freeze-footer {
    position: fixed;
    bottom: 120px;
    right: 0px;
    z-index: 999;
}
.freeze-footer a{
    display: block;
    margin: 10px;
}