@media (min-width: 992px){
	.col-md-right 	{ width: 27%;}
	.col-md-left 	{ width: 73%;}
	.col-md-right.col-md-pull-8 { right:73%; }
	.col-md-left.col-md-push-4 { left:27%; }
}

@media (min-width: 1200px){
} 

@media (max-width: 1200px){
	.navbar.main-nav {
	    padding: 23px 2%;
	}
}

@media (max-width: 990px){
	
	.section { padding: 30px 0; }
	.about-img { text-align: center; }
	.section-vt .col-md-6 { margin-bottom: 30px; }
	.footer-social { margin-bottom: 30px; }
	.footer p.copyright { float: none; text-align: center; margin-bottom: 10px; }
	.footer-bank { float: none;text-align: center; }

	.art-sidebar { padding-top: 30px; }
	
	.in-content {
	    color: #333;
	    font-size: 14px;
	}
	.contact-page h3 {	font-size: 18px;}
	.contact-form label {	color: #414141;}
	.contact-form { margin-bottom: 50px; }
	.contact-map h3 { text-align: center;border-bottom: 2px dashed rgba(0,0,0,.2); padding-bottom: 15px; }
	.group-select label,
	#box_person, .content-shop-booking, .time_work_staff_v1  { h1.service-name }

	
	.detail-price-item, .service-row  { color: #333; }
	.group-select label ,
	#box_person ,
	.time_work_staff_v1 ,
	.add-services { color: #333; }
	.in-headbg { padding: 70px 0; }
 
}

@media (max-width: 768px){
	body { background: #fff; }
	.in-container { padding: 25px 0; }
	.footer .container,
	.in-head .container,
	.section-slider .container { padding: 0; width: 100%; }

	.section-vt  { margin-bottom: 15px; }
	
}
@media (max-width: 767px){
	.section-service .item { margin-bottom: 30px; }
	.section-service .item img { width: 100% }
}
@media (max-width: 480px){
	
	.mTitle { font-size: 4em; }
	.in-headbg { padding: 50px 0; }
	.in-content { padding: 15px 0; }

	.section-about .about-content {
	    padding: 0;
	    font-size: 16px;
	}
	.section-about h2 { font-size: 38px; }
	.section-about h3 { font-size: 28px; }

	.section-vt { padding-bottom: 30px; }
	.section-vt .vt-time { padding-left: 25px; }
	.section-vt .col-2 { font-size: 16px; margin-bottom: 10px; }
	.section-vt .col-left { font-size: 16px; }
	.section-vt .col-right { padding-left: 140px;}
	
	.art-sidebar { padding-top:10px; }
	.list-home p{ text-align: left;}
	.gallery-item { height: 100px; }
	.top-right a { margin-bottom: 10px; }

}
@media (max-width: 320px){
	.top-right a { 
		line-height: 37px;
	    height: 37px;
	    padding: 0px 10px;
		margin-bottom: 10px; 
	}
}

@media (min-width: 768px){
   	li.dropdown:hover>a {}
	li.dropdown:hover>.dropdown-menu {display: block;}
	
	.cart-product-description{max-width: 130px;}	
	.table-row{border-bottom: none;}
	.total_change{text-align: left;}
	.thead {display: table-header-group;}
	.quantity-label{display: block;}
	.cart-product-image-cell{padding-bottom: 15px;}
	.total-change-cell>p.total_change:before{display: none;}
	.total-amount-label{display: block;}
	.total-amount-cell{padding:15px;}
	.quantity-label{color: rgba(0,0,0,0)}
	.table-row{
		display: table-row;
		border:inherit;
		vertical-align: inherit;
	}
	.table-head{
		display: table-cell;
		padding: 15px;
		border:inherit;
		vertical-align: inherit;
	}
	.table-data{
		display: table-cell;
		padding-top: 15px;
		border:inherit;
		vertical-align: inherit;
	}	
	.table-cart .tbody .table-data,.table-cart .tbody .table-data.quantity-cell,
	.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
		border-bottom:1px solid #bbbbbb;
		vertical-align: top;
		display: table-cell;
	}
	.table-cart .tbody .table-data.total-change-cell{vertical-align: bottom;}
	.quantity-cell,.price-cell{display: table-cell;}
	.total-amount{text-align: left;padding-top: 0;}
	.total-amount:before{display: none;}


}
